@CHARSET "ISO-8859-1";

@font-face {
    font-family: "OpticSansLight";
    src: url("../fonts/OpticSans-101-Light.woff") format('woff');
	}
@font-face {
    font-family: "OpticSansLight";
    src: url("../fonts/OpticSans-102-LightItalic.woff") format('woff');
    font-style: italic;
	}
@font-face {
    font-family: "OpticSansBook";
    src: url("../fonts/OpticSans-201-Book.woff") format('woff');
    font-weight: bold;
	}
@font-face {
    font-family: "OpticSansBook";
    src: url("../fonts/OpticSans-202-BookItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
	}
@font-face {
    font-family: "OpticSansMedium";
    src: url("../fonts/OpticSans-301-Medium.woff") format('woff');
	}
@font-face {
    font-family: "OpticSansMedium";
    src: url("../fonts/OpticSans-302-MediumItalic.woff") format('woff');
    font-style: italic;
	}
@font-face {
    font-family: "OpticSansMedium";
    src: url("../fonts/OpticSans-401-Bold.woff") format('woff');
    font-weight: bold;
	}
@font-face {
    font-family: "OpticSansMedium";
    src: url("../fonts/OpticSans-402-BoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
	}
@font-face {
    font-family: "OpticSansHeavy";
    src: url("../fonts/OpticSans-501-Heavy.woff") format('woff');
	}
@font-face {
    font-family: "OpticSansHeavy";
    src: url("../fonts/OpticSans-502-HeavyItalic.woff") format('woff');
    font-style: italic;
	}
	
.hd{
	background: #003b4e none repeat scroll 0 0;
	color: #ffffff;
	font-weight: bold;
	padding: 4px;
	text-align: center;
	font-size: 14px;
}
.sub_hd{
	font-weight: bold;
	font-size: 14px;
}
.tbl{
	border-radius:10px;
	text-align: left;
}
.tbl_lg{
	border-radius:10px;
	text-align: left;
}
 
.tbl_n{
	border-radius:10px;
    border: 1px solid #eee;
}
.rdl{
	background-color: #CCCCCC;
	readonly : readonly;
	color: #000000;
}
.rdl1{
	readonly : readonly;
	color: #000000;
}
.hilgt{
	background-color: #33FF33;
	readonly : readonly;
}
#paging a {
    border: 1px solid #f6f6f6;
    color: #666666;
    float: left;
    font-weight: bold;
    margin: 20px 5px 0;
    padding: 2px 5px;
    text-decoration: underline;
}
.marg-s{
	margin-left:5px;
}

.font-r{
	color:red; 
}
.oddRow{
    background-color: #EBEBEB;
} 
.pageLinkBg {
	color : #FFFFFF;
	background-color : #A10304;
}
.ahsMsg{
	color:red;
	font-weight:bold;
	border:1px solid #aac;
	border-radius:10px;
	text-align:center;
	margin-top:40px;
	padding:15px 1px;  
}
select {
   background-color: #ffffff;
   border: 1px solid #cccccc;
   border-radius: 0;
   font-family: "OpticSansBook",sans-serif;
   font-size: 13px !important;
   height: 75%;
   margin: 0;
   padding:2px 2px;
   color:#000000;
}

#tblAhs td{
	height: 50px;
}

#remedy{
	border: 1px solid #000000;
	padding:2px 15px;
	background-color: #EEEFEF;
	width:95%;
}
#narrative{
	border:1px solid #d6d6d6;
	width:98%;
	padding: 8px;
	background-color: #eeeeee;
	border-radius:5px;
}

#tLinks a{
	color:#0000FF;
}

.error{
	background-color: #FFFF00;
	border:1px solid red;
}
#eMsg{
	color:red;
	font-weight:bold;
}
#sucMsg{
	color:green;
	font-weight:bold;
}
.required{
	background-color: #FFFF00;
}
.requiredr{
	background-color: #FFFF00;
}
.partsTableClass {
	display: none;
} 

.laborTableClass {
	display: none;
}

.expenseTableClass {
	display: none;
}

#labor,#parts,#expenses,#manualLaborEntry,#addMore, #delete{
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	font-size: 12px;
	border-right:solid;
	border-bottom:solid;
}

#labor {
	width: 10%;
	background: #FFFFFF;
	text-align:center;
}

#parts {
	width: 10%;
	background: #FFFFFF;
	text-align:center;
}

#expenses {
	width: 10%;
	background: #FFFFFF;
	text-align:center;
}

#manualLaborEntry {
	width: 60%;
	background: #87CEEB;
	text-align:center;
	display:none;
}
#addMore {
	width: 5%;
	background: #FFFFFF;
	text-align:center;
}
#delete {
	width: 5%;
	background: #FFFFFF;
	text-align:center;
}
#noteDiv,#fileDiv,#viewDiv {
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	font-size: 12px;
}

#noteDiv {
	width: 40%;
	background: '#87CEEB';
	border-style: solid;
}

#fileDiv {
	width: 30%;
	background: #FFFFFF;	
	float:right;
	border-style: solid;
}
#viewDiv {
	width: 500px;
	background: '#87CEEB';
	border-style: solid;
}
#attachDiv {
	width: 20%;
	background: '#87CEEB';
	border-style: solid;
}
#scratchPad {
    background-color: #eee;
    border: 0 none;
    margin-top: 5px;
    overflow: auto;
    padding: 2px 5px;
}
#searchFrm label {
    display: block;
    text-align: center;
    line-height: 150%;
    text-decoration: underline;
   }
#machineSearchDiv{
	width: 350px;
	display: inline-block;
	zoom: 1;
	border-style: solid;
}
#custSearchDiv{
	width: 350px;
	display: inline-block;
	zoom: 1;
	border-style: solid;
}
#imgProbSearchDiv{
	width: 380px;
	display: inline-block;
	zoom: 1;
	border-style: solid;
}
#taskSearchDiv{
	width: 380px;
	display: inline-block;
	zoom: 1;
	border-style: solid;
}
#remotePrbDiv{
	width:100%;
	height:20px;
	background-color:#87CEEB;
	border-bottom:solid;	
}
#futureCallHeaderDiv{
	width:100%;
	height:20px;
	background-color:#87CEEB;
	border-bottom:solid;	
}
#searchTableDataCell{
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    text-align: center;
}
table.canontableSearchCell, tr.canontableSearchCell, td.canontableSearchCell {
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    text-align: center;
}
.vLine{
    width: 1px;
    background-color:#cfcfcf;  
    height: 160px;
    margin-top: 10px;
}
.vLine2{
    width: 1px;
    background-color:#cfcfcf;
    height: 110px;
    margin-top: 10px;
      
}
.vLine3{
    width: 1px;
    background-color:#cfcfcf;
    height: 250px;
    margin-top: 10px;
}
.vLine4{
    width: 1px;
    background-color:#cfcfcf;
    height: 320px;
    margin-top: 10px;
}
.vLine5{
    width: 1px;
    background-color:#cfcfcf;
    height: 50px;
    margin-top: 10px;
      
}
.vLine6{
    width: 1px;
    background-color:#cfcfcf;
    height: 400px;
    margin-top: 10px;
      
}
.vLine7{
    width: 1px;
    background-color:#cfcfcf;
    height: 70px;
    margin-top: 10px;
      
}
.hLine{
    width: 97%;
    height: 1px;
    margin-top: 10px;
    background-color:#cfcfcf;  
}
.hLineLg{
    width: 100%;
    height: 1px;
    margin:10px 0px;
    background-color:#cfcfcf;  
}
.tdw1{
	width: 10px;
}
.whdr{
	width: 100%;
}
.srch{
    border: 1px solid #d3d3d3;
    color: red;
    font-weight: bold;
    height: 15px;
    margin-left: 5px;
    padding: 1px 4px;
    text-align: center;
}
.scrollContent {
    display: block;
    height: 50px;
    overflow: auto;
    width: 100%;
}

