
td {
  padding: 1px;
  font-size: 13px;
}

#report_tbl th a {
  color: #FFFFFF;  
}

#report_tbl th a:hover {
  color: #FF0000;
}

#report_tbl {
  background-color: #CCCC99;
}

#report_tbl td {
  background-color: #F7F7E7;
}

#report_tbl td.altcol {
  background-color: #E5E5C7;
}

#report_tbl a {
  color: #115599;
}

#report_tbl a:hover {
  color: #BB0000;
}

#report_tbl .hd {
  color: #FFFFFF;
  background-color: #999999;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

#report_tbl .bgwhite {
  background-color: #FFFFFF;
}

#report_tbl .titl {
  color: #919171;
  font-weight: bold;
}

.nav_amabot_widget
{
  left:-5px;
  padding:0px;
  width:180px;
  border:1px solid #ADD2E2;
}

.width_16 { word-wrap:break-word; width:168px; }
.width_18 { word-wrap:break-word; width:189px; }
.width_21 { word-wrap:break-word; width:221px; }
.width_25 { word-wrap:break-word; width:262px; }
.width_29 { word-wrap:break-word; width:304px; }
.width_31 { word-wrap:break-word; width:326px; }
.width_34 { word-wrap:break-word; width:357px; }
.width_35 { word-wrap:break-word; width:367px; }
.width_40 { word-wrap:break-word; width:420px; }
.width_66 { word-wrap:break-word; width:693px; }

.width_25_cc { word-wrap:break-word; width:136px; }
.width_35_cc { word-wrap:break-word; width:136px; }
.width_40_cc { word-wrap:break-word; width:274px; }

.width_5 { word-wrap:break-word; width:53px; }
.width_6 { word-wrap:break-word; width:63px; }
.width_7 { word-wrap:break-word; width:73px; }
.width_8 { word-wrap:break-word; width:84px; }
.width_10 { word-wrap:break-word; width:105px; }
.width_12 { word-wrap:break-word; width:126px; }
.width_14 { word-wrap:break-word; width:147px; }
.width_18 { word-wrap:break-word; width:189px; }
.width_20 { word-wrap:break-word; width:210px; }
.width_22 { word-wrap:break-word; width:231px; }
.width_28 { word-wrap:break-word; width:294px; }

#report_tbl .width_6 { word-wrap:break-word; width:63px; }
#report_tbl .width_7 { word-wrap:break-word; width:73px; }
#report_tbl .width_11 { word-wrap:break-word; width:126px; }
#report_tbl .width_14 { word-wrap:break-word; width:147px; }
#report_tbl .width_16 { word-wrap:break-word; width:168px; }
#report_tbl .width_20 { word-wrap:break-word; width:200px; }

#report_tbl_first .width_5 { word-wrap:break-word; width:53px; }
#report_tbl_first .width_6 { word-wrap:break-word; width:63px; }
#report_tbl_first .width_7 { word-wrap:break-word; width:73px; }
#report_tbl_first .width_8 { word-wrap:break-word; width:84px; }
#report_tbl_first .width_10 { word-wrap:break-word; width:105px; }
#report_tbl_first .width_12 { word-wrap:break-word; width:126px; }
#report_tbl_first .width_14 { word-wrap:break-word; width:147px; }
#report_tbl_first .width_18 { word-wrap:break-word; width:189px; }
#report_tbl_first .width_20 { word-wrap:break-word; width:210px; }
#report_tbl_first .width_22 { word-wrap:break-word; width:231px; }
#report_tbl_first .width_26 { word-wrap:break-word; width:273px; }
#report_tbl_first .width_30{ word-wrap:break-word; width:315px; }

.width_31_shaded 
{ 
  word-wrap:break-word; 
  width:326px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #FF0000;
  background-color: #EBEBEB;
  border: thin solid #9999CC;
}

/***************************/
.search_hd {
  background-color: #FFFFFF;
  color: #336699;
  font-weight: bolder;
}

.search_text {
  background-color: #FFFFFF;
  color: #336699;
  font-weight: bolder;
}

.search_res {
  background-color: #F7F7E7;
  color: #FF0000;
  font-weight: bold;
}
/***************************/
#report_tbl_first {
  background-color: #CCCC99;
}

#report_tbl_first td {
  background-color: #F7F7E7;
}

#report_tbl_first td.altcol {
  background-color: #E5E5C7;
}
#report_tbl_first a {
  color: #000000;
  
}
#report_tbl_first a:hover {
  color: #BB0000;
}

#report_tbl_first .hd {
  color: #FFFFFF;
  background-color: #999999;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

#report_tbl_first .cd{
  color: #000000;
  background-color: #999999;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

#report_tbl_first .bgwhite {
  background-color: #FFFFFF;
}

#report_tbl_first .titl {
  color: #919171;
  font-weight: bold;
}
/*********************************/


.color_td{
  background-color: #F7F7E7;
  color: #996633;
  font-weight: bold;
}

.top_bar {
  background-color: #FFFFFF;
  color: #336699;
  font-size: 18;
  font-weight: bolder;
  height: 26px;
}

.contract_bar {
  background-color: #FFFFFF;
  color: #336699;
  font-size: 11;
  font-weight: bolder;
  height: 26px;
}

.header {
  background-color: #FFFFFF;
}

.page_hd {
  font-size: +16;
  font-weight: lighter;
  color: #336699;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  }

a.white_lnk {
  color: #FFFFFF;
}

a.white_lnk:hover {
  color: #FFFFCC;
}

b.colbr {
  color: #333333;
}
.section_border {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
}
.small_print {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  font-style: oblique;
  font-weight: bold;
  font-variant: normal;
  color: #333333;
}
.select_link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: bolder;
  color: #0000FF;
}
.block_alert {
  color: #FF0000;
  border: thin solid #FF0000;
}

.block_alert_red {
  color: #FF0000;
}

.block_alert_blue {
  color: #0000FF;
}


.block_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: bolder;
  color: #000000;
}
.block_shaded {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: #333333;
  background-color: #EBEBEB;
  border: thin solid #9999CC;
}

.block_shaded_sr {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: #FF0000;
  background-color: #EBEBEB;
  border: thin solid #9999CC;
}

.non_required_field {
  background-color: #FFFFFF;
}
.required_field {
  background-color: #FFFF66;
}
.req_field_message {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: lighter;
  color: #666666;
  background-color: #FFCC99;
}
.inactive_message {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-style: normal;
  font-weight: bold;
  color: #FF0000;
}
.hide_message {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}
.style11 {font-size: 12px}

.disabled_field {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E0E0E0;
        font-size: 12px
}

.checklist {
    border: 1px solid #ccc;
    list-style: none;
    height: 6em;
    overflow: auto;
    width: 32em;
}

.checklist, .checklist li { margin: 0; padding: 0; }

.checklist label {
    display: block;
    padding-left: 25px;
    text-indent: -25px;
}

.checklist label:hover { background: #777; color: #fff; }

.ePartners_text 
{
     font-size: 13px; color: #000000;
}

.ePartners_text_small 
{
     font-size: 10px; color: #000000;
}

.ePartners_text_bold 
{
     font-size: 12px; font-weight: bold; color: #000000;
}

.ePartners_text_bold_red
{
     font-size: 13px; font-weight: bold; color: red;
}
table.sectionHeaderBlack, tr.sectionHeaderBlack, td.sectionHeaderBlack{
	font-size: 15px; font-weight: bold; color: #000000
}
table.oddtableDataCell, tr.oddtableDataCell, td.oddtableDataCell{
	background-color: #D3D3D3; text-align: left; font-size: 12px; color: #000000;
}
table.eventableDataCell , tr.eventableDataCell , td.eventableDataCell {
	background-color: #FFFFFF; text-align: left; font-size: 12px; color: #000000; 
}
table.canontableCell , tr.canontableCell , td.canontableCell {
	background-color: #484848; font-size: 12px; color: #FFFFFF; text-align:center; 
}

.sectionHeaderBlack { font-size: 15px; font-weight: bold; color: #000000 }
.eventableDataCell { background-color: #FFFFFF; text-align: center; font-family: verdana; font-size: 12px; color: #000000; }
.oddtableDataCell { background-color: #D3D3D3; text-align: center; font-family: verdana; font-size: 12px; color: #000000;  }
.eventableCenterDataCell { background-color: #FFFFFF; text-align: center; font-size: 12px; color: #000000; }
.oddtableCenterDataCell { background-color: #D3D3D3; text-align: center; font-size: 12px; color: #000000;  }
.canontableCell { background-color: #484848; font-size: 12px; color: #FFFFFF; text-align:center; }
.OraBGAccentDark {background-color:#cccc99}
.searchCell{
   color: #848484;
    font-size: 12px;
}
/* BUTTONS */.buttons a, .buttons button{
    display:block;
    float:none;
    margin:0 2px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:11px;
    line-height:130%;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:4px 2px 2px 2px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
/* STANDARD */button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
    text-decoration:none;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
    text-decoration:none;
}
/* POSITIVE */button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}
/* NEGATIVE */.buttons a.negative, button.negative{
    color:#A10304;/*#d12f19;*/
    text-decoration:none;
    border:1px solid #D3D3D3;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#A10304;/*#d12f19;*/
    text-decoration:none;
}
.buttons a.negative:active{
    background-color:#A10304;/*#d12f19;*/
    border:1px solid #A10304;/*#d12f19;*/
    color:#fff;
    text-decoration:none;
}
.new_text 
{
     font-size: 11px; color: #000000;
}
.selExpand {
    width: auto;
}
.processInvoiceFixedWidth  {
    width: 30%; 
}
.approverListFixedWidth  {
    width: 82%; 
}
#scratchPad{
	border-right:solid;
	border-bottom:solid;
	border-left:solid;
	border-top:solid;
}
#searchFrm label {
    display: block;
    text-align: center;
    line-height: 150%;
    text-decoration: underline;
   }
#machSearchFrm label {
    display: block;
    line-height: 150%;
    text-align: center;
    text-decoration: underline;
}  
#frmSummary label {
    display: block;
    line-height: 150%;
    text-align: center;
    text-decoration: underline;
} 
#machineSearchDiv{
	width: 350px;
	display: inline-block;
	zoom: 1;
	border-style: 2px solid;
}
#custSearchDiv{
	width: 350px;
	display: inline-block;
	zoom: 1;
	border:2px solid;
}
#imgProbSearchDiv{
	width: 380px;
	display: inline-block;
	zoom: 1;
	border:2px solid;
}
#taskSearchDiv{
	width: 380px;
	display: inline-block;
	zoom: 1;
	border:2px solid;
}
#remotePrbDiv{
	width:100%;
	height:20px;
	background-color:#87CEEB;
	border:1px solid;
}
#searchTableDataCell{
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    text-align: center;
}
table.canontableSearchCell, tr.canontableSearchCell, td.canontableSearchCell {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    text-align: center;
}

.partsTableClass {
	display: none;
}

.laborTableClass {
	display: none;
}

.expenseTableClass {
	display: none;
}

#labor,#parts,#expenses,#manualLaborEntry,#addMore, #delete{
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	font-size: 12px;
	border-right:2px solid;
	border-bottom:2px solid;
}

#labor {
	width: 10%;
	background: #FFFFFF;
	text-align:center;
}

#parts {
	width: 10%;
	background: #FFFFFF;
	text-align:center;
}

#expenses {
	width: 10%;
	background: #FFFFFF;
	text-align:center;
}

#manualLaborEntry {
	width: 76%;
	background: #87CEEB;
	text-align:center;
	display:none;
}
#addMore {
	width: 3%;
	background: #FFFFFF;
	text-align:center;
}
#delete {
	width: 3%;
	background: #FFFFFF;
	text-align:center;
}
#noteDiv,#fileDiv,#viewDiv {
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	font-size: 12px;
}

#noteDiv {
	width: 40%;
	background: '#87CEEB';
	border:2px solid;
}

#searchDiv {
	width: 40%;
	background: '#87CEEB';
}
#fileDiv {
	width: 30%;
	background: #FFFFFF;	
	float:right;
	border:2px solid;
}
#viewDiv {
	width: 500px;
	background: '#87CEEB';
	border:2px solid;
}
#attachDiv {
	width: 20%;
	background: '#87CEEB';
	border:2px solid;
}
#scratchPad{
	border-right: solid;
	border-bottom: solid;
	border-left: solid;
	border-top: solid;
}
#searchFrm label {
    display: block;
    text-align: center;
    line-height: 150%;
    text-decoration: underline;
   }
#machineSearchDiv{
	width: 350px;
	display: inline-block;
	zoom: 1;
	border:2px solid;
}
#custSearchDiv{
	width: 350px;
	display: inline-block;
	zoom: 1;
	border:2px solid;
}
#imgProbSearchDiv{
	width: 380px;
	display: inline-block;
	zoom: 1;
	border:2px solid;
}
#taskSearchDiv{
	width: 380px;
	display: inline-block;
	zoom: 1;
	border:2px solid;
}

#searchTableDataCell{
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    text-align: center;
}
table.canontableSearchCell, tr.canontableSearchCell, td.canontableSearchCell {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    text-align: center;
}
#imgProbDiv{
	border:none;
}
#futureCallDiv{
	border:none;
}
#thirdPartyDiv{
	border:none;
}
#callInfoDiv{
	display: inline-block;
	zoom: 1;
	border-right:2px solid;
	border-bottom:2px solid;
	border-left:2px solid;
	border-top:2px solid;
}
#resCodeDiv{
	display: inline-block;
	zoom: 1;
	border:2px solid;
}
#auditDiv{
	display: inline-block;
	zoom: 1;
	border:2px solid;
}
#attachDiv{
	display: inline-block;
	zoom: 1;
	border:2px solid;
}
#delete{
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	font-size: 12px;
	border-bottom:2px solid;
}
#manualLaborEntry{
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	font-size: 12px;
	border-bottom:2px solid;	
	border-right:none;
}
#labor,#parts,#expenses,#addMore{
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	font-size: 12px;
	border-right:2px solid;
	border-bottom:2px solid;
}
#labor {
	width: 10%;
	background: #FFFFFF;
	text-align:center;
}

#parts {
	width: 10%;
	background: #FFFFFF;
	text-align:center;

}

#expenses {
	width: 10%;
	background: #FFFFFF;
	text-align:center;
}

#manualLaborEntry {
	width: 76%;
	background: #87CEEB;
	text-align:center;
}
#addMore {
	width: 3%;
	background: #FFFFFF;
	text-align:center;
}
#delete {
	width: 3%;
	background: #FFFFFF;
	text-align:center;
}
#noteDiv,#fileDiv,#viewDiv {
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	font-size: 12px;
}

#noteDiv {
	width: 40%;
	background: '#87CEEB';
	border:2px solid;
}

#fileDiv {
	width: 30%;
	background: #FFFFFF;	
	float:right;
	border:2px solid;
}
#viewDiv {
	width: 500px;
	background: '#87CEEB';
	border:2px solid;
}

.errorMsg {
    color: #ffffff;
    float: right;
    margin-left: 10px;
    min-height: 50px;
    position: relative;
    width: 180px;
}
.errorMsgTxt-container {
    background-color: #dbdbdb;
    bottom: -7px;
    height: 24px;
    padding: 4px;
    position: relative;
    right: -16px;
}
.errorMsgTxt-container.three-rows {
    height: 37px;
}
.errorMsgTxt {
    background-color: #cc0000;
    color: #ffffff;
    float: left;
    font-size: 10px;
    line-height: 13px;
    padding: 4px;
    position: absolute;
    right: 5px;
    width: 159px;
    z-index: 10;
}
input {
    border: 1px solid #aac;
    border-radius: 0px;
    padding: 3px 3px;
    font-family: "OpticSansBook",sans-serif;
    font-size: 13px !important;
    height: auto;
    margin: 0 5px !important;
}
input.time {
    width: 80px;
}
input.date {
    width: 90px;
}

.partsTableClass {
	display: none;
}

.laborTableClass {
	display: none;
}

.expenseTableClass {
	display: none;
}
#container {
	border:2px solid;
}
#labor,#parts,#expenses,#manualLaborEntry,#addMore, #delete{
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	font-size: 12px;
	border-right:1px solid;
	border-bottom:1px solid;
}

#labor {
	width: 10%;
	background: #FFFFFF;
	text-align:center;
}

#parts {
	width: 10%;
	background: #FFFFFF;
	text-align:center;
}

#expenses {
	width: 10%;
	background: #FFFFFF;
	text-align:center;
}

#manualLaborEntry {
	width: 76%;
	background: #87CEEB;
	text-align:center;
	display:none;
}
#addMore {
	width: 3%;
	background: #FFFFFF;
	text-align:center;
}
#delete {
	width: 3%;
	background: #FFFFFF;
	text-align:center;
}
#noteDiv,#fileDiv,#viewDiv,#fileSummaryDiv {
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	font-size: 12px;
}

#noteDiv {
	width: 40%;
	background: '#87CEEB';
	border:2px solid;
}

#fileDiv {
	width: 35%;
	background: #FFFFFF;	
	float:right;
	border:2px solid;
}
#fileSummaryDiv {
	width: 30%;
	background: #FFFFFF;	
	float:right;
	border:2px solid;
}
#viewDiv {
	width: 500px;
	background: '#87CEEB';
	border:2px solid;
}
#attachDiv {
	width: 20%;
	background: '#87CEEB';
	border:2px solid;
}
#scratchPad{
	border-right:2px solid;
	border-bottom:2px solid;
	border-left:21px solid;
	border-top:2px solid;
}
#searchFrm label {
    display: block;
    text-align: center;
    line-height: 150%;
    text-decoration: underline;
   }
#machineSearchDiv{
	width: 350px;
	display: inline-block;
	zoom: 1;
	border:2px solid;
}
#custSearchDiv{
	width: 350px;
	display: inline-block;
	zoom: 1;
	border:2px solid;
}
#imgProbSearchDiv{
	width: 380px;
	display: inline-block;
	zoom: 1;
	border:2px solid;
}
#taskSearchDiv{
	width: 380px;
	display: inline-block;
	zoom: 1;
	border:2px solid;
}
#remotePrbDiv{
	width:100%;
	height:20px;
	background-color:#87CEEB;
	border-bottom:2px solid;	
}
#futureCallHeaderDiv{
	width:100%;
	height:20px;
	background-color:#87CEEB;
	border-bottom:2px solid;	
}
#thirdPartyHeaderDiv{
	width:100%;
	height:20px;
	background-color:#87CEEB;
	border-bottom:2px solid;	
}
#searchTableDataCell{
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    text-align: center;
}
table.canontableSearchCell, tr.canontableSearchCell, td.canontableSearchCell {
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    text-align: center;
}

.tbl{
	border-radius:10px;
	text-align: left;
}

#machineInfoDiv{
	width: 350px;
	display: inline-block;
	zoom: 1;
	border: 2px solid;
}
#custHandleDiv{
	width: 365px;
	display: inline-block;
	zoom: 1;
	border: 2px solid;
}
#contractInfoDiv{
	width: 365px;
	display: inline-block;
	zoom: 1;
	border: 2px solid;
}
#srInfoDiv{
	width: 1200px;
	display: inline-block;
	zoom: 1;
	border-top:2px solid;
}
#creditCardDiv{
	width: 500px;
	display: inline-block;
	zoom: 1;
	border: 2px solid;
}
#tasks, 
#spaceDiv1,
#debrief,
#spaceDiv2,
#charges,
#spaceDiv3,
#billing,
#spaceDiv4
{
   display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	font-size: 12px;
	border:1px solid #000;
}

#spaceDiv1,#spaceDiv2,#spaceDiv3,#spaceDiv4{	
	background: #FFFFFF;
	text-align:center;	
	border-style:none;
}
tr.highlighted td {
    background: #FFFFCC;
}
#mainDiv{
	border:1px solid #CFCFCF;
	padding:5px 5px;
}
.inTxt{
    border: 1px solid #cccccc;
    color: #555;
    /* padding: 2px 2px 2px; */
	background-color:'';
}

.hdr_title{
	color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hdr_img{
	float: left;
    height: 95px;
    margin-right: 5px;
    width: 95px;
}
.inTxtClr{
    border: 1px solid #d5cfc8;
    color: #555;
    height: 17px;
    margin-right: 10px;
    padding: 2px 2px 0;
	background-color:#e4ebf2;
	color: #FF0000;
}

.btn_bluePD {
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 20px;
    padding: 2px 10px;
    position: relative;
}

.btn_blue {
    background: rgb(23, 29, 58) linear-gradient(rgb(34, 42, 86), rgb(23, 29, 58)) repeat scroll 0 0;
    border: medium none currentcolor;
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    margin-bottom: 10px;
}
#sp{
    border: medium none currentcolor;
    color: #FFFFFF !important;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 17px;
    padding: 2px 5px;
    position: relative;
    margin-right:5px;
}

#scratchPad{
  border:0px;
  overflow:auto;
  background-color: #eee;
  padding:2px 5px;
  margin-top:5px;
}

#sPadDiv{
	height:200px;
	background-color:PINK;
	width:280px;
	border-style:medium;
}

#toolTip {
	background-color: #fff;
	border:1px solid  #d6d6d6;
	color: green;
	font-weight: bold;
	display: none;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.3;
	padding: 5px 7px;
	width:300px;
	height:200px;
	position: absolute;
	z-index: 2000;
    white-space:nowrap;
}
.pd5{
   padding-left:5px;
}

#pgLinks a{
 margin: 1px 5px 0px 5px;
 font-weight: bold;
 float: left;
 border: 1px solid #F6F6F6;
 padding: 2px 5px;
 color: #666666;
 text-decoration: underline;
}

#fsrNum, #srSts, #taskNumberDet, #taskNumber{
  color: #FF0000;
  font-weight:bold;
}
.srchTxt{
    border: 1px solid #d5cfc8;
    color: #555;
    height: 17px;
    padding: 2px 2px 0;
	background-color:#e4ebf2;
}
.trEmpty{
	line-height: 3px;
}
