<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00" type="sql" value="
	select  count(*) item_count
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'ELAN_RPT_PRINT_RQST_SQ'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql0" type="sql" value="
	select  RPT_PRM_NM,RPT_PRM_VAL_TXT
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'ELAN_RPT_PRINT_RQST_SQ'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<variable name="GLBL_CMPY_CD" type="string" value=""/>
<variable name="ELAN_RPT_PRINT_RQST_SQ" type="string" value=""/>
<variable name="INTL_LANG_VAL_COL_NM" type="string" value=""/>

<variable name="C23092" type="string" value=""/>
<variable name="C23093" type="string" value=""/>
<variable name="C23094" type="string" value=""/>
<variable name="C5464"  type="string" value=""/>
<variable name="C23095" type="string" value=""/>
<variable name="C23096" type="string" value=""/>
<variable name="C23097" type="string" value=""/>
<variable name="C23098" type="string" value=""/>
<variable name="C23099" type="string" value=""/>
<variable name="C21354" type="string" value=""/>
<variable name="C21573" type="string" value=""/>
<variable name="C2400"  type="string" value=""/>
<variable name="C23100" type="string" value=""/>
<variable name="C23101" type="string" value=""/>
<variable name="C23102" type="string" value=""/>
<variable name="C23103" type="string" value=""/>
<variable name="C23104" type="string" value=""/>
<variable name="C23105" type="string" value=""/>
<variable name="C23106" type="string" value=""/>
<variable name="C23107" type="string" value=""/>
<variable name="C23108" type="string" value=""/>
<variable name="C23109" type="string" value=""/>
<variable name="C23110" type="string" value=""/>
<variable name="C23111" type="string" value=""/>
<variable name="C23112" type="string" value=""/>
<variable name="C23113" type="string" value=""/>
<variable name="C23114" type="string" value=""/>
<variable name="C23115" type="string" value=""/>
<variable name="C23116" type="string" value=""/>
<variable name="C23117" type="string" value=""/>
<variable name="C23118" type="string" value=""/>
<variable name="C23119" type="string" value=""/>
<variable name="C23120" type="string" value=""/>
<variable name="C23121" type="string" value=""/>
<variable name="C23122" type="string" value=""/>
<variable name="C23123" type="string" value=""/>
<variable name="C3291"  type="string" value=""/>
<variable name="C23124" type="string" value=""/>


 <variable name="sql01" type="sql" value="
SELECT count(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('23092','23093','23094','5464','23095','23096','23097','23098','23099','21354','21573','2400','23100','23101','23102','23103','23104','23105','23106','23107','23108','23109','23110','23111','23112','23113','23114','23115','23116','23117','23118','23119','23120','23121','23122','23123','3291','23124')
"/>

 <variable name="sql1" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('23092','23093','23094','5464','23095','23096','23097','23098','23099','21354','21573','2400','23100','23101','23102','23103','23104','23105','23106','23107','23108','23109','23110','23111','23112','23113','23114','23115','23116','23117','23118','23119','23120','23121','23122','23123','3291','23124')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>

 <variable name="sql02" type="sql" value="
SELECT count(*) item_count
FROM
ELAN_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.ELAN_RPT_PRINT_RQST_SQ = ${ELAN_RPT_PRINT_RQST_SQ}
AND ROWNUM = 1
"/>

 <variable name="sql2" type="sql" value="
SELECT
A.GLBL_CMPY_CD
, A.ELAN_RPT_WRK_PK
, A.PO_ORD_NUM
, A.TOT_CNT_CERT_TXT
, A.MDSE_CD
, CASE WHEN TRIM(A.MDSE_CD) IS NULL
      THEN ''
      ELSE '*' || A.MDSE_CD || '*'
  END MDSE_CD_BARCODE
, A.MDSE_DESC_SHORT_TXT
, A.SER_NUM
, CASE WHEN TRIM(A.SER_NUM) IS NULL
      THEN ''
      ELSE '*' || A.SER_NUM || '*'
  END SER_NUM_BARCODE
, '' SER_NUM_01
, '' SER_NUM_02
, '' SER_NUM_03
, '' SER_NUM_04
, '' SER_NUM_05
, '' SER_NUM_06
, '' SER_NUM_07
, '' SER_NUM_08
, '' SER_NUM_09
, '' SER_NUM_10
, '' SER_NUM_11
, '' SER_NUM_12
, '' SER_NUM_13
, '' SER_NUM_14
, '' SER_NUM_15
, '' SER_NUM_16
, '' SER_NUM_17
, '' SER_NUM_18
, '' SER_NUM_19
, '' SER_NUM_20
, A.SHIP_TO_CUST_CD
, A.SHIP_TO_LOC_NM
, A.FIRST_OTH_LINE_ADDR
, A.SCD_THIRD_FRTH_LINE_ADDR
, A.FIFTH_LINE_ADDR
, A.ELAN_RPT_PRINT_DT_TXT
, A.ELAN_RPT_PRINT_YR
, A.ELAN_RPT_PRINT_RQST_SQ
FROM
ELAN_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.ELAN_RPT_PRINT_RQST_SQ = ${ELAN_RPT_PRINT_RQST_SQ}
AND ROWNUM = 1
ORDER BY A.MDSE_CD,A.SER_NUM
"/>

 <variable name="sql03" type="sql" value="
SELECT count(*) item_count
FROM
ELAN_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.ELAN_RPT_PRINT_RQST_SQ = ${ELAN_RPT_PRINT_RQST_SQ}
"/>

 <variable name="sql3" type="sql" value="
SELECT
A.GLBL_CMPY_CD
, A.ELAN_RPT_WRK_PK
, A.PO_ORD_NUM
, A.TOT_CNT_CERT_TXT
, A.MDSE_CD
, CASE WHEN TRIM(A.MDSE_CD) IS NULL
      THEN ''
      ELSE '*' || A.MDSE_CD || '*'
  END MDSE_CD_BARCODE
, A.MDSE_DESC_SHORT_TXT
, A.SER_NUM
, CASE WHEN TRIM(A.SER_NUM) IS NULL
      THEN ''
      ELSE '*' || A.SER_NUM || '*'
  END SER_NUM_BARCODE
, '' SER_NUM_01
, '' SER_NUM_02
, '' SER_NUM_03
, '' SER_NUM_04
, '' SER_NUM_05
, '' SER_NUM_06
, '' SER_NUM_07
, '' SER_NUM_08
, '' SER_NUM_09
, '' SER_NUM_10
, '' SER_NUM_11
, '' SER_NUM_12
, '' SER_NUM_13
, '' SER_NUM_14
, '' SER_NUM_15
, '' SER_NUM_16
, '' SER_NUM_17
, '' SER_NUM_18
, '' SER_NUM_19
, '' SER_NUM_20
, A.SHIP_TO_CUST_CD
, A.SHIP_TO_LOC_NM
, A.FIRST_OTH_LINE_ADDR
, A.SCD_THIRD_FRTH_LINE_ADDR
, A.FIFTH_LINE_ADDR
, A.ELAN_RPT_PRINT_DT_TXT
, A.ELAN_RPT_PRINT_YR
, A.ELAN_RPT_PRINT_RQST_SQ
FROM
ELAN_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.ELAN_RPT_PRINT_RQST_SQ = ${ELAN_RPT_PRINT_RQST_SQ}
ORDER BY A.MDSE_CD,A.SER_NUM
"/>

<doc encoding="UTF-8">
<condition test="${sql00.item_count}" value="0" operator="equal">
 <error message="no data in Parameter DB"/>
</condition>

<for variable="sql0">
	<condition test="${sql0.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
		<assign variable="GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="ELAN_RPT_PRINT_RQST_SQ" operator="equal">
		<assign variable="ELAN_RPT_PRINT_RQST_SQ" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
		<assign variable="INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
</for>

<!-- <condition test="${sql01.item_count}" value="0" operator="equal">  -->
<!--  <error message="no data in Language DB"/>  -->
<!-- </condition>  -->

<for variable="sql1">
	<condition test="${sql1.LANG_KEY_CD}" value="23092" operator="equal"><assign variable="C23092" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23093" operator="equal"><assign variable="C23093" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23094" operator="equal"><assign variable="C23094" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="5464"  operator="equal"><assign variable="C5464"  value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23095" operator="equal"><assign variable="C23095" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23096" operator="equal"><assign variable="C23096" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23097" operator="equal"><assign variable="C23097" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23098" operator="equal"><assign variable="C23098" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23099" operator="equal"><assign variable="C23099" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="21354" operator="equal"><assign variable="C21354" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="21573" operator="equal"><assign variable="C21573" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2400"  operator="equal"><assign variable="C2400"  value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23100" operator="equal"><assign variable="C23100" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23101" operator="equal"><assign variable="C23101" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23102" operator="equal"><assign variable="C23102" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23103" operator="equal"><assign variable="C23103" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23104" operator="equal"><assign variable="C23104" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23105" operator="equal"><assign variable="C23105" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23106" operator="equal"><assign variable="C23106" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23107" operator="equal"><assign variable="C23107" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23108" operator="equal"><assign variable="C23108" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23109" operator="equal"><assign variable="C23109" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23110" operator="equal"><assign variable="C23110" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23111" operator="equal"><assign variable="C23111" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23112" operator="equal"><assign variable="C23112" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23113" operator="equal"><assign variable="C23113" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23114" operator="equal"><assign variable="C23114" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23115" operator="equal"><assign variable="C23115" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23116" operator="equal"><assign variable="C23116" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23117" operator="equal"><assign variable="C23117" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23118" operator="equal"><assign variable="C23118" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23119" operator="equal"><assign variable="C23119" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23120" operator="equal"><assign variable="C23120" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23121" operator="equal"><assign variable="C23121" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23122" operator="equal"><assign variable="C23122" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23123" operator="equal"><assign variable="C23123" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3291"  operator="equal"><assign variable="C3291"  value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23124" operator="equal"><assign variable="C23124" value="${sql1.LANGUAGE_LABEL}"/></condition>
</for>

 <section name="Control Section">
  <textln>VERSION=8.1</textln>
 </section>
 <section name="Form Section">
  <textln>FORM=..\..\forms\NPAF0060.fcx</textln>
 </section>

<!-- [Table Data Section] output to dat file -->
   <section name="Table Data Section">
	<for variable="sql2">
	  <text>"${sql2.PO_ORD_NUM}",</text>
	  <text>"${sql2.TOT_CNT_CERT_TXT}",</text>
	  <text>"${sql2.MDSE_CD}",</text>
	  <text>"${sql2.MDSE_CD_BARCODE}",</text>
	  <text>"${sql2.MDSE_DESC_SHORT_TXT}",</text>
	  <text>"${sql2.SER_NUM}",</text>
	  <text>"${sql2.SER_NUM_BARCODE}",</text>
	  <text>"${sql2.SER_NUM_01}",</text>
	  <text>"${sql2.SER_NUM_02}",</text>
	  <text>"${sql2.SER_NUM_03}",</text>
	  <text>"${sql2.SER_NUM_04}",</text>
	  <text>"${sql2.SER_NUM_05}",</text>
	  <text>"${sql2.SER_NUM_06}",</text>
	  <text>"${sql2.SER_NUM_07}",</text>
	  <text>"${sql2.SER_NUM_08}",</text>
	  <text>"${sql2.SER_NUM_09}",</text>
	  <text>"${sql2.SER_NUM_10}",</text>
	  <text>"${sql2.SER_NUM_11}",</text>
	  <text>"${sql2.SER_NUM_12}",</text>
	  <text>"${sql2.SER_NUM_13}",</text>
	  <text>"${sql2.SER_NUM_14}",</text>
	  <text>"${sql2.SER_NUM_15}",</text>
	  <text>"${sql2.SER_NUM_16}",</text>
	  <text>"${sql2.SHIP_TO_CUST_CD}",</text>
	  <text>"${sql2.SHIP_TO_LOC_NM}",</text>
	  <text>"${sql2.FIRST_OTH_LINE_ADDR}",</text>
	  <text>"${sql2.SCD_THIRD_FRTH_LINE_ADDR}",</text>
	  <text>"${sql2.FIFTH_LINE_ADDR}",</text>
	  <text>"${sql2.ELAN_RPT_PRINT_DT_TXT}",</text>
	  <text>"${sql2.ELAN_RPT_PRINT_YR}",</text>
	  <text>"${C23092}",</text>
	  <text>"${C23093}",</text>
	  <text>"${C23094}",</text>
	  <text>"${C5464}",</text>
	  <text>"${C23095}",</text>
	  <text>"${C23096}",</text>
	  <text>"${C23097}",</text>
	  <text>"${C23098}",</text>
	  <text>"${C23099}",</text>
	  <text>"${C21354}",</text>
	  <text>"${C21573}",</text>
	  <text>"${C2400}",</text>
	  <text>"${C23100}",</text>
	  <text>"${C23101}",</text>
	  <text>"${C23102}",</text>
	  <text>"${C23103}",</text>
	  <text>"${C23104}",</text>
	  <text>"${C23105}",</text>
	  <text>"${C23106}",</text>
	  <text>"${C23107}",</text>
	  <text>"${C23108}",</text>
	  <text>"${C23109}",</text>
	  <text>"${C23110}",</text>
	  <text>"${C23111}",</text>
	  <text>"${C23112}",</text>
	  <text>"${C23113}",</text>
	  <text>"${C23114}",</text>
	  <text>"${C23115}",</text>
	  <text>"${C23116}",</text>
	  <text>"${C23117}",</text>
	  <text>"${C23118}",</text>
	  <text>"${C23119}",</text>
	  <text>"${C23120}",</text>
	  <text>"${C23121}",</text>
	  <text>"${C23122}",</text>
	  <text>"${C23123}",</text>
	  <text>"${C3291}",</text>
	  <text>"${C23124}",</text>
	  <textln>"${sql2.ELAN_RPT_WRK_PK}"</textln>
	</for>
	</section>

<!-- [Table Data Section] output to dat file -->
   <condition test="${sql03.item_count}" value="0" operator="not equal">
   <section name="Form Section">
	  <textln>NEXTPAGE</textln>
	</section>
   <section name="Table Data Section">
	<for variable="sql3">
	  <text>"${sql3.PO_ORD_NUM}",</text>
	  <text>"${sql3.TOT_CNT_CERT_TXT}",</text>
	  <text>"${sql3.MDSE_CD}",</text>
	  <text>"${sql3.MDSE_CD_BARCODE}",</text>
	  <text>"${sql3.MDSE_DESC_SHORT_TXT}",</text>
	  <text>"${sql3.SER_NUM}",</text>
	  <text>"${sql3.SER_NUM_BARCODE}",</text>
	  <text>"${sql3.SER_NUM_01}",</text>
	  <text>"${sql3.SER_NUM_02}",</text>
	  <text>"${sql3.SER_NUM_03}",</text>
	  <text>"${sql3.SER_NUM_04}",</text>
	  <text>"${sql3.SER_NUM_05}",</text>
	  <text>"${sql3.SER_NUM_06}",</text>
	  <text>"${sql3.SER_NUM_07}",</text>
	  <text>"${sql3.SER_NUM_08}",</text>
	  <text>"${sql3.SER_NUM_09}",</text>
	  <text>"${sql3.SER_NUM_10}",</text>
	  <text>"${sql3.SER_NUM_11}",</text>
	  <text>"${sql3.SER_NUM_12}",</text>
	  <text>"${sql3.SER_NUM_13}",</text>
	  <text>"${sql3.SER_NUM_14}",</text>
	  <text>"${sql3.SER_NUM_15}",</text>
	  <text>"${sql3.SER_NUM_16}",</text>
	  <text>"${sql3.SER_NUM_17}",</text>
	  <text>"${sql3.SER_NUM_18}",</text>
	  <text>"${sql3.SER_NUM_19}",</text>
	  <text>"${sql3.SER_NUM_20}",</text>
	  <text>"${sql3.SHIP_TO_CUST_CD}",</text>
	  <text>"${sql3.SHIP_TO_LOC_NM}",</text>
	  <text>"${sql3.FIRST_OTH_LINE_ADDR}",</text>
	  <text>"${sql3.SCD_THIRD_FRTH_LINE_ADDR}",</text>
	  <text>"${sql3.FIFTH_LINE_ADDR}",</text>
	  <text>"${sql3.ELAN_RPT_PRINT_DT_TXT}",</text>
	  <text>"${sql3.ELAN_RPT_PRINT_YR}",</text>
	  <text>"${C23092}",</text>
	  <text>"${C23093}",</text>
	  <text>"${C23094}",</text>
	  <text>"${C5464}",</text>
	  <text>"${C23095}",</text>
	  <text>"${C23096}",</text>
	  <text>"${C23097}",</text>
	  <text>"${C23098}",</text>
	  <text>"${C23099}",</text>
	  <text>"${C21354}",</text>
	  <text>"${C21573}",</text>
	  <text>"${C2400}",</text>
	  <text>"${C23100}",</text>
	  <text>"${C23101}",</text>
	  <text>"${C23102}",</text>
	  <text>"${C23103}",</text>
	  <text>"${C23104}",</text>
	  <text>"${C23105}",</text>
	  <text>"${C23106}",</text>
	  <text>"${C23107}",</text>
	  <text>"${C23108}",</text>
	  <text>"${C23109}",</text>
	  <text>"${C23110}",</text>
	  <text>"${C23111}",</text>
	  <text>"${C23112}",</text>
	  <text>"${C23113}",</text>
	  <text>"${C23114}",</text>
	  <text>"${C23115}",</text>
	  <text>"${C23116}",</text>
	  <text>"${C23117}",</text>
	  <text>"${C23118}",</text>
	  <text>"${C23119}",</text>
	  <text>"${C23120}",</text>
	  <text>"${C23121}",</text>
	  <text>"${C23122}",</text>
	  <text>"${C23123}",</text>
	  <text>"${C3291}",</text>
	  <text>"${C23124}",</text>
	  <textln>"${sql3.ELAN_RPT_WRK_PK}"</textln>
	</for>
	</section>
   <section name="Form Section">
	  <textln>NEXTPAGE</textln>
	</section>
	</condition>

   <condition test="${sql03.item_count}" value="0" operator="equal">
  <section name="Form Section">
	  <textln>NEXTPAGE</textln>
	  <textln>NEXTPAGE</textln>
	</section>
	</condition>


</doc>
<mdatas>
  <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>
