<!--
 /*==========================================================================
       							CANON, USA
 ============================================================================
  FILENAME
     canon_E193_csStyleSheet.css

  DESCRIPTION
     This style sheet will be used by canon customer service reengineering 
     and customer profile application.

  HISTORY

 ========================================================================= */
 -->

<!-- Page Title style  -->
	<!-- .titleStyle { font-family: verdana; font-size: 15pt; color:#666699;}  -->
	 .titleStyle { font-family: verdana; font-size: 24pt; color:#0000FF;}
	 .titleStyle1 { font-family: verdana; font-size: 15pt; color:#000000;text-align:center;}
	.messagePromptStyle { font-family: verdana; font-size: 9pt;}
	.pageFlowStyle {border-width: 1px; border-spacing: ;border-style: outset;border-color: #CECBFF; border-collapse:separate;}
	.messageBoxStyle { background-color: #F0F0F0; font-family: verdana; font-size: 9pt }
<!-- Table styles  -->
	<!-- Table tag -->
	.tabTableStyle { width:800px;border-collapse:collapse; }
	.tabTableStyle1 { width:950px;border-collapse:collapse; }
	.tabSmallTableStyle { width:600px;border-collapse:collapse; }
	.tabBigTableStyle { width:880px;border-collapse:collapse; }
	.tabexttraSmallTableStyle { width:300px;border-collapse:collapse; }
	<!-- Table headings -->
	.subhead { FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: verdana} 
	.subhead2 { FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: verdana; background-color: #F0F8FF;} 
	<!-- Table data cells -->
	.tdTableCellStyle { FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: verdana }
	
	<!-- Added for S21 by Mangala -->
	.tdCellStyle { FONT-SIZE: 8pt; COLOR: #FFFFFF; FONT-FAMILY: verdana; border-left:1px solid #FFFFFF;border-bottom:1px solid #FFFFFF; }

<!-- Questions style -->
	.tableQuestionCell { background-color: #F0F0F0; font-family: verdana; font-size: 9pt }

<!-- Font style (labels) -->
	.promptReadOnly { font-family: verdana; font-size: 9pt }
	
	<!-- Font style (labels) -->
	.promptEmanage { font-family: verdana; font-weight: bold; font-size: 9pt }

<!-- Font style (labels) Added for S21 by Mangala -->
	.displayvalue { FONT-WEIGHT: bold;font-family: verdana; font-size: 9pt }

<!-- Textbox -->
	.txtbox {BACKGROUND-COLOR: #f3f4f7}

<!-- List Box -->
	<!-- Select tag  -->
	.searchBarLink { font-family:verdana; font-size:8pt; color:#663300 }
	<!-- Selected option -->
	.searchBarSlctText { font-family:verdana; font-size:8pt; color:#336699 }

<!-- Buttons (.js file will use this)  -->
.OraBGAccentVeryDark {background-color:#999966}
.OraBGAccentVeryVeryDark {background-color:#666633}
.OraBGGrayVeryDark {background-color:#333333}
.BUTTON {background-color:#f7f7e7}
.BUTTONTEXT { font-family:verdana; color:#000000;	font-size:9pt; text-decoration:none }
.DISABLEDBUTTONTEXT { font-family:verdana; color:#999999;	font-size:9pt; text-decoration:none }

<!-- Body Tag (csTop File)  -->
.popupBody { background-color: #D8DCE4 } <!-- ededec bkg color changed from dadada vinod -->

<!-- Static Menus -->
	<!-- Menu background(last row) -->
	.OraBGColorDark {background-color:#9C9C9C}
	<!-- Home Menu -->
	.navC1TextDeslct { font-family:verdana; font-size:9pt; color:#996633; text-align:center } 
	<!--buttontext included above in buttons used for font -->
	<!--Bottom Menus font -->
	.prompt { font-family: verdana; font-size: 9pt }
	
<!-- Dynamic Menus from Responsibility -->
	<!--main menu -->
	.navL3TextDeslct { font-family: verdana; font-size: 9pt; color: #CCCC99; text-decoration: none }
	.navL3TextSlct { font-family: verdana; font-size: 9pt; font-weight: bold; color: #FFFFFF; text-decoration: none }
	<!--sub menu -->
	.navL2TextDeslct { font-family: verdana; font-size: 9pt; color: #003366; text-decoration: none }
	.navL2TextSlct { font-family: Arial,Helvetica,sans-serif; font-size: 9pt; font-weight: bold; color: #99CCFF; text-decoration: none }
	<!-- home menu class is navC1TextDeslct included in static menus -->
	.navC1TextDeslct { font-family:verdana; font-size:9pt; color:#996633; text-align:center } 
	.navC1TextSlct { font-family:verdana; font-size:9pt; color:#996600; text-align:center }
	<!--background for sub menus included in static menus -->
	.OraBGColorDark {background-color:#9C9C9C}
	<!-- Font included in labels -->
	.promptReadOnly { font-family: verdana; font-size: 9pt }
	
<!-- Calender Style Sheet -->
		
.OraBGAccentDark {background-color: #000000}

.jttinvis {position:absolute; top:-100; left:0; color:white; background-color:white;}

.APPSWINDOW {
	background-color:#FFFFFF }
	
.WEEKDAYCELL {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000;
	font-size:9PT;
	font-weight: bold;
	background-color: #F0F0F0 }
	
.MONTHDAYCELL {
	background-color: #FFFFFF }

.MONTHYEARSWITCH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt }
	
.DAYLINK {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color: #000000;
	font-size:9PT }
	
.DISABLEDDAYLINK {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color: #CCCC99;
	font-size:9PT }

<!-- Calender Style Sheet -- New Layer Calender -->

/*===== CSS theme file for CalendarXP 9.0 (Totally configurable) =====*/
/* NOTE: Better use numbered color values instead of literal ones, because opera has problem with the latter in certain cases. */

/* Calendar Day Header - the cells showing "Sunday", "Monday" .... */
.CalHead {cursor:default; text-align:center;}
/* Day of Week - the Anchor inside CalHead showing the day of week */
.DoWAnchor {FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: verdana;}
/* Day Column Cell - the TD cell of each day */
.CalCol {}
/* Day Cell - the DIV cell inside TD */
.CalCell {cursor:hand; text-align:center;}
/* Day Number - the Anchor inside DIV showing the day number  */
.CellAnchor {FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: verdana}

/* WeekNo Header - the top header cell of the week number column */
.WeekHead {cursor:default; text-align:center; font:bold 10pt arial; color:white;}
/* WeekNo Column Cell - the cells of the week number column */
.WeekCol {cursor:default; text-align:center; background:#F0F0F0F0F0F0;}
/* WeekNo Anchor style */
.WeekAnchor {text-decoration:none; font:bold 8pt arial; color:white;}

/* Month navigators - the "<" or ">" used to move to previous or next month */
.MonthNav {vertical-align:middle; height:22px; width:18px; font:bold 10pt arial bold; color:black;}
A.MonthNav:hover {color:yellow}
A.MonthNav:active {color:red}

/* styles for the 3 calendar sections (actually 3 table TDs) */
.CalTop {text-align:center;}
.CalMiddle {}
.CalBottom {text-align:center;}

/* Calendar title - showing year and month. when giDCStyle=0, it's the style of the year/month dropdowns; giDCStyle>0, it's the style to show gsCalTitle.  */
.CalTitle {vertical-align:middle; font:10pt verdana; color:black;}

/* The style of internal floating div/layer tags, which are usually used to create the artificial dropdown selectors. */
.FreeDiv {}

/* The style of the outer TABLE tag which is the outer calendar panel. */
#outerTable {border:2px ridge #ffffff;}
/* The style of the inner DIV tag that holds the inner panel of all calendar cells. */
#innerDiv {border:1px solid #dcdcdc;}
/*===== Above CSS styles are commonly used in the script engine =====*/

/*====== Following are additional per-theme styles, e.g. the inner dropdown selectors and today etc. You may have your own defined. ======*/
.BottomAnchor {text-decoration:none; font:bold 9pt Tahoma, Verdana; color:black;}
A.BottomAnchor:hover {}
A.BottomAnchor:active {}

.required {
    background-color: #ffff00;
}
		
		.tbl{
	border-radius:10px;
	text-align: left;
}
.tbl_lg{
	border-radius:10px;
	text-align: left;
}
 
.tbl_n{
	border-radius:10px;
    border: 1px solid #eee;
}
.error{
	background-color: #FFFF00;
	border:1px solid red;
}

.enable_email{
	display: none;
}

.email_template{
	display: none;
}