html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	}
	
* {
	margin: 0px;
	padding: 0px;
	}
	
a {
	outline: 0px;
	color: #cc0000;
	text-decoration: none;
	}
a:hover {
	outline: 0px;
	color: #cc0000;
	}
	
img {
	border: 0px;
	}
	
h1, h2, h3 {
	line-height: normal;
	}
	
/* large screen */

body {
	font-family: 'OpticSansBook', sans-serif;
	background: #ffffff;
	margin: 0px;
	padding: 0px;
	font-size: 13px;	
	}

#container {
	min-height: 100%;
	position: relative;
	width: 100%;
	color: #000000;
	}
	
header {
	width: 100%;
	height: 133px;
	position: fixed;
	border-top: 1px solid #4ab1e3;
	border-bottom: 1px solid #cc0000;
	background: #FFFFFF;
	z-index: 1030;
	}
.utility-nav {
	width: 100%;
	height: 33px;
	background: #003a4d;
	margin-right: auto;
	margin-left: auto;
	}
.utility-nav div {
	width: 1000px;
	font-size: 12px;
	text-align: right;
	padding-top: 9px;
	margin-right: auto;
	margin-left: auto;
	}
.utility-nav a:link, .utility-nav a:visited, .utility-nav a:active {
	color: #FFFFFF;
	padding: 9px 20px 10px 20px;
    }
.utility-nav a:hover, .utility-nav a:visited:hover {
	color: #FFFFFF;
	background: #0072bc;
    }
.logo {	
	margin-right: auto;
	margin-left: auto;
	}
.logo img {	 		
	 float: left;
	}
	
nav {	
	font-size: 14px;
	text-align: right;
	padding-top: 9px;
	margin-right: auto;
	margin-left: auto;
	position: relative;	
/* top: 64px; */
	}
nav a:link, nav a:visited, nav a:active {
	color: #000000;
	padding: 9px 20px 12px 20px;
    }
nav a:hover, nav a:visited:hover {
	color: #cc0000;
	}
nav .active {
	color: #cc0000 !important;
	}
	
/* dropdown navigation start */

.menu {
	width: 100%;
	clear: both;
	}
.menuContainer {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	}
.menuInner01 {
	position: relative;
	top: 2px;
	left: 170px;
	width: 300px;
	}
.menuInner02 {
	position: relative;
	top: 3px;
	left: 314px;
	width: 300px;
	}
.menuInner03 {
	position: relative;
	top: 3px;
	left: 409px;
	width: 300px;
	}
.menuInner04 {
	position: relative;
	top: 3px;
	left: 599px;
	width: 300px;
	}
.menuInner05 {
	position: relative;
	top: 3px;
	left: 699px;
	width: 300px;
	}
#menuProducts, #menuIndustriesServices, #menuInsightsExpertise, #menuCustomerSupport, #menuOurCompany {
	display: none;
	}
.menuBox { 
	background: #ececec; 
	position: relative; 
	z-index: 1000;
	display: none;
	}
.menuItem { 
	margin: 0px; 
	padding: 0px;
	position: relative;
	}
.menuItem h4 { 
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
	padding: 12px 20px 12px 20px;
	display: block;
	background: #003a4d;
	}
.menuTextLink { 
	font-size: 13px;
	color: #000000;
	padding: 12px 20px 12px 30px;
	display: block;
	border-bottom: 1px solid #a3a3a3;
	text-decoration: none;
	}
.menuTextLink:hover {
	color: #0072bc;
	text-decoration: none;
	background: #FFFFFF;
	}
.menuTextLink img { 
	position: relative;
	top: 1px;
	padding-right: 7px;
	}
	
/* dropdown navigation end */
	
#main_content {
	color: #000000;
	text-align: left;
	line-height: 18px;
	clear: both;
	background: #FFFFFF;	
	min-height: 524px;
	position: relative;
	min-width: 1000px;
	}
	
	
#main_content p {
	padding: 28px 30px 0px 30px;
	}
#main_content h1 {
	font-size: 15px;
	padding-top: 1px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 14px;
	margin: 0px;
	}
#main_content h2 {
	font-size: 18px;
	padding: 28px 30px 0px 30px;
	margin: 0px;
	}
#main_content h3 {
	font-size: 15px;
	padding: 28px 30px 0px 30px;
	margin: 0px;
	}
#main_content ul { 
	list-style-image: url("../images/bullet.gif");
	padding: 28px 30px 0px 80px;
	}
#main_content li {
	padding-bottom: 9px;
	}
#main_content hr {
	width: 100%;
	height: 1px;
	background-color: #ebebeb;
	border: 0 none;
	margin: 10px 0px 20px 0px;
	}
#main_content sup {
	color: #cc0000;
	font-size: 16px;
	}
	
#landing-page {
	padding-bottom: 45px;
	}
	
#image_header {
	height: 134px;
	overflow: hidden;
	}
#page_top2 {
	color: #FFFFFF;
	height: 80px;
	background: url("../../../../e193/images/bg_header.jpg");
	}
#page_top {
	color: #ff0000;			 
	background:#1a1a1a url("../../../../common/images/bg_header.jpg") no-repeat scroll right center;
	height: 140px;
	}
#page_top h1 {
	color: #ffffff;
	font-size: 40px;
	font-weight: normal;
	padding: 35px 30px 0;
	margin: 0px
	}
.breadcrumb {
	font-size: 12px;
	padding: 20px 30px 0 30px;
	color: #ffffff;
	}
.breadcrumb .divider {
	padding: 0 10px 0 10px;
	}
.breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:active {
	color: #46a7d6;
	text-decoration: none !important;
	}
.breadcrumb a:hover, .breadcrumb a:visited:hover {
	color: #6dcff6 !important;
	}
	
#main_login {
	color: #FFFFFF;
	height: 390px;
	background: url("../images/bg_login.jpg");
	background-repeat: no-repeat;
	background-position: top left;
	overflow: hidden;
	}
#main_home {
	color: #FFFFFF;
	height: 380px;
	width: 1000px;
	background: url("../images/bg_home.jpg");
	background-repeat: no-repeat;
	background-position: top left;
	overflow: hidden;
	}
#bottom_home {
	color: #FFFFFF;
	height: 144px;
	background: url("../images/bg_home_btm.jpg");
	background-repeat: no-repeat;
	background-position: top left;
	overflow: hidden;
	}
#bottom_home a:link, #bottom_home a:visited, #bottom_home a:active {
	font-size: 18px;
	color: #FFFFFF;
	background: url("../images/arrow_red.png");
	background-repeat: no-repeat;
	background-position: top right;
    }
#bottom_home a:hover, #bottom_home a:visited:hover {
	color: #FFFFFF;
	background: url("../images/arrow_red_on.png");
	background-repeat: no-repeat;
	background-position: top right;
	}
.bottom_link01 {
	padding: 14px 60px 14px 174px;
	float: right;
	}
.bottom_link02 {
	padding: 14px 60px 14px 142px;
	float: right;
	}
.bottom_link03 {
	padding: 14px 60px 14px 131px;
	float: right;
	}
.bottom_left {
	position: relative;
	top: 100px;
	float: left;
	height: 44px;
	min-width: 333px;
	max-width: 334px;
	overflow: hidden;
	}
	
.login_left {
	width: 560px;
	float: left;
	}
.login_left div {
	padding: 10px 30px 10px 30px;
	}
.login_left input[type=text] {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 14px;
	color: #636363;
  	border: 1px #4ab1e3 solid;
  	width: 340px;
  	height: 32px;
  	background: #FFFFFF;
	}
.login_left input[type=password] {
	border: 1px #4ab1e3 solid;
  	width: 340px;
  	height: 32px;
  	background: #FFFFFF;
	}
.login_left input[type=checkbox] {
	position: relative;
	top: 2px;
	}
.login_left label {
	float: left;
	}
.login_left a:link, .login_left a:visited, .login_left a:active {
	color: #4ab1e3;
	font-size: 12px;
	}
.login_left a:hover, .login_left a:visited:hover {
	color: #4ab1e3;
	text-decoration: underline;
	}
.login_right {
	width: 430px;
	height: 390px;
	float: right;
	background: url("../images/bg_black.png");
	}
	
/* tabs start */

.nav_solutions {
  	list-style: none;
  	}
.nav_solutions > li > a {
  	display: block;
	}
.nav_solutions > li > a:hover, .nav_solutions > li > a:focus {
  	text-decoration: none !important;
  	}
.nav-tabs:before, .nav-tabs:after {
  	display: table;
  	content: " ";
	}
.nav-tabs:after {
  	clear: both;
	}
.nav-tabs > li {
  	float: left;
	}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  	cursor: default;
  	}
.tab-content {
  	overflow: auto;
	}
.tab-content {
  	display: ;
	}
.tab-content > .active {
  	display: block;
	}
.tab-pane {
  	display: none;
	}
.exploreTabs-container {
	position: relative;
	left: 230px;
	float: left; 
	margin-top: 20px; 
	width: 940px; 
	}
.exploreTabs-container ul { 
	list-style-image: none !important;
	padding-top: 10px !important;
	}
.exploreTabs-container .nav-tabs { 
	border-bottom: none;
	}
.exploreTabs-container .nav-tabs > li { 
	margin-right: 60px; 
	}
.exploreTabs-container .nav-tabs > li > a {
    font-size: 18px;
    color: #ffffff;
    padding: 10px 14px 10px 14px;
    }
.exploreTabs-container .nav-tabs > li > a:hover {
	background-color: #8e191c;
	text-decoration: none;
	}
.exploreTabs-container .nav-tabs > .active > a, .exploreTabs-container .nav-tabs > .active > a:hover, .exploreTabs-container .nav-tabs > .active > a:focus {
    background-color: #cc0000;
	color: #ffffff !important;
    cursor: default;
	}
.exploreTabs-container .nav-tabs > .active:after {
	border-color: #cc0000;
  	border-top: solid 6px #cc0000;
	border-left: solid 5px transparent;
	border-right: solid 5px transparent;
	content: " ";
	float: left;
	margin: auto auto auto -5px; /*Important to center the arrow*/
	position: relative; /*Important to center the arrow*/
	left: 50%; /*Important to center the arrow*/
	}
.exploreTabs-sectionContainer li {
	width: 197px;
	margin-left: 0px !important;
	margin-right: 24px !important;
	margin-bottom: 15px;
	vertical-align: top;
	display: inline-block;
	}
.exploreTabs-sectionContainer div img { 
	border: 2px solid #46a7d6;
	}
.exploreTabs-sectionContainer a img { 
	position: relative;
	top: 2px;
	left: 12px; 
	}
.exploreTabs-sectionContainer li a { 
	color: #46a7d6; 
	position: relative;
	top: 3px;
	}
.exploreTabs-sectionContainer li a:hover { 
	color: #6dcff6; 
	}
.exploreTabs-sectionContainer li p { 
	color: #FFFFFF; 
	line-height: normal !important; 
	font-size: 11px; 
	margin: 8px 0px 0px 0px !important;
	padding: 0px !important;
	}
	
/* footer start */
	
footer {
	width: 100%;
	font-size: 12px;
	color: #FFFFFF;
	background: #003a4d;
	position: relative;
	top: 135px;
	}
footer .top-bg {
	width: 100%;
	background: #000000;
	}
footer .top {
	width: 1000px;
	height: 39px;
	text-align: right;
	padding-top: 25px;
	margin-right: auto;
	margin-left: auto;
	}
footer .copy {
	font-size: 11px;
	width: 980px;
	line-height: 18px;
	text-align: right;
	padding: 25px 30px 25px 0px;
	margin-right: auto;
	margin-left: auto;
	}
footer a:link, footer a:visited, footer a:active {
	color: #FFFFFF;
	padding: 25px 20px 25px 20px;
    }
footer a:hover, footer a:visited:hover {
	color: #4ab1e3;
	}
	
/* miscellaneous start */
	
.left {
	text-align: left !important;
	}
	
.right {
	text-align: right !important;
	}
	
.right_float {
	float: right;
	}
	
.small {
	font-size: 12px;
	font-weight: normal !important;
	}
	
.hidden {
	display: none;
	}
	
.active_nav {
	background: #0066a0;
	}
	
.clear {
	clear: both;
	}
	
.btn_red {
	font-size: 13px !important;
	color: #FFFFFF !important;
	background: -webkit-linear-gradient(#cc0000, #8e191c);
	background: -moz-linear-gradient(center top , #cc0000 5%, #8e191c 100%) repeat scroll 0 0 white;
	background: -ms-linear-gradient(#cc0000, #8e191c);
	background: linear-gradient(#cc0000, #8e191c);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cc0000', endColorstr='#8e191c');
	background-color: #8e191c;
	border: none;
	cursor: pointer;
	display: inline-block;
	padding: 5px 18px 5px 18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}
.btn_disabled {
	font-size: 13px !important;
	color: #ffffff !important;
	background: -webkit-linear-gradient(#cfcfcf, #cfcfcf);
	background: -moz-linear-gradient(center top , #cfcfcf 5%, #cfcfcf 100%) repeat scroll 0 0 white;
	background: -ms-linear-gradient(#cfcfcf);
	background: linear-gradient(#cfcfcf);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cfcfcf', endColorstr='#cfcfcf');
	background-color: #cfcfcf;
	border: none;
	cursor: pointer;
	display: inline-block;
	padding: 5px 18px 5px 18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}	

.btn_red:hover {
	background: -webkit-linear-gradient(#ff0000, #cc0000);
	background: -moz-linear-gradient(center top , #ff0000 5%, #cc0000 100%) repeat scroll 0 0 white;
	background: -ms-linear-gradient(#ff0000, #cc0000);
	background: linear-gradient(#ff0000, #cc0000);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff0000', endColorstr='#cc0000');
	background-color: #cc0000;
	text-decoration: none !important;
	}
	
.btn_red_sm {
	font-size: 13px !important;
	color: #FFFFFF !important;
	background: #cc0000;
	border: none;
	cursor: pointer;
	display: inline-block;
	float: ;
	padding: 0px 8px 0px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}
.btn_red_sm:hover {
	background: #ff0000;
	text-decoration: none !important;
	}
	
.btn_red_square {
	font-size: 12px !important;
	color: #FFFFFF !important;
	background: -webkit-linear-gradient(#cc0000, #8e191c);
	background: -moz-linear-gradient(center top , #cc0000 5%, #8e191c 100%) repeat scroll 0 0 white;
	background: -ms-linear-gradient(#cc0000, #8e191c);
	background: linear-gradient(#cc0000, #8e191c);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cc0000', endColorstr='#8e191c');
	background-color: #8e191c;
	border-left: 1px #FFFFFF solid;
	cursor: pointer;
	display: inline-block;
	padding: 5px 18px 5px 18px;
	}
.btn_red_square:hover {
	background: -webkit-linear-gradient(#ff0000, #cc0000);
	background: -moz-linear-gradient(center top , #ff0000 5%, #cc0000 100%) repeat scroll 0 0 white;
	background: -ms-linear-gradient(#ff0000, #cc0000);
	background: linear-gradient(#ff0000, #cc0000);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff0000', endColorstr='#cc0000');
	background-color: #cc0000;
	text-decoration: none !important;
	}
	
#showing {
	border-top: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
	margin: 28px 0px 0px 0px;
	}
#showing p {
	padding: 14px 30px 14px 30px !important;
	}
#showing span {
	position: relative;
	top: -4px;
	float: right;
	}
#showing select {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	width: 62px;
	height: 26px;
	margin: 0 5px 0 5px;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
	
#search {
	margin: 20px 30px 0px 30px;
	}
#search input[type=text] {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	border: 1px #cccccc solid;
  	width: 220px;
  	height: 26px;
  	background: #FFFFFF;
	}
#search select {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	width: 190px;
	height: 26px;
	margin: 0 0 0 10px;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
#search_btm {
	margin: 24px 30px 0px 30px;
	padding-bottom: 30px;
	}
	
#search_request {
	margin: 20px 30px 0px 30px;
	}
#search_request input[type=text] {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	border: 1px #cccccc solid;
  	width: 180px;
  	height: 26px;
  	background: #FFFFFF;
	}
#search_request select {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	width: 168px;
	height: 26px;
	margin: 0 0 0 10px;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
	
.account_devices {
	padding-top: 10px;
	}
.account_devices select {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	width: 180px !important;
	height: 26px;
	margin: 0 10px 0 0 !important;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
	
.paging a:link, .paging a:visited, .paging a:active {
	font-size: 13px;
	color: #545454;
	padding: 6px 9px 6px 9px;
	margin-right: 2px;
	background: #bcbcbc;
    }
.paging a:hover, .paging a:visited:hover {
	color: #FFFFFF !important;
	background: #0072bc;
    }
.paging .active {
	color: #FFFFFF !important;
	background: #cc0000 !important;
    }
.criteria {
	margin: 20px 0 0px 0;
	}
.criteria a {
	margin-left: 5px;
	}
	
.submit {
	text-align: right;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 50px;
	clear: both;
	}
.submit a {
	margin-left: 5px;
	}
	
.collapse {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.35s ease;
	-moz-transition: height 0.35s ease;
	-o-transition: height 0.35s ease;
	transition: height 0.35s ease;
	}
.collapse.in {
	height: auto;
	}

.table-wrapper {
	padding: 28px 30px 0px 30px;
	line-height: 16px;
	}
.table-wrapper  h1 {
	font-size: 20px;
	padding: 30px 30px 14px 0px !important;
	margin: 0px;
	}
.table-inner {
	font-size: 13px;
	width: 100%;
	background: #FFFFFF;
	}
.table-inner a:link, .table-inner a:visited, .table-inner a:active {
	color: #cc0000;
	text-decoration: none;
    }
.table-inner a:hover, .table-inner a:visited:hover {
	text-decoration: underline;
	}
.table-inner input[type=text] {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	border: 1px #cccccc solid;
  	width: 132px;
  	height: 26px;
  	background: #FFFFFF;
  	margin-right: 8px;
	}
.table-inner textarea {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	border: 1px #cccccc solid;
  	width: 660px;
  	height: 52px;
  	background: #FFFFFF;
	}
.table-inner select {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	width: 168px;
	height: 26px;
	margin: 0 0 0 10px;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
	
.table-inner-right {
	font-size: 13px;
	width: 705px;
	background: #FFFFFF;
	float: right;
	}
.table-inner-right a:link, .table-inner-right a:visited, .table-inner-right a:active {
	color: #cc0000;
	text-decoration: none;
    }
.table-inner-right a:hover, .table-inner-right a:visited:hover {
	text-decoration: underline;
	}
.table-inner-right input[type=text] {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	border: 1px #cccccc solid;
  	width: 132px;
  	height: 26px;
  	background: #FFFFFF;
  	margin-right: 8px;
	}
.table-inner-right textarea {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	border: 1px #cccccc solid;
  	width: 660px;
  	height: 52px;
  	background: #FFFFFF;
	}
	
.model-table {
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 5px;
	}
.model-table th, .model-table td {
	padding: 12px;
	border: none;
	}
.model-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	}
.model-table th a:link, .model-table th a:visited, .model-table th a:active {
	color: #FFFFFF;
	text-decoration: underline;
    }
.model-table th a:hover, .model-table th a:visited:hover {
	text-decoration: none;
	}
.model-table td {
	text-align: center;
	background: #FFFFFF;
	}
.model-table th:first-child {
	
	}
.model-table td:last-child {
	font-size: ;
	text-align: left;
	}
.model-table input[type=radio] {
	margin-right: 5px;
	border: 1px #4ab1e3 solid;
	}
	
.meter-read-table {
	width: 100%;
	background: #FFFFFF;
	}
.meter-read-table th, .meter-read-table td {
	padding: 12px;
	border: none;
	}
.meter-read-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	}
.meter-read-table td {
	text-align: center;
	background: #FFFFFF;
	}
	
.meter-read-date {
	width: 100%;
	}
.meter-read-date td {
	padding: 0px;
	text-align: left;
	}
	
.meter-history-table {
	width: 100%;
	background: #FFFFFF;
	}
.meter-history-table th, .meter-history-table td {
	padding: 12px;
	border: none;
	}
.meter-history-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	}
.meter-history-table td {
	text-align: center;
	background: #FFFFFF;
	}
	
.bill-history-table {
	font-size: 13px;
	width: 100%;
	background: #FFFFFF;
	}
.bill-history-table th, .bill-history-table td {
	border: none;
	}
.bill-history-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 12px;
	}
.bill-history-table td {
	text-align: center;
	background: #FFFFFF;
	padding: 10px;
	}
	
.supplies-table {
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 5px;
	}
.supplies-table tr:nth-child(even) {
	background-color: #FFFFFF;
	}
.supplies-table tr:nth-child(odd) {
	background-color: #ebebeb;
	}
.supplies-table th, .supplies-table td {
	padding: 12px;
	border: none;
	}
.supplies-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	font-size: 14px;		
	}
.supplies-table th a:link, .supplies-table th a:visited, .supplies-table th a:active {
	color: #FFFFFF;
	text-decoration: underline;
    }
.supplies-table th a:hover, .supplies-table th a:visited:hover {
	text-decoration: none;
	}
.supplies-table td {
	text-align: center;
	font-size: 13px;
	}
.supplies-table td:last-child {
	text-align: ;
	}
.supplies-table input[type=text] {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	border: 1px #cccccc solid;
  	width: 132px;
  	height: 26px;
  	background: #FFFFFF;
  	margin-right: 0px;
	}
	
	.supplies-tablehome {
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 5px;
	}
	
	.supplies-tablehome tr:nth-child(even) {
	background-color: #ebebeb;
	}
.supplies-tablehome tr:nth-child(odd) {
	background-color: #ebebeb;
	}
.supplies-tablehome th, .supplies-tablehome td {
	padding: 12px;
	border: none;
	}
.supplies-tablehome th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	font-size: 14px;		
	}
.supplies-tablehome th a:link, .supplies-tablehome th a:visited, .supplies-tablehome th a:active {
	color: #FFFFFF;
	text-decoration: underline;
    }
.supplies-tablehome th a:hover, .supplies-tablehome th a:visited:hover {
	text-decoration: none;
	}
.supplies-tablehome td {
	text-align: center;
	font-size: 13px;
	}
.supplies-tablehome td:last-child {
	text-align: ;
	}
.supplies-tablehome input[type=text] {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;	
  	width: 132px;
  	height: 26px;
  	background: #FFFFFF;
  	margin-right: 0px;
	}
	
.even {
	background-color: #FFFFFF;
	}
.odd {
	background-color: #ebebeb;
	}
	
.request-table {
	font-size: 13px;
	width: 100%;
	background: #FFFFFF;
	margin-bottom: ;
	}
.request-table th, .request-table td {
	border: none;
	}
.request-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 12px;
	}
.request-table th a:link, .request-table th a:visited, .request-table th a:active {
	color: #FFFFFF;
	text-decoration: underline;
    }
.request-table th a:hover, .request-table th a:visited:hover {
	text-decoration: none;
	}
.request-table td {
	text-align: center;
	background: #FFFFFF;
	padding: 10px;
	}
	
.request-service {
	font-size: 13px;
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 5px;
	}
.request-service th, .request-service td {
	border: none;
	}
.request-service th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 12px;
	}
.request-service td {
	text-align: left;
	background: #FFFFFF;
	padding: 10px;
	font-family: 'OpticSansBook',sans-serif;
	font-size: 13px;
	
	}
.request-service td:first-child {
	font-weight: bold;
	}
.request-service input[type=text] {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;	
  	width: 220px;
  	height: 26px;  	
	}
.request-service textarea {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;	
  	width: 640px;
  	height: 52px;
  	background: #FFFFFF;
	}
.request-service select {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	width: 220px;
	height: 22px;
	margin: 0;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
.request-service .time select {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	width: 60px !important;
	height: 26px;
	margin: 0 5px 0 0;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
	.request-service th a:link, .request-service th a:visited, .request-service th a:active {
	color: #FFFFFF;
	text-decoration: none !important;
    }
.request-service th a:hover, .request-service th a:visited:hover {
	text-decoration: underline !important;
	}
	
	.request-servicehome{
	font-size: 13px;
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 5px;
	}
	.request-servicehome td {
	text-align: left;
	background: #FFFFFF;
	padding: 10px;
	font-family: 'OpticSansBook',sans-serif;
	font-size: 13px;
	
	}
.request-servicehome td:first-child {
	font-weight: bold;
	}
.request-servicehome input[type=text] {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;	
  	width: 220px;
  	height: 26px;
  	background: #FFFFFF;
	}
.request-servicehome textarea {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;	
  	width: 640px;
  	height: 52px;
  	background: #FFFFFF;
	}
.request-servicehome select {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	width: 220px;
	height: 22px;
	margin: 0;
	background-color: #FFFFFF;	
	border-radius: 0px;
	}
.request-servicehome .time select {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	width: 60px !important;
	height: 26px;
	margin: 0 5px 0 0;
	background-color: #FFFFFF;	
	border-radius: 0px;
	}
	.request-servicehome th a:link, .request-servicehome th a:visited, .request-servicehome th a:active {
	color: #FFFFFF;
	text-decoration: none !important;
    }
.request-servicehome th a:hover, .request-service th a:visited:hover {
	text-decoration: underline !important;
	}
	
	
.filter-inner {
	font-size: 13px;
	width: 220px;
	background: #FFFFFF;
	padding-right: 15px;
	padding-bottom: 20px;
	float: left;
	}
.filter-table {
	width: 100%;
	}
.filter-table th, .filter-table td {
	padding: 12px;
	border: none;
	}
.filter-table th {
	font-size: 14px;
	font-weight: bold;
	background: #003b4e;
	color: #FFFFFF;
	}
.filter-table td {
	background: #e2e2e2;
	}
.filter-table input[type=text] {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	border: 1px #4ab1e3 solid;
  	width: 190px;
  	height: 26px;
  	background: #FFFFFF;
  	display: block;
  	margin-bottom: 5px;
	}
.filter-table select {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	width: 190px;
	height: 26px;
	margin: 0;
	background-color: #FFFFFF;
	border: 1px #4ab1e3 solid;
	border-radius: 0px;
	}
.filter-table input[type=checkbox] {
	margin: 5px;
	border: 1px #4ab1e3 solid;
	}
.filter-table input[type=radio] {
	margin: 5px;
	border: 1px #4ab1e3 solid;
	}
.filter-table a {
	margin: 3px;
	}
	
	
.cartfilter-table {
	width: 100%;
	}
.cartfilter-table th, .cartfilter-table td {
	padding: 12px;
	border: none;
	}
.cartfilter-table th {
	font-size: 14px;
	font-weight: bold;
	background: #003b4e;
	color: #FFFFFF;
	}
.cartfilter-table td {
	background: #e2e2e2;
	padding-left:5px;

	}
.cartfilter-table input[type=text] {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	border: 1px #4ab1e3 solid;
  	width: 190px;
  	height: 26px;
  	background: #FFFFFF;
  	display: block;
  	margin-bottom: 5px;
	}
.cartfilter-table select {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	width: 190px;
	height: 26px;
	margin: 0;
	background-color: #FFFFFF;
	border: 1px #4ab1e3 solid;
	border-radius: 0px;
	}
.cartfilter-table input[type=checkbox] {
	margin: 5px;
	border: 1px #4ab1e3 solid;
	}
.cartfilter-table input[type=radio] {
	margin: 5px;
	border: 1px #4ab1e3 solid;
	}
.cartfilter-table a {
	margin: 3px;
	}	
	
	
	
	
	
	
	
	
	
	
	
	
	
.phone input[type=text] {
	width: 60px !important;
  	}
.account-request input[type=text] {
	width: 220px;
  	}
	
	
	
	
.products-table {
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 5px;
	}
.products-table tr:nth-child(even) {
	background-color: #FFFFFF;
	}
.products-table tr:nth-child(odd) {
	background-color: #ebebeb;
	}
.products-table th, .products-table td {
	padding: 12px;
	border: none;
	}
.products-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	}
.products-table th a:link, .products-table th a:visited, .products-table th a:active {
	color: #FFFFFF;
	text-decoration: underline;
    }
.products-table th a:hover, .products-table th a:visited:hover {
	text-decoration: none;
	}
.products-table td {
	text-align: left;
	}
.products-table td:last-child {
	text-align: ;
	}
.products-table input[type=text] {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	border: 1px #cccccc solid;
  	width: 132px;
  	height: 26px;
  	background: #FFFFFF;
  	margin-right: 0px;
	}
	
.inTxt{
    border: 1px solid #d5cfc8;
    color: #555;
    padding: 1px 3px 2px;
}

.logo-img {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 1px solid #cc0000;
    border-top: 1px solid #4ab1e3;
    height: 163px;
    width: 100%;
    z-index: 1030;
}
.logo-imgbottom {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 1px solid #cc0000;
    border-top: 1px solid #4ab1e3;
    height: 133px;
    width: 100%;
    z-index: 1030;
}
#bottomLogo {
	margin-top:50px;
	}
	
.hd{
	background: #003b4e none repeat scroll 0 0;
	color: #ffffff;
	font-weight: bold;
	padding: 4px;
	text-align: center;
	font-size: 14px;
}	
.ui-dialog .ui-dialog-title{
	 	float: none;
	 }
	 
.customer-care {
	font-size: 13px;
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 5px;
	}
.customer-care th, .customer-care td {
	border: none;
	}
.customer-care th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 12px;
	}
.customer-care td {
	text-align: center;
	background: #FFFFFF;
	padding: 10px;
	font-family: 'OpticSansBook',sans-serif;
	font-size: 13px;
	
	}
.customer-care td:first-child {
	font-weight: bold;
	}
.customer-care input[type=text] {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	border: 1px #cccccc solid;
  	width: 220px;
  	height: 26px;
  	background: #FFFFFF;
	}
.customer-care textarea {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	border: 1px #cccccc solid;
  	width: 640px;
  	height: 52px;
  	background: #FFFFFF;
	}
.customer-care select {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	width: 220px;
	height: 22px;
	margin: 0;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
.customer-care .time select {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 13px;
	width: 60px !important;
	height: 26px;
	margin: 0 5px 0 0;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
.customer-care th a:link, .customer-care th a:visited, .customer-care th a:active {
	color: #FFFFFF;
	text-decoration: none !important;
    }
.customer-care th a:hover, .customer-care th a:visited:hover {
	text-decoration: underline !important;
	}	 