<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00" type="sql" value="
    select  count(*) item_count
    from EIP_RPT_INP_PRM
    where
        EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
        and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
        and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'RPT_PRINT_RQST_SQ'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql0" type="sql" value="
    select  RPT_PRM_NM,RPT_PRM_VAL_TXT
    from EIP_RPT_INP_PRM
    where
        EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
        and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
        and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'RPT_PRINT_RQST_SQ'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<variable name="GLBL_CMPY_CD" type="string" value=""/>
<variable name="RPT_PRINT_RQST_SQ" type="string" value=""/>
<variable name="INTL_LANG_VAL_COL_NM" type="string" value=""/>

<variable name="C23356" type="string" value=""/>
<variable name="C23357" type="string" value=""/>
<variable name="C22978" type="string" value=""/>
<variable name="C23360" type="string" value=""/>
<variable name="C23361" type="string" value=""/>
<variable name="C23362" type="string" value=""/>
<variable name="C23363" type="string" value=""/>
<variable name="C23364" type="string" value=""/>
<variable name="C23365" type="string" value=""/>
<variable name="C23366" type="string" value=""/>
<variable name="C2265" type="string" value=""/>
<variable name="C2274" type="string" value=""/>
<variable name="C1068" type="string" value=""/>
<variable name="C23367" type="string" value=""/>
<variable name="C23368" type="string" value=""/>
<variable name="C23156" type="string" value=""/>
<variable name="SPS" type="string" value=" "/>

 <variable name="sql01" type="sql" value="
SELECT count(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('23356','23357','22978','23360','23361','23362','23363','23364','23365','23366','2265','2274','1068','23367','23368','23156')
"/>

 <variable name="sql1" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('23356','23357','22978','23360','23361','23362','23363','23364','23365','23366','2265','2274','1068','23367','23368','23156','23375')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>

 <variable name="sql02" type="sql" value="
SELECT count(*) item_count
FROM
TECH_PI_CNT_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.TECH_PI_CNT_RPT_RQST_SQ = ${RPT_PRINT_RQST_SQ}
"/>

 <variable name="sql2" type="sql" value="
SELECT
A.GLBL_CMPY_CD
,CASE WHEN A.DEF_SRC_LOC_CD IS NULL
      THEN NULL
      ELSE A.DEF_SRC_LOC_CD || '/' || A.DEF_SRC_LOC_NM
 END DEF_SRC_LOC_CD_NM
,CASE WHEN A.TECH_CD IS NULL
      THEN NULL
      ELSE A.TECH_CD        || '/' || A.TECH_NM 
 END TECH_CD_NM
,CASE WHEN A.TECH_MGR_CD IS NULL
      THEN NULL
      ELSE A.TECH_MGR_CD    || '/' || A.TECH_MGR_NM
 END TECH_MGR_CD_NM
,A.PHYS_INVTY_CTRL_NM
,A.PHYS_INVTY_DT_FMT_TXT
,A.RTL_WH_CD
,A.RTL_SWH_CD
,A.MDSE_CD
,A.MDSE_DESC_SHORT_TXT
,A.CNT_QTY_DPLY_TXT
,A.PRINT_PSN_CD
,A.PRINT_DT_FMT_TXT
,A.PRINT_RPT_TM_TXT
FROM
TECH_PI_CNT_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.TECH_PI_CNT_RPT_RQST_SQ = ${RPT_PRINT_RQST_SQ}
ORDER BY
A.DEF_SRC_LOC_CD
,A.RTL_WH_CD
,A.RTL_SWH_CD
,A.MDSE_CD
"/>

<doc encoding="UTF-8">
<condition test="${sql00.item_count}" value="0" operator="equal">
    <error message="no data in Parameter DB"/>
</condition>

<for variable="sql0">
    <condition test="${sql0.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
        <assign variable="GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
    </condition>
    <condition test="${sql0.RPT_PRM_NM}" value="RPT_PRINT_RQST_SQ" operator="equal">
        <assign variable="RPT_PRINT_RQST_SQ" value="${sql0.RPT_PRM_VAL_TXT}"/>
    </condition>
    <condition test="${sql0.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
        <assign variable="INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
    </condition>
</for>

<!-- <condition test="${sql01.item_count}" value="0" operator="equal">  -->
<!--  <error message="no data in Language DB"/>  -->
<!-- </condition>  -->

<for variable="sql1">
    <condition test="${sql1.LANG_KEY_CD}" value="23356" operator="equal"><assign variable="C23356" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23357" operator="equal"><assign variable="C23357" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="22978" operator="equal"><assign variable="C22978" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23360" operator="equal"><assign variable="C23360" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23361" operator="equal"><assign variable="C23361" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23362" operator="equal"><assign variable="C23362" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23363" operator="equal"><assign variable="C23363" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23364" operator="equal"><assign variable="C23364" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23365" operator="equal"><assign variable="C23365" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23366" operator="equal"><assign variable="C23366" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="2265" operator="equal"><assign variable="C2265" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="2274" operator="equal"><assign variable="C2274" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="1068" operator="equal"><assign variable="C1068" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23367" operator="equal"><assign variable="C23367" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23368" operator="equal"><assign variable="C23368" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23156" operator="equal"><assign variable="C23156" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23375" operator="equal"><assign variable="C23375" value="${sql1.LANGUAGE_LABEL}"/></condition>
</for>

<condition test="${sql02.item_count}" value="0" operator="equal">
    <error message="no data in Transaction DB(sql02)"/>
</condition>

<section name="Control Section">
    <textln>VERSION=8.1</textln>
</section>
<section name="Form Section">
    <textln>FORM=..\..\forms\NLCF0030.fcp</textln>
</section>

<!-- [Table Data Section] output to dat file -->
<section name="Table Data Section">
    <for variable="sql2">
        <text>"${C23356}",</text>
        <text>"${C23357}",</text>
        <text>"${C22978}",</text>
        <text>"${C23375}",</text>
        <text>"${sql2.DEF_SRC_LOC_CD_NM}",</text>
        <text>"${C23360}",</text>
        <text>"${sql2.TECH_CD_NM}",</text>
        <text>"${C23362}",</text>
        <text>"${sql2.TECH_MGR_CD_NM}",</text>
        <text>"${C23364}",</text>
        <text>"${sql2.PHYS_INVTY_CTRL_NM}",</text>
        <text>"${C23365}",</text>
        <text>"${sql2.PHYS_INVTY_DT_FMT_TXT}",</text>
        <text>"${C23366}",</text>
        <text>"${sql2.RTL_WH_CD}${sql2.RTL_SWH_CD}",</text>
        <text>"${C2265}",</text>
        <text>"${sql2.MDSE_CD}",</text>
        <text>"${C2274}",</text>
        <text>"${sql2.MDSE_DESC_SHORT_TXT}",</text>
        <text>"${C1068}",</text>
        <text>"${sql2.CNT_QTY_DPLY_TXT}",</text>
        <text>"${C23367}",</text>
        <text>"${sql2.PRINT_PSN_CD}",</text>
        <text>"${C23368}",</text>
        <text>"${sql2.PRINT_DT_FMT_TXT}${SPS}${sql2.PRINT_RPT_TM_TXT}",</text>
        <textln>"${C23156}"</textln>
    </for>
</section>
</doc>
<mdatas>
    <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>
