<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00" type="sql" value="
	select  count(*) item_count
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'BIZ_APP_ID'
            or RPT_PRM_NM = 'OTPT_OP_CD'
            or RPT_PRM_NM = 'SPLY_QUOTE_RPT_TP_CD'
            or RPT_PRM_NM = 'LINE_BIZ_TP_CD'
            or RPT_PRM_NM = 'TRX_HDR_NUM'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql0" type="sql" value="
	select  RPT_PRM_NM,RPT_PRM_VAL_TXT
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'BIZ_APP_ID'
            or RPT_PRM_NM = 'OTPT_OP_CD'
            or RPT_PRM_NM = 'SPLY_QUOTE_RPT_TP_CD'
            or RPT_PRM_NM = 'LINE_BIZ_TP_CD'
            or RPT_PRM_NM = 'TRX_HDR_NUM'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<variable name="GLBL_CMPY_CD" type="string" value=""/>
<variable name="BIZ_APP_ID" type="string" value=""/>
<variable name="OTPT_OP_CD" type="string" value=""/>
<variable name="SPLY_QUOTE_RPT_TP_CD" type="string" value=""/>
<variable name="LINE_BIZ_TP_CD" type="string" value=""/>
<variable name="TRX_HDR_NUM" type="string" value=""/>
<variable name="INTL_LANG_VAL_COL_NM" type="string" value=""/>

<variable name="Cm" type="string" value=""/>
<variable name="Cp" type="string" value=""/>
<variable name="C22924" type="string" value=""/>
<variable name="C6821" type="string" value=""/>
<variable name="C2949" type="string" value=""/>
<variable name="C22925" type="string" value=""/>
<variable name="C3184" type="string" value=""/>
<variable name="C22911" type="string" value=""/>
<variable name="C22607" type="string" value=""/>
<variable name="C4331" type="string" value=""/>
<variable name="C934" type="string" value=""/>
<variable name="C22913" type="string" value=""/>
<variable name="C22912" type="string" value=""/>
<variable name="C989" type="string" value=""/>
<variable name="C22914" type="string" value=""/>
<variable name="C22915" type="string" value=""/>
<variable name="C22916" type="string" value=""/>
<variable name="C2265" type="string" value=""/>
<variable name="C4928" type="string" value=""/>
<variable name="C3567" type="string" value=""/>
<variable name="C22920" type="string" value=""/>
<variable name="C22921" type="string" value=""/>
<variable name="C23379" type="string" value=""/>
<variable name="C23380" type="string" value=""/>
<variable name="C23381" type="string" value=""/>
<variable name="C23382" type="string" value=""/>
<variable name="C23140" type="string" value=""/>
<variable name="C22936" type="string" value=""/>
<variable name="C23484" type="string" value=""/>

<variable name="sql01" type="sql" value="
SELECT count(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('m','p','22924','6821','2949','22925','3184','22911','22607','4331','934','22913','22912','989','22914','22915','22916','2265','4928','3567','22920','22921','23379','23380','23381','23382','934','23140','22936','23484')
"/>

<variable name="sql1" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('m','p','22924','6821','2949','22925','3184','22911','22607','4331','934','22913','22912','989','22914','22915','22916','2265','4928','3567','22920','22921','23379','23380','23381','23382','934','23140','22936','23484')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>

<variable name="sql02" type="sql" value="
SELECT count(*) item_count
FROM ORD_CONF_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.BIZ_APP_ID = ${BIZ_APP_ID}
AND A.OTPT_OP_CD = ${OTPT_OP_CD}
AND A.SPLY_QUOTE_RPT_TP_CD = ${SPLY_QUOTE_RPT_TP_CD}
AND A.LINE_BIZ_TP_CD = ${LINE_BIZ_TP_CD}
AND A.TRX_HDR_NUM = ${TRX_HDR_NUM}
"/>

<variable name="sql2" type="sql" value="
SELECT GLBL_CMPY_NM
,GLBL_FULL_CMPY_ADDR
,RPT_TTL_TXT
,TRX_HDR_NUM
,TRX_DT_TXT
,SPLY_QUOTE_VLD_THRU_DT_TXT
,CUST_ISS_PO_NUM
,PMT_TERM_CASH_DISC_DESC_TXT PMT_TERM_NM
,FULL_ADMIN_PSN_NM
,FRT_COND_NM
,SVC_LVL_RPT_DESC_TXT
,SHPG_TO_REF_CMNT_TXT_01 || SHPG_TO_REF_CMNT_TXT_02 || SHPG_TO_REF_CMNT_TXT_03 SHPG_TO_REF_CMNT_TXT_01
,SHPG_TO_REF_CMNT_TXT_02
,SHPG_TO_REF_CMNT_TXT_03
,SELL_TO_CUST_CD
,SELL_TO_LOC_NM
,SELL_TO_ADDR_01
,SELL_TO_ADDR_02
,FULL_CTAC_PSN_NM
,CTAC_RPT_TTL_TXT
,DS_CTAC_PNT_VAL_TXT
,BILL_TO_CUST_CD
,BILL_TO_LOC_NM
,BILL_TO_ADDR_01
,BILL_TO_ADDR_02
,SHIP_TO_CUST_CD
,SHIP_TO_LOC_NM
,SHIP_TO_ADDR_01
,SHIP_TO_ADDR_02
,DECODE(SHIP_TO_LOC_NM, NULL, '', SHIP_TO_LOC_NM || CHR(13) || CHR(10))
  || DECODE(SHIP_TO_ADDR_01, NULL, '', SHIP_TO_ADDR_01 || CHR(13) || CHR(10))
  || DECODE(SHIP_TO_ADDR_02, NULL, '', SHIP_TO_ADDR_02 || CHR(13) || CHR(10)) SHIP_TO_LOC_NM_ADDR
,CPO_WRK_LINE_NUM
,MDSE_CD
,MDSE_DESC_SHORT_TXT MDSE_NM
,CASE WHEN MNF_ITEM_CD IS NULL OR MNF_ITEM_CD = MDSE_CD THEN NULL
ELSE '(' || MNF_ITEM_CD || ')' END MNF_ITEM_CD
,PKG_UOM_CD
,ORD_QTY_TXT
,PRC_LIST_PRC_AMT_TXT
,DISC_RATE_PRINT_TXT
,NET_UNIT_PRC_AMT_TXT
,DTL_DEAL_NET_AMT_TXT
,PRC_RULE_DTL_CHRG_NM
,TAX_CHRG_AMT_PRINT_TXT
,TAX_CHRG_RATE_PRINT_TXT
,TOT_AMT_PRINT_NM
,TOT_AMT_PRINT_TXT
,SPLY_QUOTE_CMNT_TXT
,SPLY_QUOTE_RPT_NOTE_TXT_01
,SPLY_QUOTE_RPT_NOTE_TXT_02
,SPLY_QUOTE_RPT_NOTE_TXT_03
,SPLY_QUOTE_RPT_NOTE_TXT_04
,SPLY_QUOTE_RPT_NOTE_TXT_05
,SPLY_QUOTE_RPT_NOTE_TXT_06
,SPLY_QUOTE_RPT_NOTE_TXT_07
,SPLY_QUOTE_RPT_NOTE_TXT_08
,SPLY_QUOTE_RPT_NOTE_TXT_09
,SPLY_QUOTE_RPT_NOTE_TXT_10 
,EASY_PAC_QTY_TXT
,EASY_PAC_MLY_COMIT_QTY_TXT
,EASY_PAC_TOT_QTY_TXT
,EASY_PAC_SHIP_SUM_QTY_TXT
,EASY_PAC_FLG
,QUOTE_PRINT_CMNT_TXT
,ORD_PRINT_CMNT_TXT
,SHPG_CMNT_PRINT_CD
,SHPG_TO_REF_CMNT_TXT_01 || SHPG_TO_REF_CMNT_TXT_02 || SHPG_TO_REF_CMNT_TXT_03 SHPG_PRINT_CMNT_TXT
,SELL_TO_FIRST_REF_CMNT_TXT
,SPCL_HDLG_TP_DESC_TXT
FROM ORD_CONF_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.BIZ_APP_ID = ${BIZ_APP_ID}
AND A.OTPT_OP_CD = ${OTPT_OP_CD}
AND A.SPLY_QUOTE_RPT_TP_CD = ${SPLY_QUOTE_RPT_TP_CD}
AND A.LINE_BIZ_TP_CD = ${LINE_BIZ_TP_CD}
AND A.TRX_HDR_NUM = ${TRX_HDR_NUM}
ORDER BY CASE WHEN INSTR(CPO_WRK_LINE_NUM,'.',1,1) = 0 AND INSTR(CPO_WRK_LINE_NUM,'-',1) = 0 THEN 
                     LPAD(CPO_WRK_LINE_NUM, 5, '0')
                  || LPAD('0'          , 5, '0')
                  || LPAD('0'          , 5, '0')
                 WHEN INSTR(CPO_WRK_LINE_NUM,'.',1,2) > 0 THEN
                     LPAD(
                          SUBSTR(CPO_WRK_LINE_NUM, 1, INSTR(CPO_WRK_LINE_NUM,'.',1,1) - 1) 
                         , 5, '0')
                  || LPAD(
                          SUBSTR(CPO_WRK_LINE_NUM
                                ,INSTR(CPO_WRK_LINE_NUM,'.',1,1)  + 1 
                                ,INSTR(CPO_WRK_LINE_NUM,'.',1,2)  - INSTR(CPO_WRK_LINE_NUM,'.',1,1) -1
                                 )
                         ,5,'0')
                  || LPAD(
                          SUBSTR(CPO_WRK_LINE_NUM, INSTR(CPO_WRK_LINE_NUM,'.',1,2)  + 1) 
                         ,5,'0')
                 WHEN INSTR(CPO_WRK_LINE_NUM,'.',1,1) > 0 THEN
                     LPAD(SUBSTR(CPO_WRK_LINE_NUM, 1                              ,INSTR(CPO_WRK_LINE_NUM,'.',1,1) - 1), 5, '0')
                  || LPAD(SUBSTR(CPO_WRK_LINE_NUM, INSTR(CPO_WRK_LINE_NUM,'.') + 1)  ,5,                                    '0')
                  || LPAD('0'          , 5, '0')
                 ELSE CPO_WRK_LINE_NUM
            END, ORD_CONF_RPT_WRK_PK
"/>

<variable name="sql3" type="sql" value="
SELECT count(*) item_count
FROM ORD_CONF_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.BIZ_APP_ID = ${BIZ_APP_ID}
AND A.OTPT_OP_CD = ${OTPT_OP_CD}
AND A.SPLY_QUOTE_RPT_TP_CD = ${SPLY_QUOTE_RPT_TP_CD}
AND A.LINE_BIZ_TP_CD = ${LINE_BIZ_TP_CD}
AND A.TRX_HDR_NUM = ${TRX_HDR_NUM} AND (A.SPLY_QUOTE_CMNT_TXT IS NOT NULL)
"/>

<variable name="sql8" type="sql" value="
SELECT count(*) item_count
FROM ORD_CONF_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.BIZ_APP_ID = ${BIZ_APP_ID}
AND A.OTPT_OP_CD = ${OTPT_OP_CD}
AND A.SPLY_QUOTE_RPT_TP_CD = ${SPLY_QUOTE_RPT_TP_CD}
AND A.LINE_BIZ_TP_CD = ${LINE_BIZ_TP_CD}
AND A.TRX_HDR_NUM = ${TRX_HDR_NUM} AND (A.SPLY_QUOTE_RPT_NOTE_TXT_01 IS NOT NULL
OR A.SPLY_QUOTE_RPT_NOTE_TXT_02 IS NOT NULL)
"/>

<variable name="sql4" type="sql" value="
SELECT count(*) item_count
FROM ORD_CONF_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.BIZ_APP_ID = ${BIZ_APP_ID}
AND A.OTPT_OP_CD = ${OTPT_OP_CD}
AND A.SPLY_QUOTE_RPT_TP_CD = ${SPLY_QUOTE_RPT_TP_CD}
AND A.LINE_BIZ_TP_CD = ${LINE_BIZ_TP_CD}
AND A.TRX_HDR_NUM = ${TRX_HDR_NUM} AND (A.SPLY_QUOTE_RPT_NOTE_TXT_03 IS NOT NULL
OR A.SPLY_QUOTE_RPT_NOTE_TXT_04 IS NOT NULL)
"/>

<variable name="sql5" type="sql" value="
SELECT count(*) item_count
FROM ORD_CONF_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.BIZ_APP_ID = ${BIZ_APP_ID}
AND A.OTPT_OP_CD = ${OTPT_OP_CD}
AND A.SPLY_QUOTE_RPT_TP_CD = ${SPLY_QUOTE_RPT_TP_CD}
AND A.LINE_BIZ_TP_CD = ${LINE_BIZ_TP_CD}
AND A.TRX_HDR_NUM = ${TRX_HDR_NUM} AND (A.SPLY_QUOTE_RPT_NOTE_TXT_05 IS NOT NULL
OR A.SPLY_QUOTE_RPT_NOTE_TXT_06 IS NOT NULL)
"/>

<variable name="sql6" type="sql" value="
SELECT count(*) item_count
FROM ORD_CONF_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.BIZ_APP_ID = ${BIZ_APP_ID}
AND A.OTPT_OP_CD = ${OTPT_OP_CD}
AND A.SPLY_QUOTE_RPT_TP_CD = ${SPLY_QUOTE_RPT_TP_CD}
AND A.LINE_BIZ_TP_CD = ${LINE_BIZ_TP_CD}
AND A.TRX_HDR_NUM = ${TRX_HDR_NUM} AND (A.SPLY_QUOTE_RPT_NOTE_TXT_07 IS NOT NULL
OR A.SPLY_QUOTE_RPT_NOTE_TXT_08 IS NOT NULL)
"/>

<variable name="sql7" type="sql" value="
SELECT count(*) item_count
FROM ORD_CONF_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.BIZ_APP_ID = ${BIZ_APP_ID}
AND A.OTPT_OP_CD = ${OTPT_OP_CD}
AND A.SPLY_QUOTE_RPT_TP_CD = ${SPLY_QUOTE_RPT_TP_CD}
AND A.LINE_BIZ_TP_CD = ${LINE_BIZ_TP_CD}
AND A.TRX_HDR_NUM = ${TRX_HDR_NUM} AND (A.SPLY_QUOTE_RPT_NOTE_TXT_09 IS NOT NULL
OR A.SPLY_QUOTE_RPT_NOTE_TXT_10 IS NOT NULL)
"/>
<doc encoding="UTF-8">
<condition test="${sql00.item_count}" value="0" operator="equal">
 <error message="no data in Parameter DB"/>
</condition>

<for variable="sql0">
	<condition test="${sql0.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
		<assign variable="GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="BIZ_APP_ID" operator="equal">
		<assign variable="BIZ_APP_ID" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="OTPT_OP_CD" operator="equal">
		<assign variable="OTPT_OP_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="SPLY_QUOTE_RPT_TP_CD" operator="equal">
		<assign variable="SPLY_QUOTE_RPT_TP_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="LINE_BIZ_TP_CD" operator="equal">
		<assign variable="LINE_BIZ_TP_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="TRX_HDR_NUM" operator="equal">
		<assign variable="TRX_HDR_NUM" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
		<assign variable="INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
</for>

<condition test="${sql01.item_count}" value="0" operator="equal">
 <error message="no data in Language DB"/>
</condition>

<for variable="sql1">
	<condition test="${sql1.LANG_KEY_CD}" value="m" operator="equal"><assign variable="Cm" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="p" operator="equal"><assign variable="Cp" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22924" operator="equal"><assign variable="C22924" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="6821" operator="equal"><assign variable="C6821" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2949" operator="equal"><assign variable="C2949" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22925" operator="equal"><assign variable="C22925" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3184" operator="equal"><assign variable="C3184" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22911" operator="equal"><assign variable="C22911" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22607" operator="equal"><assign variable="C22607" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4331" operator="equal"><assign variable="C4331" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="934" operator="equal"><assign variable="C934" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22913" operator="equal"><assign variable="C22913" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22912" operator="equal"><assign variable="C22912" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="989" operator="equal"><assign variable="C989" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22914" operator="equal"><assign variable="C22914" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22915" operator="equal"><assign variable="C22915" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22916" operator="equal"><assign variable="C22916" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2265" operator="equal"><assign variable="C2265" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4928" operator="equal"><assign variable="C4928" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3567" operator="equal"><assign variable="C3567" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23879" operator="equal"><assign variable="C23879" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22920" operator="equal"><assign variable="C22920" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22921" operator="equal"><assign variable="C22921" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23379" operator="equal"><assign variable="C23379" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23380" operator="equal"><assign variable="C23380" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23381" operator="equal"><assign variable="C23381" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23382" operator="equal"><assign variable="C23382" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23140" operator="equal"><assign variable="C23140" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22936" operator="equal"><assign variable="C22936" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23484" operator="equal"><assign variable="C23484" value="${sql1.LANGUAGE_LABEL}"/></condition>
</for>

<condition test="${sql02.item_count}" value="0" operator="equal">
 <error message="no data in Transaction DB"/>
</condition>

 <section name="Control Section">
  <textln>VERSION=8.1</textln>
 </section>
 <section name="Form Section">
  <textln>FORM=..\..\forms\NWAF0070.fcp</textln>
 </section>

<!-- [Table Data Section] output to dat file -->
   <section name="Fixed Data Section">
       <textln>GLBL_CMPY_NM="${sql2.GLBL_CMPY_NM}"</textln>
       <textln>GLBL_FULL_CMPY_ADDR="${sql2.GLBL_FULL_CMPY_ADDR}"</textln>
       <textln>RPT_TTL_TXT="${sql2.RPT_TTL_TXT}"</textln>
       <textln>Cm="${Cm}"</textln>
       <textln>Cp="${Cp}"</textln>
       <textln>C22924="${C22924}"</textln>
       <textln>C6821="${C6821}"</textln>
       <textln>C2949="${C2949}"</textln>
       <textln>C22925="${C22925}"</textln>
       <textln>C3184="${C3184}"</textln>
       <textln>C22911="${C22911}"</textln>
       <textln>C22607="${C22607}"</textln>
       <textln>C4331="${C4331}"</textln>
       <textln>C934="${C934}"</textln>
       <textln>C23484="${C23484}"</textln>
       <textln>SPCL_HDLG_TP_DESC_TXT="${sql2.SPCL_HDLG_TP_DESC_TXT}"</textln>
       <textln>C22913="${C22913}"</textln>
       <textln>C22912="${C22912}"</textln>
       <condition test="${sql2.SELL_TO_FIRST_REF_CMNT_TXT}" value="" operator="not equal">
	       <textln>C22936="${C22936} "</textln>
       </condition>
       <condition test="${sql2.SELL_TO_FIRST_REF_CMNT_TXT}" value="" operator="equal">
	       <textln>C22936=""</textln>
       </condition>
       <condition test="${sql2.FULL_CTAC_PSN_NM}" value="" operator="not equal">
         <textln>C989="${C989}"</textln>
       </condition>
       <condition test="${sql2.FULL_CTAC_PSN_NM}" value="" operator="equal">
         <textln>C989=""</textln>
       </condition>
       <condition test="${sql2.DS_CTAC_PNT_VAL_TXT}" value="" operator="not equal">
         <textln>CTAC_RPT_TTL_TXT="${sql2.CTAC_RPT_TTL_TXT}:"</textln>
       </condition>
       <condition test="${sql2.DS_CTAC_PNT_VAL_TXT}" value="" operator="equal">
	 <textln>CTAC_RPT_TTL_TXT=""</textln>
       </condition>
       <textln>C22914="${C22914}"</textln>
       <textln>C22915="${C22915}"</textln>
       <textln>TRX_HDR_NUM="${sql2.TRX_HDR_NUM}"</textln>
       <textln>TRX_DT_TXT="${sql2.TRX_DT_TXT}"</textln>
       <textln>CUST_ISS_PO_NUM="${sql2.CUST_ISS_PO_NUM}"</textln>
       <textln>PMT_TERM_NM="${sql2.PMT_TERM_NM}"</textln>
       <textln>FRT_COND_NM="${sql2.FRT_COND_NM}"</textln>
       <textln>SVC_LVL_RPT_DESC_TXT="${sql2.SVC_LVL_RPT_DESC_TXT}"</textln>
       <textln>SHPG_TO_REF_CMNT_TXT_01="${sql2.SHPG_TO_REF_CMNT_TXT_01}"</textln>
       <textln>SHPG_TO_REF_CMNT_TXT_02="${sql2.SHPG_TO_REF_CMNT_TXT_02}"</textln>
       <textln>SHPG_TO_REF_CMNT_TXT_03="${sql2.SHPG_TO_REF_CMNT_TXT_03}"</textln>
       <textln>SELL_TO_CUST_CD="${sql2.SELL_TO_CUST_CD}"</textln>
       <textln>SELL_TO_LOC_NM="${sql2.SELL_TO_LOC_NM}"</textln>
       <textln>SELL_TO_ADDR_01="${sql2.SELL_TO_ADDR_01}"</textln>
       <textln>SELL_TO_ADDR_02="${sql2.SELL_TO_ADDR_02}"</textln>
       <textln>FULL_CTAC_PSN_NM="${sql2.FULL_CTAC_PSN_NM}"</textln>
       <textln>DS_CTAC_PNT_VAL_TXT="${sql2.DS_CTAC_PNT_VAL_TXT}"</textln>
       <textln>BILL_TO_CUST_CD="${sql2.BILL_TO_CUST_CD}"</textln>
       <textln>BILL_TO_LOC_NM="${sql2.BILL_TO_LOC_NM}"</textln>
       <textln>BILL_TO_ADDR_01="${sql2.BILL_TO_ADDR_01}"</textln>
       <textln>BILL_TO_ADDR_02="${sql2.BILL_TO_ADDR_02}"</textln>
       <textln>SHIP_TO_CUST_CD="${sql2.SHIP_TO_CUST_CD}"</textln>
       <textln>SHIP_TO_LOC_NM="${sql2.SHIP_TO_LOC_NM_ADDR}"</textln>
       <textln>SHIP_TO_ADDR_01=""</textln>
       <textln>SHIP_TO_ADDR_02=""</textln>
       <condition test="${sql2.SELL_TO_FIRST_REF_CMNT_TXT}" value="" operator="not equal">
	       <textln>SELL_TO_FIRST_REF_CMNT_TXT="${sql2.SELL_TO_FIRST_REF_CMNT_TXT}"</textln>
       </condition>
       <condition test="${sql2.SELL_TO_FIRST_REF_CMNT_TXT}" value="" operator="equal">
	       <textln>SELL_TO_FIRST_REF_CMNT_TXT=""</textln>
       </condition>
   </section>
   <section name="Table Data Section">
       <for variable="sql2">
	  <text>"${C22916}",</text>
	  <text>"${C2265}",</text>
	  <text>"${C4928}",</text>
	  <text>"${C3567}",</text>
	  <condition test="${sql2.EASY_PAC_FLG}" value="Y" operator="equal">
		  <text>"${C23379}",</text>
	  </condition>
	  <condition test="${sql2.EASY_PAC_FLG}" value="Y" operator="not equal">
            <text>"",</text>
	  </condition>
	  <text>"${C22920}",</text>
	  <text>"${C22921}",</text>
	  <text>"${sql2.CPO_WRK_LINE_NUM}",</text>
	  <text>"${sql2.MDSE_CD}",</text>
	  <text>"${sql2.MDSE_NM}",</text>
	  <text>"${sql2.MNF_ITEM_CD}",</text>
	  <text>"${sql2.PKG_UOM_CD}",</text>
	  <text>"${sql2.ORD_QTY_TXT}",</text>
	  <condition test="${sql2.EASY_PAC_FLG}" value="Y" operator="equal">
            <text>"${sql2.EASY_PAC_QTY_TXT}",</text>
	  </condition>
	  <condition test="${sql2.EASY_PAC_FLG}" value="Y" operator="not equal">
            <text>"",</text>
	  </condition>
	  <text>"${sql2.NET_UNIT_PRC_AMT_TXT}",</text>
	  <text>"${sql2.DTL_DEAL_NET_AMT_TXT}",</text>
	  <text>"${sql2.PRC_RULE_DTL_CHRG_NM}",</text>
	  <text>"${sql2.TAX_CHRG_AMT_PRINT_TXT}",</text>
	  <text>"${sql2.TOT_AMT_PRINT_NM}",</text>
	  <text>"${sql2.TOT_AMT_PRINT_TXT}",</text>
      <text>" ",</text>
	  <condition test="${sql2.EASY_PAC_FLG}" value="Y" operator="equal">
            <text>"${C23380}",</text>
            <text>"${sql2.EASY_PAC_MLY_COMIT_QTY_TXT}",</text>
            <text>"${C23381}",</text>
            <text>"${sql2.EASY_PAC_TOT_QTY_TXT}",</text>
            <text>"${C23382}",</text>
            <text>"${sql2.EASY_PAC_SHIP_SUM_QTY_TXT}",</text>
	  </condition>
	  <condition test="${sql2.EASY_PAC_FLG}" value="Y" operator="not equal">
            <text>"",</text>
            <text>"",</text>
            <text>"",</text>
            <text>"",</text>
            <text>"",</text>
            <text>"",</text>
	  </condition>
      <text>" ",</text>
	  <text>"${C934}",</text>
	  <text>"${C23140}",</text>
	  <text>"${sql2.ORD_PRINT_CMNT_TXT}",</text>
	  <condition test="${sql3.item_count}" value="0" operator="equal">
            <text>"",</text>
	  </condition>
	  <condition test="${sql3.item_count}" value="0" operator="not equal">
            <text>" ",</text>
	  </condition>
	  <text>"${sql2.SPLY_QUOTE_CMNT_TXT}",</text>
	  <condition test="${sql8.item_count}" value="0" operator="equal">
            <text>"",</text>
	  </condition>
	  <condition test="${sql8.item_count}" value="0" operator="not equal">
            <text>" ",</text>
	  </condition>
	  <text>"${sql2.SPLY_QUOTE_RPT_NOTE_TXT_01}",</text>
	  <text>"${sql2.SPLY_QUOTE_RPT_NOTE_TXT_02}",</text>
	  <condition test="${sql4.item_count}" value="0" operator="equal">
            <text>"",</text>
	  </condition>
	  <condition test="${sql4.item_count}" value="0" operator="not equal">
            <text>" ",</text>
	  </condition>
	  <text>"${sql2.SPLY_QUOTE_RPT_NOTE_TXT_03}",</text>
	  <text>"${sql2.SPLY_QUOTE_RPT_NOTE_TXT_04}",</text>
	  <condition test="${sql5.item_count}" value="0" operator="equal">
            <text>"",</text>
	  </condition>
	  <condition test="${sql5.item_count}" value="0" operator="not equal">
            <text>" ",</text>
	  </condition>
	  <text>"${sql2.SPLY_QUOTE_RPT_NOTE_TXT_05}",</text>
	  <text>"${sql2.SPLY_QUOTE_RPT_NOTE_TXT_06}",</text>
	  <condition test="${sql6.item_count}" value="0" operator="equal">
            <text>"",</text>
	  </condition>
	  <condition test="${sql6.item_count}" value="0" operator="not equal">
            <text>" ",</text>
	  </condition>
	  <text>"${sql2.SPLY_QUOTE_RPT_NOTE_TXT_07}",</text>
	  <text>"${sql2.SPLY_QUOTE_RPT_NOTE_TXT_08}",</text>
	  <condition test="${sql7.item_count}" value="0" operator="equal">
            <text>"",</text>
	  </condition>
	  <condition test="${sql7.item_count}" value="0" operator="not equal">
            <text>" ",</text>
	  </condition>
	  <text>"${sql2.SPLY_QUOTE_RPT_NOTE_TXT_09}",</text>
	  <text>"${sql2.SPLY_QUOTE_RPT_NOTE_TXT_10}",</text>
	  <condition test="${sql2.SHPG_CMNT_PRINT_CD}" value="1" operator="equal">
            <textln>"${sql2.SHPG_PRINT_CMNT_TXT}"</textln>
	  </condition>
	  <condition test="${sql2.SHPG_CMNT_PRINT_CD}" value="1" operator="not equal">
            <textln>""</textln>
	  </condition>
	</for>    
     </section>

</doc>
<mdatas>
  <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>