<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00" type="sql" value="
	select  count(*) item_count
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'INSRC_RPT_PRINT_RQST_SQ'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql0" type="sql" value="
	select  RPT_PRM_NM,RPT_PRM_VAL_TXT
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'INSRC_RPT_PRINT_RQST_SQ'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<variable name="GLBL_CMPY_CD" type="string" value=""/>
<variable name="INSRC_RPT_PRINT_RQST_SQ" type="string" value=""/>
<variable name="INTL_LANG_VAL_COL_NM" type="string" value=""/>

<variable name="CM" type="string" value=""/>
<variable name="CP" type="string" value=""/>
<variable name="C1359" type="string" value=""/>
<variable name="C23069" type="string" value=""/>
<variable name="C23070" type="string" value=""/>
<variable name="C23071_CSA" type="string" value=""/>
<variable name="C18778_CSA" type="string" value=""/>
<variable name="C2421_CSA" type="string" value=""/>
<variable name="C3878_CSA" type="string" value=""/>
<variable name="C2265_CSA" type="string" value=""/>
<variable name="C23072_CSA" type="string" value=""/>
<variable name="C23073_CSA" type="string" value=""/>
<variable name="C7207_CSA" type="string" value=""/>
<variable name="C3567_CSA" type="string" value=""/>
<variable name="C23074_CSA" type="string" value=""/>
<variable name="C23075_CSA" type="string" value=""/>
<variable name="C23076_CSA" type="string" value=""/>
<variable name="C23077" type="string" value=""/>
<variable name="C23071_3PL" type="string" value=""/>
<variable name="C18778_3PL" type="string" value=""/>
<variable name="C2421_3PL" type="string" value=""/>
<variable name="C3878_3PL" type="string" value=""/>
<variable name="C2265_3PL" type="string" value=""/>
<variable name="C23072_3PL" type="string" value=""/>
<variable name="C23073_3PL" type="string" value=""/>
<variable name="C7207_3PL" type="string" value=""/>
<variable name="C3567_3PL" type="string" value=""/>
<variable name="C23074_3PL" type="string" value=""/>
<variable name="C23075_3PL" type="string" value=""/>
<variable name="C23076_3PL" type="string" value=""/>
<variable name="C23078" type="string" value=""/>
<variable name="C23071_PR" type="string" value=""/>
<variable name="C23079_PR" type="string" value=""/>
<variable name="C3878_PR" type="string" value=""/>
<variable name="C2265_PR" type="string" value=""/>
<variable name="C23080_PR" type="string" value=""/>
<variable name="C3567_PR" type="string" value=""/>
<variable name="C7207_PR" type="string" value=""/>
<variable name="C4614_PR" type="string" value=""/>
<variable name="C23081_PR" type="string" value=""/>
<variable name="C23082_PR" type="string" value=""/>
<variable name="C6756_PR" type="string" value=""/>
<variable name="C23076_PR" type="string" value=""/>
<variable name="C23083" type="string" value=""/>
<variable name="C23071_LE" type="string" value=""/>
<variable name="C23084_LE" type="string" value=""/>
<variable name="C3878_LE" type="string" value=""/>
<variable name="C2265_LE" type="string" value=""/>
<variable name="C23073_LE" type="string" value=""/>
<variable name="C23085_LE" type="string" value=""/>
<variable name="C23074_LE" type="string" value=""/>
<variable name="C4614_LE" type="string" value=""/>
<variable name="C23086_LE" type="string" value=""/>
<variable name="C4683_LE" type="string" value=""/>
<variable name="C5100_LE" type="string" value=""/>
<variable name="C1760_LE" type="string" value=""/>
<variable name="C23087" type="string" value=""/>
<variable name="C23088" type="string" value=""/>
<variable name="C23089" type="string" value=""/>
<variable name="C23090" type="string" value=""/>
<variable name="C23091" type="string" value=""/>
<variable name="SPACE" type="string" value=" "/>
<variable name="COLON" type="string" value=":"/>

<variable name="count" type="int" value="0"/>


<variable name="sql01" type="sql" value="
SELECT count(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('m','p','1359','23069','23070','23071','18778','2421','3878','2265','23072','23073','7207','3567','23074','23075','23076','23077','23078','23079','23080','4614','23081','23082','6756','23083','23084','23085','23086','4683','5100','1760','23087','23088','23089','23090','23091')
"/>

<variable name="sql1" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('m','p','1359','23069','23070','23071','18778','2421','3878','2265','23072','23073','7207','3567','23074','23075','23076','23077','23078','23079','23080','4614','23081','23082','6756','23083','23084','23085','23086','4683','5100','1760','23087','23088','23089','23090','23091')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>


<variable name="sql02" type="sql" value="
SELECT count(*) item_count
FROM INSRC_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.INSRC_RPT_PRINT_RQST_SQ = ${INSRC_RPT_PRINT_RQST_SQ}
AND A.CSA_PRCH_REQ_NUM IS NOT NULL
"/>


<variable name="sql2" type="sql" value="
SELECT A.INSRC_RPT_TS_DPLY_TXT
,A.FIRST_OTH_LINE_ADDR
,A.SCD_THIRD_FRTH_LINE_ADDR
,A.FIFTH_LINE_ADDR
,A.RTL_WH_NM
,A.CSA_PRCH_REQ_NUM
,A.CSA_PRCH_REQ_DPLY_LINE_NUM
,A.CSA_ORIG_RQST_MDSE_CD
,A.CSA_MDSE_CD
,A.CSA_PRCH_REQ_TXT_01
,A.CSA_PRCH_REQ_TXT_02
,A.CSA_SRC_RTL_WH_DPLY_NM
,A.CSA_SRC_RTL_SWH_CD
,A.CSA_DEST_RTL_WH_DPLY_NM
FROM INSRC_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.INSRC_RPT_PRINT_RQST_SQ = ${INSRC_RPT_PRINT_RQST_SQ}
AND A.CSA_PRCH_REQ_NUM IS NOT NULL
ORDER BY A.INSRC_RPT_LINE_NUM
"/>


<variable name="sql03" type="sql" value="
SELECT count(*) item_count
FROM INSRC_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.INSRC_RPT_PRINT_RQST_SQ = ${INSRC_RPT_PRINT_RQST_SQ}
AND A.PRCH_REQ_NUM IS NOT NULL
"/>


<variable name="sql3" type="sql" value="
SELECT A.INSRC_RPT_TS_DPLY_TXT
,A.FIRST_OTH_LINE_ADDR
,A.SCD_THIRD_FRTH_LINE_ADDR
,A.FIFTH_LINE_ADDR
,A.RTL_WH_NM
,A.PRCH_REQ_NUM
,A.PRCH_REQ_DPLY_LINE_NUM
,A.ORIG_RQST_MDSE_CD
,A.MDSE_CD
,A.PRCH_REQ_TXT_01
,A.PRCH_REQ_TXT_02
,A.SRC_RTL_WH_DPLY_NM
,A.SRC_RTL_SWH_CD
,A.DEST_RTL_WH_DPLY_NM
FROM INSRC_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.INSRC_RPT_PRINT_RQST_SQ = ${INSRC_RPT_PRINT_RQST_SQ}
AND A.PRCH_REQ_NUM IS NOT NULL
ORDER BY A.INSRC_RPT_LINE_NUM
"/>


<variable name="sql04" type="sql" value="
SELECT count(*) item_count
FROM INSRC_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.INSRC_RPT_PRINT_RQST_SQ = ${INSRC_RPT_PRINT_RQST_SQ}
AND A.PR_PRCH_REQ_NUM IS NOT NULL
"/>


<variable name="sql4" type="sql" value="
SELECT A.INSRC_RPT_TS_DPLY_TXT
,A.FIRST_OTH_LINE_ADDR
,A.SCD_THIRD_FRTH_LINE_ADDR
,A.FIFTH_LINE_ADDR
,A.RTL_WH_NM
,A.PR_PRCH_REQ_NUM
,A.PR_PRCH_REQ_DPLY_LINE_NUM
,A.PR_ORIG_RQST_MDSE_CD
,A.PR_MDSE_CD
,A.PR_PRCH_REQ_TXT_01
,A.PR_PRCH_REQ_TXT_02
,A.PR_DPLY_VND_NM_01
,A.PR_DPLY_VND_NM_02
,A.PR_INSRC_PRCH_REQ_NUM
,A.PR_INSRC_PO_ORD_NUM
,A.PR_DEST_RTL_WH_DPLY_NM
FROM INSRC_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.INSRC_RPT_PRINT_RQST_SQ = ${INSRC_RPT_PRINT_RQST_SQ}
AND A.PR_PRCH_REQ_NUM IS NOT NULL
ORDER BY A.INSRC_RPT_LINE_NUM
"/>


<variable name="sql05" type="sql" value="
SELECT count(*) item_count
FROM INSRC_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.INSRC_RPT_PRINT_RQST_SQ = ${INSRC_RPT_PRINT_RQST_SQ}
AND A.LE_PRCH_REQ_NUM IS NOT NULL
"/>


<variable name="sql5" type="sql" value="
SELECT A.INSRC_RPT_TS_DPLY_TXT
,A.FIRST_OTH_LINE_ADDR
,A.SCD_THIRD_FRTH_LINE_ADDR
,A.FIFTH_LINE_ADDR
,A.RTL_WH_NM
,A.LE_PRCH_REQ_NUM
,A.LE_PRCH_REQ_DPLY_LINE_NUM
,A.LE_ORIG_RQST_MDSE_CD
,A.LE_PRCH_REQ_TXT_01
,A.LE_PRCH_REQ_TXT_02
,A.LE_SRC_RTL_WH_DPLY_NM
,A.LE_SRC_RTL_SWH_CD
,A.LE_DEST_RTL_WH_DPLY_NM
,A.LE_PRCH_REQ_REL_ERR_MSG_TXT
FROM INSRC_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.INSRC_RPT_PRINT_RQST_SQ = ${INSRC_RPT_PRINT_RQST_SQ}
AND A.LE_PRCH_REQ_NUM IS NOT NULL
ORDER BY A.INSRC_RPT_LINE_NUM
"/>


<variable name="sql06" type="sql" value="
SELECT count(*) item_count
FROM INSRC_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.INSRC_RPT_PRINT_RQST_SQ = ${INSRC_RPT_PRINT_RQST_SQ}
AND A.CSA_LIST_INSRC_TXT IS NOT NULL
"/>


<variable name="sql6" type="sql" value="
SELECT A.INSRC_RPT_TS_DPLY_TXT
,A.FIRST_OTH_LINE_ADDR
,A.SCD_THIRD_FRTH_LINE_ADDR
,A.FIFTH_LINE_ADDR
,A.RTL_WH_NM
,A.CSA_LIST_INSRC_TXT
,A.CB_LIST_INSRC_TXT
,A.CH_LIST_INSRC_TXT
,A.CUSA_LIST_INSRC_TXT
FROM INSRC_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.INSRC_RPT_PRINT_RQST_SQ = ${INSRC_RPT_PRINT_RQST_SQ}
AND A.CSA_LIST_INSRC_TXT IS NOT NULL
ORDER BY A.INSRC_RPT_LINE_NUM
"/>


<doc encoding="UTF-8">
<condition test="${sql00.item_count}" value="0" operator="equal">
	<error message="no data in Parameter DB"/>
</condition>

<for variable="sql0">
	<condition test="${sql0.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
		<assign variable="GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="INSRC_RPT_PRINT_RQST_SQ" operator="equal">
		<assign variable="INSRC_RPT_PRINT_RQST_SQ" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
		<assign variable="INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
</for>

<condition test="${sql01.item_count}" value="0" operator="equal">
	<error message="no data in Language DB"/>
</condition>

<for variable="sql1">
	<condition test="${sql1.LANG_KEY_CD}" value="m" operator="equal"><assign variable="CM" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="p" operator="equal"><assign variable="CP" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1359" operator="equal"><assign variable="C1359" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23069" operator="equal"><assign variable="C23069" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23070" operator="equal"><assign variable="C23070" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23071" operator="equal"><assign variable="C23071_CSA" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="18778" operator="equal"><assign variable="C18778_CSA" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2421" operator="equal"><assign variable="C2421_CSA" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3878" operator="equal"><assign variable="C3878_CSA" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2265" operator="equal"><assign variable="C2265_CSA" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23072" operator="equal"><assign variable="C23072_CSA" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23073" operator="equal"><assign variable="C23073_CSA" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="7207" operator="equal"><assign variable="C7207_CSA" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3567" operator="equal"><assign variable="C3567_CSA" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23074" operator="equal"><assign variable="C23074_CSA" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23075" operator="equal"><assign variable="C23075_CSA" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23076" operator="equal"><assign variable="C23076_CSA" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23077" operator="equal"><assign variable="C23077" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23071" operator="equal"><assign variable="C23071_3PL" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="18778" operator="equal"><assign variable="C18778_3PL" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2421" operator="equal"><assign variable="C2421_3PL" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3878" operator="equal"><assign variable="C3878_3PL" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2265" operator="equal"><assign variable="C2265_3PL" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23072" operator="equal"><assign variable="C23072_3PL" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23073" operator="equal"><assign variable="C23073_3PL" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="7207" operator="equal"><assign variable="C7207_3PL" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3567" operator="equal"><assign variable="C3567_3PL" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23074" operator="equal"><assign variable="C23074_3PL" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23075" operator="equal"><assign variable="C23075_3PL" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23076" operator="equal"><assign variable="C23076_3PL" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23078" operator="equal"><assign variable="C23078" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23071" operator="equal"><assign variable="C23071_PR" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23079" operator="equal"><assign variable="C23079_PR" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3878" operator="equal"><assign variable="C3878_PR" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2265" operator="equal"><assign variable="C2265_PR" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23080" operator="equal"><assign variable="C23080_PR" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3567" operator="equal"><assign variable="C3567_PR" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="7207" operator="equal"><assign variable="C7207_PR" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4614" operator="equal"><assign variable="C4614_PR" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23081" operator="equal"><assign variable="C23081_PR" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23082" operator="equal"><assign variable="C23082_PR" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="6756" operator="equal"><assign variable="C6756_PR" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23076" operator="equal"><assign variable="C23076_PR" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23083" operator="equal"><assign variable="C23083" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23071" operator="equal"><assign variable="C23071_LE" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23084" operator="equal"><assign variable="C23084_LE" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3878" operator="equal"><assign variable="C3878_LE" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2265" operator="equal"><assign variable="C2265_LE" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23073" operator="equal"><assign variable="C23073_LE" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23085" operator="equal"><assign variable="C23085_LE" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23074" operator="equal"><assign variable="C23074_LE" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4614" operator="equal"><assign variable="C4614_LE" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23086" operator="equal"><assign variable="C23086_LE" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4683" operator="equal"><assign variable="C4683_LE" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="5100" operator="equal"><assign variable="C5100_LE" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1760" operator="equal"><assign variable="C1760_LE" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23087" operator="equal"><assign variable="C23087" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23088" operator="equal"><assign variable="C23088" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23089" operator="equal"><assign variable="C23089" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23090" operator="equal"><assign variable="C23090" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23091" operator="equal"><assign variable="C23091" value="${sql1.LANGUAGE_LABEL}"/></condition>
</for>

<!-- <condition test="${sql02.item_count}" value="0" operator="equal"> -->
<!--  <error message="no data in DB"/> -->
<!-- </condition> -->

<section name="Control Section">
	<textln>VERSION=8.1</textln>
</section>
<section name="Form Section">
	<textln>FORM=..\..\forms\NPAF0040.fcp</textln>
</section>

<section name="Table Data Section">
	<condition test="${sql02.item_count}" value="0" operator="not equal">
		<assign variable="count" value="1" />
		<for variable="sql2">
			<text>"${CM}",</text>
			<text>"${CP}",</text>
			<text>"${C1359}",</text>
			<text>"${sql2.INSRC_RPT_TS_DPLY_TXT}",</text>
			<text>"${sql2.FIRST_OTH_LINE_ADDR}",</text>
			<text>"${sql2.SCD_THIRD_FRTH_LINE_ADDR}",</text>
			<text>"${sql2.FIFTH_LINE_ADDR}",</text>
			<text>"${sql2.RTL_WH_NM}",</text>
			<text>"${C23069}",</text>
			<condition test="${count}" value="1" operator="equal">
				<text>"${C23070}",</text>
				<text>"${SPACE}",</text>  <!-- CAS_HDR_SPACE -->
				<text>"${C23071_CSA}",</text>
				<text>"${C18778_CSA}",</text>
				<text>"${C2421_CSA}",</text>
				<text>"${C3878_CSA}",</text>
				<text>"${C2265_CSA}",</text>
				<text>"${C23072_CSA}",</text>
				<text>"${C23073_CSA}",</text>
				<text>"${C7207_CSA}",</text>
				<text>"${C3567_CSA}",</text>
				<text>"${C23074_CSA}",</text>
				<text>"${C23075_CSA}",</text>
				<text>"${C23076_CSA}",</text>
			</condition>
			<condition test="${count}" value="1" operator="not equal">
				<text>"",</text>  <!-- C23070 -->
				<text>"",</text>  <!-- CAS_HDR_SPACE -->
				<text>"",</text>  <!-- C23071_CSA -->
				<text>"",</text>  <!-- C18778_CSA -->
				<text>"",</text>  <!-- C2421_CSA -->
				<text>"",</text>  <!-- C3878_CSA -->
				<text>"",</text>  <!-- C2265_CSA -->
				<text>"",</text>  <!-- C23072_CSA -->
				<text>"",</text>  <!-- C23073_CSA -->
				<text>"",</text>  <!-- C7207_CSA -->
				<text>"",</text>  <!-- C3567_CSA -->
				<text>"",</text>  <!-- C23074_CSA -->
				<text>"",</text>  <!-- C23075_CSA -->
				<text>"",</text>  <!-- C23076_CSA -->
			</condition>
			<text>"${sql2.CSA_PRCH_REQ_NUM}",</text>
			<text>"${sql2.CSA_PRCH_REQ_DPLY_LINE_NUM}",</text>
			<text>"${sql2.CSA_ORIG_RQST_MDSE_CD}",</text>
			<text>"${sql2.CSA_MDSE_CD}",</text>
			<text>"${sql2.CSA_PRCH_REQ_TXT_01}",</text>
			<text>"${sql2.CSA_PRCH_REQ_TXT_02}",</text>
			<text>"${sql2.CSA_SRC_RTL_WH_DPLY_NM}",</text>
			<text>"${sql2.CSA_SRC_RTL_SWH_CD}",</text>
			<text>"${sql2.CSA_DEST_RTL_WH_DPLY_NM}",</text>
			<condition test="${count}" value="${sql02.item_count}" operator="not equal">
				<text>"",</text>  <!-- CAS_FTR_SPACE -->
				<text>"",</text>  <!-- CAS_FTR_LINE -->
			</condition>
			<condition test="${count}" value="${sql02.item_count}" operator="equal">
				<condition test="${sql03.item_count}" value="0" operator="not equal">
					<text>"${SPACE}",</text>  <!-- CAS_FTR_SPACE -->
					<text>"${SPACE}",</text>  <!-- CAS_FTR_LINE -->
				</condition>
				<condition test="${sql03.item_count}" value="0" operator="equal">
					<condition test="${sql04.item_count}" value="0" operator="not equal">
						<text>"${SPACE}",</text>  <!-- CAS_FTR_SPACE -->
						<text>"${SPACE}",</text>  <!-- CAS_FTR_LINE -->
					</condition>
					<condition test="${sql04.item_count}" value="0" operator="equal">
						<condition test="${sql05.item_count}" value="0" operator="not equal">
							<text>"${SPACE}",</text>  <!-- CAS_FTR_SPACE -->
							<text>"${SPACE}",</text>  <!-- CAS_FTR_LINE -->
						</condition>
						<condition test="${sql05.item_count}" value="0" operator="equal">
							<text>"${SPACE}",</text>  <!-- CAS_FTR_SPACE -->
							<text>"",</text>  <!-- CAS_FTR_LINE -->
						</condition>
					</condition>
				</condition>
			</condition>
			<text>"",</text>  <!-- C23077 -->
			<text>"",</text>  <!-- 3PL_HDR_SPACE -->
			<text>"",</text>  <!-- C23071_3PL -->
			<text>"",</text>  <!-- C18778_3PL -->
			<text>"",</text>  <!-- C2421_3PL -->
			<text>"",</text>  <!-- C3878_3PL -->
			<text>"",</text>  <!-- C2265_3PL -->
			<text>"",</text>  <!-- C23072_3PL -->
			<text>"",</text>  <!-- C23073_3PL -->
			<text>"",</text>  <!-- C7207_3PL -->
			<text>"",</text>  <!-- C3567_3PL -->
			<text>"",</text>  <!-- C23074_3PL -->
			<text>"",</text>  <!-- C23075_3PL -->
			<text>"",</text>  <!-- C23076_3PL -->
			<text>"",</text>  <!-- PRCH_REQ_NUM -->
			<text>"",</text>  <!-- PRCH_REQ_DPLY_LINE_NUM -->
			<text>"",</text>  <!-- ORIG_RQST_MDSE_CD -->
			<text>"",</text>  <!-- MDSE_CD -->
			<text>"",</text>  <!-- PRCH_REQ_TXT_01 -->
			<text>"",</text>  <!-- PRCH_REQ_TXT_02 -->
			<text>"",</text>  <!-- SRC_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- SRC_RTL_SWH_CD -->
			<text>"",</text>  <!-- DEST_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- 3PL_FTR_SPACE -->
			<text>"",</text>  <!-- 3PL_FTR_LINE -->
			<text>"",</text>  <!-- C23078 -->
			<text>"",</text>  <!-- PR_HDR_SPACE -->
			<text>"",</text>  <!-- C23071_PR -->
			<text>"",</text>  <!-- C23079_PR -->
			<text>"",</text>  <!-- C3878_PR -->
			<text>"",</text>  <!-- C2265_PR -->
			<text>"",</text>  <!-- C23080_PR -->
			<text>"",</text>  <!-- C3567_PR -->
			<text>"",</text>  <!-- C7207_PR -->
			<text>"",</text>  <!-- C4614_PR -->
			<text>"",</text>  <!-- C23081_PR -->
			<text>"",</text>  <!-- C23082_PR -->
			<text>"",</text>  <!-- C6756_PR -->
			<text>"",</text>  <!-- C23076_PR -->
			<text>"",</text>  <!-- PR_PRCH_REQ_NUM -->
			<text>"",</text>  <!-- PR_PRCH_REQ_DPLY_LINE_NUM -->
			<text>"",</text>  <!-- PR_ORIG_RQST_MDSE_CD -->
			<text>"",</text>  <!-- PR_MDSE_CD -->
			<text>"",</text>  <!-- PR_PRCH_REQ_TXT_01 -->
			<text>"",</text>  <!-- PR_PRCH_REQ_TXT_02 -->
			<text>"",</text>  <!-- PR_DPLY_VND_NM_01 -->
			<text>"",</text>  <!-- PR_DPLY_VND_NM_02 -->
			<text>"",</text>  <!-- PR_INSRC_PRCH_REQ_NUM -->
			<text>"",</text>  <!-- PR_INSRC_PO_ORD_NUM -->
			<text>"",</text>  <!-- PR_DEST_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- PR_FTR_SPACE -->
			<text>"",</text>  <!-- PR_FTR_LINE -->
			<text>"",</text>  <!-- C23083 -->
			<text>"",</text>  <!-- LE_HDR_SPACE -->
			<text>"",</text>  <!-- C23071_LE -->
			<text>"",</text>  <!-- C23084_LE -->
			<text>"",</text>  <!-- C3878_LE -->
			<text>"",</text>  <!-- C2265_LE -->
			<text>"",</text>  <!-- C23073_LE -->
			<text>"",</text>  <!-- C23085_LE -->
			<text>"",</text>  <!-- C23074_LE -->
			<text>"",</text>  <!-- C4614_LE -->
			<text>"",</text>  <!-- C23086_LE -->
			<text>"",</text>  <!-- C4683_LE -->
			<text>"",</text>  <!-- C5100_LE -->
			<text>"",</text>  <!-- C1760_LE -->
			<text>"",</text>  <!-- LE_PRCH_REQ_NUM -->
			<text>"",</text>  <!-- LE_PRCH_REQ_DPLY_LINE_NUM -->
			<text>"",</text>  <!-- LE_ORIG_RQST_MDSE_CD -->
			<text>"",</text>  <!-- LE_PRCH_REQ_TXT_01 -->
			<text>"",</text>  <!-- LE_PRCH_REQ_TXT_02 -->
			<text>"",</text>  <!-- LE_SRC_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- LE_SRC_RTL_SWH_CD -->
			<text>"",</text>  <!-- LE_DEST_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- LE_PRCH_REQ_REL_ERR_MSG_TXT -->
			<text>"",</text>  <!-- LE_FTR_SPACE -->
			<text>"",</text>  <!-- SUMMARY_SPACE -->
			<text>"",</text>  <!-- SUMMARY_COLON -->
			<text>"",</text>  <!-- C23087 -->
			<text>"",</text>  <!-- C23088 -->
			<text>"",</text>  <!-- C23089 -->
			<text>"",</text>  <!-- C23090 -->
			<text>"",</text>  <!-- C23091 -->
			<text>"",</text>  <!-- CSA_LIST_INSRC_TXT -->
			<text>"",</text>  <!-- CB_LIST_INSRC_TXT -->
			<text>"",</text>  <!-- CH_LIST_INSRC_TXT -->
			<textln>""</textln>  <!-- CUSA_LIST_INSRC_TXT -->
			<assign variable="count" value="${count} + 1"/>
		</for>
	</condition>
	<condition test="${sql03.item_count}" value="0" operator="not equal">
		<assign variable="count" value="1" />
		<for variable="sql3">
			<text>"${CM}",</text>
			<text>"${CP}",</text>
			<text>"${C1359}",</text>
			<text>"${sql3.INSRC_RPT_TS_DPLY_TXT}",</text>
			<text>"${sql3.FIRST_OTH_LINE_ADDR}",</text>
			<text>"${sql3.SCD_THIRD_FRTH_LINE_ADDR}",</text>
			<text>"${sql3.FIFTH_LINE_ADDR}",</text>
			<text>"${sql3.RTL_WH_NM}",</text>
			<text>"${C23069}",</text>
			<text>"",</text>  <!-- C23070 -->
			<text>"",</text>  <!-- CAS_HDR_SPACE -->
			<text>"",</text>  <!-- C23071_CSA -->
			<text>"",</text>  <!-- C18778_CSA -->
			<text>"",</text>  <!-- C2421_CSA -->
			<text>"",</text>  <!-- C3878_CSA -->
			<text>"",</text>  <!-- C2265_CSA -->
			<text>"",</text>  <!-- C23072_CSA -->
			<text>"",</text>  <!-- C23073_CSA -->
			<text>"",</text>  <!-- C7207_CSA -->
			<text>"",</text>  <!-- C3567_CSA -->
			<text>"",</text>  <!-- C23074_CSA -->
			<text>"",</text>  <!-- C23075_CSA -->
			<text>"",</text>  <!-- C23076_CSA -->
			<text>"",</text>  <!-- CSA_PRCH_REQ_NUM -->
			<text>"",</text>  <!-- CSA_PRCH_REQ_DPLY_LINE_NUM -->
			<text>"",</text>  <!-- CSA_ORIG_RQST_MDSE_CD -->
			<text>"",</text>  <!-- CSA_MDSE_CD -->
			<text>"",</text>  <!-- CSA_PRCH_REQ_TXT_01 -->
			<text>"",</text>  <!-- CSA_PRCH_REQ_TXT_02 -->
			<text>"",</text>  <!-- CSA_SRC_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- CSA_SRC_RTL_SWH_CD -->
			<text>"",</text>  <!-- CSA_DEST_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- CAS_FTR_SPACE -->
			<text>"",</text>  <!-- CAS_FTR_LINE -->
			<condition test="${count}" value="1" operator="equal">
				<text>"${C23077}",</text>  <!-- C23077 -->
				<text>"${SPACE}",</text>  <!-- 3PL_HDR_SPACE -->
				<text>"${C23071_3PL}",</text>  <!-- C23071_3PL -->
				<text>"${C18778_3PL}",</text>  <!-- C18778_3PL -->
				<text>"${C2421_3PL}",</text>  <!-- C2421_3PL -->
				<text>"${C3878_3PL}",</text>  <!-- C3878_3PL -->
				<text>"${C2265_3PL}",</text>  <!-- C2265_3PL -->
				<text>"${C23072_3PL}",</text>  <!-- C23072_3PL -->
				<text>"${C23073_3PL}",</text>  <!-- C23073_3PL -->
				<text>"${C7207_3PL}",</text>  <!-- C7207_3PL -->
				<text>"${C3567_3PL}",</text>  <!-- C3567_3PL -->
				<text>"${C23074_3PL}",</text>  <!-- C23074_3PL -->
				<text>"${C23075_3PL}",</text>  <!-- C23075_3PL -->
				<text>"${C23076_3PL}",</text>  <!-- C23076_3PL -->
			</condition>
			<condition test="${count}" value="1" operator="not equal">
				<text>"",</text>  <!-- C23077 -->
				<text>"",</text>  <!-- 3PL_HDR_SPACE -->
				<text>"",</text>  <!-- C23071_3PL -->
				<text>"",</text>  <!-- C18778_3PL -->
				<text>"",</text>  <!-- C2421_3PL -->
				<text>"",</text>  <!-- C3878_3PL -->
				<text>"",</text>  <!-- C2265_3PL -->
				<text>"",</text>  <!-- C23072_3PL -->
				<text>"",</text>  <!-- C23073_3PL -->
				<text>"",</text>  <!-- C7207_3PL -->
				<text>"",</text>  <!-- C3567_3PL -->
				<text>"",</text>  <!-- C23074_3PL -->
				<text>"",</text>  <!-- C23075_3PL -->
				<text>"",</text>  <!-- C23076_3PL -->
			</condition>
			<text>"${sql3.PRCH_REQ_NUM}",</text>  <!-- PRCH_REQ_NUM -->
			<text>"${sql3.PRCH_REQ_DPLY_LINE_NUM}",</text>  <!-- PRCH_REQ_DPLY_LINE_NUM -->
			<text>"${sql3.ORIG_RQST_MDSE_CD}",</text>  <!-- ORIG_RQST_MDSE_CD -->
			<text>"${sql3.MDSE_CD}",</text>  <!-- MDSE_CD -->
			<text>"${sql3.PRCH_REQ_TXT_01}",</text>  <!-- PRCH_REQ_TXT_01 -->
			<text>"${sql3.PRCH_REQ_TXT_02}",</text>  <!-- PRCH_REQ_TXT_02 -->
			<text>"${sql3.SRC_RTL_WH_DPLY_NM}",</text>  <!-- SRC_RTL_WH_DPLY_NM -->
			<text>"${sql3.SRC_RTL_SWH_CD}",</text>  <!-- SRC_RTL_SWH_CD -->
			<text>"${sql3.DEST_RTL_WH_DPLY_NM}",</text>  <!-- DEST_RTL_WH_DPLY_NM -->
			<condition test="${count}" value="${sql03.item_count}" operator="not equal">
				<text>"",</text>  <!-- 3PL_FTR_SPACE -->
				<text>"",</text>  <!-- 3PL_FTR_LINE -->
			</condition>
			<condition test="${count}" value="${sql03.item_count}" operator="equal">
				<condition test="${sql04.item_count}" value="0" operator="not equal">
					<text>"${SPACE}",</text>  <!-- 3PL_FTR_SPACE -->
					<text>"${SPACE}",</text>  <!-- 3PL_FTR_LINE -->
				</condition>
				<condition test="${sql04.item_count}" value="0" operator="equal">
					<condition test="${sql05.item_count}" value="0" operator="not equal">
						<text>"${SPACE}",</text>  <!-- 3PL_FTR_SPACE -->
						<text>"${SPACE}",</text>  <!-- 3PL_FTR_LINE -->
					</condition>
					<condition test="${sql05.item_count}" value="0" operator="equal">
						<text>"${SPACE}",</text>  <!-- 3PL_FTR_SPACE -->
						<text>"",</text>  <!-- 3PL_FTR_LINE -->
					</condition>
				</condition>
			</condition>
			<text>"",</text>  <!-- C23078 -->
			<text>"",</text>  <!-- PR_HDR_SPACE -->
			<text>"",</text>  <!-- C23071_PR -->
			<text>"",</text>  <!-- C23079_PR -->
			<text>"",</text>  <!-- C3878_PR -->
			<text>"",</text>  <!-- C2265_PR -->
			<text>"",</text>  <!-- C23080_PR -->
			<text>"",</text>  <!-- C3567_PR -->
			<text>"",</text>  <!-- C7207_PR -->
			<text>"",</text>  <!-- C4614_PR -->
			<text>"",</text>  <!-- C23081_PR -->
			<text>"",</text>  <!-- C23082_PR -->
			<text>"",</text>  <!-- C6756_PR -->
			<text>"",</text>  <!-- C23076_PR -->
			<text>"",</text>  <!-- PR_PRCH_REQ_NUM -->
			<text>"",</text>  <!-- PR_PRCH_REQ_DPLY_LINE_NUM -->
			<text>"",</text>  <!-- PR_ORIG_RQST_MDSE_CD -->
			<text>"",</text>  <!-- PR_MDSE_CD -->
			<text>"",</text>  <!-- PR_PRCH_REQ_TXT_01 -->
			<text>"",</text>  <!-- PR_PRCH_REQ_TXT_02 -->
			<text>"",</text>  <!-- PR_DPLY_VND_NM_01 -->
			<text>"",</text>  <!-- PR_DPLY_VND_NM_02 -->
			<text>"",</text>  <!-- PR_INSRC_PRCH_REQ_NUM -->
			<text>"",</text>  <!-- PR_INSRC_PO_ORD_NUM -->
			<text>"",</text>  <!-- PR_DEST_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- PR_FTR_SPACE -->
			<text>"",</text>  <!-- PR_FTR_LINE -->
			<text>"",</text>  <!-- C23083 -->
			<text>"",</text>  <!-- LE_HDR_SPACE -->
			<text>"",</text>  <!-- C23071_LE -->
			<text>"",</text>  <!-- C23084_LE -->
			<text>"",</text>  <!-- C3878_LE -->
			<text>"",</text>  <!-- C2265_LE -->
			<text>"",</text>  <!-- C23073_LE -->
			<text>"",</text>  <!-- C23085_LE -->
			<text>"",</text>  <!-- C23074_LE -->
			<text>"",</text>  <!-- C4614_LE -->
			<text>"",</text>  <!-- C23086_LE -->
			<text>"",</text>  <!-- C4683_LE -->
			<text>"",</text>  <!-- C5100_LE -->
			<text>"",</text>  <!-- C1760_LE -->
			<text>"",</text>  <!-- LE_PRCH_REQ_NUM -->
			<text>"",</text>  <!-- LE_PRCH_REQ_DPLY_LINE_NUM -->
			<text>"",</text>  <!-- LE_ORIG_RQST_MDSE_CD -->
			<text>"",</text>  <!-- LE_PRCH_REQ_TXT_01 -->
			<text>"",</text>  <!-- LE_PRCH_REQ_TXT_02 -->
			<text>"",</text>  <!-- LE_SRC_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- LE_SRC_RTL_SWH_CD -->
			<text>"",</text>  <!-- LE_DEST_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- LE_PRCH_REQ_REL_ERR_MSG_TXT -->
			<text>"",</text>  <!-- LE_FTR_SPACE -->
			<text>"",</text>  <!-- SUMMARY_SPACE -->
			<text>"",</text>  <!-- SUMMARY_COLON -->
			<text>"",</text>  <!-- C23087 -->
			<text>"",</text>  <!-- C23088 -->
			<text>"",</text>  <!-- C23089 -->
			<text>"",</text>  <!-- C23090 -->
			<text>"",</text>  <!-- C23091 -->
			<text>"",</text>  <!-- CSA_LIST_INSRC_TXT -->
			<text>"",</text>  <!-- CB_LIST_INSRC_TXT -->
			<text>"",</text>  <!-- CH_LIST_INSRC_TXT -->
			<textln>""</textln>  <!-- CUSA_LIST_INSRC_TXT -->
			<assign variable="count" value="${count} + 1"/>
		</for>
	</condition>
	<condition test="${sql04.item_count}" value="0" operator="not equal">
		<assign variable="count" value="1" />
		<for variable="sql4">
			<text>"${CM}",</text>
			<text>"${CP}",</text>
			<text>"${C1359}",</text>
			<text>"${sql4.INSRC_RPT_TS_DPLY_TXT}",</text>
			<text>"${sql4.FIRST_OTH_LINE_ADDR}",</text>
			<text>"${sql4.SCD_THIRD_FRTH_LINE_ADDR}",</text>
			<text>"${sql4.FIFTH_LINE_ADDR}",</text>
			<text>"${sql4.RTL_WH_NM}",</text>
			<text>"${C23069}",</text>
			<text>"",</text>  <!-- C23070 -->
			<text>"",</text>  <!-- CAS_HDR_SPACE -->
			<text>"",</text>  <!-- C23071_CSA -->
			<text>"",</text>  <!-- C18778_CSA -->
			<text>"",</text>  <!-- C2421_CSA -->
			<text>"",</text>  <!-- C3878_CSA -->
			<text>"",</text>  <!-- C2265_CSA -->
			<text>"",</text>  <!-- C23072_CSA -->
			<text>"",</text>  <!-- C23073_CSA -->
			<text>"",</text>  <!-- C7207_CSA -->
			<text>"",</text>  <!-- C3567_CSA -->
			<text>"",</text>  <!-- C23074_CSA -->
			<text>"",</text>  <!-- C23075_CSA -->
			<text>"",</text>  <!-- C23076_CSA -->
			<text>"",</text>  <!-- CSA_PRCH_REQ_NUM -->
			<text>"",</text>  <!-- CSA_PRCH_REQ_DPLY_LINE_NUM -->
			<text>"",</text>  <!-- CSA_ORIG_RQST_MDSE_CD -->
			<text>"",</text>  <!-- CSA_MDSE_CD -->
			<text>"",</text>  <!-- CSA_PRCH_REQ_TXT_01 -->
			<text>"",</text>  <!-- CSA_PRCH_REQ_TXT_02 -->
			<text>"",</text>  <!-- CSA_SRC_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- CSA_SRC_RTL_SWH_CD -->
			<text>"",</text>  <!-- CSA_DEST_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- CAS_FTR_SPACE -->
			<text>"",</text>  <!-- CAS_FTR_LINE -->
			<text>"",</text>  <!-- C23077 -->
			<text>"",</text>  <!-- 3PL_HDR_SPACE -->
			<text>"",</text>  <!-- C23071_3PL -->
			<text>"",</text>  <!-- C18778_3PL -->
			<text>"",</text>  <!-- C2421_3PL -->
			<text>"",</text>  <!-- C3878_3PL -->
			<text>"",</text>  <!-- C2265_3PL -->
			<text>"",</text>  <!-- C23072_3PL -->
			<text>"",</text>  <!-- C23073_3PL -->
			<text>"",</text>  <!-- C7207_3PL -->
			<text>"",</text>  <!-- C3567_3PL -->
			<text>"",</text>  <!-- C23074_3PL -->
			<text>"",</text>  <!-- C23075_3PL -->
			<text>"",</text>  <!-- C23076_3PL -->
			<text>"",</text>  <!-- PRCH_REQ_NUM -->
			<text>"",</text>  <!-- PRCH_REQ_DPLY_LINE_NUM -->
			<text>"",</text>  <!-- ORIG_RQST_MDSE_CD -->
			<text>"",</text>  <!-- MDSE_CD -->
			<text>"",</text>  <!-- PRCH_REQ_TXT_01 -->
			<text>"",</text>  <!-- PRCH_REQ_TXT_02 -->
			<text>"",</text>  <!-- SRC_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- SRC_RTL_SWH_CD -->
			<text>"",</text>  <!-- DEST_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- 3PL_FTR_SPACE -->
			<text>"",</text>  <!-- 3PL_FTR_LINE -->
			<condition test="${count}" value="1" operator="equal">
				<text>"${C23078}",</text>  <!-- C23078 -->
				<text>"${SPACE}",</text>  <!-- PR_HDR_SPACE -->
				<text>"${C23071_PR}",</text>  <!-- C23071_PR -->
				<text>"${C23079_PR}",</text>  <!-- C23079_PR -->
				<text>"${C3878_PR}",</text>  <!-- C3878_PR -->
				<text>"${C2265_PR}",</text>  <!-- C2265_PR -->
				<text>"${C23080_PR}",</text>  <!-- C23080_PR -->
				<text>"${C3567_PR}",</text>  <!-- C3567_PR -->
				<text>"${C7207_PR}",</text>  <!-- C7207_PR -->
				<text>"${C4614_PR}",</text>  <!-- C4614_PR -->
				<text>"${C23081_PR}",</text>  <!-- C23081_PR -->
				<text>"${C23082_PR}",</text>  <!-- C23082_PR -->
				<text>"${C6756_PR}",</text>  <!-- C6756_PR -->
				<text>"${C23076_PR}",</text>  <!-- C23076_PR -->
			</condition>
			<condition test="${count}" value="1" operator="not equal">
				<text>"",</text>  <!-- C23078 -->
				<text>"",</text>  <!-- PR_HDR_SPACE -->
				<text>"",</text>  <!-- C23071_PR -->
				<text>"",</text>  <!-- C23079_PR -->
				<text>"",</text>  <!-- C3878_PR -->
				<text>"",</text>  <!-- C2265_PR -->
				<text>"",</text>  <!-- C23080_PR -->
				<text>"",</text>  <!-- C3567_PR -->
				<text>"",</text>  <!-- C7207_PR -->
				<text>"",</text>  <!-- C4614_PR -->
				<text>"",</text>  <!-- C23081_PR -->
				<text>"",</text>  <!-- C23082_PR -->
				<text>"",</text>  <!-- C6756_PR -->
				<text>"",</text>  <!-- C23076_PR -->
			</condition>
			<text>"${sql4.PR_PRCH_REQ_NUM}",</text>  <!-- PR_PRCH_REQ_NUM -->
			<text>"${sql4.PR_PRCH_REQ_DPLY_LINE_NUM}",</text>  <!-- PR_PRCH_REQ_DPLY_LINE_NUM -->
			<text>"${sql4.PR_ORIG_RQST_MDSE_CD}",</text>  <!-- PR_ORIG_RQST_MDSE_CD -->
			<text>"${sql4.PR_MDSE_CD}",</text>  <!-- PR_MDSE_CD -->
			<text>"${sql4.PR_PRCH_REQ_TXT_01}",</text>  <!-- PR_PRCH_REQ_TXT_01 -->
			<text>"${sql4.PR_PRCH_REQ_TXT_02}",</text>  <!-- PR_PRCH_REQ_TXT_02 -->
			<text>"${sql4.PR_DPLY_VND_NM_01}",</text>  <!-- PR_DPLY_VND_NM_01 -->
			<text>"${sql4.PR_DPLY_VND_NM_02}",</text>  <!-- PR_DPLY_VND_NM_02 -->
			<text>"${sql4.PR_INSRC_PRCH_REQ_NUM}",</text>  <!-- PR_INSRC_PRCH_REQ_NUM -->
			<text>"${sql4.PR_INSRC_PO_ORD_NUM}",</text>  <!-- PR_INSRC_PO_ORD_NUM -->
			<text>"${sql4.PR_DEST_RTL_WH_DPLY_NM}",</text>  <!-- PR_DEST_RTL_WH_DPLY_NM -->
			<condition test="${count}" value="${sql04.item_count}" operator="not equal">
				<text>"",</text>  <!-- PR_FTR_SPACE -->
				<text>"",</text>  <!-- PR_FTR_LINE -->
			</condition>
			<condition test="${count}" value="${sql04.item_count}" operator="equal">
				<condition test="${sql05.item_count}" value="0" operator="not equal">
					<text>"${SPACE}",</text>  <!-- PR_FTR_SPACE -->
					<text>"${SPACE}",</text>  <!-- PR_FTR_LINE -->
				</condition>
				<condition test="${sql05.item_count}" value="0" operator="equal">
					<text>"${SPACE}",</text>  <!-- PR_FTR_SPACE -->
					<text>"",</text>  <!-- PR_FTR_LINE -->
				</condition>
			</condition>
			<text>"",</text>  <!-- C23083 -->
			<text>"",</text>  <!-- LE_HDR_SPACE -->
			<text>"",</text>  <!-- C23071_LE -->
			<text>"",</text>  <!-- C23084_LE -->
			<text>"",</text>  <!-- C3878_LE -->
			<text>"",</text>  <!-- C2265_LE -->
			<text>"",</text>  <!-- C23073_LE -->
			<text>"",</text>  <!-- C23085_LE -->
			<text>"",</text>  <!-- C23074_LE -->
			<text>"",</text>  <!-- C4614_LE -->
			<text>"",</text>  <!-- C23086_LE -->
			<text>"",</text>  <!-- C4683_LE -->
			<text>"",</text>  <!-- C5100_LE -->
			<text>"",</text>  <!-- C1760_LE -->
			<text>"",</text>  <!-- LE_PRCH_REQ_NUM -->
			<text>"",</text>  <!-- LE_PRCH_REQ_DPLY_LINE_NUM -->
			<text>"",</text>  <!-- LE_ORIG_RQST_MDSE_CD -->
			<text>"",</text>  <!-- LE_PRCH_REQ_TXT_01 -->
			<text>"",</text>  <!-- LE_PRCH_REQ_TXT_02 -->
			<text>"",</text>  <!-- LE_SRC_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- LE_SRC_RTL_SWH_CD -->
			<text>"",</text>  <!-- LE_DEST_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- LE_PRCH_REQ_REL_ERR_MSG_TXT -->
			<text>"",</text>  <!-- LE_FTR_SPACE -->
			<text>"",</text>  <!-- SUMMARY_SPACE -->
			<text>"",</text>  <!-- SUMMARY_COLON -->
			<text>"",</text>  <!-- C23087 -->
			<text>"",</text>  <!-- C23088 -->
			<text>"",</text>  <!-- C23089 -->
			<text>"",</text>  <!-- C23090 -->
			<text>"",</text>  <!-- C23091 -->
			<text>"",</text>  <!-- CSA_LIST_INSRC_TXT -->
			<text>"",</text>  <!-- CB_LIST_INSRC_TXT -->
			<text>"",</text>  <!-- CH_LIST_INSRC_TXT -->
			<textln>""</textln>  <!-- CUSA_LIST_INSRC_TXT -->
			<assign variable="count" value="${count} + 1"/>
		</for>
	</condition>
	<condition test="${sql05.item_count}" value="0" operator="not equal">
		<assign variable="count" value="1" />
		<for variable="sql5">
			<text>"${CM}",</text>
			<text>"${CP}",</text>
			<text>"${C1359}",</text>
			<text>"${sql5.INSRC_RPT_TS_DPLY_TXT}",</text>
			<text>"${sql5.FIRST_OTH_LINE_ADDR}",</text>
			<text>"${sql5.SCD_THIRD_FRTH_LINE_ADDR}",</text>
			<text>"${sql5.FIFTH_LINE_ADDR}",</text>
			<text>"${sql5.RTL_WH_NM}",</text>
			<text>"${C23069}",</text>
			<text>"",</text>  <!-- C23070 -->
			<text>"",</text>  <!-- CAS_HDR_SPACE -->
			<text>"",</text>  <!-- C23071_CSA -->
			<text>"",</text>  <!-- C18778_CSA -->
			<text>"",</text>  <!-- C2421_CSA -->
			<text>"",</text>  <!-- C3878_CSA -->
			<text>"",</text>  <!-- C2265_CSA -->
			<text>"",</text>  <!-- C23072_CSA -->
			<text>"",</text>  <!-- C23073_CSA -->
			<text>"",</text>  <!-- C7207_CSA -->
			<text>"",</text>  <!-- C3567_CSA -->
			<text>"",</text>  <!-- C23074_CSA -->
			<text>"",</text>  <!-- C23075_CSA -->
			<text>"",</text>  <!-- C23076_CSA -->
			<text>"",</text>  <!-- CSA_PRCH_REQ_NUM -->
			<text>"",</text>  <!-- CSA_PRCH_REQ_DPLY_LINE_NUM -->
			<text>"",</text>  <!-- CSA_ORIG_RQST_MDSE_CD -->
			<text>"",</text>  <!-- CSA_MDSE_CD -->
			<text>"",</text>  <!-- CSA_PRCH_REQ_TXT_01 -->
			<text>"",</text>  <!-- CSA_PRCH_REQ_TXT_02 -->
			<text>"",</text>  <!-- CSA_SRC_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- CSA_SRC_RTL_SWH_CD -->
			<text>"",</text>  <!-- CSA_DEST_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- CAS_FTR_SPACE -->
			<text>"",</text>  <!-- CAS_FTR_LINE -->
			<text>"",</text>  <!-- C23077 -->
			<text>"",</text>  <!-- 3PL_HDR_SPACE -->
			<text>"",</text>  <!-- C23071_3PL -->
			<text>"",</text>  <!-- C18778_3PL -->
			<text>"",</text>  <!-- C2421_3PL -->
			<text>"",</text>  <!-- C3878_3PL -->
			<text>"",</text>  <!-- C2265_3PL -->
			<text>"",</text>  <!-- C23072_3PL -->
			<text>"",</text>  <!-- C23073_3PL -->
			<text>"",</text>  <!-- C7207_3PL -->
			<text>"",</text>  <!-- C3567_3PL -->
			<text>"",</text>  <!-- C23074_3PL -->
			<text>"",</text>  <!-- C23075_3PL -->
			<text>"",</text>  <!-- C23076_3PL -->
			<text>"",</text>  <!-- PRCH_REQ_NUM -->
			<text>"",</text>  <!-- PRCH_REQ_DPLY_LINE_NUM -->
			<text>"",</text>  <!-- ORIG_RQST_MDSE_CD -->
			<text>"",</text>  <!-- MDSE_CD -->
			<text>"",</text>  <!-- PRCH_REQ_TXT_01 -->
			<text>"",</text>  <!-- PRCH_REQ_TXT_02 -->
			<text>"",</text>  <!-- SRC_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- SRC_RTL_SWH_CD -->
			<text>"",</text>  <!-- DEST_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- 3PL_FTR_SPACE -->
			<text>"",</text>  <!-- 3PL_FTR_LINE -->
			<text>"",</text>  <!-- C23078 -->
			<text>"",</text>  <!-- PR_HDR_SPACE -->
			<text>"",</text>  <!-- C23071_PR -->
			<text>"",</text>  <!-- C23079_PR -->
			<text>"",</text>  <!-- C3878_PR -->
			<text>"",</text>  <!-- C2265_PR -->
			<text>"",</text>  <!-- C23080_PR -->
			<text>"",</text>  <!-- C3567_PR -->
			<text>"",</text>  <!-- C7207_PR -->
			<text>"",</text>  <!-- C4614_PR -->
			<text>"",</text>  <!-- C23081_PR -->
			<text>"",</text>  <!-- C23082_PR -->
			<text>"",</text>  <!-- C6756_PR -->
			<text>"",</text>  <!-- C23076_PR -->
			<text>"",</text>  <!-- PR_PRCH_REQ_NUM -->
			<text>"",</text>  <!-- PR_PRCH_REQ_DPLY_LINE_NUM -->
			<text>"",</text>  <!-- PR_ORIG_RQST_MDSE_CD -->
			<text>"",</text>  <!-- PR_MDSE_CD -->
			<text>"",</text>  <!-- PR_PRCH_REQ_TXT_01 -->
			<text>"",</text>  <!-- PR_PRCH_REQ_TXT_02 -->
			<text>"",</text>  <!-- PR_DPLY_VND_NM_01 -->
			<text>"",</text>  <!-- PR_DPLY_VND_NM_02 -->
			<text>"",</text>  <!-- PR_INSRC_PRCH_REQ_NUM -->
			<text>"",</text>  <!-- PR_INSRC_PO_ORD_NUM -->
			<text>"",</text>  <!-- PR_DEST_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- PR_FTR_SPACE -->
			<text>"",</text>  <!-- PR_FTR_LINE -->
			<condition test="${count}" value="1" operator="equal">
				<text>"${C23083}",</text>  <!-- C23083 -->
				<text>"${SPACE}",</text>  <!-- LE_HDR_SPACE -->
				<text>"${C23071_LE}",</text>  <!-- C23071_LE -->
				<text>"${C23084_LE}",</text>  <!-- C23084_LE -->
				<text>"${C3878_LE}",</text>  <!-- C3878_LE -->
				<text>"${C2265_LE}",</text>  <!-- C2265_LE -->
				<text>"${C23073_LE}",</text>  <!-- C23073_LE -->
				<text>"${C23085_LE}",</text>  <!-- C23085_LE -->
				<text>"${C23074_LE}",</text>  <!-- C23074_LE -->
				<text>"${C4614_LE}",</text>  <!-- C4614_LE -->
				<text>"${C23086_LE}",</text>  <!-- C23086_LE -->
				<text>"${C4683_LE}",</text>  <!-- C4683_LE -->
				<text>"${C5100_LE}",</text>  <!-- C5100_LE -->
				<text>"${C1760_LE}",</text>  <!-- C1760_LE -->
			</condition>
			<condition test="${count}" value="1" operator="not equal">
				<text>"",</text>  <!-- C23083 -->
				<text>"",</text>  <!-- LE_HDR_SPACE -->
				<text>"",</text>  <!-- C23071_LE -->
				<text>"",</text>  <!-- C23084_LE -->
				<text>"",</text>  <!-- C3878_LE -->
				<text>"",</text>  <!-- C2265_LE -->
				<text>"",</text>  <!-- C23073_LE -->
				<text>"",</text>  <!-- C23085_LE -->
				<text>"",</text>  <!-- C23074_LE -->
				<text>"",</text>  <!-- C4614_LE -->
				<text>"",</text>  <!-- C23086_LE -->
				<text>"",</text>  <!-- C4683_LE -->
				<text>"",</text>  <!-- C5100_LE -->
				<text>"",</text>  <!-- C1760_LE -->
			</condition>
			<text>"${sql5.LE_PRCH_REQ_NUM}",</text>  <!-- LE_PRCH_REQ_NUM -->
			<text>"${sql5.LE_PRCH_REQ_DPLY_LINE_NUM}",</text>  <!-- LE_PRCH_REQ_DPLY_LINE_NUM -->
			<text>"${sql5.LE_ORIG_RQST_MDSE_CD}",</text>  <!-- LE_ORIG_RQST_MDSE_CD -->
			<text>"${sql5.LE_PRCH_REQ_TXT_01}",</text>  <!-- LE_PRCH_REQ_TXT_01 -->
			<text>"${sql5.LE_PRCH_REQ_TXT_02}",</text>  <!-- LE_PRCH_REQ_TXT_02 -->
			<text>"${sql5.LE_SRC_RTL_WH_DPLY_NM}",</text>  <!-- LE_SRC_RTL_WH_DPLY_NM -->
			<text>"${sql5.LE_SRC_RTL_SWH_CD}",</text>  <!-- LE_SRC_RTL_SWH_CD -->
			<text>"${sql5.LE_DEST_RTL_WH_DPLY_NM}",</text>  <!-- LE_DEST_RTL_WH_DPLY_NM -->
			<text>"${sql5.LE_PRCH_REQ_REL_ERR_MSG_TXT}",</text>  <!-- LE_PRCH_REQ_REL_ERR_MSG_TXT -->
			<condition test="${count}" value="${sql05.item_count}" operator="not equal">
				<text>"",</text>  <!-- LE_FTR_SPACE -->
			</condition>
			<condition test="${count}" value="${sql05.item_count}" operator="equal">
				<text>"${SPACE}",</text>  <!-- LE_FTR_SPACE -->
			</condition>
			<text>"",</text>  <!-- SUMMARY_SPACE -->
			<text>"",</text>  <!-- SUMMARY_COLON -->
			<text>"",</text>  <!-- C23087 -->
			<text>"",</text>  <!-- C23088 -->
			<text>"",</text>  <!-- C23089 -->
			<text>"",</text>  <!-- C23090 -->
			<text>"",</text>  <!-- C23091 -->
			<text>"",</text>  <!-- CSA_LIST_INSRC_TXT -->
			<text>"",</text>  <!-- CB_LIST_INSRC_TXT -->
			<text>"",</text>  <!-- CH_LIST_INSRC_TXT -->
			<textln>""</textln>  <!-- CUSA_LIST_INSRC_TXT -->
			<assign variable="count" value="${count} + 1"/>
		</for>
	</condition>
	<condition test="${sql06.item_count}" value="0" operator="not equal">
		<for variable="sql6">
			<text>"${CM}",</text>
			<text>"${CP}",</text>
			<text>"${C1359}",</text>
			<text>"${sql6.INSRC_RPT_TS_DPLY_TXT}",</text>
			<text>"${sql6.FIRST_OTH_LINE_ADDR}",</text>
			<text>"${sql6.SCD_THIRD_FRTH_LINE_ADDR}",</text>
			<text>"${sql6.FIFTH_LINE_ADDR}",</text>
			<text>"${sql6.RTL_WH_NM}",</text>
			<text>"${C23069}",</text>
			<text>"",</text>  <!-- C23070 -->
			<text>"",</text>  <!-- CAS_HDR_SPACE -->
			<text>"",</text>  <!-- C23071_CSA -->
			<text>"",</text>  <!-- C18778_CSA -->
			<text>"",</text>  <!-- C2421_CSA -->
			<text>"",</text>  <!-- C3878_CSA -->
			<text>"",</text>  <!-- C2265_CSA -->
			<text>"",</text>  <!-- C23072_CSA -->
			<text>"",</text>  <!-- C23073_CSA -->
			<text>"",</text>  <!-- C7207_CSA -->
			<text>"",</text>  <!-- C3567_CSA -->
			<text>"",</text>  <!-- C23074_CSA -->
			<text>"",</text>  <!-- C23075_CSA -->
			<text>"",</text>  <!-- C23076_CSA -->
			<text>"",</text>  <!-- CSA_PRCH_REQ_NUM -->
			<text>"",</text>  <!-- CSA_PRCH_REQ_DPLY_LINE_NUM -->
			<text>"",</text>  <!-- CSA_ORIG_RQST_MDSE_CD -->
			<text>"",</text>  <!-- CSA_MDSE_CD -->
			<text>"",</text>  <!-- CSA_PRCH_REQ_TXT_01 -->
			<text>"",</text>  <!-- CSA_PRCH_REQ_TXT_02 -->
			<text>"",</text>  <!-- CSA_SRC_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- CSA_SRC_RTL_SWH_CD -->
			<text>"",</text>  <!-- CSA_DEST_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- CAS_FTR_SPACE -->
			<text>"",</text>  <!-- CAS_FTR_LINE -->
			<text>"",</text>  <!-- C23077 -->
			<text>"",</text>  <!-- 3PL_HDR_SPACE -->
			<text>"",</text>  <!-- C23071_3PL -->
			<text>"",</text>  <!-- C18778_3PL -->
			<text>"",</text>  <!-- C2421_3PL -->
			<text>"",</text>  <!-- C3878_3PL -->
			<text>"",</text>  <!-- C2265_3PL -->
			<text>"",</text>  <!-- C23072_3PL -->
			<text>"",</text>  <!-- C23073_3PL -->
			<text>"",</text>  <!-- C7207_3PL -->
			<text>"",</text>  <!-- C3567_3PL -->
			<text>"",</text>  <!-- C23074_3PL -->
			<text>"",</text>  <!-- C23075_3PL -->
			<text>"",</text>  <!-- C23076_3PL -->
			<text>"",</text>  <!-- PRCH_REQ_NUM -->
			<text>"",</text>  <!-- PRCH_REQ_DPLY_LINE_NUM -->
			<text>"",</text>  <!-- ORIG_RQST_MDSE_CD -->
			<text>"",</text>  <!-- MDSE_CD -->
			<text>"",</text>  <!-- PRCH_REQ_TXT_01 -->
			<text>"",</text>  <!-- PRCH_REQ_TXT_02 -->
			<text>"",</text>  <!-- SRC_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- SRC_RTL_SWH_CD -->
			<text>"",</text>  <!-- DEST_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- 3PL_FTR_SPACE -->
			<text>"",</text>  <!-- 3PL_FTR_LINE -->
			<text>"",</text>  <!-- C23078 -->
			<text>"",</text>  <!-- PR_HDR_SPACE -->
			<text>"",</text>  <!-- C23071_PR -->
			<text>"",</text>  <!-- C23079_PR -->
			<text>"",</text>  <!-- C3878_PR -->
			<text>"",</text>  <!-- C2265_PR -->
			<text>"",</text>  <!-- C23080_PR -->
			<text>"",</text>  <!-- C3567_PR -->
			<text>"",</text>  <!-- C7207_PR -->
			<text>"",</text>  <!-- C4614_PR -->
			<text>"",</text>  <!-- C23081_PR -->
			<text>"",</text>  <!-- C23082_PR -->
			<text>"",</text>  <!-- C6756_PR -->
			<text>"",</text>  <!-- C23076_PR -->
			<text>"",</text>  <!-- PR_PRCH_REQ_NUM -->
			<text>"",</text>  <!-- PR_PRCH_REQ_DPLY_LINE_NUM -->
			<text>"",</text>  <!-- PR_ORIG_RQST_MDSE_CD -->
			<text>"",</text>  <!-- PR_MDSE_CD -->
			<text>"",</text>  <!-- PR_PRCH_REQ_TXT_01 -->
			<text>"",</text>  <!-- PR_PRCH_REQ_TXT_02 -->
			<text>"",</text>  <!-- PR_DPLY_VND_NM_01 -->
			<text>"",</text>  <!-- PR_DPLY_VND_NM_02 -->
			<text>"",</text>  <!-- PR_INSRC_PRCH_REQ_NUM -->
			<text>"",</text>  <!-- PR_INSRC_PO_ORD_NUM -->
			<text>"",</text>  <!-- PR_DEST_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- PR_FTR_SPACE -->
			<text>"",</text>  <!-- PR_FTR_LINE -->
			<text>"",</text>  <!-- C23083 -->
			<text>"",</text>  <!-- LE_HDR_SPACE -->
			<text>"",</text>  <!-- C23071_LE -->
			<text>"",</text>  <!-- C23084_LE -->
			<text>"",</text>  <!-- C3878_LE -->
			<text>"",</text>  <!-- C2265_LE -->
			<text>"",</text>  <!-- C23073_LE -->
			<text>"",</text>  <!-- C23085_LE -->
			<text>"",</text>  <!-- C23074_LE -->
			<text>"",</text>  <!-- C4614_LE -->
			<text>"",</text>  <!-- C23086_LE -->
			<text>"",</text>  <!-- C4683_LE -->
			<text>"",</text>  <!-- C5100_LE -->
			<text>"",</text>  <!-- C1760_LE -->
			<text>"",</text>  <!-- LE_PRCH_REQ_NUM -->
			<text>"",</text>  <!-- LE_PRCH_REQ_DPLY_LINE_NUM -->
			<text>"",</text>  <!-- LE_ORIG_RQST_MDSE_CD -->
			<text>"",</text>  <!-- LE_PRCH_REQ_TXT_01 -->
			<text>"",</text>  <!-- LE_PRCH_REQ_TXT_02 -->
			<text>"",</text>  <!-- LE_SRC_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- LE_SRC_RTL_SWH_CD -->
			<text>"",</text>  <!-- LE_DEST_RTL_WH_DPLY_NM -->
			<text>"",</text>  <!-- LE_PRCH_REQ_REL_ERR_MSG_TXT -->
			<text>"",</text>  <!-- LE_FTR_SPACE -->
			<text>"${SPACE}",</text>  <!-- SUMMARY_SPACE -->
			<text>"${COLON}",</text>  <!-- SUMMARY_COLON -->
			<text>"${C23087}",</text>  <!-- C23087 -->
			<text>"${C23088}",</text>  <!-- C23088 -->
			<text>"${C23089}",</text>  <!-- C23089 -->
			<text>"${C23090}",</text>  <!-- C23090 -->
			<text>"${C23091}",</text>  <!-- C23091 -->
			<text>"${sql6.CSA_LIST_INSRC_TXT}",</text>  <!-- CSA_LIST_INSRC_TXT -->
			<text>"${sql6.CB_LIST_INSRC_TXT}",</text>  <!-- CB_LIST_INSRC_TXT -->
			<text>"${sql6.CH_LIST_INSRC_TXT}",</text>  <!-- CH_LIST_INSRC_TXT -->
			<textln>"${sql6.CUSA_LIST_INSRC_TXT}"</textln>  <!-- CUSA_LIST_INSRC_TXT -->
		</for>
	</condition>
</section>
</doc>
<mdatas>
	<mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>