<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00" type="sql" value="
	select  count(*) item_count
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'USR_ID'
            or RPT_PRM_NM = 'PROC_START_TS'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql0" type="sql" value="
	select  RPT_PRM_NM,RPT_PRM_VAL_TXT
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'USR_ID'
            or RPT_PRM_NM = 'PROC_START_TS'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<variable name="VA_GLBL_CMPY_CD" type="string" value=""/>
<variable name="VA_USR_ID" type="string" value=""/>
<variable name="VA_PROC_START_TS" type="string" value=""/>
<variable name="VA_INTL_LANG_VAL_COL_NM" type="string" value=""/>

<variable name="C11131" type="string" value=""/>
<variable name="C22510" type="string" value=""/>
<variable name="C5124" type="string" value=""/>
<variable name="C4039" type="string" value=""/>
<variable name="C22511" type="string" value=""/>
<variable name="C22512" type="string" value=""/>
<variable name="C752" type="string" value=""/>
<variable name="C1773" type="string" value=""/>
<variable name="C4306" type="string" value=""/>
<variable name="C22513" type="string" value=""/>
<variable name="C22514" type="string" value=""/>
<variable name="C2702" type="string" value=""/>
<variable name="C22355" type="string" value=""/>
<variable name="C18652" type="string" value=""/>
<variable name="C3674" type="string" value=""/>
<variable name="C22515" type="string" value=""/>
<variable name="C22516" type="string" value=""/>

<variable name="C2835" type="string" value=""/>
<variable name="C3470" type="string" value=""/>
<variable name="C639" type="string" value=""/>
<variable name="C6755" type="string" value=""/>
<variable name="C4453" type="string" value=""/>
<variable name="C3568" type="string" value=""/>
<variable name="C14094" type="string" value=""/>
<variable name="C1987" type="string" value=""/>
<variable name="C22517" type="string" value=""/>
<variable name="C2648" type="string" value=""/>
<variable name="Start_flg" type="int" value="0"/>
<variable name="ii" type="int" value="0"/>
<variable name="PRE_RWS_NUM" type="string" value=""/>

 <variable name="sql01" type="sql" value="
SELECT count(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('11131','22510','5124','4039','22511','22512','752','1773','4306','22513','22514','2702','22355','18652','3674','22515','22516','2835','3470','639','6755','4453','3568','14094','1987','22517','2648')
"/>

 <variable name="sql1" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('11131','22510','5124','4039','22511','22512','752','1773','4306','22513','22514','2702','22355','18652','3674','22515','22516','2835','3470','639','6755','4453','3568','14094','1987','22517','2648')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>

 <variable name="sql02" type="sql" value="
SELECT count(*) item_count
FROM RWS_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${VA_GLBL_CMPY_CD}
AND A.USR_ID = ${VA_USR_ID}
AND A.PROC_START_TS = ${VA_PROC_START_TS}
"/>


<variable name="sql2" type="sql" value="
SELECT
 RPT_DT_TXT
, RPT_HOUR_MN_TXT
, WH_CD_TXT
, RWS_TP_CD_TXT
, PRT_RWS_NUM
, RWS_NUM
, LOC_TP_NM
, PO_VND_CD_TXT
, PO_ADDR_01
, PO_ADDR_02
, PO_ADDR_03
, PO_ADDR_04
, CARR_CD_TXT
, CARR_ADDR_01
, CARR_ADDR_02
, CARR_ADDR_03
, CARR_ADDR_04
, WH_IN_ETA_DT_TXT
, SHPG_METH_CD_TXT
, CNTNR_SEAL_NUM
, OUT_PACK_CSE_QTY_TXT
, RWS_MSG_TXT_01
, RWS_MSG_TXT_02
, RWS_MSG_TXT_03
, RWS_MSG_TXT_04
, ITEM_LINE_NUM
, FIRST_PROD_CTRL_CD_TXT
, MDSE_CD
, MDSE_NM
, RWS_QTY_TXT
, RWS_STK_STS_TXT
, BIN_NUM
FROM RWS_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${VA_GLBL_CMPY_CD}
AND A.USR_ID = ${VA_USR_ID}
AND A.PROC_START_TS = ${VA_PROC_START_TS}
ORDER BY RWS_NUM ASC, TO_NUMBER(A.ITEM_LINE_NUM) ASC
"/>


<doc encoding="UTF-8">
<condition test="${sql00.item_count}" value="0" operator="equal">
 <error message="no data in Parameter DB"/>
</condition>

<for variable="sql0">
	<condition test="${sql0.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
		<assign variable="VA_GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="USR_ID" operator="equal">
		<assign variable="VA_USR_ID" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="PROC_START_TS" operator="equal">
		<assign variable="VA_PROC_START_TS" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
		<assign variable="INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
</for>

<condition test="${sql01.item_count}" value="0" operator="equal">
  <error message="no data in Language DB"/>
</condition>

<for variable="sql1">
	<condition test="${sql1.LANG_KEY_CD}" value="11131" operator="equal"><assign variable="C11131" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22510" operator="equal"><assign variable="C22510" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="5124" operator="equal"><assign variable="C5124" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4039" operator="equal"><assign variable="C4039" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22511" operator="equal"><assign variable="C22511" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22512" operator="equal"><assign variable="C22512" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="752" operator="equal"><assign variable="C752" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1773" operator="equal"><assign variable="C1773" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4306" operator="equal"><assign variable="C4306" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22513" operator="equal"><assign variable="C22513" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22514" operator="equal"><assign variable="C22514" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2702" operator="equal"><assign variable="C2702" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22355" operator="equal"><assign variable="C22355" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="18652" operator="equal"><assign variable="C18652" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3674" operator="equal"><assign variable="C3674" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22515" operator="equal"><assign variable="C22515" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22516" operator="equal"><assign variable="C22516" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2835" operator="equal"><assign variable="C2835" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3470" operator="equal"><assign variable="C3470" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="639" operator="equal"><assign variable="C639" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="6755" operator="equal"><assign variable="C6755" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4453" operator="equal"><assign variable="C4453" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3568" operator="equal"><assign variable="C3568" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="14094" operator="equal"><assign variable="C14094" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1987" operator="equal"><assign variable="C1987" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22517" operator="equal"><assign variable="C22517" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2648" operator="equal"><assign variable="C2648" value="${sql1.LANGUAGE_LABEL}"/></condition>
</for>

<condition test="${sql02.item_count}" value="0" operator="equal">
  <error message="no data in DB"/>
</condition>

 <section name="Control Section">
  <textln>VERSION=8.1</textln>
 </section>
 <section name="Form Section">
  <textln>FORM=..\..\forms\NLAF0010.fcp</textln>
 </section>
 <section name="Table Data Section">

    <for variable="sql2">

<!-- BreakHeader output to dat file -->
	  <text>"${sql2.RPT_DT_TXT}",</text>
	  <text>"${sql2.RPT_HOUR_MN_TXT}",</text>
	  <text>"${C11131}",</text>
	  <text>"${C22510}",</text>
	  <text>"${C5124}",</text>
	  <text>"${sql2.WH_CD_TXT}",</text>
	  <text>"${C4039}",</text>
	  <text>"${sql2.RWS_TP_CD_TXT}",</text>
	  <text>"${C22511}",</text>
	  <text>"${sql2.PRT_RWS_NUM}",</text>
	  <text>"${C22512}",</text>
	  <text>"${sql2.RWS_NUM}",</text>
	  <text>"${sql2.LOC_TP_NM}",</text>
	  <text>"${sql2.PO_VND_CD_TXT}",</text>
	  <text>"${C752}",</text>
	  <text>"${sql2.CARR_CD_TXT}",</text>
	  <text>"${sql2.PO_ADDR_01}",</text>
	  <text>"${sql2.CARR_ADDR_01}",</text>
	  <text>"${sql2.PO_ADDR_02}",</text>
	  <text>"${sql2.CARR_ADDR_02}",</text>
	  <text>"${sql2.PO_ADDR_03}",</text>
	  <text>"${sql2.CARR_ADDR_03}",</text>
	  <text>"${sql2.PO_ADDR_04}",</text>
	  <text>"${sql2.CARR_ADDR_04}",</text>
	  <text>"${C1773}",</text>
	  <text>"${sql2.WH_IN_ETA_DT_TXT}",</text>
	  <text>"${C4306}",</text>
	  <text>"${sql2.SHPG_METH_CD_TXT}",</text>
	  <text>"${C22513}",</text>
	  <text>"${sql2.CNTNR_SEAL_NUM}",</text>
	  <text>"${C22514}",</text>
	  <text>"${sql2.OUT_PACK_CSE_QTY_TXT}",</text>
	  <text>"${C2702}",</text>
	  <text>"${sql2.RWS_MSG_TXT_01}",</text>
	  <text>"${sql2.RWS_MSG_TXT_02}",</text>
	  <text>"${sql2.RWS_MSG_TXT_03}",</text>
	  <text>"${sql2.RWS_MSG_TXT_04}",</text>
	  <text>"${C22355}",</text>
	  <text>"${C752}",</text>
	  <text>"${C18652}",</text>
	  <text>"${C2702}",</text>
	  <text>"${C3674}",</text>
	  <text>"${C22515}",</text>
	  <text>"${C22516}",</text>

<!-- Data output to dat file -->
	  <text>"${C2835}",</text>
	  <text>"${C3470}",</text>
	  <text>"${C639}",</text>
	  <text>"${C6755}",</text>
	  <text>"${C4453}",</text>
	  <text>"${C3568}",</text>
	  <text>"${C14094}",</text>
	  <text>"${C1987}",</text>
	  <text>"${C22517}",</text>
	  <text>"${C2648}",</text>
	  <text>"${sql2.ITEM_LINE_NUM}",</text>
	  <text>"${sql2.FIRST_PROD_CTRL_CD_TXT}",</text>
	  <text>"${sql2.BIN_NUM}",</text>
	  <text>"${sql2.MDSE_CD}",</text>
	  <text>"${sql2.RWS_STK_STS_TXT}",</text>
	  <text>"${sql2.RWS_QTY_TXT}",</text>
	  <textln>"${sql2.MDSE_NM}"</textln>
    </for>
 </section>

</doc>
<mdatas>
  <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>