<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00" type="sql" value="
	select  count(*) item_count
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'BIZ_APP_ID'
            or RPT_PRM_NM = 'OTPT_OP_CD'
            or RPT_PRM_NM = 'CPO_ORD_NUM'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql0" type="sql" value="
	select  RPT_PRM_NM,RPT_PRM_VAL_TXT
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'BIZ_APP_ID'
            or RPT_PRM_NM = 'OTPT_OP_CD'
            or RPT_PRM_NM = 'CPO_ORD_NUM'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<variable name="GLBL_CMPY_CD" type="string" value=""/>
<variable name="BIZ_APP_ID" type="string" value=""/>
<variable name="OTPT_OP_CD" type="string" value=""/>
<variable name="CPO_ORD_NUM" type="string" value=""/>
<variable name="INTL_LANG_VAL_COL_NM" type="string" value=""/>

<variable name="Cm" type="string" value=""/>
<variable name="Cp" type="string" value=""/>
<variable name="C22632" type="string" value=""/>
<variable name="C22637" type="string" value=""/>
<variable name="C2265" type="string" value=""/>
<variable name="C22926" type="string" value=""/>
<variable name="C22927" type="string" value=""/>
<variable name="C2613" type="string" value=""/>
<variable name="C1496" type="string" value=""/>
<variable name="C2966" type="string" value=""/>
<variable name="C4307" type="string" value=""/>
<variable name="C22928" type="string" value=""/>
<variable name="C22652" type="string" value=""/>
<variable name="C4819" type="string" value=""/>
<variable name="C3713" type="string" value=""/>
<variable name="C22653" type="string" value=""/>

<variable name="sql01" type="sql" value="
SELECT count(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('m','p','22632','22637','2265','22926','22927','2613','1496','2966','4307','22928','22652','4819','3713','22653')
"/>

<variable name="sql1" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('m','p','22632','22637','2265','22926','22927','2613','1496','2966','4307','22928','22652','4819','3713','22653')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>

<variable name="sql02" type="sql" value="
SELECT count(*) item_count
FROM SPLY_TRK_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.BIZ_APP_ID = ${BIZ_APP_ID}
AND A.OTPT_OP_CD = ${OTPT_OP_CD}
AND A.CPO_ORD_NUM = ${CPO_ORD_NUM}
"/>

<variable name="sql2" type="sql" value="
SELECT
CUST_ISS_PO_NUM
,CPO_ORD_NUM
,CPO_WRK_LINE_NUM
,SELL_TO_CUST_NM
,SHIP_TO_INFO_TXT
,MDSE_CD
,MDSE_DESC_SHORT_TXT MDSE_NM
,ORD_QTY_TXT
,SHIP_QTY_TXT
,ACTL_SHIP_DT_TXT
,CARR_NM
,PRO_NUM
,REF_VAL_TXT
,HDR_LINE_INFO_TXT
,CASE WHEN MNF_ITEM_CD IS NULL OR MNF_ITEM_CD = MDSE_CD THEN NULL
ELSE '(' || MNF_ITEM_CD || ')' END MNF_ITEM_CD
FROM SPLY_TRK_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.BIZ_APP_ID = ${BIZ_APP_ID}
AND A.OTPT_OP_CD = ${OTPT_OP_CD}
AND A.CPO_ORD_NUM = ${CPO_ORD_NUM}
ORDER BY A.SPLY_TRK_RPT_WRK_PK
"/>


<doc encoding="UTF-8">
<condition test="${sql00.item_count}" value="0" operator="equal">
 <error message="no data in Parameter DB"/>
</condition>

<for variable="sql0">
	<condition test="${sql0.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
		<assign variable="GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="BIZ_APP_ID" operator="equal">
		<assign variable="BIZ_APP_ID" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="OTPT_OP_CD" operator="equal">
		<assign variable="OTPT_OP_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="CPO_ORD_NUM" operator="equal">
		<assign variable="CPO_ORD_NUM" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
		<assign variable="INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
</for>

<condition test="${sql01.item_count}" value="0" operator="equal">
 <error message="no data in Language DB"/>
</condition>

<for variable="sql1">
	<condition test="${sql1.LANG_KEY_CD}" value="m" operator="equal"><assign variable="Cm" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="p" operator="equal"><assign variable="Cp" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22632" operator="equal"><assign variable="C22632" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22637" operator="equal"><assign variable="C22637" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2265" operator="equal"><assign variable="C2265" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22926" operator="equal"><assign variable="C22926" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22927" operator="equal"><assign variable="C22927" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2613" operator="equal"><assign variable="C2613" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1496" operator="equal"><assign variable="C1496" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2966" operator="equal"><assign variable="C2966" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4307" operator="equal"><assign variable="C4307" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22928" operator="equal"><assign variable="C22928" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22652" operator="equal"><assign variable="C22652" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4819" operator="equal"><assign variable="C4819" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3713" operator="equal"><assign variable="C3713" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22653" operator="equal"><assign variable="C22653" value="${sql1.LANGUAGE_LABEL}"/></condition>
</for>

<condition test="${sql02.item_count}" value="0" operator="equal">
 <error message="no data in Transaction DB"/>
</condition>

 <section name="Control Section">
  <textln>VERSION=8.1</textln>
 </section>
 <section name="Form Section">
  <textln>FORM=..\..\forms\NWAF1040.fcp</textln>
 </section>

<!-- [Table Data Section] output to dat file -->
   <section name="Fixed Data Section">
       <textln>Cm="${Cm}"</textln>
       <textln>Cp="${Cp}"</textln>
   </section>
   <section name="Table Data Section">
       <for variable="sql2">
	  <text>"${C22632}",</text>
	  <text>"${C22637}",</text>
	  <text>"${C2265}",</text>
	  <text>"${C22926}",</text>
	  <text>"${C22927}",</text>
	  <text>"${C2613}",</text>
	  <text>"${C1496}",</text>
	  <text>"${C2966}",</text>
	  <text>"${C4307}",</text>
	  <text>"${C22928}",</text>
	  <text>"${C22652}",</text>
	  <text>"${C4819}",</text>
	  <text>"${C3713}",</text>
	  <text>"${C22653}",</text>
	  <text>"${sql2.CUST_ISS_PO_NUM}",</text>
	  <text>"${sql2.CPO_ORD_NUM}",</text>
	  <text>"${sql2.CPO_WRK_LINE_NUM}",</text>
	  <text>"${sql2.SELL_TO_CUST_NM}",</text>
	  <text>"${sql2.SHIP_TO_INFO_TXT}",</text>
	  <text>"${sql2.MDSE_CD}",</text>
	  <text>"${sql2.MDSE_NM}",</text>
	  <text>"${sql2.MNF_ITEM_CD}",</text>
	  <text>"${sql2.ORD_QTY_TXT}",</text>
	  <text>"${sql2.SHIP_QTY_TXT}",</text>
	  <text>"${sql2.ACTL_SHIP_DT_TXT}",</text>
	  <text>"${sql2.CARR_NM}",</text>
	  <text>"${sql2.PRO_NUM}",</text>
	  <text>"${sql2.REF_VAL_TXT}",</text>
	  <textln>"${sql2.HDR_LINE_INFO_TXT}"</textln>
	</for>    
     </section>

</doc>
<mdatas>
  <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>