<template>

<!-- Version: 1.0.0 $Date::                           $ -->
<variable name="sql2" type="sql" value="select GLBL_CMPY_CD, BAT_PROC_LOG_PK, BAT_PROC_JOB_ID, BAT_PROC_PGM_ID, BAT_PROC_HOST_NM from S21_CSA_SYS.BAT_PROC_LOG where ROWNUM &lt;= 61"/>

<doc encoding="UTF-8">

 <section name="Control Section">
  <textln>VERSION=8.1</textln>
 </section>
 <section name="Form Section">
  <textln>FORM=..\..\forms\ZZPF0010.fcp</textln>
 </section>
	  <textln>[Table Data Section]</textln>
    <for variable="sql2">
	  <text>"${sql2.GLBL_CMPY_CD}",</text>
	  <text>"${sql2.BAT_PROC_LOG_PK}",</text>
	  <text>"${sql2.BAT_PROC_JOB_ID}",</text>
	  <text>"${sql2.BAT_PROC_PGM_ID}",</text>
	  <textln>"${sql2.BAT_PROC_HOST_NM}"</textln>
    </for>

</doc>
<mdatas>
  <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>