<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00" type="sql" value="
	select  count(*) item_count
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'CFS_APP_NUM'
            or RPT_PRM_NM = 'CFS_PO_NUM'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql0" type="sql" value="
	select  RPT_PRM_NM,RPT_PRM_VAL_TXT
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'CFS_APP_NUM'
            or RPT_PRM_NM = 'CFS_PO_NUM'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<variable name="GLBL_CMPY_CD" type="string" value=""/>
<variable name="CFS_APP_NUM" type="string" value=""/>
<variable name="CFS_PO_NUM" type="string" value=""/>
<variable name="INTL_LANG_VAL_COL_NM" type="string" value=""/>

<variable name="C23049" type="string" value=""/>  <!-- LEASE PACKAGE ID -->
<variable name="C11131" type="string" value=""/>  <!-- PAGE -->
<variable name="C23050" type="string" value=""/>  <!-- LEASE PACKAGE – AUDIT TRAIL -->
<variable name="C23051" type="string" value=""/>  <!-- Header Information -->
<variable name="C23052" type="string" value=""/>  <!-- Package Creation Date -->
<variable name="C1272" type="string" value=""/>  <!-- Customer -->
<variable name="C6756" type="string" value=""/>  <!-- PO# -->
<variable name="C23053" type="string" value=""/>  <!-- Salesrep -->
<variable name="C23054" type="string" value=""/>  <!-- PO Amount -->
<variable name="C23055" type="string" value=""/>  <!-- CSA Invoice Amount -->
<variable name="C23056" type="string" value=""/>  <!-- Percent Invoiced -->
<variable name="C23057" type="string" value=""/>  <!-- CFS Owner -->
<variable name="C23058" type="string" value=""/>  <!-- CSA Order Processor -->
<variable name="C23059" type="string" value=""/>  <!-- Invoice Count -->
<variable name="C23060" type="string" value=""/>  <!-- INVOICE DETAIL -->
<variable name="C2242" type="string" value=""/>  <!-- INVOICE# -->
<variable name="C10691" type="string" value=""/>  <!-- INVOICE AMOUNT -->
<variable name="C10590" type="string" value=""/>  <!-- GL DATE -->



 <variable name="sql01" type="sql" value="
SELECT count(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('23049','11131','23050','23051','23052','1272','6756','23053','23054','23055','23056','23057','23058','23059','23060','2242','10691','10590')
"/>

 <variable name="sql1" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('23049','11131','23050','23051','23052','1272','6756','23053','23054','23055','23056','23057','23058','23059','23060','2242','10691','10590')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>



 <variable name="sql02" type="sql" value="
SELECT count(*) item_count
FROM LEASE_PKG_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.CFS_PO_NUM = ${CFS_PO_NUM}
AND A.CFS_APP_NUM = ${CFS_APP_NUM}
AND A.EZCANCELFLAG = '0'
"/>


<variable name="sql2" type="sql" value="
SELECT 
GLBL_CMPY_CD
,LEASE_PKG_RPT_WRK_PK
,LEASE_PKG_PRINT_TXT
,NVL(CRAT_DT_PRINT_TXT, ' ') CRAT_DT_PRINT_TXT
,NVL(DS_ACCT_NM, ' ') DS_ACCT_NM
,NVL(TRIM(CFS_PO_NUM || '/' || CFS_PO_NUM), ' ') CFS_PO_NUM
,NVL(CFS_REP_TOC_TXT, ' ') CFS_REP_TOC_TXT
,NVL(CFS_PO_AMT_PRINT_TXT, ' ') CFS_PO_AMT_PRINT_TXT
,NVL(INV_TOT_AMT_PRINT_TXT, ' ') INV_TOT_AMT_PRINT_TXT
,NVL(INV_PCT_PRINT_TXT, ' ') INV_PCT_PRINT_TXT
,NVL(CFS_OWNR_TXT, ' ') CFS_OWNR_TXT
,NVL(CSA_ORD_PROC_TXT, ' ') CSA_ORD_PROC_TXT
,NVL(INV_CNT_PRINT_TXT, ' ') INV_CNT_PRINT_TXT
,INV_NUM
,INV_AMT_PRINT_TXT
,GL_DT_PRINT_TXT
,CFS_APP_NUM
,CASE WHEN CFS_APP_NUM &lt;&gt; '//'
    THEN CFS_APP_NUM || '/' || CFS_PO_NUM
    ELSE CFS_PO_NUM
 END PO_NUM
FROM LEASE_PKG_RPT_WRK
WHERE
GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND CFS_PO_NUM = ${CFS_PO_NUM}
AND CFS_APP_NUM = ${CFS_APP_NUM}
AND EZCANCELFLAG = '0'
ORDER BY LEASE_PKG_RPT_WRK_PK
"/>


<doc encoding="UTF-8">
<condition test="${sql00.item_count}" value="0" operator="equal">
 <error message="no data in Parameter DB"/>
</condition>

<for variable="sql0">
	<condition test="${sql0.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
		<assign variable="GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="CFS_PO_NUM" operator="equal">
		<assign variable="CFS_PO_NUM" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="CFS_APP_NUM" operator="equal">
		<assign variable="CFS_APP_NUM" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
		<assign variable="INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
</for>

 <condition test="${sql01.item_count}" value="0" operator="equal">
  <error message="no data in Language DB"/>
 </condition>

<for variable="sql1">
	<condition test="${sql1.LANG_KEY_CD}" value="23049" operator="equal"><assign variable="C23049" value="${sql1.LANGUAGE_LABEL}:"/></condition>  <!-- LEASE PACKAGE ID: -->
	<condition test="${sql1.LANG_KEY_CD}" value="11131" operator="equal"><assign variable="C11131" value="${sql1.LANGUAGE_LABEL}:"/></condition>  <!-- PAGE: -->
	<condition test="${sql1.LANG_KEY_CD}" value="23050" operator="equal"><assign variable="C23050" value="${sql1.LANGUAGE_LABEL}"/></condition>  <!-- LEASE PACKAGE – AUDIT TRAIL -->
	<condition test="${sql1.LANG_KEY_CD}" value="23051" operator="equal"><assign variable="C23051" value="${sql1.LANGUAGE_LABEL}"/></condition>  <!-- Header Information -->
	<condition test="${sql1.LANG_KEY_CD}" value="23052" operator="equal"><assign variable="C23052" value="${sql1.LANGUAGE_LABEL}:"/></condition>  <!-- Package Creation Date: -->
	<condition test="${sql1.LANG_KEY_CD}" value="1272" operator="equal"><assign variable="C1272" value="${sql1.LANGUAGE_LABEL}:"/></condition>  <!-- Customer: -->
	<condition test="${sql1.LANG_KEY_CD}" value="6756" operator="equal"><assign variable="C6756" value="${sql1.LANGUAGE_LABEL}:"/></condition>  <!-- PO#: -->
	<condition test="${sql1.LANG_KEY_CD}" value="23053" operator="equal"><assign variable="C23053" value="${sql1.LANGUAGE_LABEL}:"/></condition>  <!-- Salesrep: -->
	<condition test="${sql1.LANG_KEY_CD}" value="23054" operator="equal"><assign variable="C23054" value="${sql1.LANGUAGE_LABEL}:"/></condition>  <!-- PO Amount: -->
	<condition test="${sql1.LANG_KEY_CD}" value="23055" operator="equal"><assign variable="C23055" value="${sql1.LANGUAGE_LABEL}:"/></condition>  <!-- CSA Invoice Amount: -->
	<condition test="${sql1.LANG_KEY_CD}" value="23056" operator="equal"><assign variable="C23056" value="${sql1.LANGUAGE_LABEL}:"/></condition>  <!-- Percent Invoiced: -->
	<condition test="${sql1.LANG_KEY_CD}" value="23057" operator="equal"><assign variable="C23057" value="${sql1.LANGUAGE_LABEL}:"/></condition>  <!-- CFS Owner: -->
	<condition test="${sql1.LANG_KEY_CD}" value="23058" operator="equal"><assign variable="C23058" value="${sql1.LANGUAGE_LABEL}:"/></condition>  <!-- CSA Order Processor: -->
	<condition test="${sql1.LANG_KEY_CD}" value="23059" operator="equal"><assign variable="C23059" value="${sql1.LANGUAGE_LABEL}:"/></condition>  <!-- Invoice Count: -->
	<condition test="${sql1.LANG_KEY_CD}" value="23060" operator="equal"><assign variable="C23060" value="${sql1.LANGUAGE_LABEL}"/></condition>  <!-- INVOICE DETAIL -->
	<condition test="${sql1.LANG_KEY_CD}" value="2242" operator="equal"><assign variable="C2242" value="${sql1.LANGUAGE_LABEL}"/></condition>  <!-- INVOICE# -->
	<condition test="${sql1.LANG_KEY_CD}" value="10691" operator="equal"><assign variable="C10691" value="${sql1.LANGUAGE_LABEL}"/></condition>  <!-- INVOICE AMOUNT -->
	<condition test="${sql1.LANG_KEY_CD}" value="10590" operator="equal"><assign variable="C10590" value="${sql1.LANGUAGE_LABEL}"/></condition>  <!-- GL DATE -->
</for>

 <condition test="${sql02.item_count}" value="0" operator="equal">
  <error message="no data in Transaction DB"/>
 </condition>

 <section name="Control Section">
  <textln>VERSION=8.1</textln>
 </section>
 <section name="Form Section">
  <textln>FORM=..\..\forms\NWCF0110.fcp</textln>
 </section>
	  <textln>[Table Data Section]</textln>
    <for variable="sql2">
	  <text>"${C23049}",</text>
	  <text>"${C11131}",</text>
	  <text>"${C23050}",</text>
	  <text>"${C23051}",</text>
	  <text>"${C23052}",</text>
	  <text>"${C1272}",</text>
	  <text>"${C6756}",</text>
	  <text>"${C23053}",</text>
	  <text>"${C23054}",</text>
	  <text>"${C23055}",</text>
	  <text>"${C23056}",</text>
	  <text>"${C23057}",</text>
	  <text>"${C23058}",</text>
	  <text>"${C23059}",</text>
	  <text>"${C23060}",</text>
	  <text>"${C2242}",</text>
	  <text>"${C10691}",</text>
	  <text>"${C10590}",</text>


	  <text>"${sql2.LEASE_PKG_PRINT_TXT}",</text>
	  <text>"${sql2.CRAT_DT_PRINT_TXT}",</text>
	  <text>"${sql2.DS_ACCT_NM}",</text>
	  <text>"${sql2.PO_NUM}",</text>
	  <text>"${sql2.CFS_REP_TOC_TXT}",</text>
	  <text>"${sql2.CFS_PO_AMT_PRINT_TXT}",</text>
	  <text>"${sql2.INV_TOT_AMT_PRINT_TXT}",</text>
	  <text>"${sql2.INV_PCT_PRINT_TXT}",</text>
	  <text>"${sql2.CFS_OWNR_TXT}",</text>
	  <text>"${sql2.CSA_ORD_PROC_TXT}",</text>
	  <text>"${sql2.INV_CNT_PRINT_TXT}",</text>
	  <text>"${sql2.INV_NUM}",</text>
	  <text>"${sql2.INV_AMT_PRINT_TXT}",</text>
	  <textln>"${sql2.GL_DT_PRINT_TXT}"</textln>
    </for>

</doc>
<mdatas>
  <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>