<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00" type="sql" value="
	select  count(*) item_count
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'DS_CONTR_PK'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM'
            or RPT_PRM_NM = 'BIZ_APP_ID'
            or RPT_PRM_NM = 'SHIP_TO_CUST_CD')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql0" type="sql" value="
	select  RPT_PRM_NM,RPT_PRM_VAL_TXT
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'DS_CONTR_PK'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM'
            or RPT_PRM_NM = 'BIZ_APP_ID'
            or RPT_PRM_NM = 'SHIP_TO_CUST_CD')
"/>

<variable name="GLBL_CMPY_CD" type="string" value=""/>
<variable name="DS_CONTR_PK" type="string" value=""/>
<variable name="INTL_LANG_VAL_COL_NM" type="string" value=""/>
<variable name="BIZ_APP_ID" type="string" value=""/>
<variable name="SHIP_TO_CUST_CD" type="string" value=""/>

<variable name="C22993" type="string" value=""/>
<variable name="Cm" type="string" value=""/>
<variable name="Cp" type="string" value=""/>
<variable name="C22994" type="string" value=""/>
<variable name="C22573" type="string" value=""/>
<variable name="C23219" type="string" value=""/>
<variable name="C22996" type="string" value=""/>
<variable name="C22189" type="string" value=""/>
<variable name="C22997" type="string" value=""/>
<variable name="C22998" type="string" value=""/>
<variable name="C22999" type="string" value=""/>
<variable name="C605" type="string" value=""/>
<variable name="C23000" type="string" value=""/>
<variable name="C1010" type="string" value=""/>
<variable name="C5418" type="string" value=""/>
<variable name="C23001" type="string" value=""/>
<variable name="C4477" type="string" value=""/>
<variable name="C1808" type="string" value=""/>
<variable name="C23002" type="string" value=""/>
<variable name="C6017" type="string" value=""/>
<variable name="C4246" type="string" value=""/>
<variable name="C23003" type="string" value=""/>
<variable name="C23004" type="string" value=""/>
<variable name="C23005" type="string" value=""/>
<variable name="C23006" type="string" value=""/>
<variable name="C23007" type="string" value=""/>
<variable name="C5400" type="string" value=""/>
<variable name="C4758" type="string" value=""/>
<variable name="C23008" type="string" value=""/>
<variable name="C23009" type="string" value=""/>
<variable name="C23010" type="string" value=""/>
<variable name="C23011" type="string" value=""/>
<variable name="C1142" type="string" value=""/>
<variable name="C23012" type="string" value=""/>
<variable name="C992" type="string" value=""/>
<variable name="C6165" type="string" value=""/>
<variable name="C6793" type="string" value=""/>
<variable name="C23013" type="string" value=""/>
<variable name="C23014" type="string" value=""/>
<variable name="C22955" type="string" value=""/>
<variable name="C4739" type="string" value=""/>
<variable name="C1359" type="string" value=""/>
<variable name="C23015" type="string" value=""/>
<variable name="C23016" type="string" value=""/>
<variable name="C23017" type="string" value=""/>
<variable name="C23018" type="string" value=""/>

<variable name="sql01" type="sql" value="
SELECT count(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('22993','m','p','22994','22573','23219','22996','22189','22997','22998','22999','605','23000','1010','5418','23001','4477','1808','23002','6017','4246','23003','23004','23005','23006','23007','5400','4758','23008','23009','23010','23011','1142','23012','992','6165','6793','23013','23014','22955','4739','1359','23015','23016','23017','23018')
"/>

<variable name="sql1" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('22993','m','p','22994','22573','23219','22996','22189','22997','22998','22999','605','23000','1010','5418','23001','4477','1808','23002','6017','4246','23003','23004','23005','23006','23007','5400','4758','23008','23009','23010','23011','1142','23012','992','6165','6793','23013','23014','22955','4739','1359','23015','23016','23017','23018')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>

<variable name="sql02" type="sql" value="
SELECT count(*) item_count
FROM SVC_PRC_RNW_LTR_WRK A
WHERE
A.GLBL_CMPY_CD        = ${GLBL_CMPY_CD}
AND A.DS_CONTR_PK     = ${DS_CONTR_PK}
AND A.BIZ_APP_ID      = ${BIZ_APP_ID}
AND A.SHIP_TO_CUST_CD = ${SHIP_TO_CUST_CD}
"/>

<variable name="sql2" type="sql" value="
SELECT
TOC_NM,
BILL_TO_CUST_ACCT_CD,
BILL_TO_CUST_ACCT_NM,
CASE WHEN C.DBA_NM IS NULL
    THEN NULL
    ELSE C.DBA_NM ||  CHR(13) || CHR(10)
END
    || CASE WHEN BILL_TO_FIRST_LINE_ADDR IS NULL
           THEN NULL
    ELSE BILL_TO_FIRST_LINE_ADDR ||  CHR(13) || CHR(10)
       END
    || CASE WHEN BILL_TO_SCD_LINE_ADDR IS NULL
           THEN NULL
           ELSE BILL_TO_SCD_LINE_ADDR || CHR(13) || CHR(10)
       END
    || CASE WHEN BILL_TO_THIRD_LINE_ADDR IS NULL
           THEN NULL
           ELSE BILL_TO_THIRD_LINE_ADDR || CHR(13) || CHR(10)
       END
    || CASE WHEN BILL_TO_FRTH_LINE_ADDR IS NULL
           THEN NULL
           ELSE BILL_TO_FRTH_LINE_ADDR || CHR(13) || CHR(10)
       END
    || CASE WHEN (BILL_TO_CTY_ADDR || BILL_TO_ST_CD || BILL_TO_POST_CD) IS NULL 
           THEN NULL
           ELSE BILL_TO_CTY_ADDR || ' ' || BILL_TO_ST_CD || ' ' || BILL_TO_POST_CD  || CHR(13) || CHR(10)
       END
    || CASE WHEN BILL_TO_CTRY_NM IS NULL
           THEN NULL
           ELSE BILL_TO_CTRY_NM
       END   AS BILL_TO_ADDR,
SHIP_TO_CUST_ACCT_CD,
SHIP_TO_CUST_ACCT_NM,
CASE WHEN SHIP_TO_FIRST_LINE_ADDR IS NULL
    THEN NULL
    ELSE SHIP_TO_FIRST_LINE_ADDR ||  CHR(13) || CHR(10)
END
    || CASE WHEN SHIP_TO_SCD_LINE_ADDR IS NULL
           THEN NULL
           ELSE SHIP_TO_SCD_LINE_ADDR || CHR(13) || CHR(10)
       END
    || CASE WHEN SHIP_TO_THIRD_LINE_ADDR IS NULL
           THEN NULL
           ELSE SHIP_TO_THIRD_LINE_ADDR || CHR(13) || CHR(10)
       END
    || CASE WHEN SHIP_TO_FRTH_LINE_ADDR IS NULL
           THEN NULL
           ELSE SHIP_TO_FRTH_LINE_ADDR || CHR(13) || CHR(10)
       END
    || CASE WHEN (SHIP_TO_CTY_ADDR || SHIP_TO_ST_CD || SHIP_TO_POST_CD) IS NULL 
           THEN NULL
           ELSE SHIP_TO_CTY_ADDR || ' ' || SHIP_TO_ST_CD || ' ' || SHIP_TO_POST_CD  || CHR(13) || CHR(10)
       END
    || CASE WHEN SHIP_TO_CTRY_NM IS NULL
           THEN NULL
           ELSE SHIP_TO_CTRY_NM
       END   AS SHIP_TO_ADDR,
DS_CONTR_NUM,
BASE_BLLG_CYCLE_DESC_TXT,
USG_BLLG_CYCLE_DESC_TXT,
TO_CHAR(TO_DATE(CONTR_EFF_FROM_DT_TXT, 'YYYYMMDD'), 'DD-MON-YYYY', 'NLS_DATE_LANGUAGE = ENGLISH') AS CONTR_EFF_FROM_DT_TXT,
TO_CHAR(TO_DATE(CONTR_EFF_THRU_DT_TXT, 'YYYYMMDD'), 'DD-MON-YYYY', 'NLS_DATE_LANGUAGE = ENGLISH') AS CONTR_EFF_THRU_DT_TXT,
MDL_NM,
SER_NUM,
START_READ_MTR_CNT_QTY_TXT,
XS_MTR_COV_COPY_QTY_TXT,
XS_MTR_COPY_FROM_QTY_TXT,
XS_MTR_COPY_THRU_QTY_TXT,
XS_MTR_AMT_TXT,
BASE_PRC_DEAL_AMT_TXT,
TOT_DEAL_NET_AMT_TXT
FROM
SVC_PRC_RNW_LTR_WRK A,
BILL_TO_CUST B,
SELL_TO_CUST C
WHERE
A.GLBL_CMPY_CD        = ${GLBL_CMPY_CD}
AND A.DS_CONTR_PK     = ${DS_CONTR_PK}
AND A.BIZ_APP_ID      = ${BIZ_APP_ID}
AND A.SHIP_TO_CUST_CD = ${SHIP_TO_CUST_CD}
AND A.GLBL_CMPY_CD    = B.GLBL_CMPY_CD
AND A.BILL_TO_CUST_CD = B.BILL_TO_CUST_CD
AND B.EZCANCELFLAG = '0'
AND B.GLBL_CMPY_CD    = C.GLBL_CMPY_CD
AND B.SELL_TO_CUST_CD = C.SELL_TO_CUST_CD
AND C.EZCANCELFLAG = '0'
ORDER BY DS_CONTR_DTL_SORT_NUM
"/>

<variable name="sql03" type="sql" value="
SELECT count(*) item_count
FROM SVC_TERM_COND_LTR_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.DS_CONTR_PK = ${DS_CONTR_PK}
AND A.BIZ_APP_ID  = ${BIZ_APP_ID}
"/>

<variable name="sql3" type="sql" value="
SELECT
TTL_VAL_TXT,
DESC_VAL_TXT,
TERM_COND_VRSN_TXT
FROM SVC_TERM_COND_LTR_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.DS_CONTR_PK = ${DS_CONTR_PK}
AND A.BIZ_APP_ID  = ${BIZ_APP_ID}
ORDER BY DS_CONTR_PK,SVC_TERM_COND_HDR_NUM,SVC_TERM_COND_DTL_NUM
"/>


<doc encoding="UTF-8">
<condition test="${sql00.item_count}" value="0" operator="equal">
 <error message="no data in Parameter DB"/>
</condition>

<for variable="sql0">
	<condition test="${sql0.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
		<assign variable="GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="DS_CONTR_PK" operator="equal">
		<assign variable="DS_CONTR_PK" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
		<assign variable="INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
    <condition test="${sql0.RPT_PRM_NM}" value="BIZ_APP_ID" operator="equal">
        <assign variable="BIZ_APP_ID" value="${sql0.RPT_PRM_VAL_TXT}"/>
    </condition>
    <condition test="${sql0.RPT_PRM_NM}" value="SHIP_TO_CUST_CD" operator="equal">
        <assign variable="SHIP_TO_CUST_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
    </condition>
</for>

<condition test="${sql01.item_count}" value="0" operator="equal">
 <error message="no data in Language DB"/>
</condition>

<for variable="sql1">
	<condition test="${sql1.LANG_KEY_CD}" value="22993" operator="equal"><assign variable="C22993" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="m" operator="equal"><assign variable="Cm" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="p" operator="equal"><assign variable="Cp" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22994" operator="equal"><assign variable="C22994" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22573" operator="equal"><assign variable="C22573" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23219" operator="equal"><assign variable="C23219" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22996" operator="equal"><assign variable="C22996" value="${sql1.LANGUAGE_LABEL},"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22189" operator="equal"><assign variable="C22189" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22997" operator="equal"><assign variable="C22997" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22998" operator="equal"><assign variable="C22998" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22999" operator="equal"><assign variable="C22999" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="605" operator="equal"><assign variable="C605" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23000" operator="equal"><assign variable="C23000" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1010" operator="equal"><assign variable="C1010" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="5418" operator="equal"><assign variable="C5418" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23001" operator="equal"><assign variable="C23001" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4477" operator="equal"><assign variable="C4477" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1808" operator="equal"><assign variable="C1808" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23002" operator="equal"><assign variable="C23002" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="6017" operator="equal"><assign variable="C6017" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4246" operator="equal"><assign variable="C4246" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23003" operator="equal"><assign variable="C23003" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23004" operator="equal"><assign variable="C23004" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23005" operator="equal"><assign variable="C23005" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23006" operator="equal"><assign variable="C23006" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23007" operator="equal"><assign variable="C23007" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="5400" operator="equal"><assign variable="C5400" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4758" operator="equal"><assign variable="C4758" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23008" operator="equal"><assign variable="C23008" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23009" operator="equal"><assign variable="C23009" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23010" operator="equal"><assign variable="C23010" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23011" operator="equal"><assign variable="C23011" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1142" operator="equal"><assign variable="C1142" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23012" operator="equal"><assign variable="C23012" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="992" operator="equal"><assign variable="C992" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="6165" operator="equal"><assign variable="C6165" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="6793" operator="equal"><assign variable="C6793" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23013" operator="equal"><assign variable="C23013" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23014" operator="equal"><assign variable="C23014" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22955" operator="equal"><assign variable="C22955" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4739" operator="equal"><assign variable="C4739" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1359" operator="equal"><assign variable="C1359" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23015" operator="equal"><assign variable="C23015" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23016" operator="equal"><assign variable="C23016" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23017" operator="equal"><assign variable="C23017" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23018" operator="equal"><assign variable="C23018" value="${sql1.LANGUAGE_LABEL}"/></condition>
</for>

<condition test="${sql02.item_count}" value="0" operator="equal">
 <error message="no data in Transaction DB(sql02)"/>
</condition>

<condition test="${sql03.item_count}" value="0" operator="equal">
 <error message="no data in Transaction DB(sql03)"/>
</condition>

 <section name="Control Section">
  <textln>VERSION=8.1</textln>
 </section>
 <section name="Form Section">
  <textln>FORM=..\..\forms\NSAF0020.fcx</textln>
 </section>

<!-- [Table Data Section] output to dat file -->
   <section name="Table Data Section">
        <for variable="sql2">
	  <text>"${C22993}",</text>
	  <text>"${Cm}",</text>
	  <text>"${Cp}",</text>
	  <text>"${C22994}",</text>
	  <text>"${C22573}",</text>
	  <text>"${C23219}",</text>
	  <text>"${C22996}",</text>
	  <text>"${C22189}",</text>
	  <text>"${C22997}",</text>
	  <text>"${C22998}",</text>
	  <text>"${C22999}",</text>
	  <text>"${C605}",</text>
	  <text>"${C23000}",</text>
	  <text>"${C1010}",</text>
	  <text>"${C5418}",</text>
	  <text>"${C23001}",</text>
	  <text>"${C4477}",</text>
	  <text>"${C1808}",</text>
	  <text>"${C23002}",</text>
	  <text>"${C6017}",</text>
	  <text>"${C4246}",</text>
	  <text>"${C23003}",</text>
	  <text>"${C23004}",</text>
	  <text>"${C23005}",</text>
	  <text>"${C23006}",</text>
	  <text>"${C23007}",</text>
	  <text>"${C5400}",</text>
	  <text>"${C4758}",</text>
	  <text>"${C23008}",</text>
	  <text>"${C23009}",</text>
	  <text>"${C23010}",</text>
	  <text>"${C23011}",</text>
	  <text>"${C1142}",</text>
	  <text>"${C23012}",</text>
	  <text>"${C992}",</text>
	  <text>"${C6165}",</text>
	  <text>"${C6793}",</text>
	  <text>"${C23013}",</text>
	  <text>"${C23014}",</text>
	  <text>"${C22955}",</text>
	  <text>"${C4739}",</text>
	  <text>"${C1359}",</text>
	  <text>"${C23015}",</text>
	  <text>"${sql2.TOC_NM}",</text>
	  <text>"${sql2.BILL_TO_CUST_ACCT_CD}",</text>
	  <text>"${sql2.BILL_TO_CUST_ACCT_NM}",</text>
	  <text>"${sql2.BILL_TO_ADDR}",</text>
	  <text>"${sql2.SHIP_TO_CUST_ACCT_CD}",</text>
	  <text>"${sql2.SHIP_TO_CUST_ACCT_NM}",</text>
	  <text>"${sql2.SHIP_TO_ADDR}",</text>
	  <text>"${sql2.DS_CONTR_NUM}",</text>
	  <text>"${sql2.BASE_BLLG_CYCLE_DESC_TXT}",</text>
	  <text>"${sql2.USG_BLLG_CYCLE_DESC_TXT}",</text>
	  <text>"${sql2.CONTR_EFF_FROM_DT_TXT}",</text>
	  <text>"${sql2.CONTR_EFF_THRU_DT_TXT}",</text>
	  <text>"${sql2.MDL_NM}",</text>
	  <text>"${sql2.SER_NUM}",</text>
	  <text>"${sql2.START_READ_MTR_CNT_QTY_TXT}",</text>
	  <text>"${sql2.XS_MTR_COV_COPY_QTY_TXT}",</text>
	  <text>"${sql2.XS_MTR_COPY_FROM_QTY_TXT}",</text>
	  <text>"${sql2.XS_MTR_COPY_THRU_QTY_TXT}",</text>
	  <text>"${sql2.XS_MTR_AMT_TXT}",</text>
	  <text>"${sql2.BASE_PRC_DEAL_AMT_TXT}",</text>
	  <textln>"${sql2.TOT_DEAL_NET_AMT_TXT}"</textln>
	</for>    
     </section>
     
     <section name="Form Section">
       <textln>NEXTPAGE</textln>
     </section>
  
     <section name="Table Data Section">
        <for variable="sql3">
	  <text>"${C23017}",</text>
	  <text>"${Cm}",</text>
	  <text>"${Cp}",</text>
	  <text>"${C23018}",</text>
	  <text>"${C1359}",</text>
          <text>"${C23015}",</text>
	  <text>"${sql3.TTL_VAL_TXT}",</text>
	  <text>"${sql3.DESC_VAL_TXT}",</text>
	  <textln>"${sql3.TERM_COND_VRSN_TXT}"</textln>
	</for>
     </section>

     <section name="Form Section">
       <textln>NEXTPAGE</textln>
     </section>

     <section name="Table Data Section">
        <for variable="sql2">
	  <text>"${C22993}",</text>
	  <text>"${Cm}",</text>
	  <text>"${Cp}",</text>
	  <text>"${C22994}",</text>
	  <text>"${C22573}",</text>
	  <text>"${C23219}",</text>
	  <text>"${C22996}",</text>
	  <text>"${C22189}",</text>
	  <text>"${C22997}",</text>
	  <text>"${C22998}",</text>
	  <text>"${C22999}",</text>
	  <text>"${C605}",</text>
	  <text>"${C23000}",</text>
	  <text>"${C1010}",</text>
	  <text>"${C5418}",</text>
	  <text>"${C23001}",</text>
	  <text>"${C4477}",</text>
	  <text>"${C1808}",</text>
	  <text>"${C23002}",</text>
	  <text>"${C6017}",</text>
	  <text>"${C4246}",</text>
	  <text>"${C23003}",</text>
	  <text>"${C23004}",</text>
	  <text>"${C23005}",</text>
	  <text>"${C23006}",</text>
	  <text>"${C23007}",</text>
	  <text>"${C5400}",</text>
	  <text>"${C4758}",</text>
	  <text>"${C23008}",</text>
	  <text>"${C23009}",</text>
	  <text>"${C23010}",</text>
	  <text>"${C23011}",</text>
	  <text>"${C1142}",</text>
	  <text>"${C23012}",</text>
	  <text>"${C992}",</text>
	  <text>"${C6165}",</text>
	  <text>"${C6793}",</text>
	  <text>"${C23013}",</text>
	  <text>"${C23014}",</text>
	  <text>"${C22955}",</text>
	  <text>"${C4739}",</text>
	  <text>"${C1359}",</text>
	  <text>"${C23016}",</text>
	  <text>"${sql2.TOC_NM}",</text>
	  <text>"${sql2.BILL_TO_CUST_ACCT_CD}",</text>
	  <text>"${sql2.BILL_TO_CUST_ACCT_NM}",</text>
	  <text>"${sql2.BILL_TO_ADDR}",</text>
	  <text>"${sql2.SHIP_TO_CUST_ACCT_CD}",</text>
	  <text>"${sql2.SHIP_TO_CUST_ACCT_NM}",</text>
	  <text>"${sql2.SHIP_TO_ADDR}",</text>
	  <text>"${sql2.DS_CONTR_NUM}",</text>
	  <text>"${sql2.BASE_BLLG_CYCLE_DESC_TXT}",</text>
	  <text>"${sql2.USG_BLLG_CYCLE_DESC_TXT}",</text>
	  <text>"${sql2.CONTR_EFF_FROM_DT_TXT}",</text>
	  <text>"${sql2.CONTR_EFF_THRU_DT_TXT}",</text>
	  <text>"${sql2.MDL_NM}",</text>
	  <text>"${sql2.SER_NUM}",</text>
	  <text>"${sql2.START_READ_MTR_CNT_QTY_TXT}",</text>
	  <text>"${sql2.XS_MTR_COV_COPY_QTY_TXT}",</text>
	  <text>"${sql2.XS_MTR_COPY_FROM_QTY_TXT}",</text>
	  <text>"${sql2.XS_MTR_COPY_THRU_QTY_TXT}",</text>
	  <text>"${sql2.XS_MTR_AMT_TXT}",</text>
	  <text>"${sql2.BASE_PRC_DEAL_AMT_TXT}",</text>
	  <textln>"${sql2.TOT_DEAL_NET_AMT_TXT}"</textln>
	</for>
     </section>
     
     <section name="Form Section">
       <textln>NEXTPAGE</textln>
     </section>
  
     <section name="Table Data Section">
        <for variable="sql3">
	  <text>"${C23017}",</text>
	  <text>"${Cm}",</text>
	  <text>"${Cp}",</text>
	  <text>"${C23018}",</text>
	  <text>"${C1359}",</text>
          <text>"${C23016}",</text>
	  <text>"${sql3.TTL_VAL_TXT}",</text>
	  <text>"${sql3.DESC_VAL_TXT}",</text>
	  <textln>"${sql3.TERM_COND_VRSN_TXT}"</textln>
	</for>
     </section>

</doc>
<mdatas>
  <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>