<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00_EIP_PRM_CHK" type="sql" value="
    select  count(*) item_count
    from EIP_RPT_INP_PRM
    where
        EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
        and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
        and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            OR RPT_PRM_NM = 'FSR_CPLT_LTR_WRK_PK'
            OR RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql0" type="sql" value="
    select  RPT_PRM_NM,RPT_PRM_VAL_TXT
    from EIP_RPT_INP_PRM
    where
        EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
        and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
        and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            OR RPT_PRM_NM = 'FSR_CPLT_LTR_WRK_PK'
            OR RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>
<!-- Parameter -->
<variable name="GLBL_CMPY_CD" type="string" value=""/>
<variable name="FSR_CPLT_LTR_WRK_PK" type="string" value=""/>
<variable name="INTL_LANG_VAL_COL_NM" type="string" value=""/>
<!-- Report Label -->
<variable name="Cm" type="string" value=""/>
<variable name="Cp" type="string" value=""/>
<variable name="C23384" type="string" value=""/>
<variable name="C22573" type="string" value=""/>
<variable name="C23385" type="string" value=""/>
<variable name="C23223" type="string" value=""/>
<variable name="C23386" type="string" value=""/>
<variable name="C23387" type="string" value=""/>
<variable name="C23388" type="string" value=""/>
<variable name="C1359" type="string" value=""/>
<variable name="C23407" type="string" value=""/>
<variable name="C23389" type="string" value=""/>
<variable name="C23390" type="string" value=""/>
<variable name="C23391" type="string" value=""/>
<variable name="C11603" type="string" value=""/>
<variable name="C8363" type="string" value=""/>
<variable name="C23392" type="string" value=""/>
<variable name="C8345" type="string" value=""/>
<variable name="C6487" type="string" value=""/>
<variable name="C23408" type="string" value=""/>
<variable name="C8746" type="string" value=""/>
<variable name="C22555" type="string" value=""/>
<variable name="C6722" type="string" value=""/>
<variable name="C23393" type="string" value=""/>
<variable name="C23409" type="string" value=""/>
<variable name="C23410" type="string" value=""/>
<variable name="C23411" type="string" value=""/>
<variable name="C23394" type="string" value=""/>
<variable name="C23412" type="string" value=""/>
<variable name="C11402" type="string" value=""/>
<variable name="C23413" type="string" value=""/>
<variable name="C23395" type="string" value=""/>
<variable name="C23396" type="string" value=""/>
<variable name="C23414" type="string" value=""/>
<variable name="C23397" type="string" value=""/>
<variable name="C23415" type="string" value=""/>
<variable name="C23398" type="string" value=""/>
<variable name="C6736" type="string" value=""/>
<variable name="C23399" type="string" value=""/>
<variable name="C23416" type="string" value=""/>
<variable name="C23400" type="string" value=""/>
<variable name="C23401" type="string" value=""/>
<variable name="C23402" type="string" value=""/>
<variable name="C23445" type="string" value=""/>
<variable name="C23403" type="string" value=""/>
<variable name="C23417" type="string" value=""/>
<variable name="C23405" type="string" value=""/>
<variable name="C9421" type="string" value=""/>
<variable name="C6724" type="string" value=""/>
<variable name="C23418" type="string" value=""/>
<variable name="C23406" type="string" value=""/>
<!-- Row Output Control -->
<variable name="i" type="int" value="0" />
<variable name="SPACE" type="string" value=" "/>
<!-- Meter Area -->
<variable name="MTR_LB_DESC_TXT_01" type="string" value=""/>
<variable name="MTR_LB_DESC_TXT_02" type="string" value=""/>
<variable name="MTR_LB_DESC_TXT_03" type="string" value=""/>
<variable name="MTR_LB_DESC_TXT_04" type="string" value=""/>
<variable name="MTR_LB_DESC_TXT_05" type="string" value=""/>
<variable name="MTR_LB_DESC_TXT_06" type="string" value=""/>
<variable name="MTR_LB_DESC_TXT_07" type="string" value=""/>
<variable name="MTR_LB_DESC_TXT_08" type="string" value=""/>
<variable name="MTR_LB_DESC_TXT_09" type="string" value=""/>
<variable name="MTR_LB_DESC_TXT_10" type="string" value=""/>
<variable name="MTR_LB_DESC_TXT_11" type="string" value=""/>
<variable name="MTR_LB_DESC_TXT_12" type="string" value=""/>
<variable name="READ_MTR_CNT_VAL_TXT_01" type="string" value=""/>
<variable name="READ_MTR_CNT_VAL_TXT_02" type="string" value=""/>
<variable name="READ_MTR_CNT_VAL_TXT_03" type="string" value=""/>
<variable name="READ_MTR_CNT_VAL_TXT_04" type="string" value=""/>
<variable name="READ_MTR_CNT_VAL_TXT_05" type="string" value=""/>
<variable name="READ_MTR_CNT_VAL_TXT_06" type="string" value=""/>
<variable name="READ_MTR_CNT_VAL_TXT_07" type="string" value=""/>
<variable name="READ_MTR_CNT_VAL_TXT_08" type="string" value=""/>
<variable name="READ_MTR_CNT_VAL_TXT_09" type="string" value=""/>
<variable name="READ_MTR_CNT_VAL_TXT_10" type="string" value=""/>
<variable name="READ_MTR_CNT_VAL_TXT_11" type="string" value=""/>
<variable name="READ_MTR_CNT_VAL_TXT_12" type="string" value=""/>

<!-- ***************************************** -->
<!-- SQL 1.Label Read -->
<!-- ***************************************** -->
<variable name="sql10_Label_RowCount" type="sql" value="
SELECT
    Count(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
    EZCANCELFLAG = '0'
AND LANG_KEY_CD in ('m','p','23384','22573','23385','23223','23386','23387','23388','1359','23407','23389','23390','23391','11603','8363','23392','8345','6487','23408','8746','22555','6722','23393','23409','23410','23411','23394','23412','11402','23413','23395','23396','23414','23397','23415','23398','6736','23399','23416','23400','23401','23402','23445','23403','23417','23405','9421','6724','23418','23406')
"/>

<variable name="sql11_Label" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('m','p','23384','22573','23385','23223','23386','23387','23388','1359','23407','23389','23390','23391','11603','8363','23392','8345','6487','23408','8746','22555','6722','23393','23409','23410','23411','23394','23412','11402','23413','23395','23396','23414','23397','23415','23398','6736','23399','23416','23400','23401','23402','23445','23403','23417','23405','9421','6724','23418','23406')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>
<!-- ***************************************** -->
<!-- SQL 2.Meter Read -->
<!-- ***************************************** -->
<variable name="sql20_Meter_RowCount" type="sql" value="
SELECT
    COUNT(*) item_count
FROM
    FSR_CPLT_LTR_MTR_WRK A
WHERE
    A.EZCANCELFLAG = '0'
AND A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.FSR_CPLT_LTR_WRK_PK = ${FSR_CPLT_LTR_WRK_PK}
"/>

<variable name="sql21_Meter" type="sql" value="
SELECT
    A.MTR_LB_DESC_TXT
   ,A.READ_MTR_CNT_VAL_TXT
   ,A.MTR_SORT_NUM
FROM
    FSR_CPLT_LTR_MTR_WRK A
WHERE
    A.EZCANCELFLAG = '0'
AND A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.FSR_CPLT_LTR_WRK_PK = ${FSR_CPLT_LTR_WRK_PK}
"/>
<!-- ***************************************** -->
<!-- SQL 3.Report Header -->
<!-- ***************************************** -->
<variable name="sql30_Header_RowCount" type="sql" value="
SELECT
    COUNT(*) item_count
FROM
    FSR_CPLT_LTR_WRK A
WHERE
    A.EZCANCELFLAG = '0'
AND A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.FSR_CPLT_LTR_WRK_PK = ${FSR_CPLT_LTR_WRK_PK}
"/>

<variable name="sql31_Header" type="sql" value="
SELECT
    A.PROC_DT_TXT
   ,A.TECH_CD
   ,A.SVC_TASK_NUM
   ,A.MDL_NM
   ,A.SER_NUM
   ,A.DS_ACCT_NM
   ,A.SHIP_TO_LINE_ADDR
   ,A.SHIP_TO_CTY_ADDR
   ,A.SHIP_TO_ST_CD
   ,A.SVC_CUST_CLLR_TXT
   ,A.SHIP_TO_LOC_NM
   ,A.CUST_TEL_NUM
   ,A.SHIP_TO_POST_CD
   ,A.DS_SVC_CALL_TP_CD
   ,A.DS_SVC_CALL_TP_DESC_TXT
   ,A.OPEN_SVC_PBLM_TP_CD
   ,A.SVC_BILL_TP_CD
   ,A.SVC_BILL_TP_DESC_TXT
   ,A.SVC_PBLM_TP_CD
   ,A.SVC_PBLM_TP_DESC_TXT
   ,A.SVC_PBLM_LOC_TP_CD
   ,A.SVC_PBLM_RSN_TP_CD
   ,A.SVC_PBLM_RSN_TP_DESC_TXT
   ,A.SVC_PBLM_CRCT_TP_CD
   ,A.SVC_PBLM_CRCT_TP_DESC_TXT
   ,A.CALL_START_DT_TM_TXT
   ,A.CALL_CPLT_DT_TM_TXT
   ,A.LBOR_TM_AMT_TXT
   ,A.TEST_MTR_CNT_VAL_TXT
   ,A.PRT_TOT_PRC_AMT_TXT
   ,A.SVC_LBOR_TOT_AMT_TXT
   ,A.SVC_MIN_CHRG_HRS_AMT_TXT
   ,A.TOT_PRC_AMT_TXT
   ,A.SVC_CMNT_TXT
   ,A.SIGNA_FILE_PATH_TXT
   ,A.CUST_EML_ADDR
FROM
    FSR_CPLT_LTR_WRK A
WHERE
    A.EZCANCELFLAG = '0'
AND A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.FSR_CPLT_LTR_WRK_PK = ${FSR_CPLT_LTR_WRK_PK}
"/>
<!-- ***************************************** -->
<!-- SQL 4.Parts Area -->
<!-- ***************************************** -->
<variable name="sql40_PartsArea_RowCount" type="sql" value="
SELECT
    COUNT(*) item_count
FROM
    FSR_CPLT_LTR_PRT_WRK A
WHERE
    A.EZCANCELFLAG = '0'
AND A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.FSR_CPLT_LTR_WRK_PK = ${FSR_CPLT_LTR_WRK_PK}
"/>

<variable name="sql41_PartsArea" type="sql" value="
SELECT
    A.MDSE_CD
   ,A.MDSE_DESC_SHORT_TXT
   ,A.SVC_PRT_QTY_TXT
   ,A.PRT_TOT_PRC_AMT_TXT
FROM
    FSR_CPLT_LTR_PRT_WRK A
WHERE
    A.EZCANCELFLAG = '0'
AND A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.FSR_CPLT_LTR_WRK_PK = ${FSR_CPLT_LTR_WRK_PK}
"/>
<!-- ***************************************** -->
<!-- SQL 5.Mod Parts Area -->
<!-- ***************************************** -->
<variable name="sql50_ModPartsArea_RowCount" type="sql" value="
SELECT
    count(*) item_count
FROM
    FSR_CPLT_LTR_MOD_WRK A
WHERE
    A.EZCANCELFLAG = '0'
AND A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.FSR_CPLT_LTR_WRK_PK = ${FSR_CPLT_LTR_WRK_PK}
"/>

<variable name="sql51_ModPartsArea" type="sql" value="
SELECT
    A.MDSE_CD
   ,A.MDSE_DESC_SHORT_TXT
   ,A.SVC_MOD_QTY_TXT
FROM
    FSR_CPLT_LTR_MOD_WRK A
WHERE
    A.EZCANCELFLAG = '0'
AND A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.FSR_CPLT_LTR_WRK_PK = ${FSR_CPLT_LTR_WRK_PK}
"/>

<doc encoding="UTF-8">
<condition test="${sql00_EIP_PRM_CHK.item_count}" value="0" operator="equal">
    <error message="no data in Parameter DB"/>
</condition>

<for variable="sql0">
    <condition test="${sql0.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
        <assign variable="GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
    </condition>
    <condition test="${sql0.RPT_PRM_NM}" value="FSR_CPLT_LTR_WRK_PK" operator="equal">
        <assign variable="FSR_CPLT_LTR_WRK_PK" value="${sql0.RPT_PRM_VAL_TXT}"/>
    </condition>
    <condition test="${sql0.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
        <assign variable="INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
    </condition>
</for>
<!-- ***************************************** -->
<!-- Label Set -->
<!-- ***************************************** -->
<condition test="${sql10_Label_RowCount.item_count}" value="0" operator="equal">
    <error message="no data in Language DB"/>
</condition>

<for variable="sql11_Label">
    <condition test="${sql11_Label.LANG_KEY_CD}" value="m" operator="equal"><assign variable="Cm" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="p" operator="equal"><assign variable="Cp" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23384" operator="equal"><assign variable="C23384" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="22573" operator="equal"><assign variable="C22573" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23385" operator="equal"><assign variable="C23385" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23223" operator="equal"><assign variable="C23223" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23386" operator="equal"><assign variable="C23386" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23387" operator="equal"><assign variable="C23387" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23388" operator="equal"><assign variable="C23388" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="1359" operator="equal"><assign variable="C1359" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23407" operator="equal"><assign variable="C23407" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23389" operator="equal"><assign variable="C23389" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23390" operator="equal"><assign variable="C23390" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23391" operator="equal"><assign variable="C23391" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="11603" operator="equal"><assign variable="C11603" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="8363" operator="equal"><assign variable="C8363" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23392" operator="equal"><assign variable="C23392" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="8345" operator="equal"><assign variable="C8345" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="6487" operator="equal"><assign variable="C6487" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23408" operator="equal"><assign variable="C23408" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="8746" operator="equal"><assign variable="C8746" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="22555" operator="equal"><assign variable="C22555" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="6722" operator="equal"><assign variable="C6722" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23393" operator="equal"><assign variable="C23393" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23409" operator="equal"><assign variable="C23409" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23410" operator="equal"><assign variable="C23410" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23411" operator="equal"><assign variable="C23411" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23394" operator="equal"><assign variable="C23394" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23412" operator="equal"><assign variable="C23412" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="11402" operator="equal"><assign variable="C11402" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23413" operator="equal"><assign variable="C23413" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23395" operator="equal"><assign variable="C23395" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23396" operator="equal"><assign variable="C23396" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23414" operator="equal"><assign variable="C23414" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23397" operator="equal"><assign variable="C23397" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23415" operator="equal"><assign variable="C23415" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23398" operator="equal"><assign variable="C23398" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="6736" operator="equal"><assign variable="C6736" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23399" operator="equal"><assign variable="C23399" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23416" operator="equal"><assign variable="C23416" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23400" operator="equal"><assign variable="C23400" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23401" operator="equal"><assign variable="C23401" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23402" operator="equal"><assign variable="C23402" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23445" operator="equal"><assign variable="C23445" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23403" operator="equal"><assign variable="C23403" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23417" operator="equal"><assign variable="C23417" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23405" operator="equal"><assign variable="C23405" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="9421" operator="equal"><assign variable="C9421" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="6724" operator="equal"><assign variable="C6724" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23418" operator="equal"><assign variable="C23418" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23406" operator="equal"><assign variable="C23406" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>
</for>
<!-- ***************************************** -->
<!-- Meter Set -->
<!-- ***************************************** -->
<condition test="${sql20_Meter_RowCount.item_count}" value="0" operator="not equal">
    <for variable="sql21_Meter">
        <condition test="${sql21_Meter.MTR_SORT_NUM}" value="1" operator="equal"> <assign variable="MTR_LB_DESC_TXT_01" value="${sql21_Meter.MTR_LB_DESC_TXT}"/><assign variable="READ_MTR_CNT_VAL_TXT_01" value="${sql21_Meter.READ_MTR_CNT_VAL_TXT}"/></condition>
        <condition test="${sql21_Meter.MTR_SORT_NUM}" value="2" operator="equal"> <assign variable="MTR_LB_DESC_TXT_02" value="${sql21_Meter.MTR_LB_DESC_TXT}"/><assign variable="READ_MTR_CNT_VAL_TXT_02" value="${sql21_Meter.READ_MTR_CNT_VAL_TXT}"/></condition>
        <condition test="${sql21_Meter.MTR_SORT_NUM}" value="3" operator="equal"> <assign variable="MTR_LB_DESC_TXT_03" value="${sql21_Meter.MTR_LB_DESC_TXT}"/><assign variable="READ_MTR_CNT_VAL_TXT_03" value="${sql21_Meter.READ_MTR_CNT_VAL_TXT}"/></condition>
        <condition test="${sql21_Meter.MTR_SORT_NUM}" value="4" operator="equal"> <assign variable="MTR_LB_DESC_TXT_04" value="${sql21_Meter.MTR_LB_DESC_TXT}"/><assign variable="READ_MTR_CNT_VAL_TXT_04" value="${sql21_Meter.READ_MTR_CNT_VAL_TXT}"/></condition>
        <condition test="${sql21_Meter.MTR_SORT_NUM}" value="5" operator="equal"> <assign variable="MTR_LB_DESC_TXT_05" value="${sql21_Meter.MTR_LB_DESC_TXT}"/><assign variable="READ_MTR_CNT_VAL_TXT_05" value="${sql21_Meter.READ_MTR_CNT_VAL_TXT}"/></condition>
        <condition test="${sql21_Meter.MTR_SORT_NUM}" value="6" operator="equal"> <assign variable="MTR_LB_DESC_TXT_06" value="${sql21_Meter.MTR_LB_DESC_TXT}"/><assign variable="READ_MTR_CNT_VAL_TXT_06" value="${sql21_Meter.READ_MTR_CNT_VAL_TXT}"/></condition>
        <condition test="${sql21_Meter.MTR_SORT_NUM}" value="7" operator="equal"> <assign variable="MTR_LB_DESC_TXT_07" value="${sql21_Meter.MTR_LB_DESC_TXT}"/><assign variable="READ_MTR_CNT_VAL_TXT_07" value="${sql21_Meter.READ_MTR_CNT_VAL_TXT}"/></condition>
        <condition test="${sql21_Meter.MTR_SORT_NUM}" value="8" operator="equal"> <assign variable="MTR_LB_DESC_TXT_08" value="${sql21_Meter.MTR_LB_DESC_TXT}"/><assign variable="READ_MTR_CNT_VAL_TXT_08" value="${sql21_Meter.READ_MTR_CNT_VAL_TXT}"/></condition>
        <condition test="${sql21_Meter.MTR_SORT_NUM}" value="9" operator="equal"> <assign variable="MTR_LB_DESC_TXT_09" value="${sql21_Meter.MTR_LB_DESC_TXT}"/><assign variable="READ_MTR_CNT_VAL_TXT_09" value="${sql21_Meter.READ_MTR_CNT_VAL_TXT}"/></condition>
        <condition test="${sql21_Meter.MTR_SORT_NUM}" value="10" operator="equal"><assign variable="MTR_LB_DESC_TXT_10" value="${sql21_Meter.MTR_LB_DESC_TXT}"/><assign variable="READ_MTR_CNT_VAL_TXT_10" value="${sql21_Meter.READ_MTR_CNT_VAL_TXT}"/></condition>
        <condition test="${sql21_Meter.MTR_SORT_NUM}" value="11" operator="equal"><assign variable="MTR_LB_DESC_TXT_11" value="${sql21_Meter.MTR_LB_DESC_TXT}"/><assign variable="READ_MTR_CNT_VAL_TXT_11" value="${sql21_Meter.READ_MTR_CNT_VAL_TXT}"/></condition>
        <condition test="${sql21_Meter.MTR_SORT_NUM}" value="12" operator="equal"><assign variable="MTR_LB_DESC_TXT_12" value="${sql21_Meter.MTR_LB_DESC_TXT}"/><assign variable="READ_MTR_CNT_VAL_TXT_12" value="${sql21_Meter.READ_MTR_CNT_VAL_TXT}"/></condition>
    </for>
</condition>
<condition test="${sql30_Header_RowCount.item_count}" value="0" operator="equal">
    <error message="no data in Transaction DB(sql30_Header_RowCount)"/>
</condition>

<section name="Control Section">
    <textln>VERSION=8.1</textln>
</section>
<section name="Form Section">
    <textln>FORM=..\..\forms\NSBF0010.fcp</textln>
</section>

<!-- [Table Data Section] output to dat file -->
<section name="Table Data Section">
<!-- Output Parts List -->
    <assign variable="i" value="0"/>
    <for variable="sql41_PartsArea">
        <assign variable="i" value="${i} + 1"/>
        <text>"${C23384}",</text>        <!-- FIELD SERVICE REPORT -->
        <text>"${C22573}",</text>        <!-- CANON SOLUTIONS AMERICA -->
        <text>"${C23385}",</text>        <!-- Canon Solutions America, Inc. -->
        <text>"${C23223}",</text>        <!-- One Canon Park -->
        <text>"${C23386}",</text>        <!-- Melville, NY 11747-3336 -->
        <text>"${C23387}",</text>        <!-- (800) 3555-1385 -->
        <text>"${C23388}",</text>        <!-- TOLL FREE SERVICE NUMBER -->
        <text>"${Cm}",</text>            <!-- Page -->
        <text>"${Cp}",</text>            <!-- of -->
        <text>"${C1359}",</text>         <!-- Date -->
        <text>"${sql31_Header.PROC_DT_TXT}",</text>
        <text>"${C23407}",</text>        <!-- WWW.CSA.CANON.COM -->
        <text>"${C23389}",</text>        <!-- TECHNICIAN ID NUMBER -->
        <text>"${sql31_Header.TECH_CD}",</text>
        <text>"${C23390}",</text>        <!-- TASK NUMBER -->
        <text>"${sql31_Header.SVC_TASK_NUM}",</text>
        <text>"${C23391}",</text>        <!-- MODEL NUMBER -->
        <text>"${sql31_Header.MDL_NM}",</text>
        <text>"${C11603}",</text>        <!-- SERIAL NUMBER -->
        <text>"${sql31_Header.SER_NUM}",</text>
        <text>"${C8363}",</text>         <!-- COMPANY NAME -->
        <text>"${sql31_Header.DS_ACCT_NM}",</text>
        <text>"${C23392}",</text>        <!-- SERVICE ADDRESS -->
        <text>"${sql31_Header.SHIP_TO_LINE_ADDR}",</text>
        <text>"${C8345}",</text>         <!-- CITY -->
        <text>"${sql31_Header.SHIP_TO_CTY_ADDR}",</text>
        <text>"${C6487}",</text>         <!-- STATE -->
        <text>"${sql31_Header.SHIP_TO_ST_CD}",</text>
        <text>"${C23408}",</text>          <!-- CONTACT NAME -->
        <text>"${sql31_Header.SVC_CUST_CLLR_TXT}",</text>
        <text>"${C8746}",</text>         <!-- LOCATION -->
        <text>"${sql31_Header.SHIP_TO_LOC_NM}",</text>
        <text>"${C22555}",</text>        <!-- PHONE -->
        <text>"${sql31_Header.CUST_TEL_NUM}",</text>
        <text>"${C6722}",</text>         <!-- ZIP -->
        <text>"${sql31_Header.SHIP_TO_POST_CD}",</text>
        <text>"${C23393}",</text>        <!-- DISPATCH CODES -->
        <text>"${C23409}",</text>          <!-- CALL TYPE -->
        <text>"${sql31_Header.DS_SVC_CALL_TP_CD}",</text>
        <text>"${C23410}",</text>         <!-- SYMPTOM -->
        <text>"${sql31_Header.OPEN_SVC_PBLM_TP_CD}",</text>
        <text>"${C23411}",</text>         <!-- BILL CODE -->
        <text>"${sql31_Header.SVC_BILL_TP_CD}",</text>
        <text>"${C23394}",</text>        <!-- SERVICE CODE DESCRIPTIONS -->
        <text>"${C23412}",</text>         <!-- PROBLEM -->
        <text>"${sql31_Header.SVC_PBLM_LOC_TP_CD}",</text>
        <text>"${C11402}",</text>        <!-- REASON -->
        <text>"${sql31_Header.SVC_PBLM_RSN_TP_CD}",</text>
        <text>"${C23413}",</text>         <!-- CORRECTION -->
        <text>"${sql31_Header.SVC_PBLM_CRCT_TP_CD}",</text>
        <text>"${C23395}",</text>        <!-- CALL START TIME -->
        <text>"${sql31_Header.CALL_START_DT_TM_TXT}",</text>
        <text>"${C23396}",</text>        <!-- CALL COMPLETION TIME -->
        <text>"${sql31_Header.CALL_CPLT_DT_TM_TXT}",</text>
        <text>"${C23414}",</text>         <!-- LABOR TIME -->
        <text>"${sql31_Header.LBOR_TM_AMT_TXT}",</text>
    <!-- Meter Area -->
        <text>"${C23403}",</text>        <!-- METER(DESCR) -->
        <text>"${C23417}",</text>         <!-- METER COUNT -->
        <text>"${MTR_LB_DESC_TXT_01}",</text>
        <text>"${MTR_LB_DESC_TXT_02}",</text>
        <text>"${MTR_LB_DESC_TXT_03}",</text>
        <text>"${MTR_LB_DESC_TXT_04}",</text>
        <text>"${MTR_LB_DESC_TXT_05}",</text>
        <text>"${MTR_LB_DESC_TXT_06}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_01}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_02}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_03}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_04}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_05}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_06}",</text>
        <text>"${C23403}",</text>        <!-- METER(DESCR) -->
        <text>"${C23417}",</text>         <!-- METER COUNT -->
        <text>"${MTR_LB_DESC_TXT_07}",</text>
        <text>"${MTR_LB_DESC_TXT_08}",</text>
        <text>"${MTR_LB_DESC_TXT_09}",</text>
        <text>"${MTR_LB_DESC_TXT_10}",</text>
        <text>"${MTR_LB_DESC_TXT_11}",</text>
        <text>"${MTR_LB_DESC_TXT_12}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_07}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_08}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_09}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_10}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_11}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_12}",</text>
        <text>"${C23397}",</text>        <!-- SERVICE COPIES -->
        <text>"${sql31_Header.TEST_MTR_CNT_VAL_TXT}",</text>
    <!-- Parts Area -->
        <condition test="${i}" operator="equal" value="1">
        <!-- First line output (Label and data)  -->
            <text>"${C23405}",</text>        <!-- REPLACED PART NUMBER(S) -->
            <text>"${C9421}",</text>         <!-- PART DESCRIPTION -->
            <text>"${C6724}",</text>         <!-- QTY -->
            <text>"${C23418}",</text>         <!-- PARTS COST -->
            <text>"${sql41_PartsArea.MDSE_CD}",</text>
            <text>"${sql41_PartsArea.MDSE_DESC_SHORT_TXT}",</text>
            <text>"${sql41_PartsArea.SVC_PRT_QTY_TXT}",</text>
            <text>"${sql41_PartsArea.PRT_TOT_PRC_AMT_TXT}",</text>
        </condition>
        <condition test="${i}" operator="not equal" value="1">
        <!-- From second row is data only -->
            <text>"",</text>                 <!-- REPLACED PART NUMBER(S) -->
            <text>"",</text>                 <!-- PART DESCRIPTION -->
            <text>"",</text>                 <!-- QTY -->
            <text>"",</text>                 <!-- PARTS COST -->
            <text>"${sql41_PartsArea.MDSE_CD}",</text>
            <text>"${sql41_PartsArea.MDSE_DESC_SHORT_TXT}",</text>
            <text>"${sql41_PartsArea.SVC_PRT_QTY_TXT}",</text>
            <text>"${sql41_PartsArea.PRT_TOT_PRC_AMT_TXT}",</text>
        </condition>
    <!-- Parts Footer -->
        <!-- Output last record only -->
        <condition test="${i}" operator="not equal" value="${sql40_PartsArea_RowCount.item_count}">
            <text>"",</text>        <!-- TECHNICIAN COMMENTS -->
            <text>"",</text>
            <text>"",</text>        <!-- PARTS TOTAL -->
            <text>"",</text>
            <text>"",</text>        <!-- TOTAL LABOR @ HR -->
            <text>"",</text>
            <text>"",</text>
            <text>"",</text>        <!-- TOTAL -->
            <text>"",</text>
        </condition>
        <condition test="${i}" operator="equal" value="${sql40_PartsArea_RowCount.item_count}">
            <text>"${C23399}",</text>        <!-- TECHNICIAN COMMENTS -->
            <text>"${sql31_Header.SVC_CMNT_TXT}",</text>
            <text>"${C23415}",</text>         <!-- PARTS TOTAL -->
            <text>"${sql31_Header.PRT_TOT_PRC_AMT_TXT}",</text>
            <text>"${C23398}",</text>        <!-- TOTAL LABOR @ HR -->
            <text>"${sql31_Header.SVC_LBOR_TOT_AMT_TXT}",</text>
            <text>"${sql31_Header.SVC_MIN_CHRG_HRS_AMT_TXT}",</text>
            <text>"${C6736}",</text>         <!-- TOTAL -->
            <text>"${sql31_Header.TOT_PRC_AMT_TXT}",</text>
        </condition>
    <!-- Mod Parts Area -->
        <text>"",</text>                 <!-- MODIFICATION PARTS INSTALLED -->
        <text>"",</text>                 <!-- PART DESCRIPTION -->
        <text>"",</text>                 <!-- QTY -->
        <text>"",</text>
        <text>"",</text>
        <text>"",</text>
    <!-- Footer -->
        <text>"${C23416}",</text>        <!-- CUSTOMER SIGNATURE -->
        <text>"${sql31_Header.SIGNA_FILE_PATH_TXT}",</text>
        <text>"${C23400}",</text>        <!-- CUSTOMER EMAIL -->
        <text>"${sql31_Header.CUST_EML_ADDR}",</text>
        <text>"${C23401}",</text>        <!-- THIS IS NOT AN INVOICE -->
        <text>"${C23402}",</text>        <!-- THIS IS AN ESTIMATE OF SERVICE PERFORMED and DOES NOT INCLUDE TAX, DISCOUNTS or ADDITIONAL SERVICES PROVIDED. -->
        <text>"${C23445}",</text>        <!-- SERVICE DEPT. -->
        <textln>"${SPACE}"</textln>
    </for>
    <assign variable="i" value="0"/>
    <for variable="sql51_ModPartsArea">
        <assign variable="i" value="${i} + 1"/>
        <text>"${C23384}",</text>        <!-- FIELD SERVICE REPORT -->
        <text>"${C22573}",</text>        <!-- CANON SOLUTIONS AMERICA -->
        <text>"${C23385}",</text>        <!-- Canon Solutions America, Inc. -->
        <text>"${C23223}",</text>        <!-- One Canon Park -->
        <text>"${C23386}",</text>        <!-- Melville, NY 11747-3336 -->
        <text>"${C23387}",</text>        <!-- (800) 3555-1385 -->
        <text>"${C23388}",</text>        <!-- TOLL FREE SERVICE NUMBER -->
        <text>"${Cm}",</text>            <!-- Page -->
        <text>"${Cp}",</text>            <!-- of -->
        <text>"${C1359}",</text>         <!-- Date -->
        <text>"${sql31_Header.PROC_DT_TXT}",</text>
        <text>"${C23407}",</text>        <!-- WWW.CSA.CANON.COM -->
        <text>"${C23389}",</text>        <!-- TECHNICIAN ID NUMBER -->
        <text>"${sql31_Header.TECH_CD}",</text>
        <text>"${C23390}",</text>        <!-- TASK NUMBER -->
        <text>"${sql31_Header.SVC_TASK_NUM}",</text>
        <text>"${C23391}",</text>        <!-- MODEL NUMBER -->
        <text>"${sql31_Header.MDL_NM}",</text>
        <text>"${C11603}",</text>        <!-- SERIAL NUMBER -->
        <text>"${sql31_Header.SER_NUM}",</text>
        <text>"${C8363}",</text>         <!-- COMPANY NAME -->
        <text>"${sql31_Header.DS_ACCT_NM}",</text>
        <text>"${C23392}",</text>        <!-- SERVICE ADDRESS -->
        <text>"${sql31_Header.SHIP_TO_LINE_ADDR}",</text>
        <text>"${C8345}",</text>         <!-- CITY -->
        <text>"${sql31_Header.SHIP_TO_CTY_ADDR}",</text>
        <text>"${C6487}",</text>         <!-- STATE -->
        <text>"${sql31_Header.SHIP_TO_ST_CD}",</text>
        <text>"${C23408}",</text>          <!-- CONTACT NAME -->
        <text>"${sql31_Header.SVC_CUST_CLLR_TXT}",</text>
        <text>"${C8746}",</text>         <!-- LOCATION -->
        <text>"${sql31_Header.SHIP_TO_LOC_NM}",</text>
        <text>"${C22555}",</text>        <!-- PHONE -->
        <text>"${sql31_Header.CUST_TEL_NUM}",</text>
        <text>"${C6722}",</text>         <!-- ZIP -->
        <text>"${sql31_Header.SHIP_TO_POST_CD}",</text>
        <text>"${C23393}",</text>        <!-- DISPATCH CODES -->
        <text>"${C23409}",</text>          <!-- CALL TYPE -->
        <text>"${sql31_Header.DS_SVC_CALL_TP_CD}",</text>
        <text>"${C23410}",</text>         <!-- SYMPTOM -->
        <text>"${sql31_Header.OPEN_SVC_PBLM_TP_CD}",</text>
        <text>"${C23411}",</text>         <!-- BILL CODE -->
        <text>"${sql31_Header.SVC_BILL_TP_CD}",</text>
        <text>"${C23394}",</text>        <!-- SERVICE CODE DESCRIPTIONS -->
        <text>"${C23412}",</text>         <!-- PROBLEM -->
        <text>"${sql31_Header.SVC_PBLM_LOC_TP_CD}",</text>
        <text>"${C11402}",</text>        <!-- REASON -->
        <text>"${sql31_Header.SVC_PBLM_RSN_TP_CD}",</text>
        <text>"${C23413}",</text>         <!-- CORRECTION -->
        <text>"${sql31_Header.SVC_PBLM_CRCT_TP_CD}",</text>
        <text>"${C23395}",</text>        <!-- CALL START TIME -->
        <text>"${sql31_Header.CALL_START_DT_TM_TXT}",</text>
        <text>"${C23396}",</text>        <!-- CALL COMPLETION TIME -->
        <text>"${sql31_Header.CALL_CPLT_DT_TM_TXT}",</text>
        <text>"${C23414}",</text>         <!-- LABOR TIME -->
        <text>"${sql31_Header.LBOR_TM_AMT_TXT}",</text>
    <!-- Meter Area -->
        <text>"${C23403}",</text>        <!-- METER(DESCR) -->
        <text>"${C23417}",</text>         <!-- METER COUNT -->
        <text>"${MTR_LB_DESC_TXT_01}",</text>
        <text>"${MTR_LB_DESC_TXT_02}",</text>
        <text>"${MTR_LB_DESC_TXT_03}",</text>
        <text>"${MTR_LB_DESC_TXT_04}",</text>
        <text>"${MTR_LB_DESC_TXT_05}",</text>
        <text>"${MTR_LB_DESC_TXT_06}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_01}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_02}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_03}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_04}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_05}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_06}",</text>
        <text>"${C23403}",</text>        <!-- METER(DESCR) -->
        <text>"${C23417}",</text>         <!-- METER COUNT -->
        <text>"${MTR_LB_DESC_TXT_07}",</text>
        <text>"${MTR_LB_DESC_TXT_08}",</text>
        <text>"${MTR_LB_DESC_TXT_09}",</text>
        <text>"${MTR_LB_DESC_TXT_10}",</text>
        <text>"${MTR_LB_DESC_TXT_11}",</text>
        <text>"${MTR_LB_DESC_TXT_12}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_07}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_08}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_09}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_10}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_11}",</text>
        <text>"${READ_MTR_CNT_VAL_TXT_12}",</text>
        <text>"${C23397}",</text>        <!-- SERVICE COPIES -->
        <text>"${sql31_Header.TEST_MTR_CNT_VAL_TXT}",</text>
    <!-- Parts Area -->
        <text>"",</text>         <!-- REPLACED PART NUMBER(S) -->
        <text>"",</text>
        <text>"",</text>         <!-- PART DESCRIPTION -->
        <text>"",</text>
        <text>"",</text>         <!-- QTY -->
        <text>"",</text>
        <text>"",</text>         <!-- PARTS COST -->
        <text>"",</text>
    <!-- Parts Footer -->
        <text>"",</text>         <!-- TECHNICIAN COMMENTS -->
        <text>"",</text>
        <text>"",</text>         <!-- PARTS TOTAL -->
        <text>"",</text>
        <text>"",</text>         <!-- TOTAL LABOR @ HR -->
        <text>"",</text>
        <text>"",</text>
        <text>"",</text>         <!-- TOTAL -->
        <text>"",</text>
    <!-- Mod Parts Area -->
        <condition test="${i}" operator="equal" value="1">
            <!-- First Line output (Label and data) -->
            <text>"${C23406}",</text>        <!-- MODIFICATION PARTS INSTALLED -->
            <text>"${C9421}",</text>         <!-- PART DESCRIPTION -->
            <text>"${C6724}",</text>         <!-- QTY -->
            <text>"${sql51_ModPartsArea.MDSE_CD}",</text>
            <text>"${sql51_ModPartsArea.MDSE_DESC_SHORT_TXT}",</text>
            <text>"${sql51_ModPartsArea.SVC_MOD_QTY_TXT}",</text>
        </condition>
        <condition test="${i}" operator="not equal" value="1">
            <!-- From the second line is data only -->
            <text>"",</text>         <!-- MODIFICATION PARTS INSTALLED -->
            <text>"",</text>         <!-- PART DESCRIPTION -->
            <text>"",</text>         <!-- QTY -->
            <text>"${sql51_ModPartsArea.MDSE_CD}",</text>
            <text>"${sql51_ModPartsArea.MDSE_DESC_SHORT_TXT}",</text>
            <text>"${sql51_ModPartsArea.SVC_MOD_QTY_TXT}",</text>
        </condition>
    <!-- Footer -->
        <text>"${C23416}",</text>        <!-- CUSTOMER SIGNATURE -->
        <text>"${sql31_Header.SIGNA_FILE_PATH_TXT}",</text>
        <text>"${C23400}",</text>        <!-- CUSTOMER EMAIL -->
        <text>"${sql31_Header.CUST_EML_ADDR}",</text>
        <text>"${C23401}",</text>        <!-- THIS IS NOT AN INVOICE -->
        <text>"${C23402}",</text>        <!-- THIS IS AN ESTIMATE OF SERVICE PERFORMED and DOES NOT INCLUDE TAX, DISCOUNTS or ADDITIONAL SERVICES PROVIDED -->
        <textln>"${SPACE}"</textln>
    </for>
</section>
</doc>
<mdatas>
    <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>
