<template>

 <variable name="sql1" type="sql" value="
select sysdate from dual
"/>

<doc>
 <section name="Control Section">
  <textln>VERSION=8.1</textln>
 </section>
 <section name="Form Section">
  <textln>FORM=..\..\forms\ZZPF0000.fcp</textln>
 </section>
 <section name="Table Data Section">
  <for variable="sql1">
   <text>"${sql1.sysdate}",</text>
  </for>
 </section>
</doc>

<mdatas>
  <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>