<?xml version="1.0" encoding="UTF-8"?>
<!--
    web.xml Copyright FUJITSU LIMITED 2006-2007
    System name : Common infrastructure component
    Outline :
     [Name] Specify settings (execution mode/debug level, etc.) related to Web application environment
     [Classification]112, screen application control
     [Attribute](public) (S)
   Release:
    NO  Date      Ver.  Updated By  Content
     1  04/30/08  1.0   EZD         English localization
-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>wfAdminTest</display-name>

    <!--CrystalReport Viewer -->
    <context-param>
        <param-name>crystal_image_uri</param-name>
        <param-value>/dvlppc/crystalreportviewers</param-value>
    </context-param>
    <!-- Definition of context-param -->
    <!-- Execution mode [CHANGE POSSIBLE] -->
    <context-param>
        <param-name>execu_mode</param-name>
        <param-value>1</param-value>
    </context-param>

    <!-- Debug level [CHANGE POSSIBLE]  -->
    <context-param>
        <param-name>debug_level</param-name>
        <param-value>3</param-value>
    </context-param>

    <!--  APCOORDINATOR log information [CHANGE POSSIBLE]  -->
    <context-param>
        <param-name>logLevel</param-name>
        <param-value>10</param-value>
    </context-param>

    <!-- Browser title for when in operating mode [CHANGE POSSIBLE]   -->
    <context-param>
        <param-name>unyo_title</param-name>
        <param-value>Tentative title for when operating</param-value>
    </context-param>

    <!-- Browser title for when in test mode [CHANGE POSSIBLE]  -->
    <context-param>
        <param-name>test_title</param-name>
        <param-value>Tentative title for when testing</param-value>
    </context-param>

    <!-- Communication core class (for COBOL="parts.cobolcommon.EZDBusinessApInOutBAS")(for EJB="parts.ejbcommon.EZDBusinessApInOutEJB") [CHANGE POSSIBLE]  -->
    <context-param>
        <param-name>commcore_class</param-name>
        <!-- 08/14/09 [C09012] MOD start -->
        <!--    <param-value>parts.ejbcommon.EZDBusinessApInOutEJB</param-value> -->
        <param-value>parts.ejbcommon.EZDBusinessApInOutEJBLocal</param-value>
        <!--  08/14/09 [C09012] MOD end -->
    </context-param>

    <!-- Directory of unit test Business Component Interfase Message data  [CHANGE NECESSARY] -->
    <context-param>
        <param-name>denbun_dir</param-name>
        <param-value>C:\S21_EZDeveloper\dvlpPC\00temp\stubFiles</param-value>
    </context-param>

    <!-- Online operation date  [CHANGE POSSIBLE]  -->
    <context-param>
        <param-name>online_operation_date_for_test</param-name>
        <param-value>SystemDate</param-value>
    </context-param>

    <!-- Upload/download file temporary folder  [CHANGE NECESSARY] -->
    <context-param>
        <param-name>up_down_file_dir</param-name>
        <param-value>C:\S21_EZDeveloper\dvlpPC\00temp\updownfiles</param-value>
    </context-param>

    <!-- Open log window for browser [CHANGE POSSIBLE] -->
    <context-param>
        <param-name>browser_log_window</param-name>
        <param-value>false</param-value>
    </context-param>

    <!--  Online mode  [NO CHANGE] -->
    <context-param>
        <param-name>dbuse</param-name>
        <param-value>0</param-value>
    </context-param>

    <!-- Database Character Code  [CHANGE POSSIBLE]  -->
    <!--Used for checking the number of bytes in mixed byte data item-->
    <context-param>
        <param-name>db_encode</param-name>
        <param-value>UTF-8</param-value>
    </context-param>

    <!-- APCOORDINATOR encoding information [NO CHANGE] -->
    <context-param>
        <param-name>uji.defaultEncoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>

    <!--  EZD factory class [NO CHANGE] -->
    <context-param>
        <param-name>factory</param-name>
        <param-value>parts.servletcommon.EZDFactory</param-value>
    </context-param>

    <!-- Start business application id list [NO CHANGE] -->
    <context-param>
        <param-name>startBusinessIds</param-name>
        <param-value>ZZZL9900</param-value>
    </context-param>

    <!-- APCOORDINATOR command map [NO CHANGE] -->
    <context-param>
        <description>UJI command map</description>
        <param-name>commandMap</param-name>
        <param-value>/WEB-INF/commands/</param-value>
    </context-param>

    <!-- APCOORDINATOR page map [NO CHANGE] -->
    <context-param>
        <description>UJI page map</description>
        <param-name>pageMap</param-name>
        <param-value>/WEB-INF/pages/</param-value>
    </context-param>

    <!--  APCOORDINATOR remote map (for EJB call) [NO CHANGE] -->
    <context-param>
        <description></description>
        <param-name>uji.remoteMap</param-name>
        <param-value>/WEB-INF/remoteMap/remoteMap.xml</param-value>
    </context-param>

    <!-- Filter definitions -->
    <!-- S21 Online - front-end filter -->
    <filter>
        <filter-name>FrontendFilter</filter-name>
        <filter-class>com.canon.cusa.s21.framework.internal.online.servlet.S21FrontendFilter</filter-class>
        <init-param>
            <param-name>restoreConnection</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>FrontendFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- S21 Online - HTTP Compression filter -->
    <!--<filter>-->
        <!--<filter-name>HttpCompressionFilter</filter-name>-->
        <!--<filter-class>com.canon.cusa.s21.framework.internal.online.servlet.S21CompressionFilter</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>compression</param-name>-->
            <!--<param-value>false</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>compressionThreshold</param-name>-->
            <!--<param-value>128</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>HttpCompressionFilter</filter-name>-->
        <!--<url-pattern>*.jsp</url-pattern>-->
    <!--</filter-mapping>-->
    <!--<filter-mapping>-->
        <!--<filter-name>HttpCompressionFilter</filter-name>-->
        <!--<url-pattern>*.js</url-pattern>-->
    <!--</filter-mapping>-->
    <!--<filter-mapping>-->
        <!--<filter-name>HttpCompressionFilter</filter-name>-->
        <!--<url-pattern>*.css</url-pattern>-->
    <!--</filter-mapping>-->

    <!--  ThreadLocalCache filter -->
    <!--
        <filter>
            <filter-name>Common-S21ThreadLocalCacheFilter</filter-name>
            <filter-class>com.canon.cusa.s21.framework.common.cache.threadlocal.servlet.S21ThreadLocalCacheFilter</filter-class>
            <init-param>
                <param-name>cacheName</param-name>
                <param-value>common_tl</param-value>
            </init-param>
        </filter>
        <filter-mapping>
            <filter-name>Common-S21ThreadLocalCacheFilter</filter-name>
            <url-pattern>*.jsp</url-pattern>
        </filter-mapping>
        <filter-mapping>
            <filter-name>Common-S21ThreadLocalCacheFilter</filter-name>
            <url-pattern>*.sweb</url-pattern>
        </filter-mapping>
    -->

    <!-- S21 Security - Authenitcation filter -->
    <!--<filter>-->
        <!--<filter-name>authenticationFilter</filter-name>-->
        <!--<display-name>S21 Authentication Filter</display-name>-->
        <!--<filter-class>com.canon.cusa.s21.framework.security.siteminder.S21SiteMinderAuthenticationFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>authenticationFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->


    <!-- WF local testing environment ONLY!!!  WF ADMIN User - Inject WFADMIN User ID  filter to all Sweb requests -->
    <filter>
        <filter-name>S21InjectWFAdminUserFilter</filter-name>
        <filter-class>com.canon.cusa.s21.workflow.dev.web.InjectWFAdminUserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>S21InjectWFAdminUserFilter</filter-name>
        <url-pattern>*.sweb</url-pattern>
    </filter-mapping>

    <!-- servlet definition -->

    <!-- Main control servlet for EZD [NO CHANGE] -->
    <!--CrystalReport Viewer -->
    <!--<servlet>-->
        <!--<servlet-name>CrystalReportViewerServlet</servlet-name>-->
        <!--<servlet-class>com.crystaldecisions.report.web.viewer.CrystalReportViewerServlet</servlet-class>-->
    <!--</servlet>-->

    <!-- Main control servlet for EZD [NO CHANGE] -->
    <!--<servlet>-->
        <!--<servlet-name>main.jsp</servlet-name>-->
        <!--<jsp-file>/jsp/common/main.jsp</jsp-file>-->
    <!--</servlet>-->

    <!--<servlet>-->
        <!--<servlet-name>doDownload</servlet-name>-->
        <!--<servlet-class>parts.servletcommon.EZDDownloadServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet>-->
        <!--<servlet-name>popup.jsp</servlet-name>-->
        <!--<jsp-file>/jsp/common/popup.jsp</jsp-file>-->
    <!--</servlet>-->
    <!--<servlet>-->
        <!--<servlet-name>popup_BIG.jsp</servlet-name>-->
        <!--<jsp-file>/jsp/common/popup_BIG.jsp</jsp-file>-->
    <!--</servlet>-->
    <!--<servlet>-->
        <!--<servlet-name>downloadPDF.jsp</servlet-name>-->
        <!--<jsp-file>/jsp/common/downloadPDF.jsp</jsp-file>-->
    <!--</servlet>-->
    <!--<servlet>-->
        <!--<servlet-name>popup_Viewer.jsp</servlet-name>-->
        <!--<jsp-file>/jsp/common/popup_Viewer.jsp</jsp-file>-->
    <!--</servlet>-->

    <!-- job dispatcher initializer servlet for Workflow-->
    <!--<servlet>-->
        <!--<servlet-name>dispatcher</servlet-name>-->
        <!--<servlet-class>com.canon.cusa.s21.framework.workflow.core.job.dispatcher.servlet.S21WfAsyncJobDispatcherStartupServlet</servlet-class>-->
        <!--<init-param>-->
            <!--<param-name>dispatcherClassName</param-name>-->
            <!--<param-value>com.canon.cusa.s21.framework.workflow.ezd.job.dispatcher.thread.websphere.WfWASJobDispatcher</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>dispatcherThreadClassName</param-name>-->
            <!--<param-value>com.canon.cusa.s21.framework.workflow.ezd.job.dispatcher.thread.WfJobDispatcherThreadEZDImpl</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>numberOfThread</param-name>-->
            <!--<param-value>1</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>pollingInterval</param-name>-->
            <!--<param-value>5000</param-value>-->
        <!--</init-param>-->
        <!-- set isThreadMode=true when deployed in WebSphere -->
        <!--<init-param>-->
            <!--<param-name>isThreadMode</param-name>-->
            <!--<param-value>false</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>executorEjbJndiName</param-name>-->
            <!--<param-value>java:comp/env/ejb/DVLPPC_WU_SESSION_BEAN</param-value>-->
        <!--</init-param>-->
        <!-- uncomment when deployed in WebSphere -->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!-- simple web controller servlet S21WfSimpleWebServlet for Workflow-->
    <servlet>
        <servlet-name>workflowAdmin</servlet-name>
        <servlet-class>com.canon.cusa.s21.framework.workflow.ezd.servlet.S21WfAppServlet</servlet-class>
        <init-param>
            <param-name>application</param-name>
            <param-value>app-resources</param-value>
        </init-param>
        <init-param>
            <param-name>actionClass</param-name>
            <param-value>com.canon.cusa.s21.framework.workflow.common.sweb.page.WfSwebPageListenerDispatcherAction</param-value>
        </init-param>
        <init-param>
            <param-name>pageClassPackagePrefix</param-name>
            <param-value>com.canon.cusa.s21.workflow.admin.webapp,com.canon.cusa.s21.framework.workflow.core.webapp</param-value>
        </init-param>
        <init-param>
            <param-name>jspContentRootPrefix</param-name>
            <param-value>/jsp</param-value>
        </init-param>
        <init-param>
            <param-name>defaultListenerMethod</param-name>
            <param-value>showPage</param-value>
        </init-param>
        <init-param>
            <param-name>actionSuffix</param-name>
            <param-value>.sweb</param-value>
        </init-param>
        <init-param>
            <param-name>defaultLayoutJsp</param-name>
            <param-value>/jsp/wfadmin/_layout/WfAdminPageLayout.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>serviceProxyClass</param-name>
            <param-value>com.canon.cusa.s21.framework.workflow.ezd.servlet.WfEZDTransactionProxy</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>0</param-value>
        </init-param>
        <load-on-startup>100</load-on-startup>
    </servlet>
    <!-- S21Cache - WebSphere Distribute Cache initialization -->
    <!--<servlet>-->
        <!--<servlet-name>s21cache_bootstrap</servlet-name>-->
        <!--<servlet-class>com.canon.cusa.s21.framework.common.cache.S21CacheBootstrapServlet</servlet-class>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>main.jsp</servlet-name>-->
        <!--<url-pattern>/main.jsp</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>doDownload</servlet-name>-->
        <!--<url-pattern>/doDownload</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>popup.jsp</servlet-name>-->
        <!--<url-pattern>/popup.jsp</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>popup_BIG.jsp</servlet-name>-->
        <!--<url-pattern>/popup_BIG.jsp</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>doDownload</servlet-name>-->
        <!--<url-pattern>/download.pdf</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>downloadPDF.jsp</servlet-name>-->
        <!--<url-pattern>/downloadPDF.jsp</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>popup_Viewer.jsp</servlet-name>-->
        <!--<url-pattern>/popup_Viewer.jsp</url-pattern>-->
    <!--</servlet-mapping>-->

    <!-- job dispatcher servlet mapping for Workflow-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>dispatcher</servlet-name>-->
        <!--<url-pattern>/dispatcher</url-pattern>-->
    <!--</servlet-mapping>-->
    <!-- simple web servlet mapping for Workflow-->
    <servlet-mapping>
        <servlet-name>workflowAdmin</servlet-name>
        <url-pattern>*.sweb</url-pattern>
    </servlet-mapping>

    <!--<servlet-mapping>-->
        <!--<servlet-name>CrystalReportViewerServlet</servlet-name>-->
        <!--<url-pattern>/CrystalReportViewerHandler</url-pattern>-->
    <!--</servlet-mapping>-->

    <!-- session-config definition -->
    <!-- Session time-out  [CHANGE POSSIBLE] -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- welcome-file-list definition -->
    <!-- Welcome page HTML  [CHANGE POSSIBLE] -->
    <welcome-file-list>
        <!--<welcome-file>index.html</welcome-file>-->
        <welcome-file>jsp/wfadmin/home/_launcher.jsp</welcome-file>
    </welcome-file-list>

    <!-- Definition of taglib-->
    <!-- UJI tag use declaration (TBD) [NO CHANGE] -->
    <!--<jsp-config>-->
        <!--<taglib>-->
            <!--<taglib-uri>uji-taglib</taglib-uri>-->
            <!--<taglib-location>/WEB-INF/ujiall.tld</taglib-location>-->
        <!--</taglib>-->
    <!--</jsp-config>-->

    <!--<ejb-ref id="EjbRefBinding_EZDSessionBean">-->
        <!--<description>EZDSessionBean</description>-->
        <!--<ejb-ref-name>ejb/DVLPPC_WU_SESSION_BEAN</ejb-ref-name>-->
        <!--<ejb-ref-type>Session</ejb-ref-type>-->
        <!--<home>parts.ejbcommon.EZDSessionBeanHome</home>-->
        <!--<remote>parts.ejbcommon.EZDSessionBeanRemote</remote>-->
    <!--</ejb-ref>-->
    <!-- Workflow: uncomment when deployed to WebSphere -->
    <!--
    <resource-ref id="Resource_Ref_1">
        <description>My WorkManager</description>
        <res-ref-name>wm/DefaultWorkManager</res-ref-name>
        <res-type>com.ibm.websphere.asynchbeans.WorkManager</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    -->
    <!-- MIME-Type -->
    <mime-mapping>
        <extension>pdf</extension>
        <mime-type>application/pdf</mime-type>
    </mime-mapping>
</web-app>
