<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00" type="sql" value="
	select  count(*) item_count
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'INV_PRT_RQST_SQ'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql0" type="sql" value="
	select  RPT_PRM_NM,RPT_PRM_VAL_TXT
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'INV_PRT_RQST_SQ'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<variable name="GLBL_CMPY_CD" type="string" value=""/>
<variable name="INV_PRT_RQST_SQ" type="string" value=""/>
<variable name="INTL_LANG_VAL_COL_NM" type="string" value=""/>

<variable name="C23186" type="string" value=""/>  <!-- Request ID -->
<variable name="C23187" type="string" value=""/>  <!-- Total Print Requests -->
<variable name="C23188" type="string" value=""/>  <!-- Bill/Invoice Number -->
<variable name="C389" type="string" value=""/>    <!-- Amount -->
<variable name="C23189" type="string" value=""/>  <!-- Bill/Invoice Date -->
<variable name="C2240" type="string" value=""/>   <!-- Invoice Type -->
<variable name="Cm" type="string" value=""/>      <!-- Page -->
<variable name="Cp" type="string" value=""/>      <!-- of -->



 <variable name="sql01" type="sql" value="
SELECT count(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('23186','23187','23188','389','23189','2240','m','p')
"/>

 <variable name="sql1" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('23186','23187','23188','389','23189','2240','m','p')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>



 <variable name="sql02" type="sql" value="
SELECT count(*) item_count
FROM AUD_TRAIL_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.INV_PRT_RQST_SQ = ${INV_PRT_RQST_SQ}
AND A.EZCANCELFLAG = '0'
"/>


<variable name="sql2" type="sql" value="
SELECT 
GLBL_CMPY_CD
,AUD_TRAIL_RPT_WRK_PK
,AUD_TRAIL_PROC_TS
,AUD_TRAIL_RPT_TTL_TXT
,INV_PRT_BAT_TP_CD
,AUD_TRAIL_RPT_TS_PRINT_TXT
,INV_PRT_RQST_SQ
,AUD_TRAIL_RPT_CNT_PRINT_TXT
,INV_BILL_NUM
,INV_TOT_AMT_PRINT_TXT
,AUD_TRAIL_RPT_DT_PRINT_TXT
,AUD_TRAIL_RPT_INV_TP_TXT
FROM AUD_TRAIL_RPT_WRK
WHERE
GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND INV_PRT_RQST_SQ = ${INV_PRT_RQST_SQ}
AND EZCANCELFLAG = '0'
ORDER BY AUD_TRAIL_RPT_WRK_PK
"/>


<doc encoding="UTF-8">
<condition test="${sql00.item_count}" value="0" operator="equal">
 <error message="no data in Parameter DB"/>
</condition>

<for variable="sql0">
	<condition test="${sql0.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
		<assign variable="GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="INV_PRT_RQST_SQ" operator="equal">
		<assign variable="INV_PRT_RQST_SQ" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
		<assign variable="INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
</for>

 <condition test="${sql01.item_count}" value="0" operator="equal">
  <error message="no data in Language DB"/>
 </condition>

<for variable="sql1">
	<condition test="${sql1.LANG_KEY_CD}" value="23186" operator="equal"><assign variable="C23186" value="${sql1.LANGUAGE_LABEL}:"/></condition>  <!-- Request ID -->
	<condition test="${sql1.LANG_KEY_CD}" value="23187" operator="equal"><assign variable="C23187" value="${sql1.LANGUAGE_LABEL}:"/></condition>  <!-- Total Print Requests -->
	<condition test="${sql1.LANG_KEY_CD}" value="23188" operator="equal"><assign variable="C23188" value="${sql1.LANGUAGE_LABEL}"/></condition>   <!-- Bill/Invoice Number -->
	<condition test="${sql1.LANG_KEY_CD}" value="389" operator="equal"><assign variable="C389" value="${sql1.LANGUAGE_LABEL}"/></condition>       <!-- Amount -->
	<condition test="${sql1.LANG_KEY_CD}" value="23189" operator="equal"><assign variable="C23189" value="${sql1.LANGUAGE_LABEL}"/></condition>   <!-- Bill/Invoice Date -->
	<condition test="${sql1.LANG_KEY_CD}" value="2240" operator="equal"><assign variable="C2240" value="${sql1.LANGUAGE_LABEL}"/></condition>     <!-- Invoice Type -->
	<condition test="${sql1.LANG_KEY_CD}" value="m" operator="equal"><assign variable="Cm" value="${sql1.LANGUAGE_LABEL}"/></condition>           <!-- Page -->
	<condition test="${sql1.LANG_KEY_CD}" value="p" operator="equal"><assign variable="Cp" value="${sql1.LANGUAGE_LABEL}"/></condition>           <!-- of -->
</for>


 <condition test="${sql02.item_count}" value="0" operator="equal">
  <error message="no data in Transaction DB"/>
 </condition>

 <section name="Control Section">
  <textln>VERSION=8.1</textln>
 </section>
 <section name="Form Section">
  <textln>FORM=..\..\forms\NWCF0120.fcp</textln>
 </section>
	  <textln>[Table Data Section]</textln>
    <for variable="sql2">
	  <text>"${sql2.AUD_TRAIL_RPT_TTL_TXT}",</text>
	  <text>"${sql2.INV_PRT_BAT_TP_CD}",</text>
	  <text>"${sql2.AUD_TRAIL_RPT_TS_PRINT_TXT}",</text>
	  <text>"${C23186} ${sql2.INV_PRT_RQST_SQ}",</text>
	  <text>"${C23187} ${sql2.AUD_TRAIL_RPT_CNT_PRINT_TXT}",</text>
	  <text>"${C23188}",</text>
	  <text>"${sql2.INV_BILL_NUM}",</text>
	  <text>"${C389}",</text>
	  <text>"${sql2.INV_TOT_AMT_PRINT_TXT}",</text>
	  <text>"${C23189}",</text>
	  <text>"${sql2.AUD_TRAIL_RPT_DT_PRINT_TXT}",</text>
	  <text>"${C2240}",</text>
	  <text>"${sql2.AUD_TRAIL_RPT_INV_TP_TXT}",</text>
	  <text>"${Cm}",</text>
	  <textln>"${Cp}"</textln>
    </for>

</doc>
<mdatas>
  <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>