<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00" type="sql" value="
	select  count(*) item_count
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'STMT_SQ_PK'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql0" type="sql" value="
	select  RPT_PRM_NM,RPT_PRM_VAL_TXT
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'STMT_SQ_PK'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<variable name="GLBL_CMPY_CD" type="string" value=""/>
<variable name="STMT_SQ_PK" type="string" value=""/>
<variable name="INTL_LANG_VAL_COL_NM" type="string" value=""/>

<variable name="C22572" type="string" value=""/>
<variable name="C172" type="string" value=""/>
<variable name="C1359" type="string" value=""/>
<variable name="C22574" type="string" value=""/>
<variable name="C605" type="string" value=""/>
<variable name="C22575" type="string" value=""/>
<variable name="C14934" type="string" value=""/>
<variable name="C22576" type="string" value=""/>
<variable name="C22577" type="string" value=""/>
<variable name="Cm"  type="string" value=""/>
<variable name="Cp"  type="string" value=""/>
<variable name="C6793" type="string" value=""/>
<variable name="C23429" type="string" value=""/>
<variable name="C23430" type="string" value=""/>
<variable name="C23431" type="string" value=""/>
<variable name="C23432" type="string" value=""/>
<variable name="C23433" type="string" value=""/>
<variable name="C23434" type="string" value=""/>
<variable name="C23435" type="string" value=""/>
<variable name="C23436" type="string" value=""/>
<variable name="C23437" type="string" value=""/>
<variable name="C23438" type="string" value=""/>
<variable name="C22582" type="string" value=""/>
<variable name="C23440" type="string" value=""/>
<variable name="C23441" type="string" value=""/>
<variable name="C23442" type="string" value=""/>
<variable name="C23443" type="string" value=""/>
<variable name="C23444" type="string" value=""/>

<variable name="C10984" type="string" value=""/>
<variable name="C22590" type="string" value=""/>
<variable name="C22591" type="string" value=""/>
<variable name="C1215" type="string" value=""/>
<variable name="C22592" type="string" value=""/>
<variable name="C22593" type="string" value=""/>
<variable name="C22594" type="string" value=""/>
<variable name="C22595" type="string" value=""/>
<variable name="C22596" type="string" value=""/>
<variable name="C22597" type="string" value=""/>
<variable name="C4828" type="string" value=""/>
<variable name="C2840" type="string" value=""/>
<variable name="C4889" type="string" value=""/>
<variable name="C22599" type="string" value=""/>
<variable name="C5471" type="string" value=""/>
<variable name="C1496" type="string" value=""/>
<variable name="C1373" type="string" value=""/>
<variable name="C22600" type="string" value=""/>
<variable name="C2204" type="string" value=""/>
<variable name="C389" type="string" value=""/>
<variable name="C22601" type="string" value=""/>
<variable name="C559" type="string" value=""/>
<variable name="C23446" type="string" value=""/>


 <variable name="sql01" type="sql" value="
SELECT count(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('22572','172','1359','22574','605','22575','14934','22576','22577','10984','22590','22591','1215','22592','22593','22594','22595','22596','22597','4828','2840','4889','22599','5471','1496','1373','22600','2204','389','22601','559','6793','23429','23430','23431','23432','23433','23434','23435','23436','23437','23438','22582','23440','23441','23442','23443','23444','m','p','23446')
"/>

 <variable name="sql1" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('22572','172','1359','22574','605','22575','14934','22576','22577','10984','22590','22591','1215','22592','22593','22594','22595','22596','22597','4828','2840','4889','22599','5471','1496','1373','22600','2204','389','22601','559','6793','23429','23430','23431','23432','23433','23434','23435','23436','23437','23438','22582','23440','23441','23442','23443','23444','m','p','23446')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>



 <variable name="sql02" type="sql" value="
SELECT count(*) item_count
FROM AR_STMT_INFO_WRK_V A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.STMT_SQ_PK = ${STMT_SQ_PK}
"/>


<variable name="sql2" type="sql" value="
SELECT HDR_CMPY_NM
,HDR_OFC_NM
,HDR_OFC_FIRST_LINE_ADDR
,HDR_OFC_SCD_LINE_ADDR
,HDR_OFC_THIRD_LINE_ADDR
,HDR_FIRST_CUST_CD
,HDR_SCD_CUST_CD
,HDR_STMT_PRINT_DT_DISP_TXT
,HDR_REM_CMPY_NM
,HDR_FIRST_REM_TO_LOC_NM
,HDR_SCD_REM_TO_LOC_NM
,HDR_ADDL_CUST_NM
,HDR_CUST_NM
,HDR_CUST_FIRST_LINE_ADDR
,HDR_CUST_SCD_LINE_ADDR
,HDR_FIRST_SVC_CTAC_TXT
,HDR_FIRST_CTAC_TXT
,HDR_DEAL_CCY_TXT
,HDR_AGE_CUR_BCKT_AMT_TXT
,HDR_AGE_FIRST_BCKT_AMT_TXT
,HDR_AGE_SCD_BCKT_AMT_TXT
,HDR_AGE_THIRD_BCKT_AMT_TXT
,HDR_AGE_OVER_BCKT_AMT_TXT
,HDR_BAL_TOT_AMT_TXT
,INV_DT_TXT
,DTL_AR_CUST_REF_NUM
,DTL_CONTR_NUM
,DTL_CUST_ISS_PO_NUM_TXT
,DTL_CHK_CMNT_TXT
,DTL_LATE_DAYS_AOT
,DTL_INV_AMT_TXT
,DTL_CR_AMT_TXT
,DTL_INV_NET_AMT_TXT
,DTL_INV_AMT_CCY_TXT
,DTL_CR_AMT_CCY_TXT
,DTL_INV_NET_AMT_CCY_TXT
,CLT_PSN_EML_ADDR
FROM AR_STMT_INFO_WRK_V A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.STMT_SQ_PK = ${STMT_SQ_PK}
ORDER BY AR_STMT_DTL_SQ
"/>

<!-- START  [QC#30586,ADD] -->
	<!-- 10.Get VAR_CHAR_CONST Data -->
	<variable name="sql3" type="sql" value="
		SELECT 
		    'sql3'              sqlid
		    ,VAR_CHAR_CONST_VAL TICKMARK_FLG
		FROM VAR_CHAR_CONST
		WHERE 
		    EZCANCELFLAG = '0'
		AND GLBL_CMPY_CD = ${GLBL_CMPY_CD}
		AND VAR_CHAR_CONST_NM='STATEMENT_TICKMARK_FLG'
	"/>
<!-- END  [QC#30586,ADD] -->

<doc encoding="UTF-8">
<condition test="${sql00.item_count}" value="0" operator="equal">
 <error message="no data in Parameter DB"/>
</condition>

<for variable="sql0">
	<condition test="${sql0.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
		<assign variable="GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="STMT_SQ_PK" operator="equal">
		<assign variable="STMT_SQ_PK" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
		<assign variable="INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
</for>

 <condition test="${sql01.item_count}" value="0" operator="equal">
  <error message="no data in Language DB"/>
 </condition>

<for variable="sql1">
	<condition test="${sql1.LANG_KEY_CD}" value="22572" operator="equal"><assign variable="C22572" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="172" operator="equal"><assign variable="C172" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1359" operator="equal"><assign variable="C1359" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22574" operator="equal"><assign variable="C22574" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="605" operator="equal"><assign variable="C605" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22575" operator="equal"><assign variable="C22575" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="14934" operator="equal"><assign variable="C14934" value="${sql1.LANGUAGE_LABEL} -"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22576" operator="equal"><assign variable="C22576" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22577" operator="equal"><assign variable="C22577" value="${sql1.LANGUAGE_LABEL}"/></condition>
	
    <condition test="${sql1.LANG_KEY_CD}" value="6793" operator="equal"><assign variable="C6793" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23429" operator="equal"><assign variable="C23429" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23430" operator="equal"><assign variable="C23430" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23431" operator="equal"><assign variable="C23431" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23432" operator="equal"><assign variable="C23432" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23433" operator="equal"><assign variable="C23433" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23434" operator="equal"><assign variable="C23434" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23435" operator="equal"><assign variable="C23435" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23436" operator="equal"><assign variable="C23436" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23437" operator="equal"><assign variable="C23437" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23438" operator="equal"><assign variable="C23438" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="22582" operator="equal"><assign variable="C22582" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23440" operator="equal"><assign variable="C23440" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23441" operator="equal"><assign variable="C23441" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23442" operator="equal"><assign variable="C23442" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23443" operator="equal"><assign variable="C23443" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23444" operator="equal"><assign variable="C23444" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="m" operator="equal"><assign variable="Cm" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="p" operator="equal"><assign variable="Cp" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="10984" operator="equal"><assign variable="C10984" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22590" operator="equal"><assign variable="C22590" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22591" operator="equal"><assign variable="C22591" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1215" operator="equal"><assign variable="C1215" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22592" operator="equal"><assign variable="C22592" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22593" operator="equal"><assign variable="C22593" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22594" operator="equal"><assign variable="C22594" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22595" operator="equal"><assign variable="C22595" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22596" operator="equal"><assign variable="C22596" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22597" operator="equal"><assign variable="C22597" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4828" operator="equal"><assign variable="C4828" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2840" operator="equal"><assign variable="C2840" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4889" operator="equal"><assign variable="C4889" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22599" operator="equal"><assign variable="C22599" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="5471" operator="equal"><assign variable="C5471" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1496" operator="equal"><assign variable="C1496" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1373" operator="equal"><assign variable="C1373" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22600" operator="equal"><assign variable="C22600" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2204" operator="equal"><assign variable="C2204" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="389" operator="equal"><assign variable="C389" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22601" operator="equal"><assign variable="C22601" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="559" operator="equal"><assign variable="C559" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23446" operator="equal"><assign variable="C23446" value="${sql1.LANGUAGE_LABEL}"/></condition>
</for>

 <condition test="${sql02.item_count}" value="0" operator="equal">
  <error message="no data in Transaction DB"/>
 </condition>

 <section name="Control Section">
  <textln>VERSION=8.1</textln>
 </section>
 <section name="Form Section">
<!-- START  [QC#31022,ADD] -->
  <!-- <textln>FORM=..\..\forms\NFCF0010.fcp</textln> -->
  <textln>FORM=..\..\forms\NFCF0010.fcx</textln>
<!-- END  [QC#31022,MOD] -->
 </section>
	  <textln>[Table Data Section]</textln>
    <for variable="sql2">
	  <text>"${C22572}",</text>
	  <text>"${Cm}",</text>
	  <text>"${Cp}",</text>
	  <text>"${sql2.HDR_CMPY_NM}",</text>
	  <text>"${sql2.HDR_OFC_NM}",</text>
	  <text>"${sql2.HDR_OFC_FIRST_LINE_ADDR}",</text>
	  <text>"${sql2.HDR_OFC_SCD_LINE_ADDR}",</text>
	  <text>"${sql2.HDR_OFC_THIRD_LINE_ADDR}",</text>
	  <text>"${C172}",</text>
	  <text>"${C1359}",</text>
	  <text>"${sql2.HDR_FIRST_CUST_CD}",</text>
	  <text>"${sql2.HDR_SCD_CUST_CD}",</text>
	  <text>"${sql2.HDR_STMT_PRINT_DT_DISP_TXT}",</text>
	  <text>"${C22574}",</text>
	  <text>"${sql2.HDR_REM_CMPY_NM}",</text>
	  <text>"${sql2.HDR_FIRST_REM_TO_LOC_NM}",</text>
	  <text>"${sql2.HDR_SCD_REM_TO_LOC_NM}",</text>
	  <text>"${C605}",</text>
	  <text>"${sql2.HDR_ADDL_CUST_NM}",</text>
	  <text>"${sql2.HDR_CUST_NM}",</text>
	  <text>"${sql2.HDR_CUST_FIRST_LINE_ADDR}",</text>
	  <text>"${sql2.HDR_CUST_SCD_LINE_ADDR}",</text>
	  <text>"${C22575}",</text>
	  <text>"${C14934}",</text>
	  <text>"${C22576}",</text>
	  <text>"${sql2.HDR_FIRST_SVC_CTAC_TXT}",</text>
	  <text>"${C22577}",</text>
	  <text>"${sql2.HDR_FIRST_CTAC_TXT}",</text>
      <text>"${C6793} : ",</text>        <!-- Email -->
	  <text>"${sql2.CLT_PSN_EML_ADDR}",</text>
	  <text>"${sql3.TICKMARK_FLG}",</text>
      <text>"${C23429} - ",</text>       <!-- STATEMENT INQUIRES -->
      <text>"${C23430}",</text>          <!-- Statement content reflects payment and invoices through the end of the statement date. -->
      <text>"${C23431}",</text>          <!-- Please -->
      <text>"${C23432}",</text>          <!-- contact your collection representative listed above for any of the following: -->
      <text>"${C23433}",</text>          <!-- * Questions regarding your account. -->
      <text>"${C23434}",</text>          <!-- * A copy of an invoice. -->
      <text>"${C23435}",</text>          <!-- * Request electronic invoices and/or statements. -->
      <text>"${C23436} - ",</text>       <!-- CREDIT CARD PAYMENT -->
      <text>"${C23437}",</text>          <!-- You may charge your periodic lease, rental or maintenance invoices and any other purchases -->
      <text>"${C23438}",</text>          <!-- to a credit card of your choice (American Express, Discover, MasterCard or Visa). Contact your collection representative listed above for more information. -->
      <text>"${C22582} - ",</text>       <!-- LATE FEE NOTICE -->
      <text>"${C23440}",</text>          <!-- To the extent permitted by applicable law, whenever an obligation due to CSA goes unpaid by more -->
      <text>"${C23441}",</text>          <!-- than 15 days after the due date thereof, the Customer shall pay to CSA on demand, per contract or sum equal to 1.5% per month of the overdue amount or the highest amount permitted by law. -->
      <text>"${C23442}",</text>          <!-- To ensure accurate invoicing, report your meter reads each month at www.csa.canon.com -->
      <text>"${C23443}",</text>          <!-- For billing inquiries, please contact our Billing Inquiry Center @ 1-877-587-1645 -->
      <text>"${C23444}",</text>          <!-- Payments made during the last week of the month may not be reflected on this Statement of Account -->
	  <text>"${C10984}",</text>
	  <text>"${C22590}",</text>
	  <text>"${C22591}",</text>
	  <text>"${C1215}",</text>
	  <text>"${C22592}",</text>
	  <text>"${C22593}",</text>
	  <text>"${C22592}",</text>
	  <text>"${C22594}",</text>
	  <text>"${C22592}",</text>
	  <text>"${C22595}",</text>
	  <text>"${C22592}",</text>
	  <text>"${C22596}",</text>
	  <text>"${C22597}",</text>
	  <text>"${sql2.HDR_DEAL_CCY_TXT}",</text>
	  <text>"${sql2.HDR_AGE_CUR_BCKT_AMT_TXT}",</text>
	  <text>"${sql2.HDR_DEAL_CCY_TXT}",</text>
	  <text>"${sql2.HDR_AGE_FIRST_BCKT_AMT_TXT}",</text>
	  <text>"${sql2.HDR_DEAL_CCY_TXT}",</text>
	  <text>"${sql2.HDR_AGE_SCD_BCKT_AMT_TXT}",</text>
	  <text>"${sql2.HDR_DEAL_CCY_TXT}",</text>
	  <text>"${sql2.HDR_AGE_THIRD_BCKT_AMT_TXT}",</text>
	  <text>"${sql2.HDR_DEAL_CCY_TXT}",</text>
	  <text>"${sql2.HDR_AGE_OVER_BCKT_AMT_TXT}",</text>
	  <text>"${sql2.HDR_DEAL_CCY_TXT}",</text>
	  <text>"${sql2.HDR_BAL_TOT_AMT_TXT}",</text>
	  <text>"${C4828}",</text>
	  <text>"${C1359}",</text>
	  <text>"${C4828}",</text>
	  <text>"${C2840}",</text>
	  <text>"${C4828}",</text>
	  <text>"${C4889}",</text>
	  <text>"${C22599}",</text>
	  <text>"${C5471}",</text>
	  <text>"${C1496}",</text>
	  <text>"${C1373}",</text>
	  <text>"${C22600}",</text>
	  <text>"${C2204}",</text>
	  <text>"${C389}",</text>
	  <text>"${C22601}",</text>
	  <text>"${C559}",</text>
	  <text>"${sql2.INV_DT_TXT}",</text>
	  <text>"${sql2.DTL_AR_CUST_REF_NUM}",</text>
	  <text>"${sql2.DTL_CONTR_NUM}",</text>
	  <text>"${sql2.DTL_CUST_ISS_PO_NUM_TXT}",</text>
	  <text>"${sql2.DTL_CHK_CMNT_TXT}",</text>
	  <text>"${sql2.DTL_LATE_DAYS_AOT}",</text>
	  <text>"${sql2.DTL_INV_AMT_CCY_TXT}",</text>
	  <text>"${sql2.DTL_INV_AMT_TXT}",</text>
	  <text>"${sql2.DTL_CR_AMT_CCY_TXT}",</text>
	  <text>"${sql2.DTL_CR_AMT_TXT}",</text>
	  <text>"${sql2.DTL_INV_NET_AMT_CCY_TXT}",</text>
	  <text>"${sql2.DTL_INV_NET_AMT_TXT}",</text>
	  <textln>"${C23446}"</textln>
    </for>

</doc>
<mdatas>
  <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>