<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00" type="sql" value="
	select  count(*) item_count
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'EZCANCELFLAG'
            or RPT_PRM_NM = 'BILL_TO_CUST_CD'
            or RPT_PRM_NM = 'AR_STMT_DT'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql0" type="sql" value="
	select  RPT_PRM_NM,RPT_PRM_VAL_TXT
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'EZCANCELFLAG'
            or RPT_PRM_NM = 'BILL_TO_CUST_CD'
            or RPT_PRM_NM = 'AR_STMT_DT'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<variable name="GLBL_CMPY_CD" type="string" value=""/>
<variable name="EZCANCELFLAG" type="string" value=""/>
<variable name="BILL_TO_CUST_CD" type="string" value=""/>
<variable name="AR_STMT_DT" type="string" value=""/>
<variable name="INTL_LANG_VAL_COL_NM" type="string" value=""/>

<variable name="C2227" type="string" value=""/>
<variable name="C22574" type="string" value=""/>
<variable name="C22575" type="string" value=""/>
<variable name="C22981" type="string" value=""/>
<variable name="C22989" type="string" value=""/>
<variable name="C22990" type="string" value=""/>
<variable name="C22933" type="string" value=""/>
<variable name="C22934" type="string" value=""/>
<variable name="C22991" type="string" value=""/>
<variable name="C4695" type="string" value=""/>
<variable name="C5718" type="string" value=""/>
<variable name="C6793" type="string" value=""/>
<variable name="C22982" type="string" value=""/>
<variable name="C22983" type="string" value=""/>
<variable name="C22984" type="string" value=""/>
<variable name="C22985" type="string" value=""/>
<variable name="C2216" type="string" value=""/>
<variable name="C22986" type="string" value=""/>
<variable name="C22987" type="string" value=""/>
<variable name="C4489" type="string" value=""/>
<variable name="C22988" type="string" value=""/>
<variable name="C22636" type="string" value=""/>
<variable name="C22992" type="string" value=""/>



 <variable name="sql01" type="sql" value="
SELECT count(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('2227','22574','22575','22981','22989','22990','22933','22934','22991','4695','5718','6793','22982','22983','22984','22985','2216','22986','22987','4489','22988','22636','22992')
"/>

 <variable name="sql1" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('2227','22574','22575','22981','22989','22990','22933','22934','22991','4695','5718','6793','22982','22983','22984','22985','2216','22986','22987','4489','22988','22636','22992')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>


 <variable name="sql02" type="sql" value="
SELECT count(*) item_count
FROM AR_LATE_FEE_TRX_DTL_V A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.EZCANCELFLAG = ${EZCANCELFLAG}
AND A.BILL_TO_CUST_CD = ${BILL_TO_CUST_CD}
AND A.AR_STMT_DT = ${AR_STMT_DT}
"/>


<variable name="sql2" type="sql" value="
SELECT HDR_CMPY_NM
,HDR_OFC_FIRST_LINE_ADDR
,HDR_OFC_SCD_LINE_ADDR
,HDR_OFC_TEL_NUM
,HDR_CMPY_URL
,HDR_REM_CMPY_NM
,HDR_FIRST_REM_TO_LOC_NM
,HDR_SCD_REM_TO_LOC_NM
,HDR_FIRST_SVC_CTAC_TXT
,HDR_CUST_NM
,HDR_CUST_FIRST_LINE_ADDR
,HDR_CUST_SCD_LINE_ADDR
,BILL_TO_CUST_ACCT_CD
,CASH_APP_DT
,FTR_RPY_TO_CLT_PSN_NM
,FTR_RPY_TO_TEL_NUM
,FTR_RPY_TO_FAX_NUM
,FTR_RPY_TO_EML_ADDR
,INV_CUST_TOT_TXT
,AR_TRX_NUM
,INV_DT_TXT
,DEAL_RMNG_BAL_GRS_TXT
,INV_DUE_DT_TXT
,AR_STMT_DT_TXT
,PMT_LATE_DAYS_TXT
,AR_LATE_FEE_TXT
FROM AR_LATE_FEE_TRX_DTL_V A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.EZCANCELFLAG = ${EZCANCELFLAG}
AND A.BILL_TO_CUST_CD = ${BILL_TO_CUST_CD}
AND A.AR_STMT_DT = ${AR_STMT_DT}
ORDER BY AR_TRX_NUM, AR_LATE_FEE_TRX_DTL_PK
"/>


<doc encoding="UTF-8">
<condition test="${sql00.item_count}" value="0" operator="equal">
 <error message="no data in Parameter DB"/>
</condition>

<for variable="sql0">
	<condition test="${sql0.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
		<assign variable="GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="EZCANCELFLAG" operator="equal">
		<assign variable="EZCANCELFLAG" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="BILL_TO_CUST_CD" operator="equal">
		<assign variable="BILL_TO_CUST_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="AR_STMT_DT" operator="equal">
		<assign variable="AR_STMT_DT" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
		<assign variable="INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
</for>

 <condition test="${sql01.item_count}" value="0" operator="equal">
  <error message="no data in Language DB"/>
 </condition>

<for variable="sql1">
	<condition test="${sql1.LANG_KEY_CD}" value="2227" operator="equal"><assign variable="C2227" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22574" operator="equal"><assign variable="C22574" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22575" operator="equal"><assign variable="C22575" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22981" operator="equal"><assign variable="C22981" value="${sql1.LANGUAGE_LABEL} -"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22989" operator="equal"><assign variable="C22989" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22990" operator="equal"><assign variable="C22990" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22933" operator="equal"><assign variable="C22933" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22934" operator="equal"><assign variable="C22934" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22991" operator="equal"><assign variable="C22991" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4695" operator="equal"><assign variable="C4695" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="5718" operator="equal"><assign variable="C5718" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="6793" operator="equal"><assign variable="C6793" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22982" operator="equal"><assign variable="C22982" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22983" operator="equal"><assign variable="C22983" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22984" operator="equal"><assign variable="C22984" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22985" operator="equal"><assign variable="C22985" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2216" operator="equal"><assign variable="C2216" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22986" operator="equal"><assign variable="C22986" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22987" operator="equal"><assign variable="C22987" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4489" operator="equal"><assign variable="C4489" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22988" operator="equal"><assign variable="C22988" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22636" operator="equal"><assign variable="C22636" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22992" operator="equal"><assign variable="C22992" value="${sql1.LANGUAGE_LABEL}"/></condition>
</for>

 <condition test="${sql02.item_count}" value="0" operator="equal">
  <error message="no data in Transaction DB"/>
 </condition>

 <section name="Control Section">
  <textln>VERSION=8.1</textln>
 </section>
 <section name="Form Section">
  <textln>FORM=..\..\forms\NFCF0020.fcp</textln>
 </section>
	  <textln>[Table Data Section]</textln>
    <for variable="sql2">
	  <text>"${sql2.HDR_CMPY_NM}",</text>
	  <text>"${sql2.HDR_OFC_FIRST_LINE_ADDR}",</text>
	  <text>"${sql2.HDR_OFC_SCD_LINE_ADDR}",</text>
	  <text>"${sql2.HDR_OFC_TEL_NUM}",</text>
	  <text>"${sql2.HDR_CMPY_URL}",</text>
	  <text>"${C22574}",</text>
	  <text>"${sql2.HDR_REM_CMPY_NM}",</text>
	  <text>"${sql2.HDR_FIRST_REM_TO_LOC_NM}",</text>
	  <text>"${sql2.HDR_SCD_REM_TO_LOC_NM}",</text>
	  <text>"${C22575}",</text>
	  <text>"${C22981}",</text>
	  <text>"${sql2.HDR_FIRST_SVC_CTAC_TXT}",</text>
	  <text>"${C22989}",</text>
	  <text>"${C22990}",</text>
	  <text>"${sql2.HDR_CUST_NM}",</text>
	  <text>"${sql2.HDR_CUST_FIRST_LINE_ADDR}",</text>
	  <text>"${sql2.HDR_CUST_SCD_LINE_ADDR}",</text>
	  <text>"${C22933}",</text>
	  <text>"${sql2.BILL_TO_CUST_ACCT_CD}",</text>
	  <text>"${C22934}",</text>
	  <text>"${sql2.AR_STMT_DT_TXT}",</text>
	  <text>"${C22991}",</text>
	  <text>"${sql2.FTR_RPY_TO_CLT_PSN_NM}",</text>
	  <text>"${C4695}",</text>
	  <text>"${sql2.FTR_RPY_TO_TEL_NUM}",</text>
	  <text>"${C5718}",</text>
	  <text>"${sql2.FTR_RPY_TO_FAX_NUM}",</text>
	  <text>"${C6793}",</text>
	  <text>"${sql2.FTR_RPY_TO_EML_ADDR}",</text>
	  <text>"${C22982}",</text>
	  <text>"${C22983}",</text>
	  <text>"${C22984}",</text>
	  <text>"${sql2.INV_CUST_TOT_TXT}",</text>
	  <text>"${C22992}",</text>
	  <text>"${C22985}",</text>
	  <text>"${C2227}",</text>
	  <text>"${C2216}",</text>
	  <text>"${C22986}",</text>
	  <text>"${C22987}",</text>
	  <text>"${C4489}",</text>
	  <text>"${C22636}",</text>
	  <text>"${C22988}",</text>
	  <text>"${sql2.AR_TRX_NUM}",</text>
	  <text>"${sql2.INV_DT_TXT}",</text>
	  <text>"${sql2.DEAL_RMNG_BAL_GRS_TXT}",</text>
	  <text>"${sql2.INV_DUE_DT_TXT}",</text>
	  <text>"${sql2.AR_STMT_DT_TXT}",</text>
	  <text>"${sql2.PMT_LATE_DAYS_TXT}",</text>
	  <textln>"${sql2.AR_LATE_FEE_TXT}"</textln>
    </for>

</doc>
<mdatas>
  <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>