
html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	}
	
* {
	margin: 0px;
	padding: 0px;
	}
	
.logo-img {
  width: 100%;
  height: 133px;
  border-top: 1px solid #4ab1e3;
  border-bottom: 1px solid #cc0000;
  background: #FFFFFF;
  z-index: 1030; }
  
img {
	border: 0px;
	}
	
h1, h2, h3 {
	line-height: normal;
	}
	
/* large screen */

body {
	font-family: 'Raleway', sans-serif;
	background: #ececec;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	}

#container {
	min-height: 100%;
	position: relative;
	width: 100%;
	color: #000000;
	}

header {
	width: 100%;
	height: 133px;
	position: fixed;
	border-top: 1px solid #4ab1e3;
	border-bottom: 1px solid #cc0000;
	background: #FFFFFF;
	z-index: 1030;
   }	
   
.utility-nav {
	width: 100%;
	height: 33px;
	background: #003a4d;
	margin-right: auto;
	margin-left: auto;
	}
.utility-nav div {
	min-width: 1000px;
	text-align: right;
	padding-top: 9px;
	margin-right: auto;
	margin-left: auto;
	}
.utility-nav a:link, .utility-nav a:visited, .utility-nav a:active {
	color: #FFFFFF;
	padding: 9px 20px 10px 20px;
	text-decoration: none;
    }
.utility-nav a:hover, .utility-nav a:visited:hover {
	color: #FFFFFF;
	text-decoration: none;
	background: #0072bc;
    }
.logo {
	min-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	}
.logo img {
	float: left;
	}
	
nav {
	min-width: 1000px;
	text-align: right;
	padding-top: 9px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 64px;
	}
nav a:link, nav a:visited, nav a:active {
	color: #000000;
	padding: 9px 20px 12px 20px;
	text-decoration: none;
    }
nav a:hover, nav a:visited:hover {
	color: #cc0000;
	}
nav .active {
	color: #cc0000 !important;
	}
	
/* dropdown navigation start */

.menu {
	width: 100%;
	clear: both;
	}
.menuContainer {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	}
.menuInner01 {
	position: relative;
	top: 2px;
	left: 170px;
	width: 300px;
	}
.menuInner02 {
	position: relative;
	top: 3px;
	left: 314px;
	width: 300px;
	}
.menuInner03 {
	position: relative;
	top: 3px;
	left: 409px;
	width: 300px;
	}
.menuInner04 {
	position: relative;
	top: 3px;
	left: 599px;
	width: 300px;
	}
.menuInner05 {
	position: relative;
	top: 3px;
	left: 699px;
	width: 300px;
	}
#menuProducts, #menuIndustriesServices, #menuInsightsExpertise, #menuCustomerSupport, #menuOurCompany {
	display: none;
	}
.menuBox { 
	background: #ececec; 
	position: relative; 
	z-index: 1000;
	display: none;
	}
.menuItem { 
	margin: 0px; 
	padding: 0px;
	position: relative;
	}
.menuItem h4 { 
	font-weight: normal;
	color: #FFFFFF;
	padding: 12px 20px 12px 20px;
	display: block;
	background: #003a4d;
	}
.menuTextLink { 
	color: #000000;
	padding: 12px 20px 12px 30px;
	display: block;
	border-bottom: 1px solid #a3a3a3;
	text-decoration: none;
	}
.menuTextLink:hover {
	color: #0072bc;
	text-decoration: none;
	background: #FFFFFF;
	}
.menuTextLink img { 
	position: relative;
	top: 1px;
	padding-right: 7px;
	}
	
/* dropdown navigation end */
	
#main_content {
	color: #000000;
	text-align: left;
	line-height: 18px;
	clear: both;
	background: #FFFFFF;
	margin: ;
	min-height: 524px;
	position: relative;
	##top: 115px;
	min-width: 1000px;
	}
	
#main_content h1 {
	padding: 28px 30px 14px 30px;
	margin: 0px;
	}
#main_content h2 {
	padding: 28px 30px 0px 30px;
	margin: 0px;
	}
#main_content h3 {
	padding: 28px 30px 0px 30px;
	margin: 0px;
	}
#main_content ul { 
	list-style-image: url("../images/bullet.gif");
	padding: 28px 30px 0px 80px;
	}
#main_content li {
	padding-bottom: 9px;
	}
#main_content hr {
	width: 100%;
	height: 1px;
	background-color: #ebebeb;
	border: 0 none;
	margin: 0px;
	}
#main_content sup {
	color: #cc0000;
	}
	
#landing-page {
	padding-bottom: 45px;
	}
	
#image_header {
	height: 134px;
	overflow: hidden;
	}
#page_top {
	color: #FFFFFF;
	height: 134px;
	background: url("../images/bg_header.jpg") right no-repeat #1a1a1a;
	}
#page_top h1 {
	color: #FFFFFF;
	font-size: 35px;
	font-weight: normal;
	padding: 54px 30px 0 30px;
	margin: 0px
	}
.breadcrumb {
	padding: 20px 30px 0 30px;
	}
.breadcrumb .divider {
	padding: 0 10px 0 10px;
	}
.breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:active {
	color: #46a7d6;
	text-decoration: none !important;
	}
.breadcrumb a:hover, .breadcrumb a:visited:hover {
	color: #6dcff6 !important;
	}
	
#main_login {
	color: #FFFFFF;
	height: 390px;
	background: url("../images/bg_login.jpg");
	background-repeat: no-repeat;
	background-position: top left;
	overflow: hidden;
	}
#main_home {
	color: #FFFFFF;
	height: 380px;
	width: 1000px;
	background: url("../images/bg_home.jpg");
	background-repeat: no-repeat;
	background-position: top left;
	overflow: hidden;
	}
#bottom_home {
	color: #FFFFFF;
	height: 144px;
	background: url("../images/bg_home_btm.jpg");
	background-repeat: no-repeat;
	background-position: top left;
	overflow: hidden;
	}
#bottom_home a:link, #bottom_home a:visited, #bottom_home a:active {
	color: #FFFFFF;
	background: url("../images/arrow_red.png");
	background-repeat: no-repeat;
	background-position: top right;
    }
#bottom_home a:hover, #bottom_home a:visited:hover {
	color: #FFFFFF;
	background: url("../images/arrow_red_on.png");
	background-repeat: no-repeat;
	background-position: top right;
	}
.bottom_link01 {
	padding: 14px 60px 14px 174px;
	float: right;
	}
.bottom_link02 {
	padding: 14px 60px 14px 142px;
	float: right;
	}
.bottom_link03 {
	padding: 14px 60px 14px 131px;
	float: right;
	}
.bottom_left {
	position: relative;
	top: 100px;
	float: left;
	height: 44px;
	min-width: 333px;
	max-width: 334px;
	overflow: hidden;
	}
	
.login_left {
	width: 560px;
	float: left;
	}
.login_left div {
	padding: 10px 30px 10px 30px;
	}
.login_left input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #636363;
  	border: 1px #4ab1e3 solid;
  	width: 340px;
  	height: 32px;
  	background: #FFFFFF;
	}
.login_left input[type=password] {
	border: 1px #4ab1e3 solid;
  	width: 340px;
  	height: 32px;
  	background: #FFFFFF;
	}
.login_left input[type=checkbox] {
	position: relative;
	top: 2px;
	}
.login_left label {
	float: left;
	}
.login_left a:link, .login_left a:visited, .login_left a:active {
	color: #4ab1e3;
	font-size: 12px;
	}
.login_left a:hover, .login_left a:visited:hover {
	color: #4ab1e3;
	text-decoration: underline;
	}
.login_right {
	width: 430px;
	height: 390px;
	float: right;
	background: url("../images/bg_black.png");
	}
	
/* tabs start */

.nav_solutions {
  	list-style: none;
  	}
.nav_solutions > li > a {
  	display: block;
	}
.nav_solutions > li > a:hover, .nav_solutions > li > a:focus {
  	text-decoration: none !important;
  	}
.nav-tabs:before, .nav-tabs:after {
  	display: table;
  	content: " ";
	}
.nav-tabs:after {
  	clear: both;
	}
.nav-tabs > li {
  	float: left;
	}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  	cursor: default;
  	}
.tab-content {
  	overflow: auto;
	}
.tab-content {
  	display: ;
	}
.tab-content > .active {
  	display: block;
	}
.tab-pane {
  	display: none;
	}
.exploreTabs-container {
	position: relative;
	left: 230px;
	float: left; 
	margin-top: 20px; 
	width: 940px; 
	}
.exploreTabs-container ul { 
	list-style-image: none !important;
	padding-top: 10px !important;
	}
.exploreTabs-container .nav-tabs { 
	border-bottom: none;
	}
.exploreTabs-container .nav-tabs > li { 
	margin-right: 60px; 
	}
.exploreTabs-container .nav-tabs > li > a {
    font-size: 18px;
    color: #ffffff;
    padding: 10px 14px 10px 14px;
    }
.exploreTabs-container .nav-tabs > li > a:hover {
	background-color: #8e191c;
	text-decoration: none;
	}
.exploreTabs-container .nav-tabs > .active > a, .exploreTabs-container .nav-tabs > .active > a:hover, .exploreTabs-container .nav-tabs > .active > a:focus {
    background-color: #cc0000;
	color: #ffffff !important;
    cursor: default;
	}
.exploreTabs-container .nav-tabs > .active:after {
	border-color: #cc0000;
  	border-top: solid 6px #cc0000;
	border-left: solid 5px transparent;
	border-right: solid 5px transparent;
	content: " ";
	float: left;
	margin: auto auto auto -5px; /*Important to center the arrow*/
	position: relative; /*Important to center the arrow*/
	left: 50%; /*Important to center the arrow*/
	}
.exploreTabs-sectionContainer li {
	width: 197px;
	margin-left: 0px !important;
	margin-right: 24px !important;
	margin-bottom: 15px;
	vertical-align: top;
	display: inline-block;
	}
.exploreTabs-sectionContainer div img { 
	border: 2px solid #46a7d6;
	}
.exploreTabs-sectionContainer a img { 
	position: relative;
	top: 2px;
	left: 12px; 
	}
.exploreTabs-sectionContainer li a { 
	color: #46a7d6; 
	position: relative;
	top: 3px;
	}
.exploreTabs-sectionContainer li a:hover { 
	color: #6dcff6; 
	}
.exploreTabs-sectionContainer li p { 
	color: #FFFFFF; 
	line-height: normal !important; 
	font-size: 11px; 
	margin: 8px 0px 0px 0px !important;
	padding: 0px !important;
	}
	
/* footer start */
	
footer {
	width: 100%;
	font-size: 12px;
	color: #FFFFFF;
	background: #003a4d;
	position: relative;
	top: 135px;
	}
footer .top-bg {
	width: 100%;
	background: #000000;
	}
footer .top {
	width: 1000px;
	height: 39px;
	text-align: right;
	padding-top: 25px;
	margin-right: auto;
	margin-left: auto;
	}
footer .copy {
	font-size: 11px;
	width: 980px;
	line-height: 18px;
	text-align: right;
	padding: 25px 30px 25px 0px;
	margin-right: auto;
	margin-left: auto;
	}
footer a:link, footer a:visited, footer a:active {
	color: #FFFFFF;
	padding: 25px 20px 25px 20px;
    }
footer a:hover, footer a:visited:hover {
	color: #4ab1e3;
	}
	
/* miscellaneous start */
	
.left {
	text-align: left !important;
	}
	
.right {
	text-align: right !important;
	}
	
.right_float {
	float: right;
	}
.center_float {
	float: center;
	}	
.small {
	font-size: 12px;
	font-weight: normal !important;
	}
	
.hidden {
	display: none;
	}
	
.active_nav {
	background: #0066a0;
	}
	
.clear {
	clear: both;
	}
	
.btn {
		font-size: 12px !important;
	color: #FFFFFF !important;
	background: -webkit-linear-gradient(#cc0000, #8e191c);
	background: -moz-linear-gradient(center top , #cc0000 5%, #8e191c 100%) repeat scroll 0 0 white;
	background: -ms-linear-gradient(#cc0000, #8e191c);
	background: linear-gradient(#cc0000, #8e191c);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cc0000', endColorstr='#8e191c');
	background-color: #8e191c;
	border: none;
	cursor: pointer;
	padding: 5px 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none !important;
	}

.btnPrj {
	font-size: 12px !important;
	color: #FFFFFF !important;
	background: -webkit-linear-gradient(#cc0000, #8e191c);
	background: -moz-linear-gradient(center top , #cc0000 5%, #8e191c 100%) repeat scroll 0 0 white;
	background: -ms-linear-gradient(#cc0000, #8e191c);
	background: linear-gradient(#cc0000, #8e191c);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cc0000', endColorstr='#8e191c');
	background-color: #8e191c;
	border: none;
	cursor: pointer;
	padding: 5px 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none !important;
	}

.btn:hover {
	background: -webkit-linear-gradient(#ff0000, #cc0000);
	background: -moz-linear-gradient(center top , #ff0000 5%, #cc0000 100%) repeat scroll 0 0 white;
	background: -ms-linear-gradient(#ff0000, #cc0000);
	background: linear-gradient(#ff0000, #cc0000);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff0000', endColorstr='#cc0000');
	background-color: #cc0000;
	text-decoration: none !important;
	}
	
.btn_sm {
	font-size: 13px !important;
	color: #FFFFFF !important;
	background: #cc0000;
	border: none;
	cursor: pointer;
	display: inline-block;
	float: ;
	padding: 0px 8px 0px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}
.btn_sm:hover {
	background: #ff0000;
	text-decoration: none !important;
	}
.btn_red_sm {
    background: #cc0000 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 13px !important;
    padding: 0 8px;
	}	
.btn_square {
	font-size: 12px !important;
	color: #FFFFFF !important;
	background: -webkit-linear-gradient(#cc0000, #8e191c);
	background: -moz-linear-gradient(center top , #cc0000 5%, #8e191c 100%) repeat scroll 0 0 white;
	background: -ms-linear-gradient(#cc0000, #8e191c);
	background: linear-gradient(#cc0000, #8e191c);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cc0000', endColorstr='#8e191c');
	background-color: #8e191c;
	border-left: 1px #FFFFFF solid;
	cursor: pointer;
	display: inline-block;
	padding: 5px 18px 5px 18px;
	}
.btn_square:hover {
	background: -webkit-linear-gradient(#ff0000, #cc0000);
	background: -moz-linear-gradient(center top , #ff0000 5%, #cc0000 100%) repeat scroll 0 0 white;
	background: -ms-linear-gradient(#ff0000, #cc0000);
	background: linear-gradient(#ff0000, #cc0000);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff0000', endColorstr='#cc0000');
	background-color: #cc0000;
	text-decoration: none !important;
	}
	
#showing {
	margin: 8px 0px 0px 0px;
	}
#showing p {
	padding: 14px 30px 14px 30px !important;
	}
#showing span {
	position: relative;
	top: -4px;
	float: right;
	}
#showing select {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	width: 62px;
	height: 26px;
	margin: 0 5px 0 5px;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
#search {
	margin: 20px 30px 0px 30px;
	}
#search input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	border: 1px #cccccc solid;
  	width: 220px;
  	height: 26px;
  	background: #FFFFFF;
	}
#search select {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	width: 190px;
	height: 26px;
	margin: 0 0 0 10px;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
#search_btm {
	margin: 24px 30px 0px 30px;
	padding-bottom: 30px;
	}
	
#search_request {
	margin: 20px 30px 0px 30px;
	}
#search_request input[type=text] {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 180px;
  	height: 26px;
  	background: #FFFFFF;
	}
#search_request select {
	font-family: 'Raleway', sans-serif;
	width: 168px;
	height: 26px;
	margin: 0 0 0 10px;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
	
.account_devices {
	padding-top: 10px;
	}
.account_devices select {
	font-family: 'Raleway', sans-serif;
	width: 180px !important;
	height: 26px;
	margin: 0 10px 0 0 !important;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
		
.paging a:link, .paging a:visited, .paging a:active {
	color: #545454;
	padding: 6px 9px 6px 9px;
	margin-right: 2px;
	background: #bcbcbc;
    }
.paging a:hover, .paging a:visited:hover {
	color: #FFFFFF !important;
	background:  #cc0000;
    }
.paging .active {
	color: #FFFFFF !important;
	background: #cc0000 !important;
    }
    
.criteria {
	margin: 20px 0 0px 0;
	}
.criteria a {
	margin-left: 5px;
	}
	
.submit {
	text-align: right;
	padding: 10px 30px 30px 30px;
	clear: both;
	}
.submit a {
	margin-left: 5px;
	}
	
.collapse {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.35s ease;
	-moz-transition: height 0.35s ease;
	-o-transition: height 0.35s ease;
	transition: height 0.35s ease;
	}
.collapse.in {
	height: auto;
	}

.table-wrapper {
	padding: 8px 30px 0px 20px;
	line-height: 16px;
	}
.table-wrapper  h1 {
	padding: 30px 30px 14px 0px !important;
	margin: 0px;
	}

.table-inner {
	margin-left: 10px;
	margin-right: 10px;
	background: #FFFFFF;
	}
.table-inner a:link, .table-inner a:visited, .table-inner a:active {
	color: #cc0000;
	text-decoration: none;
    }
.table-inner a:hover, .table-inner a:visited:hover {
	text-decoration: underline;
	}
.table-inner input[type=text] {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 120px;
  	height: 20px, #18px;
  	background: #FFFFFF;
  	margin-left: 0px; #8px;
  	margin-bottom: 8px;
  	font-size:11px;
	}
.table-inner textarea {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 200px; #660px;
  	height: 52px;
  	background: #FFFFFF;
  	font-size:11px;
	}
.table-inner select {
	font-family: 'Raleway', sans-serif;
	width: 120px;
	height: 20px; #25px
	margin: 0 0 0 0px;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	font-size:11px;
	}
	
.table-inner-right {
	width: 705px;
	background: #FFFFFF;
	float: right;
	}
.table-inner-right a:link, .table-inner-right a:visited, .table-inner-right a:active {
	color: #cc0000;
	text-decoration: none;
    }
.table-inner-right a:hover, .table-inner-right a:visited:hover {
	text-decoration: underline;
	}
.table-inner-right input[type=text] {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 132px;
  	height: 26px;
  	background: #FFFFFF;
  	margin-right: 8px;
  	font-size:11px;
	}
.table-inner-right textarea {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 660px;
  	height: 52px;
  	background: #FFFFFF;
  	font-size:11px;
	}

.proj-main-inner {
	margin-left: 10px;
	margin-right: 10px;
	background: #FFFFFF;
	}
.proj-main-inner a:link, .proj-main-inner a:visited, .proj-main-inner a:active {
	color: #cc0000;
	text-decoration: none;
    }
.proj-main-inner a:hover, .proj-main-inner a:visited:hover {
	text-decoration: underline;
	}
.proj-main-inner input[type=text] {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 120px;
  	height: 20px, #18px;
  	##background: #FFFFFF;
  	margin-left: 0px; #8px;
  	margin-bottom: 0px; ##8px;
  	font-size:11px;
	}
.proj-main-inner textarea {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 200px; #660px;
  	height: 52px;
  	background: #FFFFFF;
  	font-size:11px;
	}
.proj-main-inner select {
	font-family: 'Raleway', sans-serif;
	width: 120px;
	height: 20px; #25px
	margin: 0 0 0 0px;
	##background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	font-size:11px;
	}
	
.proj-component-inner {
	margin-left: 10px;
	margin-right: 10px;
	background: #FFFFFF;
	}
.proj-component-inner a:link, .proj-main-inner a:visited, .proj-main-inner a:active {
	color: #cc0000;
	text-decoration: none;
    }
.proj-component-inner a:hover, .proj-main-inner a:visited:hover {
	text-decoration: underline;
	}
.proj-component-inner input[type=text] {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	##width: 120px;
  	height: 20px, #18px;
  	##background: #FFFFFF;
  	margin-left: 0px; #8px;
  	margin-bottom: 0px; ##8px;
  	font-size:11px;
	}
.proj-component-inner textarea {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 200px; #660px;
  	height: 52px;
  	background: #FFFFFF;
  	font-size:11px;
	}
.proj-component-inner select {
	font-family: 'Raleway', sans-serif;
	width: 120px;
	height: 20px; #25px
	margin: 0 0 0 0px;
	##background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	font-size:11px;
	}

.proj_component .even {
	background-color: #FFFFFF;
	}
.proj_component .odd {
	background-color: #ebebeb;
	}

.noneditrequired{
	readonly: readonly;
	background-color: #cccccc; ###f9c46c;
	}


.disabled {
    pointer-events: none;
    cursor: not-allowed;
}
	
  .addtional-model-table {
	width: 100%;
	background: #cccccc;
	margin-bottom: 5px;
	}
	
 .model-table {
	width: 100%;
	background: #cccccc;
	margin-bottom: 5px;
	}
.model-table th, .model-table td {
	padding: 3px;
	border: none;
	}
.model-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	}
.model-table th a:link, .model-table th a:visited, .model-table th a:active {
	color: #FFFFFF;
	text-decoration: underline;
    }
.model-table th a:hover, .model-table th a:visited:hover {
	text-decoration: none;
	}
.model-table td {
	text-align: left;
	background: #f2f2f2; #light yellow;
	}
.model-table th:first-child {
	
	}
.model-table td:last-child {
	text-align: left;
	}
.model-table input[type=radio] {
	margin-right: 5px;
	border: 1px #4ab1e3 solid;
	}

	
/*	
.meter-read-table {
	width: 100%;
	background: #cccccc;
	}
.meter-read-table th, .meter-read-table td {
	padding: 12px;
	border: none;
	}
.meter-read-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	}
.meter-read-table td {
	text-align: center;
	background: #FFFFFF;
	}
	
.meter-read-date {
	width: 100%;
	}
.meter-read-date td {
	padding: 0px;
	text-align: left;
	}
	
.meter-history-table {
	width: 100%;
	background: #cccccc;
	}
.meter-history-table th, .meter-history-table td {
	padding: 12px;
	border: none;
	}
.meter-history-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	}
.meter-history-table td {
	text-align: center;
	background: #FFFFFF;
	}
	
.bill-history-table {
	width: 100%;
	background: #FFFFFF;
	background: #cccccc;
	}
.bill-history-table th, .bill-history-table td {
	border: none;
	}
.bill-history-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 12px;
	}
.bill-history-table td {
	text-align: center;
	background: #FFFFFF;
	padding: 10px;
	}
 */	
.evenRow{
	background-color: #FFFFFF;
}	
.oddRow{
	background-color: #ebebeb;
}	
.template-table {
	width: 100%;
	background: #cccccc;
	margin-bottom: 5px;
	}
/* .template-table tr:nth-child(even) {
	background-color: #FFFFFF;
	}
.template-table tr:nth-child(odd) {
	background-color: #ebebeb;
	}
 */
.template-table .even {
	background-color: #FFFFFF;
	}
.template-table .odd {
	background-color: #ebebeb;
	}

.template-table th, .template-table td {
	padding: 12px;
	border: none;
	}
.template-table th {
    font-size: 12px;
	/* font-weight: bold; */
	text-align: left;
	background: #003b4e;
	color: #FFFFFF;
	}
.template-table td {
	text-align: left; #center;
	font-size: 11px;
	}
.template-table input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	border: 1px #cccccc solid;
  	width: 120; #132px;
  	height: 20px;
  	background: #FFFFFF;
  	margin-right: 0px;
	}
.template-table th a:link, .template-table th a:visited, .template-table th a:active {
	color: #FFFFFF;
	text-decoration: none !important;
    }
.template-table th a:hover, .template-table th a:visited:hover {
	text-decoration: underline !important;
	}


.projItem-table {
	width: 100%;
	background: #cccccc;
	margin-bottom: 5px;
	}
.projItem-table tr:nth-child(even) {
	background-color: #FFFFFF;
	}
.projItem-table tr:nth-child(odd) {
	background-color: #ebebeb;
	}
.projItem-table th, .template-table td {
	padding: 12px;
	border: none;
	}
.projItem-table th {
    font-size: 12px;
	/* font-weight: bold; */
	text-align: left;
	background: #003b4e;
	color: #FFFFFF;
	}
.projItem-table td {
	text-align: left; #center;
	font-size: 12px; /*11px;*/
	}
.projItem-table input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	border: 1px #cccccc solid;
  	width: 120; #132px;
  	height: 20px;
  	margin-right: 0px;
  	color:#000000;
	}
.projItem-table th a:link, .template-table th a:visited, .template-table th a:active {
	color: #FFFFFF;
	text-decoration: none !important;
    }
.projItem-table th a:hover, .template-table th a:visited:hover {
	text-decoration: underline !important;
	}

.projItem-table .even {
	background-color: #FFFFFF;
	}
.projItem-table .odd {
	background-color: #ebebeb;
	}


	
/* .request-table {
	width: 100%;
	background: #FFFFFF;
	background: #cccccc;
	margin-bottom: ;
	}
.request-table th, .request-table td {
	border: none;
	}
.request-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 12px;
	}
.request-table th a:link, .request-table th a:visited, .request-table th a:active {
	color: #FFFFFF;
	text-decoration: underline;
    }
.request-table th a:hover, .request-table th a:visited:hover {
	text-decoration: none;
	}
.request-table td {
	text-align: center;
	background: #FFFFFF;
	padding: 10px;
	}
	
.request-service {
	width: 100%;
	background: #FFFFFF;
	background: #cccccc;
	margin-bottom: 5px;
	}
.request-service th, .request-service td {
	border: none;
	}
.request-service th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 12px;
	}
.request-service td {
	text-align: left;
	background: #FFFFFF;
	padding: 10px;
	}
.request-service td:first-child {
	font-weight: bold;
	}
.request-service input[type=text] {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 220px;
  	height: 26px;
  	background: #FFFFFF;
	}
.request-service textarea {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 640px;
  	height: 52px;
  	background: #FFFFFF;
	}
.request-service select {
	font-family: 'Raleway', sans-serif;
	width: 220px;
	height: 26px;
	margin: 0;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
.request-service .time select {
	font-family: 'Raleway', sans-serif;
	width: 60px !important;
	height: 26px;
	margin: 0 5px 0 0;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
 */	
/* .filter-inner {
	width: 220px;
	background: #FFFFFF;
	padding-right: 15px;
	padding-bottom: 20px;
	float: left;
	}
.filter-table {
	width: 100%;
	}
.filter-table th, .filter-table td {
	padding: 12px;
	border: none;
	}
.filter-table th {
	font-weight: bold;
	background: #003b4e;
	color: #FFFFFF;
	}
.filter-table td {
	background: #e2e2e2;
	}
.filter-table input[type=text] {
	font-family: 'Raleway', sans-serif;
	border: 1px #4ab1e3 solid;
  	width: 190px;
  	height: 26px;
  	background: #FFFFFF;
  	display: block;
  	margin-bottom: 5px;
	}
.filter-table select {
	font-family: 'Raleway', sans-serif;
	width: 190px;
	height: 26px;
	margin: 0;
	background-color: #FFFFFF;
	border: 1px #4ab1e3 solid;
	border-radius: 0px;
	}
.filter-table input[type=checkbox] {
	margin: 5px;
	border: 1px #4ab1e3 solid;
	}
.filter-table input[type=radio] {
	margin: 5px;
	border: 1px #4ab1e3 solid;
	}
.filter-table a {
	margin: 3px;
	}
	
	
.cartfilter-table {
	width: 100%;
	}
.cartfilter-table th, .cartfilter-table td {
	padding: 12px;
	border: none;
	}
.cartfilter-table th {
	font-size: 14px;
	font-weight: bold;
	background: #003b4e;
	color: #FFFFFF;
	}
.cartfilter-table td {
	background: #e2e2e2;
	padding-left:5px;

	}
.cartfilter-table input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	border: 1px #4ab1e3 solid;
  	width: 190px;
  	height: 26px;
  	background: #FFFFFF;
  	display: block;
  	margin-bottom: 5px;
	}
.cartfilter-table select {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	width: 190px;
	height: 26px;
	margin: 0;
	background-color: #FFFFFF;
	border: 1px #4ab1e3 solid;
	border-radius: 0px;
	}
.cartfilter-table input[type=checkbox] {
	margin: 5px;
	border: 1px #4ab1e3 solid;
	}
.cartfilter-table input[type=radio] {
	margin: 5px;
	border: 1px #4ab1e3 solid;
	}
.cartfilter-table a {
	margin: 3px;
	}	 */
	
/* .phone input[type=text] {
	width: 60px !important;
  	}
.account-request input[type=text] {
	width: 220px;
  	}
	 */
/* .products-table {
	width: 100%;
	background: #cccccc;
	margin-bottom: 5px;
	}
.products-table tr:nth-child(even) {
	background-color: #FFFFFF;
	}
.products-table tr:nth-child(odd) {
	background-color: #ebebeb;
	}
.products-table th, .products-table td {
	padding: 12px;
	border: none;
	}
.products-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	}
.products-table th a:link, .products-table th a:visited, .products-table th a:active {
	color: #FFFFFF;
	text-decoration: underline;
    }
.products-table th a:hover, .products-table th a:visited:hover {
	text-decoration: none;
	}
.products-table td {
	text-align: left;
	}
.products-table td:last-child {
	text-align: ;
	}
.products-table input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	border: 1px #cccccc solid;
  	width: 132px;
  	height: 26px;
  	background: #FFFFFF;
  	margin-right: 0px;
	} */
	
#search_container {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    overflow: hidden;
    text-align: left;
    width: 970px;
	}
#search_container .login_rightContent {
    background: rgba(0, 0, 0, 0) url("/common/bg_login_new01.gif") no-repeat scroll 0 0;
    float: right;
    height: 790px;
    width: 679px;
	}
#search_container .description {
    clear: both;
    color: #626161;
    line-height: 14px;
    margin: 25px 0 15px;
    margin-right: 15px;
    margin-left: 15px;
    width: 978px;
	}
#search_container .rmtProbDesc {
    clear: both;
    line-height: 14px;
    margin: 25px 0 15px;
    width: 978px;
	}
#search_container .description strong {
    color: #ff5555;
	}
#search_container .optionContentsWrap {
    clear: both;
    overflow: hidden;
    width: 668px;
	}
#search_container .optionBxBottom {
    background: rgba(0, 0, 0, 0) url("http://s21dev.cusa.canon.com/s21extn/e307/images/bg_option_bottom.gif") no-repeat scroll left bottom;
    float: right;
    height: 328px;
    overflow: hidden;
    width: 322px;
	}
#search_container .optionBxTop {
    background: rgba(0, 0, 0, 0) url("http://s21dev.cusa.canon.com/s21extn/e307/images/bg_option_top.gif") no-repeat scroll left top;
    height: 318px;
    overflow: hidden;
    position: relative;
    width: 322px;
    margin-top:5px;
	}
#search_container .optionBxBttmTskDiv {
    background: rgba(0, 0, 0, 0) url("http://s21dev.cusa.canon.com/s21extn/e307/images/bg_option_bottom.gif") no-repeat scroll left bottom;
    float: right;
    height: 148px;
    overflow: hidden;
    width: 322px;
	}
#search_container .optionBxTpTskDiv {
    background: rgba(0, 0, 0, 0) url("http://s21dev.cusa.canon.com/s21extn/e307/images/bg_option_top.gif") no-repeat scroll left top;
    height: 138px;
    overflow: hidden;
    position: relative;
    width: 322px;
    margin-top:5px;
	}
#search_container .optionBxBottom2 {
    background: rgba(0, 0, 0, 0) url("http://s21dev.cusa.canon.com/s21extn/e307/images/bg_option_bottom.gif") no-repeat scroll left bottom;
    float: right;
    height: 188px;
    overflow: hidden;
    width: 322px;
	}
#search_container .optionBxTop2 {
    background: rgba(0, 0, 0, 0) url("http://s21dev.cusa.canon.com/s21extn/e307/images/bg_option_top.gif") no-repeat scroll left top;
    height: 178px;
    overflow: hidden;
    position: relative;
    width: 322px;
    margin-top:5px;
	}
#search_container .optionContents {
    padding: 10px 20px;
    width: 280px;
    margin-top:5px;
	}

#search_container .optionBxBottomHis {
    background: rgba(0, 0, 0, 0) url("http://s21dev.cusa.canon.com/s21extn/e307/images/bg_option_bottom.gif") no-repeat scroll left bottom;
    float: right;
    height: 268px;
    overflow: hidden;
    width: 322px;
	}
#search_container .optionBxTopHis {
    background: rgba(0, 0, 0, 0) url("http://s21dev.cusa.canon.com/s21extn/e307/images/bg_option_top.gif") no-repeat scroll left top;
    height: 318px;
    overflow: hidden;
    position: relative;
    width: 322px;
    margin-top:30px;
	}
.page_container {
    margin: 0 auto;
    padding: 10px 0 0;
    text-align: left;
    color: #000000;
	width: 1000px;
	text-align: left;
	line-height: 18px;
	clear: both;
	background: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 130px;
	}
#page_main_container {
    margin: 10px 0 0;
    padding: 0;
    width: 974px;
	 }

.service {
	margin-bottom: ;
	}
.service table {
	border: 1px #cccccc solid;
	margin: 20px 0px 20px 10px;
	float: right;
	}
.service th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 8px;
	font-size:12px; #11px;
	}
.service td {
	text-align: left;
	background: #FFFFFF;
	}
.service input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	border: 1px #cccccc solid;
  	width: 250px;
  	height: 20px;
  	margin: 0px 0px 0px 0px !important;
  	}

.service textarea {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 220px; #660px;
  	height: 52px;
  	background: #FFFFFF;
  	font-size:11px;
	}
.service select {
	font-family: 'Raleway', sans-serif;
	width: 250px;
	height: 20px; #25px
	margin: 0 0 0 0px;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	font-size:11px;
	}

.hideoption {color:brown; font-size:13; } /* { display:none; visibility:hidden; height:0; font-size:0; } */

.service select option:disabled {
	color: #808080;
}

.proj_component {
	margin-bottom: ;
	}
	
.proj_component table {
	border: 1px #cccccc solid;
	margin: 0px 0px 2px 0px;
	float: center;
	border-collapse: separate;
    border-spacing: 5;
	}

.proj_component th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 8px;
	font-size:12px; #11px;
	}
.proj_component td {
	text-align: left;
	background: #FFFFFF;
	padding: 2px;
	}
.proj_component input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	border: 1px #878787 solid;
  	##width: 200px;
  	height: 20px;
  	margin: 3px 4px 3px 3px !important;
  	}

.proj_component textarea {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 220px; #660px;
  	height: 52px;
  	background: #FFFFFF;
  	font-size:11px;
	}
.proj_component select {
	font-family: 'Raleway', sans-serif;
	width: 200px;
	height: 20px; #25px
	##margin: 0 0 0 0px;
	margin: 3px 4px 3px 3px !important;
	##background-color: #FFFFFF;
	border: 1px #878787 solid;
	border-radius: 0px;
	font-size:11px;
	}


.proj_component select option:disabled {
	color: #808080;
}



.proj_additional {
	margin-bottom: ;
	}
	
.proj_additional table {
	border: 1px #cccccc solid;
	margin: 0px 0px 2px 0px;
	float: center;
	border-collapse: separate;
    border-spacing: 5;
	}

.proj_additional th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 8px;
	font-size:12px; #11px;
	}
.proj_additional td {
	text-align: left;
	background: #FFFFFF;
	}
.proj_additional input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	border: 1px #878787 solid;
  	width: 200px;
  	height: 20px;
  	margin: 3px 4px 3px 3px !important;
  	}

.proj_additional textarea {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 220px; #660px;
  	height: 52px;
  	background: #FFFFFF;
  	font-size:11px;
	}
.proj_additional select {
	font-family: 'Raleway', sans-serif;
	width: 200px;
	height: 20px; #25px
	##margin: 0 0 0 0px;
	margin: 3px 4px 3px 3px !important;
	##background-color: #FFFFFF;
	border: 1px #878787 solid;
	border-radius: 0px;
	font-size:11px;
	}

.hideoption {color:brown; font-size:13; } /* { display:none; visibility:hidden; height:0; font-size:0; } */

.proj_additional select option:disabled {
	color: #808080;
}


.additional_header {
	margin-bottom: ;
	}
.additional_header table {
	border: 1px #cccccc solid;
	margin: 10px 0 5px 25px;
	float: center;
	border-collapse: separate;
    border-spacing: 5;
	}
	
.additional_header th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 2px;
	font-size:12px; 
	}

.additional_header td {
	text-align: left;
	padding: 0px; ##8px;
	font-size:11px;
	background: #FFFFFF;
	}
	
.service_prj {
	margin-bottom: ;
	}
.service_prj table {
	border: 1px #cccccc solid;
	margin: 10px 0px 5px 10px;
	float: right;
	border-collapse: separate;
    border-spacing: 5;
	}
.service_prj th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 8px;
	font-size:12px; #11px;
	}
.service_prj td {
	text-align: left;
	background: #FFFFFF;
	}
.service_prj input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	border: 1px #cccccc solid;
  	width: 200px;
  	height: 20px;
  	margin: 0px 0px 0px 0px !important;
  	}

.service_prj textarea {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 220px; #660px;
  	height: 52px;
  	background: #FFFFFF;
  	font-size:11px;
	}
.service_prj select {
	font-family: 'Raleway', sans-serif;
	width: 200px;
	height: 20px; #25px
	margin: 0 0 0 0px;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	font-size:11px;
	}

.hideoption {color:brown; font-size:13; } /* { display:none; visibility:hidden; height:0; font-size:0; } */

.service_prj select option:disabled {
	color: #808080;
}

.service_btn {
	margin-bottom: ;
	}
.service_btn table {
	##border: 1px #cccccc solid;
	margin: 0px 0px 5px 10px;
	float: right;
	border-collapse: separate;
    border-spacing: 5;
	}
.service_btn th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 8px;
	font-size:12px; 
	}
.service_btn td {
	text-align: left;
	background: #FFFFFF;
	}
.service_btn input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	border: 1px #cccccc solid;
  	width: 200px;
  	height: 20px;
  	margin: 0px 0px 0px 0px !important;
  	}

.service_btn textarea {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 220px; #660px;
  	height: 52px;
  	background: #FFFFFF;
  	font-size:11px;
	}
.service_btn select {
	font-family: 'Raleway', sans-serif;
	width: 200px;
	height: 20px; #25px
	margin: 0 0 0 0px;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	font-size:11px;
	}

.hideoption {color:brown; font-size:13; } /* { display:none; visibility:hidden; height:0; font-size:0; } */

.service_btn select option:disabled {
	color: #808080;
}


.template_btn {
	margin-bottom: ;
	}
.template_btn table {
	###border: 1px #cccccc solid;
	margin: 2px 2px 5px 10px;
	float: right;
	border-collapse: separate;
    border-spacing: 5;
	}
.template_btn th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 8px;
	font-size:12px; 
	}
.template_btn td {
	text-align: right;
	background: #FFFFFF;
	}


.prj_main {
	margin-bottom: ;
	}
.prj_main table {
	border: 1px #cccccc solid;
	margin: 10px 0px 10px 10px;
	float: right;
	border-collapse: separate;
    border-spacing: 5;
	}
.prj_main th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 8px;
	font-size:12px; 
	}
.prj_main td {
	text-align: left;
	background: #FFFFFF;
	font-size:12px;  /*11px;*/ 
	}
.prj_main input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	border: 1px #878787 solid;
  	width: 150px; ##200px;
  	height: 20px;
  	margin: 0px 0px 0px 0px !important;
  	}

.prj_main textarea {
	font-family: 'Raleway', sans-serif;
	border: 1px #878787 solid;
  	width: 220px; #660px;
  	height: 52px;
  	background: #FFFFFF;  
  	font-size:11px;
	}
.prj_main select {
	font-family: 'Raleway', sans-serif;
	width: 150px; ##200px;
	height: 20px; #25px
	margin: 0 0 0 0px;
	#background-color: #FFFFFF;
	border: 1px #878787 solid;
	border-radius: 0px;
	font-size:11px;
	}

.nonedittextarea{
	readonly: readonly;
	background-color: #878787;
	}


.hideoption {color:brown; font-size:13; } /* { display:none; visibility:hidden; height:0; font-size:0; } */

.service_btn select option:disabled {
	color: #808080;
}

.submitFrm {
	text-align: right;
	padding: 10px 30px 0px 0px;
	clear: both;
	}
.submitFrm a {
	margin-left: 5px;
	}
::-webkit-input-placeholder {
	color: lightSlateGray;
	}
:-moz-placeholder {
    color: lightSlateGray;
	}
:-ms-input-placeholder {
    color: lightSlateGray;
	}
.debrief-information {
	line-height: normal;
	background: #FFFFFF;
	}  
.debrief-information div {
	margin: 0px 0px 10px 0px;
	}
.debrief-information table {
	border: 1px #cccccc solid;
	background: #FFFFFF;
	margin: 0px;
	}
.debrief-information a:link, .debrief-information a:visited, .debrief-information a:active {
	color: #cc0000;
	font-weight: normal;
	text-decoration: none;
    }
.debrief-information a:hover, .debrief-information a:visited:hover {
	text-decoration: underline;
	}
.debrief-information th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 8px;
	}
.debrief-information td {
	text-align: left;
	padding: 8px;
	height: 30px;
	}
.debrief-information td:nth-child(odd) {
	text-align: right;
	}
.debrief-information input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px !important;
	border: 1px #cccccc solid;
  	width: 170px;
  	height: 22px;
  	background: #FFFFFF;
  	margin: 0px !important;
  	}
.debrief-information select {
	font-family: 'Raleway', sans-serif;
	font-size: 11px !important;
	width: 180px;
	margin: 0px 0px 3px 0px !important;
	height: 22px;
	}
.debrief-information textarea {
	font-family: 'Raleway', sans-serif;
	font-size: 11px !important;
	border: 1px #cccccc solid;
  	background: #FFFFFF;
  	width: 400px;
  	height: 35px;
  	margin: 0px !important;
  	}
  	
.info-div01 {
	margin: 20px 30px 0px 30px !important;
	}
.info-div02 {
	margin: 0px 20px 0px 20px !important;
	}
.info-div03 {
	margin: 20px 0px 0px 0px !important;
	}  	
.border-no {
	border: 0px !important;
	}
  	
.case-number {
	text-align: right;
	}
.case-number input[type=text] {
	margin-right: 20px !important;
  	}
    
.tab-information {
	margin: 20px 30px 10px 30px;
	}  	
.tab-information table {
	border: 1px #cccccc solid;
	margin: 0px;
	}
.tab-information a:link, .tab-information a:visited, .tab-information a:active {
	color: #cc0000;
	text-decoration: none;
    }
.tab-information a:hover, .tab-information a:visited:hover {
	color: #cc0000;
	text-decoration: underline;
	}
.tab-information th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 10px;
	}
.tab-information td {
	text-align: left;
	vertical-align: top;
	padding: 8px;
	}
.tab-information tr:nth-child(even) {
	background-color: #FFFFFF;
	}
.tab-information tr:nth-child(odd) {
	background-color: #ebebeb;
	}
.tab-information textarea {
	font-family: 'Raleway', sans-serif;
	font-size: 11px !important;
	border: 1px #cccccc solid;
  	background: #FFFFFF;
  	width: 400px;
  	height: 35px;
  	margin: 0px !important;
  	}
  	
.tab-nav {
	width: 100%;
	min-width: 1000px;
	height: 25px;
	}
.tab-nav a:link, .tab-nav a:visited, .tab-nav a:active {
	color: #FFFFFF;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	background: #cccccc;
	}
.tab-nav a:hover, .tab-nav a:visited:hover {
	color: #FFFFFF;
	text-decoration: none;
	background: #cc0000;
	}
.tab-nav .active {
	color: #FFFFFF !important;
	text-decoration: none;
	background: -webkit-linear-gradient(#cc0000, #8e191c) !important;
	background: -moz-linear-gradient(center top , #cc0000 5%, #8e191c 100%) repeat scroll 0 0 white !important;
	background: -ms-linear-gradient(#cc0000, #8e191c) !important;
	background: linear-gradient(#cc0000, #8e191c) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cc0000', endColorstr='#8e191c') !important;
	background-color: #8e191c !important;
	}
	
.notes {
	line-height: normal;
	background: #FFFFFF;
	}  
.notes div {
	margin: 0px;
	}
.notes table {
	border: 1px #cccccc solid;
	background: #FFFFFF;
	margin: 0px;
	}
.notes a:link, .notes a:visited, .notes a:active {
	color: #cc0000;
	font-weight: normal;
	text-decoration: none;
    }
.notes a:hover, .notes a:visited:hover {
	text-decoration: underline;
	}
.notes th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 8px;
	}
.notes td {
	text-align: left;
	vertical-align: top;
	padding: 8px;
	}
.notes tr:nth-child(even) {
	background: #ebebeb;
	}
.notes input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px !important;
	border: 1px #cccccc solid;
  	width: 180px;
  	height: 22px;
  	background: #FFFFFF;
  	margin: 0px !important;
  	}
.notes input[type=file] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px !important;
	border: 0px;
  	}
.notes select {
	font-family: 'Raleway', sans-serif;
	font-size: 11px !important;
	width: 180px;
	margin: 0px 0px 3px 0px !important;
	}
.notes textarea {
	font-family: 'Raleway', sans-serif;
	font-size: 11px !important;
	border: 1px #cccccc solid;
  	background: #FFFFFF;
  	width: 400px;
  	height: 35px;
  	margin: 0px !important;
  	}
.plus-minus {
	float: right;
	margin-left: 20px;
	}
.plus-minus a {
	font-size: 20px !important;
	color: #FFFFFF !important;
	background: -webkit-linear-gradient(#00bff3, #0072bc);
	background: -moz-linear-gradient(center top , #00bff3 5%, #0072bc 100%) repeat scroll 0 0 white;
	background: -ms-linear-gradient(#00bff3, #0072bc);
	background: linear-gradient(#00bff3, #0072bc);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00bff3', endColorstr='#0072bc');
	background-color: #0072bc;
	border: none;
	cursor: pointer;
	padding: 0px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none !important;
	}
.plus-minus a:hover {
	background: -webkit-linear-gradient(#6dcff6, #00bff3);
	background: -moz-linear-gradient(center top , #6dcff6 5%, #00bff3 100%) repeat scroll 0 0 white;
	background: -ms-linear-gradient(#6dcff6, #00bff3);
	background: linear-gradient(#6dcff6, #00bff3);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#6dcff6', endColorstr='#00bff3');
	background-color: #00bff3;
	text-decoration: none !important;
	}
/****.disabled {
	background: #cccccc !important;
	}  ****/
	  	
/* .charges-information {
	
	}
.charges-information table {
	background: #FFFFFF;
	border: 1px #cccccc solid;
	margin: 20px 0px 20px 10px;
	float: right;
	}
.charges-information th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 8px;
	}
.charges-information td {
	text-align: left;
	background: #FFFFFF;
	}
.charges-information td:nth-child(odd) {
	text-align: right;
	font-weight: bold;
	}
.charges-information[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px !important;
	border: 1px #cccccc solid;
  	width: 250px !important;
  	height: 18px;
  	background: #FFFFFF;
  	margin: 0px 5px 0px 5px !important;
  	}
.charges-information textarea {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 260px;
  	height: 100px;
  	background: #FFFFFF;
	}

.transaction-details {
	text-align: right;
	white-space: ;
	}
.transaction-details table {
	background: #FFFFFF;
	border: 1px #cccccc solid;
	margin: 20px 0px 0px 5px;
	float: ;
	display: inline-block;
	}
.transaction-details th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 8px;
	}
.transaction-details td {
	text-align: left;
	background: #FFFFFF;
	}
.transaction-details td:nth-child(odd) {
	text-align: left;
	font-weight: bold;
	}
.transaction-details[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px !important;
	border: 1px #cccccc solid;
  	width: 250px !important;
  	height: 18px;
  	background: #FFFFFF;
  	margin: 0px 5px 0px 5px !important;
  	}
.transaction-details textarea {
	font-family: 'Raleway', sans-serif;
	border: 1px #cccccc solid;
  	width: 260px;
  	height: 100px;
  	background: #FFFFFF;
	}
  	
.customer-handling {
	line-height: normal;
	}
.customer-handling table {
	border: 1px #cccccc solid;
	margin: 0px 0px 20px 0px;
	}
.customer-handling th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 8px;
	}
.customer-handling td {
	text-align: left;
	background: #FFFFFF;
	}
.customer-handling input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px !important;
	border: 1px #cccccc solid;
  	width: 180px;
  	height: 18px;
  	background: #FFFFFF;
  	margin: 0px!important;
  	}
	
.charges-table {
	width: 100%;
	background: #cccccc;
	margin-bottom: 5px;
	} */
/* .supplies-table tr:nth-child(even) {
	background-color: #FFFFFF;
	}
.supplies-table tr:nth-child(odd) {
	background-color: #ebebeb;
	} */
/* .charges-table th, .charges-table td {
	padding: 12px;
	border: none;
	}
.charges-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	}
.charges-table td {
	text-align: center;
	}
.charges-table input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	border: 1px #cccccc solid;
  	width: 132px;
  	height: 20px;
  	background: #FFFFFF;
  	margin-right: 0px;
	}
.charges-table th a:link, .charges-table th a:visited, .charges-table th a:active {
	color: #FFFFFF;
	text-decoration: none !important;
    }
.charges-table th a:hover, .charges-table th a:visited:hover {
	text-decoration: underline !important;
	}
		
.lov-table {
	width: 100%;
	background: #cccccc;
	margin-bottom: 5px;
	}
.lov-table tr:nth-child(even) {
	background-color: #FFFFFF;
	}
.lov-table tr:nth-child(odd) {
	background-color: #ebebeb;
	}
.lov-table th, .lov-table td {
	padding: 5px;
	border: none;
	}
.lov-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	}
.lov-table td {
	text-align: center;
	}
.lov-table input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	border: 1px #cccccc solid;
  	width: 132px;
  	height: 26px;
  	background: #FFFFFF;
  	margin-right: 0px;
	}
.lov-table th a:link, .lov-table th a:visited, .lov-table th a:active {
	color: #FFFFFF;
	text-decoration: none !important;
    }
.lov-table th a:hover, .lov-table th a:visited:hover {
	text-decoration: underline !important;
	}	 */
/* .service-new {
	margin-bottom: ;
	}
.service-new table {
	border: 1px #cccccc solid;
	margin: 0px 0px 0px 0px;
	float: right;
	}
.service-new th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 8px;
	font_size:12px;
	}
.service-new td {
	text-align: left;
	background: #FFFFFF;
	}
.service-new input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-size: 11px !important;
	border: 1px #cccccc solid;
  	width: 155px;
  	height: 18px;
  	margin: 0px 5px 0px 5px !important;
  	}	
	 */
	 

 .ui-dialog {
    padding: 0.2em;
    position: relative;
    width: 900px;
  }	 
 .ui-dialog .ui-dialog-content
 {
     position: relative;
     border: 0;
     padding: .5em 1em;
     background: none;
     overflow: auto;
     zoom: 1;
     background-color: #f2f2f2;
     border: solid 1px #ea7;
 }

 .ui-dialog .ui-dialog-titlebar
 {
    background: none;
    width: 98%;
	#height: 33px;
	background: #003a4d;
	margin-right: auto;
	margin-left: auto;
     
 }
 
.ui-dialog .ui-dialog-buttonpane button {
	font-size: 12px !important;
	color: #FFFFFF !important;
	background: -webkit-linear-gradient(#cc0000, #8e191c);
	background: -moz-linear-gradient(center top , #cc0000 5%, #8e191c 100%) repeat scroll 0 0 white;
	background: -ms-linear-gradient(#cc0000, #8e191c);
	background: linear-gradient(#cc0000, #8e191c);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cc0000', endColorstr='#8e191c');
	background-color: #8e191c;
	border: none;
	cursor: pointer;
	padding: 5px 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none !important;
}

.eventableDataCell { 
	/*background-color: #f7f7e7;*/
	background-color: #bfdbff;
	/*background-color: #ECE5B6;  */
	text-align: center; 
	font-family: verdana; 
	font-size: 10pt;
	}

.oddtableDataCell { 
	/*background-color: #E5E5C7; */
	background-color: #d7e6fa;	
	text-align: center; 
	font-family: verdana; 
	font-size: 10pt;
	}

 .select-editable {
     position:relative;
     background-color:white;
     border:solid grey 1px;
     width:140px;
     height:18px;
 }
 .select-editable select {
     position:absolute;
     top:0px;
     left:0px;
     font-size:12px;
     border:none;
     width:140px;
     margin:0;
 }
 .select-editable input {
     position:absolute;
     top:0px;
     left:0px;
     width:100px;
     padding:1px;
     font-size:12px;
     border:none;
 }
 .select-editable select:focus, .select-editable input:focus {
     outline:none;
 }
 

/* .ui-button
 {
	font-size: 12px !important;
	color: #FFFFFF !important;
	background: #cc0000;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cc0000', endColorstr='#8e191c');
	background-color: #8e191c;
	border: none;
	cursor: pointer;
	padding: 5px 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none !important;
 }
 */ /* .ui-widget-content
 {
     border:none;
 } */
 	 