<template>

	<variable name="sql00" type="sql" value="
		SELECT
			COUNT(*)	AS	ITEM_CNT
		FROM
			EIP_RPT_INP_PRM
		WHERE
			EIP_RPT_RQST_PK	=	${_VA_EIP_RPT_RQST_PK}
		AND	RPT_RQST_SUB_ID	=	${_VA_RPT_RQST_SUB_ID}
		AND	(
				RPT_PRM_NM	=	'JOB_PROC_ID'
			OR	RPT_PRM_NM	=	'INTL_LANG_VAL_COL_NM'
		)
	" />

	<variable name="sql0" type="sql" value="
		SELECT
			RPT_PRM_NM
		,	RPT_PRM_VAL_TXT
		FROM
			EIP_RPT_INP_PRM
		WHERE
			EIP_RPT_RQST_PK	=	${_VA_EIP_RPT_RQST_PK}
		AND	RPT_RQST_SUB_ID	=	${_VA_RPT_RQST_SUB_ID}
		AND	(
				RPT_PRM_NM	=	'JOB_PROC_ID'
			OR	RPT_PRM_NM	=	'INTL_LANG_VAL_COL_NM'
		)
	" />

	<variable name="VA_JOB_PROC_ID" type="string" value="" />

	<variable name="sql01" type="sql" value="
		SELECT
			COUNT(*)			AS	REC_CNT
		FROM 
			RPT_JOB_WRK			RJW
		WHERE
			RJW.RPT_JOB_PROC_ID	=	${VA_JOB_PROC_ID}
	" />

	<variable name="sql1" type="sql" nonescaped="${VA_INTL_LANG_VAL_COL_NM}" value="
	WITH INTL_LB_V AS (
		SELECT
			*
		FROM
		(
			SELECT
				LANG_KEY_CD
			,	${VA_INTL_LANG_VAL_COL_NM}	AS	VAL_TXT
			FROM
				INTL_LANG_VAL
			WHERE
				EZCANCELFLAG	=	'0'
		)
		PIVOT (
			MAX(VAL_TXT)
			FOR LANG_KEY_CD IN (
				'22525'	AS	C22525
			,	'6827'	AS	C6827
			,	'22527'	AS	C22527
			)
		)
	)
	SELECT
		C22525
	,	C6827
	,	RPT_JOB_ID
	,	C22527
	,	RPT_JOB_PROC_ID
	FROM 
		RPT_JOB_WRK		RJW
	,	INTL_LB_V		ILV
	WHERE
		RJW.RPT_JOB_PROC_ID	=	${VA_JOB_PROC_ID}
	" />

	<doc encoding="UTF-8">

		<condition test="${sql00.ITEM_CNT}" operator="equal" value="0">
			<error message="no data in DB" />
		</condition>

		<for variable="sql0">
			<condition test="${sql0.RPT_PRM_NM}" operator="equal" value="JOB_PROC_ID">
				<assign variable="VA_JOB_PROC_ID" value="${sql0.RPT_PRM_VAL_TXT}" />
			</condition>
			<condition test="${sql0.RPT_PRM_NM}" operator="equal" value="INTL_LANG_VAL_COL_NM">
				<assign variable="VA_INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
			</condition>
		</for>

		<condition test="${sql01.REC_CNT}" operator="equal" value="0">
			<error message="no data in DB" />
		</condition>

		<section name="Control Section">
			<textln>VERSION=8.1</textln>
		</section>

		<section name="Form Section">
			<textln>FORM=..\..\forms\ZZZF0001.fcp</textln>
		</section>

		<section name="Table Data Section">

			<for variable="sql1">

				<text>"${sql1.C22525}",</text>
				<text>"${sql1.C6827}",</text>
				<text>"${sql1.RPT_JOB_ID}",</text>
				<text>"${sql1.C22527}",</text>
				<textln>"${sql1.RPT_JOB_PROC_ID}"</textln>

			</for>

		</section>

	</doc>

	<mdatas>
		<mdata key="xcCommonExAttrText1" value="version1.0" />
	</mdatas>

</template>
