<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00" type="sql" value="
	select  count(*) item_count
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'MRP_RPT_PRINT_RQST_SQ'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM'
            or RPT_PRM_NM = 'MRP_PLN_NM'
            or RPT_PRM_NM = 'RTL_WH_CD')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql0" type="sql" value="
	select  RPT_PRM_NM,RPT_PRM_VAL_TXT
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'MRP_RPT_PRINT_RQST_SQ'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM'
            or RPT_PRM_NM = 'MRP_PLN_NM'
            or RPT_PRM_NM = 'RTL_WH_CD')
"/>

<variable name="GLBL_CMPY_CD" type="string" value=""/>
<variable name="MRP_RPT_PRINT_RQST_SQ" type="string" value=""/>
<variable name="INTL_LANG_VAL_COL_NM" type="string" value=""/>
<variable name="MRP_PLN_NM" type="string" value=""/>
<variable name="RTL_WH_CD" type="string" value=""/>

<variable name="C22929" type="string" value=""/>
<variable name="C8455" type="string" value=""/>
<variable name="C9205" type="string" value=""/>
<variable name="C22930" type="string" value=""/>
<variable name="C2265" type="string" value=""/>
<variable name="C1496" type="string" value=""/>
<variable name="C793" type="string" value=""/>
<variable name="C4492" type="string" value=""/>
<variable name="C20580" type="string" value=""/>
<variable name="C3584" type="string" value=""/>
<variable name="C20579" type="string" value=""/>
<variable name="C3584" type="string" value=""/>
<variable name="C2891" type="string" value=""/>
<variable name="C3584" type="string" value=""/>
<variable name="C22931" type="string" value=""/>
<variable name="C530" type="string" value=""/>
<variable name="C22932" type="string" value=""/>
<variable name="SPACE" type="string" value=" "/>
<variable name="C4440" type="string" value=""/>
<variable name="C23092" type="string" value=""/>
<variable name="C23175" type="string" value=""/>
<variable name="C23176" type="string" value=""/>
<variable name="C5100" type="string" value=""/>
<variable name="C23177" type="string" value=""/>
<variable name="C23178" type="string" value=""/>
<variable name="C23179" type="string" value=""/>
<variable name="C23180" type="string" value=""/>
<variable name="C23181" type="string" value=""/>
<variable name="C23182" type="string" value=""/>
<variable name="C23183" type="string" value=""/>
<variable name="C23184" type="string" value=""/>
<variable name="C23185" type="string" value=""/>



<variable name="sql01" type="sql" value="
SELECT count(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('22929','8455','9205','22930','2265','1496','793','4492','20580','3584','20579','3584','2891','16997','22931','530','22932','4440'   ,'23092','23175','23176','5100','23177','23178','23179','23180','23181','23182','23183','23184','23185')
"/>

<variable name="sql1" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('22929','8455','9205','22930','2265','1496','793','4492','20580','3584','20579','3584','2891','16997','22931','530','22932','4440'   ,'23092','23175','23176','5100','23177','23178','23179','23180','23181','23182','23183','23184','23185')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>



<variable name="sql02" type="sql" value="
SELECT count(*) item_count
FROM MRP_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.MRP_RPT_PRINT_RQST_SQ = ${MRP_RPT_PRINT_RQST_SQ}
"/>

<variable name="sql2" type="sql" value="
SELECT 
 A.ONL_BAT_RQST_FLG
,A.PLN_LVL_DESC_TXT
,A.MRP_PLN_NM_SRCH_TXT
,A.RTL_WH_CD_SRCH_TXT
,A.RTL_WH_NM_SRCH_TXT
,A.RTL_SWH_CD_SRCH_TXT
,A.RTL_SWH_NM_SRCH_TXT
,A.DMND_CTOFF_DT_TXT
,A.DMND_CTOFF_DAYS_AOT
,A.SPLY_CTOFF_DT_TXT
,A.SPLY_CTOFF_DAYS_AOT
,A.CRAT_PRCH_REQ_FLG
,A.PRINT_ITEM_STS_FLG
,A.PRINT_ITEM_DESC_FLG
FROM MRP_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.MRP_RPT_PRINT_RQST_SQ = ${MRP_RPT_PRINT_RQST_SQ}
AND ROWNUM=1
ORDER BY RTL_WH_CD,RTL_SWH_CD,MDSE_CD
"/>


<variable name="sql03" type="sql" value="
SELECT count(*) item_count
FROM MRP_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.MRP_RPT_PRINT_RQST_SQ = ${MRP_RPT_PRINT_RQST_SQ}
"/>


<variable name="sql3" type="sql" value="
SELECT MRP_RPT_PRINT_TXT
,RTL_WH_CD
,RTL_WH_NM
,RTL_SWH_CD
,RTL_SWH_NM
,MDSE_CD
,MDSE_DESC_SHORT_TXT
,COA_PROD_CD
,COA_MDSE_TP_CD
,PRCH_PLN_AVAL_TXT
,ROP_QTY_TXT
,MAX_INVTY_QTY_TXT
,CUR_INVTY_QTY_TXT
,SCHD_INBD_QTY_TXT
,SCHD_OTBD_QTY_TXT
,CUR_INVTY_AVAL_QTY_TXT
,PRCH_REQ_QTY_TXT
,PROCR_TP_DESC_TXT
FROM MRP_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.MRP_RPT_PRINT_RQST_SQ = ${MRP_RPT_PRINT_RQST_SQ}
ORDER BY RTL_WH_CD,RTL_SWH_CD,MDSE_CD
"/>


<doc encoding="UTF-8">
<condition test="${sql00.item_count}" value="0" operator="equal">
 <error message="no data in Parameter DB"/>
</condition>

<for variable="sql0">
	<condition test="${sql0.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
		<assign variable="GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="MRP_RPT_PRINT_RQST_SQ" operator="equal">
		<assign variable="MRP_RPT_PRINT_RQST_SQ" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
        <assign variable="INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
    </condition>
    <condition test="${sql0.RPT_PRM_NM}" value="MRP_PLN_NM" operator="equal">
        <assign variable="MRP_PLN_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
    </condition>
	<condition test="${sql0.RPT_PRM_NM}" value="RTL_WH_CD" operator="equal">
		<assign variable="RTL_WH_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
</for>

 <condition test="${sql01.item_count}" value="0" operator="equal">
  <error message="no data in Language DB"/>
 </condition>

<for variable="sql1">
	<condition test="${sql1.LANG_KEY_CD}" value="22929" operator="equal"><assign variable="C22929" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="8455" operator="equal"><assign variable="C8455" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="9205" operator="equal"><assign variable="C9205" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22930" operator="equal"><assign variable="C22930" value="${sql1.LANGUAGE_LABEL}:"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2265" operator="equal"><assign variable="C2265" value="${sql1.LANGUAGE_LABEL} /"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1496" operator="equal"><assign variable="C1496" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="793" operator="equal"><assign variable="C793" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4492" operator="equal"><assign variable="C4492" value="${sql1.LANGUAGE_LABEL} -"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="20580" operator="equal"><assign variable="C20580" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3584" operator="equal"><assign variable="C3584" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="20579" operator="equal"><assign variable="C20579" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3584" operator="equal"><assign variable="C3584" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2891" operator="equal"><assign variable="C2891" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="16997" operator="equal"><assign variable="C16997" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22931" operator="equal"><assign variable="C22931" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="530" operator="equal"><assign variable="C530" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22932" operator="equal"><assign variable="C22932" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4440" operator="equal"><assign variable="C4440" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23092" operator="equal"><assign variable="C23092" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23175" operator="equal"><assign variable="C23175" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23176" operator="equal"><assign variable="C23176" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="5100" operator="equal"><assign variable="C5100" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23177" operator="equal"><assign variable="C23177" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23178" operator="equal"><assign variable="C23178" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23179" operator="equal"><assign variable="C23179" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23180" operator="equal"><assign variable="C23180" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23181" operator="equal"><assign variable="C23181" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23182" operator="equal"><assign variable="C23182" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23183" operator="equal"><assign variable="C23183" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23184" operator="equal"><assign variable="C23184" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23185" operator="equal"><assign variable="C23185" value="${sql1.LANGUAGE_LABEL}"/></condition>
</for>

 <condition test="${sql02.item_count}" value="0" operator="equal">
  <error message="no data in DB"/>
 </condition>

 <section name="Control Section">
  <textln>VERSION=8.1</textln>
 </section>
 <section name="Form Section">
  <textln>FORM=..\..\forms\NPAF0030.fcx</textln>
 </section>

<!-- [Table Data Section] output to dat file -->
 <section name="Table Data Section">
    <for variable="sql2">
	  <text>"${C23092}",</text>
      <text>"${C23175}",</text>
      <text>"${C22929}",</text>
      <text>"${C23176}",</text>
      <text>"${C5100}",</text>
      <text>"${C23177}",</text>
      <text>"${C23178}",</text>
      <text>"${C23179}",</text>
      <text>"${C23180}",</text>
      <text>"${C23181}",</text>
      <text>"${C23182}",</text>
      <text>"${C23183}",</text>
      <text>"${C23184}",</text>
      <text>"${C23185}",</text>
	  <text>"${sql2.ONL_BAT_RQST_FLG}",</text>
	  <text>"${sql2.PLN_LVL_DESC_TXT}",</text>
	  <text>"${sql2.MRP_PLN_NM_SRCH_TXT}",</text>
	  <text>"${sql2.RTL_WH_CD_SRCH_TXT}${SPACE}${sql2.RTL_WH_NM_SRCH_TXT}",</text>
	  <text>"${sql2.RTL_SWH_CD_SRCH_TXT}${SPACE}${sql2.RTL_SWH_NM_SRCH_TXT}",</text>
	  <text>"${sql2.DMND_CTOFF_DT_TXT}",</text>
	  <text>"${sql2.DMND_CTOFF_DAYS_AOT}",</text>
	  <text>"${sql2.SPLY_CTOFF_DT_TXT}",</text>
	  <text>"${sql2.SPLY_CTOFF_DAYS_AOT}",</text>
	  <text>"${sql2.CRAT_PRCH_REQ_FLG}",</text>
	  <text>"${sql2.PRINT_ITEM_STS_FLG}",</text>
	  <textln>"${sql2.PRINT_ITEM_DESC_FLG}"</textln>
    </for>
 </section>

<!-- [Table Data Section] output to dat file -->
 <condition test="${sql03.item_count}" value="0" operator="not equal">
   <section name="Form Section">
	  <textln>NEXTPAGE</textln>
   </section>
 <section name="Table Data Section">
    <for variable="sql3">
	  <text>"${C22929}",</text>
	  <text>"${C8455}",</text>
	  <text>"${sql3.MRP_RPT_PRINT_TXT}",</text>
	  <text>"${C9205}",</text>
	  <text>"${sql3.RTL_WH_CD}${SPACE}${sql3.RTL_WH_NM}",</text>
	  <text>"${C22930}",</text>
	  <text>"${sql3.RTL_SWH_CD}${SPACE}${sql3.RTL_SWH_NM}",</text>
	  <text>"${C2265}",</text>
	  <text>"${C1496}",</text>
	  <text>"${C793}",</text>
	  <text>"${C4492}",</text>
	  <text>"${C20580}",</text>
	  <text>"${C3584}",</text>
	  <text>"${C20579}",</text>
	  <text>"${C2891}",</text>
	  <text>"${C16997}",</text>
	  <text>"${C22931}",</text>
	  <text>"${C530}",</text>
	  <text>"${C22932}",</text>
	  <text>"${sql3.MDSE_CD}",</text>
	  <text>"${sql3.MDSE_DESC_SHORT_TXT}",</text>
	  <text>"${sql3.COA_MDSE_TP_CD}",</text>
	  <text>"${sql3.COA_PROD_CD}",</text>
	  <text>"${sql3.PRCH_PLN_AVAL_TXT}",</text>
	  <text>"${sql3.ROP_QTY_TXT}",</text>
	  <text>"${sql3.MAX_INVTY_QTY_TXT}",</text>
	  <text>"${sql3.CUR_INVTY_QTY_TXT}",</text>
	  <text>"${sql3.SCHD_INBD_QTY_TXT}",</text>
	  <text>"${sql3.SCHD_OTBD_QTY_TXT}",</text>
	  <text>"${sql3.CUR_INVTY_AVAL_QTY_TXT}",</text>
	  <text>"${sql3.PRCH_REQ_QTY_TXT}",</text>
	  <text>"${C4440}",</text>
	  <textln>"${sql3.PROCR_TP_DESC_TXT}"</textln>
    </for>
 </section>
   <section name="Form Section">
	  <textln>NEXTPAGE</textln>
   </section>
 </condition>

 <condition test="${sql03.item_count}" value="0" operator="equal">
   <section name="Form Section">
	  <textln>NEXTPAGE</textln>
	  <textln>NEXTPAGE</textln>
   </section>
 </condition>
	
</doc>
<mdatas>
  <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>