<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00_EIP_PRM_CHK" type="sql" value="
    select  count(*) item_count
    from EIP_RPT_INP_PRM
    where
        EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
        and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
        and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'CLT_PMT_CONF_LTR_RQST_NUM'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql01_EIP_PRM_VAL" type="sql" value="
    select  RPT_PRM_NM,RPT_PRM_VAL_TXT
    from EIP_RPT_INP_PRM
    where
        EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
        and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
        and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'CLT_PMT_CONF_LTR_RQST_NUM'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>
<!-- Parameter -->
<variable name="GLBL_CMPY_CD" type="string" value=""/>
<variable name="CLT_PMT_CONF_LTR_RQST_NUM" type="string" value=""/>
<variable name="INTL_LANG_VAL_COL_NM" type="string" value=""/>
<!-- Report Label -->
<variable name="C22971" type="string" value=""/>  <!-- Phone: -->
<variable name="C23419" type="string" value=""/>  <!-- Good afternoon, -->
<variable name="C23420" type="string" value=""/>  <!-- Thank you for your payment of the invoices listed below. -->
<variable name="C23421" type="string" value=""/>  <!-- Payment was processed on your credit card. -->
<variable name="C23422" type="string" value=""/>  <!-- ( -->
<variable name="C23423" type="string" value=""/>  <!-- ) -->
<variable name="C23211" type="string" value=""/>  <!-- . -->
<variable name="C23424" type="string" value=""/>  <!-- The confirmation numbers are as follows: -->
<variable name="C2864" type="string" value=""/>   <!-- Number -->
<variable name="C389" type="string" value=""/>    <!-- Amount -->
<variable name="C982" type="string" value=""/>    <!-- Confirmation -->
<variable name="C23425" type="string" value=""/>  <!-- If you have any questions or concerns please let us know. -->
<variable name="C23426" type="string" value=""/>  <!-- Best Regards, -->
<variable name="C23427" type="string" value=""/>  <!-- T -->
<variable name="C23428" type="string" value=""/>  <!-- F -->
<variable name="C22518" type="string" value=""/>  <!-- A Canon U.S.A. Company -->
<!-- Start 2023/3/10 S.Nakatani [QC#55645, ADD]-->
<variable name="C23483" type="string" value=""/>  <!-- Payment was processed on Check By Phone. -->
<!-- End 2023/3/10 S.Nakatani [QC#55645, ADD]-->
<!-- Start 2023/4/25 R,Takau [QC#55998, ADD]-->
<variable name="C4758" type="string" value=""/>  <!-- Total -->
<!-- End 2023/4/25 R.Takau [QC#55998, ADD]-->
<!-- Row Output Control -->
<variable name="Cm" type="string" value=""/>
<variable name="Cp" type="string" value=""/>
<variable name="SPS" type="string" value=" "/>

<!-- ***************************************** -->
<!-- SQL 1.Label Read -->
<!-- ***************************************** -->
<variable name="sql10_Label_RowCount" type="sql" value="
SELECT COUNT(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
    LANG_KEY_CD in ('22971','23419','23420','23421','23422','23423','23211','23424','2864','389','982','23425','23426','23427','23428','22518','23483','4758')
"/>

<variable name="sql11_Label" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
    LANG_KEY_CD in ('22971','23419','23420','23421','23422','23423','23211','23424','2864','389','982','23425','23426','23427','23428','22518','23483','4758')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>
<!-- ***************************************** -->
<!-- SQL 2.Report Data -->
<!-- ***************************************** -->
<variable name="sql20_ReportData_RowCount" type="sql" value="
SELECT COUNT(*) item_count
FROM CLT_PMT_CONF_LTR_WRK A
WHERE
    A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.EZCANCELFLAG = '0'
AND A.CLT_PMT_CONF_LTR_RQST_NUM = ${CLT_PMT_CONF_LTR_RQST_NUM}
"/>

<!-- START  [QC#50199,MOD] -->
<variable name="sql21_ReportData" type="sql" value="
SELECT
    A.HDR_CMPY_NM
   ,A.HDR_OFC_FIRST_LINE_ADDR
   ,A.HDR_OFC_SCD_LINE_ADDR
   ,A.HDR_OFC_THIRD_LINE_ADDR
   ,A.HDR_OFC_FRTH_LINE_ADDR
   ,A.HDR_OFC_CTY_ADDR
      || CASE WHEN A.HDR_OFC_PROV_NM IS NULL THEN NULL ELSE ', ' || A.HDR_OFC_PROV_NM END
      || CASE WHEN A.HDR_OFC_ST_CD   IS NULL THEN NULL ELSE ', ' || A.HDR_OFC_ST_CD   END
      || CASE WHEN A.HDR_OFC_POST_CD IS NULL THEN NULL ELSE ' '  || A.HDR_OFC_POST_CD END AS HDR_OFC_ADDR
   ,A.HDR_OFC_TEL_NUM
   ,A.HDR_CMPY_URL
   ,A.PMT_CONF_DT_FMT_TXT 
   ,A.DTL_BILL_TO_CUST_ACCT_CD || ' ' || A.HDR_CUST_NM
      || ' - '
      || CTAC_PSN_FIRST_NM
      || CASE WHEN A.CTAC_PSN_MID_NM  IS NULL THEN NULL ELSE ' ' || A.CTAC_PSN_MID_NM  END
      || CASE WHEN A.CTAC_PSN_LAST_NM IS NULL THEN NULL ELSE ' ' || A.CTAC_PSN_LAST_NM END AS CUST_AND_CTAC_PSN_NM
   ,A.CR_CARD_TP_DESC_TXT
   ,CASE WHEN A.DTL_AR_CUST_REF_NUM IS NOT NULL THEN A.DTL_AR_CUST_REF_NUM ELSE 
        (CASE WHEN A.DTL_AR_TRX_NUM IS NULL THEN NULL ELSE A.DTL_AR_TRX_NUM END) END
      || CASE WHEN (A.DTL_AR_CUST_REF_NUM IS NULL AND A.DTL_AR_TRX_NUM IS NULL)
              THEN (CASE WHEN A.DTL_GRP_INV_NUM IS NULL THEN ' ' ELSE A.DTL_GRP_INV_NUM END)
              ELSE (CASE WHEN A.DTL_GRP_INV_NUM IS NULL THEN ' ' ELSE '/' || A.DTL_GRP_INV_NUM END) END AS DTL_REF_NUM
   ,A.DEAL_NET_RCPT_AMT_TOT_TXT
   ,A.DTL_DEAL_NET_RCPT_AMT_TXT
   ,A.DTL_CR_CARD_CUST_REF_NUM
   ,A.CLTR_PSN_FIRST_NM
      || CASE WHEN A.CLTR_PSN_MID_NM  IS NULL THEN NULL ELSE ' ' || A.CLTR_PSN_MID_NM  END
      || CASE WHEN A.CLTR_PSN_LAST_NM IS NULL THEN NULL ELSE ' ' || A.CLTR_PSN_LAST_NM END CLTR_PSN_NM
   ,A.CLTR_HR_TTL_NM
   ,A.CLTR_CMPY_NM
   ,A.CLTR_FIRST_LINE_ADDR
   ,A.CLTR_SCD_LINE_ADDR
   ,A.CLTR_THIRD_LINE_ADDR
   ,A.CLTR_FRTH_LINE_ADDR
   ,A.CLTR_HDR_CMPY_URL
   ,A.CLTR_EML_ADDR
   ,A.CLTR_TEL_NUM
   ,A.CLTR_FAX_NUM
FROM
    CLT_PMT_CONF_LTR_WRK A
WHERE
    A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.EZCANCELFLAG = '0'
AND A.CLT_PMT_CONF_LTR_RQST_NUM = ${CLT_PMT_CONF_LTR_RQST_NUM}
ORDER BY
 A.DTL_BILL_TO_CUST_ACCT_CD ASC
,A.DTL_BILL_TO_CUST_CD ASC
,A.DTL_GRP_INV_NUM ASC NULLS LAST
,NVL(A.DTL_AR_CUST_REF_NUM, A.DTL_AR_TRX_NUM) ASC
"/>
<!-- END  [QC#50199,MOD] -->


<doc encoding="UTF-8">
<condition test="${sql00_EIP_PRM_CHK.item_count}" value="0" operator="equal">
    <error message="no data in Parameter DB"/>
</condition>

<for variable="sql01_EIP_PRM_VAL">
    <condition test="${sql01_EIP_PRM_VAL.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
        <assign variable="GLBL_CMPY_CD" value="${sql01_EIP_PRM_VAL.RPT_PRM_VAL_TXT}"/>
    </condition>
    <condition test="${sql01_EIP_PRM_VAL.RPT_PRM_NM}" value="CLT_PMT_CONF_LTR_RQST_NUM" operator="equal">
        <assign variable="CLT_PMT_CONF_LTR_RQST_NUM" value="${sql01_EIP_PRM_VAL.RPT_PRM_VAL_TXT}"/>
    </condition>
    <condition test="${sql01_EIP_PRM_VAL.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
        <assign variable="INTL_LANG_VAL_COL_NM" value="${sql01_EIP_PRM_VAL.RPT_PRM_VAL_TXT}"/>
    </condition>
</for>

<condition test="${sql10_Label_RowCount.item_count}" value="0" operator="equal">
    <error message="no data in Language DB"/>
</condition>

<for variable="sql11_Label">
    <condition test="${sql11_Label.LANG_KEY_CD}" value="22971" operator="equal"><assign variable="C22971" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>  <!-- Phone: -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23419" operator="equal"><assign variable="C23419" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>  <!-- Good afternoon, -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23420" operator="equal"><assign variable="C23420" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>  <!-- Thank you for your payment of the invoices listed below. -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23421" operator="equal"><assign variable="C23421" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>  <!-- Payment was processed on your credit card. -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23422" operator="equal"><assign variable="C23422" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>  <!-- ( -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23423" operator="equal"><assign variable="C23423" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>  <!-- ) -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23211" operator="equal"><assign variable="C23211" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>  <!-- . -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23424" operator="equal"><assign variable="C23424" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>  <!-- The confirmation numbers are as follows: -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="2864" operator="equal"><assign variable="C2864" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>    <!-- Number -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="389" operator="equal"><assign variable="C389" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>      <!-- Amount -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="982" operator="equal"><assign variable="C982" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>      <!-- Confirmation -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23425" operator="equal"><assign variable="C23425" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>  <!-- If you have any questions or concerns please let us know. -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23426" operator="equal"><assign variable="C23426" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>  <!-- Best Regards, -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23427" operator="equal"><assign variable="C23427" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>  <!-- T -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23428" operator="equal"><assign variable="C23428" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>  <!-- F -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="22518" operator="equal"><assign variable="C22518" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>  <!-- A Canon U.S.A. Company -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="23483" operator="equal"><assign variable="C23483" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>  <!-- Payment was processed on Check By Phone. -->
    <condition test="${sql11_Label.LANG_KEY_CD}" value="4758" operator="equal"><assign variable="C4758" value="${sql11_Label.LANGUAGE_LABEL}"/></condition>  <!-- Total. -->

</for>

<condition test="${sql20_ReportData_RowCount.item_count}" value="0" operator="equal">
    <error message="no data in Transaction DB"/>
</condition>

<section name="Control Section">
    <textln>VERSION=8.1</textln>
</section>
<section name="Form Section">
    <textln>FORM=..\..\forms\NFDF0050.fcp</textln>
</section>

<!-- [Table Data Section] output to dat file -->
<section name="Table Data Section">
    <for variable="sql21_ReportData">
        <text>"${sql21_ReportData.HDR_CMPY_NM}",</text>
        <text>"${sql21_ReportData.HDR_OFC_FIRST_LINE_ADDR}",</text>
        <text>"${sql21_ReportData.HDR_OFC_SCD_LINE_ADDR}",</text>
        <text>"${sql21_ReportData.HDR_OFC_THIRD_LINE_ADDR}",</text>
        <text>"${sql21_ReportData.HDR_OFC_FRTH_LINE_ADDR}",</text>
        <text>"${sql21_ReportData.HDR_OFC_ADDR}",</text>
        <text>"${C22971}${SPS}${sql21_ReportData.HDR_OFC_TEL_NUM}",</text>  <!-- Phone: -->
        <text>"${sql21_ReportData.HDR_CMPY_URL}",</text>
        <text>"${sql21_ReportData.PMT_CONF_DT_FMT_TXT}",</text>
        <text>"${sql21_ReportData.CUST_AND_CTAC_PSN_NM}",</text>
        <text>"${C23419}",</text>   <!-- Good afternoon, -->
        <text>"${C23420}",</text>   <!-- Thank you for your payment of the invoices listed below. -->
        <condition test="${sql21_ReportData.CR_CARD_TP_DESC_TXT}" operator="not equal" value="">
            <text>"${C23421}${SPS}${C23422}${sql21_ReportData.CR_CARD_TP_DESC_TXT}${C23423}${C23211}",</text>   <!-- Payment was processed on your credit card.(XXXXXXXX) -->
        </condition>
        <condition test="${sql21_ReportData.CR_CARD_TP_DESC_TXT}" operator="equal" value="">
            <text>"${C23483}",</text>   <!-- Payment was processed on Check By Phone. -->
        </condition>
        <text>"${C23424}",</text>   <!-- The confirmation numbers are as follows: -->
    <!-- Body Start -->
        <text>"${C2864}",</text>    <!-- Number -->
        <text>"${sql21_ReportData.DTL_REF_NUM}",</text>
        <text>"${C389}",</text>     <!-- Amount -->
        <text>"${sql21_ReportData.DTL_DEAL_NET_RCPT_AMT_TXT}",</text>
        <text>"${C982}",</text>     <!-- Confirmation -->
        <text>"${sql21_ReportData.DTL_CR_CARD_CUST_REF_NUM}",</text>
    <!-- Body End -->
        <text>"${C4758}",</text>   <!-- Total. -->
        <text>"${sql21_ReportData.DEAL_NET_RCPT_AMT_TOT_TXT}",</text>
        <text>"${C23425}",</text>   <!-- If you have any questions or concerns please let us know. -->
        <text>"${C23426}",</text>   <!-- Best Regards, -->
        <text>"${sql21_ReportData.CLTR_PSN_NM}",</text>
        <text>"${sql21_ReportData.CLTR_HR_TTL_NM}",</text>
        <text>"${sql21_ReportData.CLTR_CMPY_NM}",</text>
        <text>"${sql21_ReportData.CLTR_FIRST_LINE_ADDR}",</text>
        <text>"${sql21_ReportData.CLTR_SCD_LINE_ADDR}",</text>
        <text>"${sql21_ReportData.CLTR_THIRD_LINE_ADDR}",</text>
        <text>"${sql21_ReportData.CLTR_FRTH_LINE_ADDR}",</text>
        <text>"${sql21_ReportData.CLTR_HDR_CMPY_URL}",</text>
        <text>"${sql21_ReportData.CLTR_EML_ADDR}",</text>
        <text>"${C23427}${SPS}${sql21_ReportData.CLTR_TEL_NUM}${SPS}${SPS}${C23428}${SPS}${sql21_ReportData.CLTR_FAX_NUM}",</text>   <!-- T --> <!-- F -->
        <text>"${C22518}",</text>  <!-- A Canon U.S.A. Company -->
        <textln>"${SPS}"</textln><!-- A Canon U.S.A. Company -->
    </for>    
</section>

</doc>
<mdatas>
    <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>