
.hd{
	background: #003b4e none repeat scroll 0 0;
	color: #ffffff;
	font-weight: bold;
	padding: 4px;
	text-align: center
}
.sub_hd{
	font-weight: bold;
}
.tbl{
	border-radius:10px;
	text-align: left;
}
.tbl_lg{
	border-radius:10px;
	text-align: left;
}
 
.tbl_n{
	border-radius:10px;
    border: 1px solid #eee;
}
.rdl{
	background-color: #CCCCCC;
	readonly : readonly;
}
#paging a {
    border: 1px solid #f6f6f6;
    color: #666666;
    float: left;
    font-weight: bold;
    margin: 20px 5px 0;
    padding: 2px 5px;
    text-decoration: underline;
}
.marg-s{
	margin-left:5px;
}

.font-r{
	color:red; 
}
.oddRow{
    background-color: #EBEBEB;
} 
.pageLinkBg {
	color : #FFFFFF;
	background-color : #A10304;
}
.ahsMsg{
	color:red;
	font-weight:bold;
	border:1px solid #aac;
	border-radius:10px;
	text-align:center;
	margin-top:40px;
	padding:15px 1px;  
}
select {
   background-color: #ffffff;
   border: 1px solid #cccccc;
   border-radius: 0;
   font-family: "Raleway",sans-serif;
   height: 20px; #22px;
   margin: 0;
}

#tblAhs td{
	height: 50px;
}

#remedy{
	border: 1px solid #000000;
	padding:2px 15px;
	background-color: #EEEFEF;
	width:95%;
}
#narrative{
	border:1px solid #d6d6d6;
	width:95%;
	padding: 8px;
	background-color: #eeeeee;
	border-radius:5px;
}

#tLinks a{
	color:#0000FF;
}

.error{
	background-color: #FFFF00;
	border:1px solid red;
}
#eMsg{
	color:red;
	font-weight:bold;
}
#sucMsg{
	color:green;
	font-weight:bold;
}
.required{
	background-color: #FFFF00;
}
.partsTableClass {
	display: none;
} 

.laborTableClass {
	display: none;
}

.expenseTableClass {
	display: none;
}

#labor,#parts,#expenses,#manualLaborEntry,#addMore, #delete{
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	font-size: 12px;
	border-right:solid;
	border-bottom:solid;
}

#labor {
	width: 10%;
	background: #FFFFFF;
	text-align:center;
}

#parts {
	width: 10%;
	background: #FFFFFF;
	text-align:center;
}

#expenses {
	width: 10%;
	background: #FFFFFF;
	text-align:center;
}

#manualLaborEntry {
	width: 60%;
	background: #87CEEB;
	text-align:center;
	display:none;
}
#addMore {
	width: 5%;
	background: #FFFFFF;
	text-align:center;
}
#delete {
	width: 5%;
	background: #FFFFFF;
	text-align:center;
}
#noteDiv,#fileDiv,#viewDiv {
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	font-size: 12px;
}

#noteDiv {
	width: 40%;
	background: '#87CEEB';
	border-style: solid;
}

#fileDiv {
	width: 30%;
	background: #FFFFFF;	
	float:right;
	border-style: solid;
}
#viewDiv {
	width: 500px;
	background: '#87CEEB';
	border-style: solid;
}
#attachDiv {
	width: 20%;
	background: '#87CEEB';
	border-style: solid;
}
#scratchPad {
    background-color: #eee;
    border: 0 none;
    margin-top: 5px;
    overflow: auto;
    padding: 2px 5px;
}
#searchFrm label {
    display: block;
    text-align: center;
    line-height: 150%;
    text-decoration: underline;
   }
#machineSearchDiv{
	width: 350px;
	display: inline-block;
	zoom: 1;
	border-style: solid;
}
#custSearchDiv{
	width: 350px;
	display: inline-block;
	zoom: 1;
	border-style: solid;
}
#imgProbSearchDiv{
	width: 380px;
	display: inline-block;
	zoom: 1;
	border-style: solid;
}
#taskSearchDiv{
	width: 380px;
	display: inline-block;
	zoom: 1;
	border-style: solid;
}
#remotePrbDiv{
	width:100%;
	height:20px;
	background-color:#87CEEB;
	border-bottom:solid;	
}
#futureCallHeaderDiv{
	width:100%;
	height:20px;
	background-color:#87CEEB;
	border-bottom:solid;	
}
#searchTableDataCell{
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    text-align: center;
}
table.canontableSearchCell, tr.canontableSearchCell, td.canontableSearchCell {
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    text-align: center;
}
.vLine{
    width: 1px;
    background-color:#cfcfcf;  
    height: 160px;
    margin-top: 10px;
}
.vLine2{
    width: 1px;
    background-color:#cfcfcf;
    height: 110px;
    margin-top: 10px;
      
}
.vLine3{
    width: 1px;
    background-color:#cfcfcf;
    height: 250px;
    margin-top: 10px;
}
.vLine4{
    width: 1px;
    background-color:#cfcfcf;
    height: 320px;
    margin-top: 10px;
}
.vLine5{
    width: 1px;
    background-color:#cfcfcf;
    height: 50px;
    margin-top: 10px;
      
}
.vLine6{
    width: 1px;
    background-color:#cfcfcf;
    height: 400px;
    margin-top: 10px;
      
}
.vLine7{
    width: 1px;
    background-color:#cfcfcf;
    height: 70px;
    margin-top: 10px;
      
}
.hLine{
    width: 97%;
    height: 1px;
    margin-top: 10px;
    background-color:#cfcfcf;  
}
.hLineLg{
    width: 100%;
    height: 1px;
    margin:10px 0px;
    background-color:#cfcfcf;  
}
.tdw1{
	width: 10px;
}
.whdr{
	width: 100%;
}
.srch{
    border: 1px solid #d3d3d3;
    color: red;
    font-weight: bold;
    height: 15px;
    margin-left: 5px;
    padding: 1px 4px;
    text-align: center;
}
.scrollContent {
    display: block;
    height: 50px;
    overflow: auto;
    width: 100%;
}

.service {
	margin-bottom: ;
	}
.service table {
	border: 1px #cccccc solid;
	margin: 20px 0px 20px 10px;
	float: right;
	}
.service th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 8px;
	font-size:14px;
	}
.service td {
	text-align: left;
	background: #FFFFFF;
	}
.service input[type=text] {	
	font-family: 'OpticSansBook,sans-serif
	font-size: 11px;
	border: 1px #cccccc solid;
  	width: 120px;
  	height: 20px;
  	margin: 0px 0px 0px 0px !important;
  	}

.service textarea {
	font-family: 'OpticSansBook', sans-serif;
	border: 1px #cccccc solid;
  	width: 220px; #660px;
  	height: 52px;
  	background: #FFFFFF;
  	font-size:11px;
	}
.service select {
	font-family: 'OpticSansBook', sans-serif;
	width: 200px;
	height: 20px; #25px
	margin: 0 0 0 0px;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	font-size:11px;
	}
	
	.supplies-table {
	width: 100%;
	background: #cccccc;
	margin-bottom: 5px;
	}
.supplies-table tr:nth-child(even) {
	background-color: #FFFFFF;
	}
.supplies-table tr:nth-child(odd) {
	background-color: #ebebeb;
	}
.supplies-table th, .supplies-table td {
	padding: 12px;
	border: none;
	}
.supplies-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	}
.supplies-table td {
	text-align: center;
	font-family: 'OpticSansBook', sans-serif;
	font-size: 11px;	
	}
.supplies-table input[type=text] {
	font-family: 'OpticSansBook', sans-serif;
	font-size: 11px;
	border: 1px #cccccc solid;
  	width: 132px;
  	height: 26px;
  	background: #FFFFFF;
  	margin-right: 0px;
	}
.supplies-table th a:link, .supplies-table th a:visited, .supplies-table th a:active {
	color: #FFFFFF;
	text-decoration: none !important;
    }
.supplies-table th a:hover, .supplies-table th a:visited:hover {
	text-decoration: underline !important;
	}
	
.request-table {
	width: 100%;
	background: #FFFFFF;
	background: #cccccc;
	margin-bottom: ;
	}
.request-table th, .request-table td {
	border: none;
	}
.request-table th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 12px;
	}
.request-table th a:link, .request-table th a:visited, .request-table th a:active {
	color: #FFFFFF;
	text-decoration: underline;
    }
.request-table th a:hover, .request-table th a:visited:hover {
	text-decoration: none;
	}
.request-table td {
	text-align: center;
	background: #FFFFFF;
	padding: 10px;
	}
	
.request-service {
	width: 100%;
	background: #FFFFFF;
	background: #cccccc;
	margin-bottom: 5px;
	}
.request-service th, .request-service td {
	border: none;
	}
.request-service th {
	font-weight: bold;
	text-align: center;
	background: #003b4e;
	color: #FFFFFF;
	padding: 12px;
	}
.request-service td {
	text-align: left;
	background: #FFFFFF;
	padding: 10px;
	}
.request-service td:first-child {
	font-weight: bold;
	}
.request-service input[type=text] {
	font-family: 'OpticSansBook', sans-serif;
	border: 1px #cccccc solid;
  	width: 220px;
  	height: 26px;
  	background: #FFFFFF;
	}
.request-service textarea {
	font-family: 'OpticSansBook', sans-serif;
	border: 1px #cccccc solid;
  	width: 640px;
  	height: 52px;
  	background: #FFFFFF;
	}
.request-service select {
	font-family: 'OpticSansBook', sans-serif;
	width: 220px;
	height: 26px;
	margin: 0;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
.request-service .time select {
	font-family: 'OpticSansBook', sans-serif;
	width: 60px !important;
	height: 26px;
	margin: 0 5px 0 0;
	background-color: #FFFFFF;
	border: 1px #cccccc solid;
	border-radius: 0px;
	}
	
.filter-inner {
	width: 220px;
	background: #FFFFFF;
	padding-right: 15px;
	padding-bottom: 20px;
	float: left;
	}
.filter-table {
	width: 100%;
	}
.filter-table th, .filter-table td {
	padding: 12px;
	border: none;
	}
.filter-table th {
	font-weight: bold;
	background: #003b4e;
	color: #FFFFFF;
	}
.filter-table td {
	background: #e2e2e2;
	}
.filter-table input[type=text] {
	font-family: 'OpticSansBook', sans-serif;
	border: 1px #4ab1e3 solid;
  	width: 190px;
  	height: 26px;
  	background: #FFFFFF;
  	display: block;
  	margin-bottom: 5px;
	}
.filter-table select {
	font-family: 'OpticSansBook', sans-serif;
	width: 190px;
	height: 26px;
	margin: 0;
	background-color: #FFFFFF;
	border: 1px #4ab1e3 solid;
	border-radius: 0px;
	}
.filter-table input[type=checkbox] {
	margin: 5px;
	border: 1px #4ab1e3 solid;
	}
.filter-table input[type=radio] {
	margin: 5px;
	border: 1px #4ab1e3 solid;
	}
.filter-table a {
	margin: 3px;
	}
	