@charset "UTF-8";
/*
 *common.css Copyright FUJITSU LIMITED 2004-2007
 * System name : Common infrastructure component
 * Outline:
 *  [Name]Commonness part of business Style Sheet(file that provides for arrangement of color of the entire screen, arrangement of color of commonness part of business, and font size, etc.)
 *  [Classification]111,Screen I/O item control
 *  [Attribute](public) (S)
 *Release:
 * NO  Date      Ver.  Updated By  Content
 *  1  04/30/08  1.0   EZD         English localization
 */

/*******************************************************************************************************************************/
/**** Class definition in screen name display line (1) ***************************************************************************************/
/*******************************************************************************************************************************/
/* Background of (1)(table) */       table.cHeadCloth{background:#335566; border:0;}
/* Background of (1)(td) */          td.cLogo{font-size:9pt; color:#335566; font-family:'Arial',sans-serif;}
/* Logo of (1)(img) */               img.cLogoImg{height:20;width:60;background:#335566;}
/* Screen ID of (1)(td) */           td.cDispid{font-size:9pt; color:#FFFFFF; font-family:'Arial',sans-serif;}
/* Screen name of (1)(td) */         td.cDispname{font-size:9pt; color:#FFFFFF; font-family:'Arial',sans-serif;}
/* Date of (1)(td) */                td.cDate{font-size:9pt; color:#FFFFFF; font-family:'Arial',sans-serif;}
/* Time of (1)(td) */                td.cTime{font-size:9pt; color:#FFFFFF; font-family:'Arial',sans-serif;}
/* Help of (1) */                    .cHelpBtn{font-family:'Arial',sans-serif;font-size:8pt;height:20;width:59;margin-top:0px;margin-bottom:0px}

/*******************************************************************************************************************************/
/**** Class definition in person in charge greatness and organization name display line (2)*****************************************************************************/
/*******************************************************************************************************************************/
/* Input person in charge name of (2)(td) */        td.cUser{font-size:9pt; color:#FFFFFF; font-family:'Arial',sans-serif;}
/* Organization abbreviation of (2)(td) */          td.cOrg{font-size:9pt; color:#FFFFFF; font-family:'Arial',sans-serif;}

/*******************************************************************************************************************************/
/**** Class definition in business peculiar part (3) ***************************************************************************************/
/*******************************************************************************************************************************/
/*
     It defines it with Style Sheet file (private.css) in a business peculiar part.
*/

/*******************************************************************************************************************************/
/**** Class definition in message display line (4) ***********************************************************************************/
/*******************************************************************************************************************************/
/* table of (4) */                                 table.cMsg{font-size:9pt;background:#FFFFFF;border-width:2px;border-color:#3CB371;}
/* Background of (4)(td) */                        td.cMsgCloth{font-family:'Arial',sans-serif; font-size:9pt;letter-spacing:0;font-weight:normal;color:#000000;background:#FFFFFF;border-color:#3CB371;border-width:1px;}
/* Character when it is normal of (4) */           .cMsgS{color:#000000; background:#FFFFFF; font-size: 9pt; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; width: 100%; border-style: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
/* Character when warning of (4) */                .cMsgK{color:#000000; background: #FFFFFF; font-size: 9pt; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; width: 100%; border-style: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
/* Character in abnormal circumstances of (4) */   .cMsgI{color:#FF0000; background: #FFFFFF; font-size: 9pt; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; width: 100%; border-style: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

/*******************************************************************************************************************************/
/**** Class definition in common command button display line (5) ***************************************************************************/
/*******************************************************************************************************************************/
/* Background of (4)(td) */            td.cBtnCloth{font-size:9pt;letter-spacing:0;font-weight:normal;color:#000000;background:#F3F3F3;border-color:#3CB371;border-width:1px;}
/* Button of (4)(input) */             input.cBtn{font-family:'Arial',sans-serif;font-size:9pt;height:22;width:75;margin:0;color:#000000;}

/*******************************************************************************************************************************/
/**** Attribute definition of default tag *************************************************************************************************/
/*******************************************************************************************************************************/
/*                                    *{font-family:'Courier New';}*/
/* body */                          body{filter:expression('');font-family:'Courier New',sans-serif;font-size:10pt;color:#000000;background:#F3F3F3;margin-top:0px;margin-bottom:0px;margin-left:1px;margin-right:3px;overflow:scroll;}
/* table */                         table{font-family:'Courier New',sans-serif;font-size:10pt;color:#000000;}
/* tr */                            tr{font-family:'Courier New',sans-serif;font-size:10pt;color:#000000;}
/* td */                            td{font-family:'Courier New',sans-serif;font-size:10pt;color:#000000;}
/* th */                            th{font-family:'Courier New',sans-serif;font-size:10pt;color:#000000;}
/* input */                         input{font-family:'Courier New',sans-serif;font-size:10pt;color:#000000;overflow:hidden;}
/* form */                          form{margin-top:0px;margin-bottom:0px}
/* label */                         td.stab{font-family:'Arial',sans-serif;font-size:9pt;}
/* label2 */                        td.stabB{font-family:'Arial',sans-serif;font-size:9pt;font-weight:bold;}
/* a */                             a:link{color: #0000FF;}
                                    a:visited{color: #800080;}
                                    a:hover{color: #FF3399;}
                                    a:active{color: #FF0000;}
/* select */                        select{font-family:'Courier New',sans-serif;font-size:10pt;color:#000000;}


/******************************************************************************************************************************/
/** Class definition in stack trace display part of exception generation                             ************************************************/
/******************************************************************************************************************************/
/* Error message display part */        .cStkTrc {width:100%; height:100%; overflow: scroll;border: thin #000000 solid; background-color: #CCFFCC}

/* System Name */                    td.cSystemName{font-size:9pt; font-weight:bold; color:#FFFFFF; font-family:'Arial',sans-serif;}