<template>

	<variable name="sql00" type="sql" value="
		SELECT
			COUNT(*)	AS	ITEM_CNT
		FROM
			EIP_RPT_INP_PRM
		WHERE
			EIP_RPT_RQST_PK	=	${_VA_EIP_RPT_RQST_PK}
		AND	RPT_RQST_SUB_ID	=	${_VA_RPT_RQST_SUB_ID}
		AND	(
				RPT_PRM_NM	=	'GLBL_CMPY_CD'
			OR	RPT_PRM_NM	=	'USR_ID'
			OR	RPT_PRM_NM	=	'WRK_ORD_NUM'
			OR	RPT_PRM_NM	=	'BOM_RPT_TS'
			OR	RPT_PRM_NM	=	'INTL_LANG_VAL_COL_NM'
		)
	" />

	<variable name="sql0" type="sql" value="
		SELECT
			RPT_PRM_NM
		,	RPT_PRM_VAL_TXT
		FROM
			EIP_RPT_INP_PRM
		WHERE
			EIP_RPT_RQST_PK	=	${_VA_EIP_RPT_RQST_PK}
		AND	RPT_RQST_SUB_ID	=	${_VA_RPT_RQST_SUB_ID}
		AND	(
				RPT_PRM_NM	=	'GLBL_CMPY_CD'
			OR	RPT_PRM_NM	=	'USR_ID'
			OR	RPT_PRM_NM	=	'WRK_ORD_NUM'
			OR	RPT_PRM_NM	=	'BOM_RPT_TS'
			OR	RPT_PRM_NM	=	'INTL_LANG_VAL_COL_NM'
		)
	" />

	<variable name="VA_GLBL_CMPY_CD" type="string" value="" />
	<variable name="VA_USR_ID" type="string" value="" />
	<variable name="VA_WRK_ORD_NUM" type="string" value="" />
	<variable name="VA_BOM_RPT_TS" type="string" value="" />
	<variable name="VA_INTL_LANG_VAL_COL_NM" type="string" value=""/>

	<variable name="sql01" type="sql" value="
		SELECT
			COUNT(*)			AS	REC_CNT
		FROM 
			KIT_BOM_WRK			KBW
		WHERE
			KBW.WRK_ORD_NUM		=	${VA_WRK_ORD_NUM}
		AND	KBW.BOM_RPT_TS		=	${VA_BOM_RPT_TS}
		AND	KBW.USR_ID			=	${VA_USR_ID}
		AND	KBW.GLBL_CMPY_CD	=	${VA_GLBL_CMPY_CD}
		AND	KBW.EZCANCELFLAG	=	'0'
	" />

	<variable name="sql1" type="sql" nonescaped="${VA_INTL_LANG_VAL_COL_NM}" value="
	WITH INTL_LB_V AS (
		SELECT
			*
		FROM
		(
			SELECT
				LANG_KEY_CD
			,	${VA_INTL_LANG_VAL_COL_NM}	AS	VAL_TXT
			FROM
				INTL_LANG_VAL
			WHERE
				GLBL_CMPY_CD	=	${VA_GLBL_CMPY_CD}
			AND	EZCANCELFLAG	=	'0'
		)
		PIVOT (
			MAX(VAL_TXT)
			FOR LANG_KEY_CD IN (
				'22475'	AS	C22475
			,	'22476'	AS	C22476
			,	'5162'	AS	C5162
			,	'4309'	AS	C4309
			,	'500'	AS	C500
			,	'13378'	AS	C13378
			,	'5026'	AS	C5026
			,	'22477'	AS	C22477
			,	'842'	AS	C842
			,	'22478'	AS	C22478
			,	'22479'	AS	C22479
			,	'1496'	AS	C1496
			,	'2966'	AS	C2966
			,	'23354' AS	C23354
			,	'930'	AS	C930
			,	'4545'	AS	C4545
			,	'2835'	AS	C2835
			,	'23355'	AS	C23355
			,	'22483'	AS	C22483
			,	'22484'	AS	C22484
			,	'4054'	AS	C4054
			)
		)
	)
	SELECT
		C22475
	,	BOM_RPT_DT_TXT
	,	C22476
	,	KIT_BOM_TXT
	,	C4054
	,	SO_NUM
	,	CASE WHEN TRIM(SO_NUM) IS NULL
	 	    THEN ''
	 	    ELSE '*' || SO_NUM || '*'
	 	END SO_NUM_BARCODE
	,	C5162
	,	WRK_ORD_NUM
	,	CASE WHEN TRIM(WRK_ORD_NUM) IS NULL
	 	    THEN ''
	 	    ELSE '*' || WRK_ORD_NUM || '*'
	 	END WRK_ORD_NUM_BARCODE
	,	C4309
	,	LOC_NM
	,	C500
	,	ATTN_NM
	,	C13378
	,	FIRST_LINE_ADDR
	,	SCD_LINE_ADDR
	,	THIRD_LINE_ADDR
	,	FRTH_LINE_ADDR
	,	FIFTH_LINE_ADDR
	,	SIXTH_LINE_ADDR
	,	C5026
	,	VND_NM
	,	VND_ATTN_NM
	,	C22477
	,	VND_FIRST_LINE_ADDR
	,	VND_SCD_LINE_ADDR
	,	VND_THIRD_LINE_ADDR
	,	VND_FRTH_LINE_ADDR
	,	VND_FIFTH_LINE_ADDR
	,	VND_SIXTH_LINE_ADDR
	,	C842
	,	PO_CHRG_NM
	,	CHRG_ATTN_NM
	,	C22478
	,	CHRG_FIRST_LINE_ADDR
	,	CHRG_SCD_LINE_ADDR
	,	CHRG_THIRD_LINE_ADDR
	,	CHRG_FRTH_LINE_ADDR
	,	CHRG_FIFTH_LINE_ADDR
	,	CHRG_SIXTH_LINE_ADDR
	,	C22479
	,	FNSH_GOODS_MDSE_CD
	,	C1496
	,	FNSH_MDSE_DESC_SHORT_TXT
	,	C2966
	,	FNSH_GOODS_ORD_QTY_TXT
	,	C23354
	,	RQST_RCV_DT_TXT
	,	C930
	,	WRK_ORD_MSG_TXT
	,	C4545
	,	C2835
	,	C22479
	,	C23355
	,	C22483
	,	C22484
	,	WRK_ORD_DTL_LINE_NUM
	,	ORIG_GOODS_MDSE_CD
	,	ORIG_MDSE_DESC_SHORT_TXT
	,	CHILD_MDSE_QTY_TXT
	,	ORIG_GOODS_ORD_QTY_TXT
	,	RTL_WH_CD   || ' ' || RTL_WH_NM       RTL_WH_CD_NM
	,	WH_OWNR_CD  || ' ' || SPLY_RTL_SWH_CD OWNER_SPLY_WH_SWH_CD
	,	BOM_KIT_CMNT_TXT_01
	,	BOM_KIT_CMNT_TXT_02
	,	BOM_KIT_CMNT_TXT_03
	,	BOM_KIT_CMNT_TXT_04
	,	BOM_KIT_CMNT_TXT_05
	,	BOM_KIT_CMNT_TXT_06
	,	BOM_KIT_CMNT_TXT_07
	,	BOM_KIT_CMNT_TXT_08
	,	BOM_KIT_CMNT_TXT_09
	,	BOM_KIT_CMNT_TXT_10
	,	BOM_KIT_CMNT_TXT_11
	,	BOM_KIT_CMNT_TXT_12
	,	BOM_KIT_CMNT_TXT_13
	,	BOM_KIT_CMNT_TXT_14
	,	BOM_KIT_CMNT_TXT_15
	,	' ' DUMY_SPACE
	FROM 
		KIT_BOM_WRK		KBW
	,	INTL_LB_V		ILV
	WHERE
		KBW.WRK_ORD_NUM		=	${VA_WRK_ORD_NUM}
	AND	KBW.BOM_RPT_TS		=	${VA_BOM_RPT_TS}
	AND	KBW.USR_ID			=	${VA_USR_ID}
	AND	KBW.GLBL_CMPY_CD	=	${VA_GLBL_CMPY_CD}
	AND	KBW.EZCANCELFLAG	=	'0'
	ORDER BY
		WRK_ORD_NUM
	,	WRK_ORD_DTL_LINE_NUM
	" />

	<doc encoding="UTF-8">

		<condition test="${sql00.ITEM_CNT}" operator="equal" value="0">
			<error message="no data in DB" />
		</condition>

		<for variable="sql0">
			<condition test="${sql0.RPT_PRM_NM}" operator="equal" value="GLBL_CMPY_CD">
				<assign variable="VA_GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}" />
			</condition>
			<condition test="${sql0.RPT_PRM_NM}" operator="equal" value="USR_ID">
				<assign variable="VA_USR_ID" value="${sql0.RPT_PRM_VAL_TXT}" />
			</condition>
			<condition test="${sql0.RPT_PRM_NM}" operator="equal" value="WRK_ORD_NUM">
				<assign variable="VA_WRK_ORD_NUM" value="${sql0.RPT_PRM_VAL_TXT}" />
			</condition>
			<condition test="${sql0.RPT_PRM_NM}" operator="equal" value="BOM_RPT_TS">
				<assign variable="VA_BOM_RPT_TS" value="${sql0.RPT_PRM_VAL_TXT}" />
			</condition>
			<condition test="${sql0.RPT_PRM_NM}" operator="equal" value="INTL_LANG_VAL_COL_NM">
				<assign variable="VA_INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
			</condition>
		</for>

		<condition test="${sql01.REC_CNT}" operator="equal" value="0">
			<error message="no data in DB" />
		</condition>

		<section name="Control Section">
			<textln>VERSION=8.1</textln>
		</section>

		<section name="Form Section">
			<textln>FORM=..\..\forms\NPAF0020.fcx</textln>
		</section>

		<section name="Table Data Section">

			<for variable="sql1">

				<text>"${sql1.C22475}",</text>
				<text>"${sql1.BOM_RPT_DT_TXT}",</text>
				<text>"${sql1.C22476}",</text>
				<text>"${sql1.KIT_BOM_TXT}",</text>
				<text>"${sql1.RTL_WH_CD_NM}",</text>
				<text>"${sql1.C4054}",</text>
				<text>"${sql1.SO_NUM}",</text>
				<text>"${sql1.SO_NUM_BARCODE}",</text>
				<text>"${sql1.C5162}",</text>
				<text>"${sql1.WRK_ORD_NUM}",</text>
				<text>"${sql1.WRK_ORD_NUM_BARCODE}",</text>
				<text>"${sql1.C22479}",</text>

				<condition test="${sql1.FNSH_GOODS_MDSE_CD}" operator="equal" value="">
					<text>" ",</text>
				</condition>
				<condition test="${sql1.FNSH_GOODS_MDSE_CD}" operator="not equal" value="">
					<text>"${sql1.FNSH_GOODS_MDSE_CD}",</text>
				</condition>
				<text>"${sql1.C1496}",</text>

				<condition test="${sql1.FNSH_MDSE_DESC_SHORT_TXT}" operator="equal" value="">
					<text>" ",</text>
				</condition>
				<condition test="${sql1.FNSH_MDSE_DESC_SHORT_TXT}" operator="not equal" value="">
					<text>"${sql1.FNSH_MDSE_DESC_SHORT_TXT}",</text>
				</condition>

				<text>"${sql1.C2966}",</text>

				<condition test="${sql1.FNSH_GOODS_ORD_QTY_TXT}" operator="equal" value="">
					<text>" ",</text>
				</condition>
				<condition test="${sql1.FNSH_GOODS_ORD_QTY_TXT}" operator="not equal" value="">
					<text>"${sql1.FNSH_GOODS_ORD_QTY_TXT}",</text>
				</condition>

				<text>"${sql1.C23354}",</text>

				<condition test="${sql1.RQST_RCV_DT_TXT}" operator="equal" value="">
					<text>" ",</text>
				</condition>
				<condition test="${sql1.RQST_RCV_DT_TXT}" operator="not equal" value="">
					<text>"${sql1.RQST_RCV_DT_TXT}",</text>
				</condition>

				<text>"${sql1.C930}",</text>
				<condition test="${sql1.WRK_ORD_MSG_TXT}" operator="equal" value="">
					<text>" ",</text>
				</condition>
				<condition test="${sql1.WRK_ORD_MSG_TXT}" operator="not equal" value="">
					<text>"${sql1.WRK_ORD_MSG_TXT}",</text>
				</condition>
				<text>"${sql1.BOM_KIT_CMNT_TXT_01}",</text>
				<text>"${sql1.BOM_KIT_CMNT_TXT_02}",</text>
				<text>"${sql1.BOM_KIT_CMNT_TXT_03}",</text>
				<text>"${sql1.BOM_KIT_CMNT_TXT_04}",</text>
				<text>"${sql1.BOM_KIT_CMNT_TXT_05}",</text>
				<text>"${sql1.BOM_KIT_CMNT_TXT_06}",</text>
				<text>"${sql1.BOM_KIT_CMNT_TXT_07}",</text>
				<text>"${sql1.BOM_KIT_CMNT_TXT_08}",</text>
				<text>"${sql1.BOM_KIT_CMNT_TXT_09}",</text>
				<text>"${sql1.BOM_KIT_CMNT_TXT_10}",</text>
				<text>"${sql1.BOM_KIT_CMNT_TXT_11}",</text>
				<text>"${sql1.BOM_KIT_CMNT_TXT_12}",</text>
				<text>"${sql1.BOM_KIT_CMNT_TXT_13}",</text>
				<text>"${sql1.BOM_KIT_CMNT_TXT_14}",</text>
				<text>"${sql1.BOM_KIT_CMNT_TXT_15}",</text>
				<text>"${sql1.DUMY_SPACE}",</text>
				<text>"${sql1.C4545}",</text>
				<text>"${sql1.C2835}",</text>
				<text>"${sql1.C22479}",</text>
				<text>"${sql1.C1496}",</text>
				<text>"${sql1.C23355}",</text>
				<text>"${sql1.C22483}",</text>
				<text>"${sql1.C22484}",</text>
				<text>"${sql1.WRK_ORD_DTL_LINE_NUM}",</text>
				<text>"${sql1.ORIG_GOODS_MDSE_CD}",</text>
				<text>"${sql1.ORIG_MDSE_DESC_SHORT_TXT}",</text>
				<text>"${sql1.OWNER_SPLY_WH_SWH_CD}",</text>
				<text>"${sql1.CHILD_MDSE_QTY_TXT}",</text>
				<text>"${sql1.ORIG_GOODS_ORD_QTY_TXT}",</text>
				<textln>"${sql1.DUMY_SPACE}"</textln>
			</for>

		</section>

	</doc>

	<mdatas>
		<mdata key="xcCommonExAttrText1" value="version1.0" />
	</mdatas>

</template>
