<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00" type="sql" value="
    select  count(*) item_count
    from EIP_RPT_INP_PRM
    where
        EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
        and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
        and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'DS_CONTR_PK'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM'
            or RPT_PRM_NM = 'BIZ_APP_ID'
            or RPT_PRM_NM = 'RPT_ID')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql0" type="sql" value="
    select  RPT_PRM_NM,RPT_PRM_VAL_TXT
    from EIP_RPT_INP_PRM
    where
        EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
        and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
        and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'DS_CONTR_PK'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM'
            or RPT_PRM_NM = 'BIZ_APP_ID'
            or RPT_PRM_NM = 'RPT_ID')
"/>

<variable name="GLBL_CMPY_CD" type="string" value=""/>
<variable name="DS_CONTR_PK" type="string" value=""/>
<variable name="INTL_LANG_VAL_COL_NM" type="string" value=""/>
<variable name="BIZ_APP_ID" type="string" value=""/>
<variable name="RPT_ID" type="string" value=""/>

<variable name="C23190" type="string" value=""/>
<variable name="C2087" type="string" value=""/>
<variable name="C23219" type="string" value=""/>
<variable name="C23191" type="string" value=""/>
<variable name="C22189" type="string" value=""/>
<variable name="C22997" type="string" value=""/>
<variable name="C6166" type="string" value=""/>
<variable name="C23192" type="string" value=""/>
<variable name="C22999" type="string" value=""/>
<variable name="C22573" type="string" value=""/>
<variable name="C23193" type="string" value=""/>
<variable name="C22531" type="string" value=""/>
<variable name="C23220" type="string" value=""/>
<variable name="C23195" type="string" value=""/>

<variable name="C6742" type="string" value=""/>
<variable name="C6743" type="string" value=""/>

<variable name="C4246" type="string" value=""/>
<variable name="C6811" type="string" value=""/>
<variable name="C1496" type="string" value=""/>
<variable name="C5400" type="string" value=""/>
<variable name="C23204" type="string" value=""/>
<variable name="C23205" type="string" value=""/>
<variable name="C23206" type="string" value=""/>
<variable name="C2476" type="string" value=""/>
<variable name="C23207" type="string" value=""/>
<variable name="C23208" type="string" value=""/>
<variable name="C23209" type="string" value=""/>
<variable name="C23210" type="string" value=""/>
<variable name="Cm" type="string" value=""/>
<variable name="Cp" type="string" value=""/>
<variable name="C23211" type="string" value=""/>
<variable name="C23212" type="string" value=""/>
<variable name="C23213" type="string" value=""/>
<variable name="C23214" type="string" value=""/>
<!-- For Attach Sheet -->
<variable name="C23017" type="string" value=""/>
<variable name="C23018" type="string" value=""/>
<variable name="C1359" type="string" value=""/>
<variable name="C23015" type="string" value=""/>

<variable name="SPS" type="string" value=" "/>
<variable name="count" type="int" value="0"/>

<variable name="sql01" type="sql" value="
SELECT count(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('23190','2087','23219','23191','22189','22997','6166','23192','22999','22573','23193','22531','23220','23195','6742','6743','4246','6811','1496','5400','23204','23205','23206','2476','23207','23208','23209','23210','m','p','23211','23212','23213','23214','23017','23018','1359','23015')
"/>

<variable name="sql1" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('23190','2087','23219','23191','22189','22997','6166','23192','22999','22573','23193','22531','23220','23195','6742','6743','4246','6811','1496','5400','23204','23205','23206','2476','23207','23208','23209','23210','m','p','23211','23212','23213','23214','23017','23018','1359','23015')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>

<variable name="sql02" type="sql" value="
SELECT count(*) item_count
FROM SVC_PRC_RNW_LTR_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.DS_CONTR_PK = ${DS_CONTR_PK}
AND A.BIZ_APP_ID  = ${BIZ_APP_ID}
AND A.RPT_ID      = ${RPT_ID}
AND (   (A.OLD_XS_MTR_AMT_TXT IS NOT NULL OR  A.OLD_BASE_PRC_DEAL_AMT_TXT IS NOT NULL)
     OR (A.OLD_XS_MTR_AMT_TXT IS     NULL AND A.OLD_BASE_PRC_DEAL_AMT_TXT IS     NULL)
    )
"/>

<variable name="sql2" type="sql" value="
SELECT
SLS_DT_DESC_TXT,
BILL_TO_LOC_NM,
CASE WHEN C.DBA_NM IS NULL
    THEN NULL
    ELSE C.DBA_NM ||  CHR(13) || CHR(10)
END
    || CASE WHEN BILL_TO_FIRST_LINE_ADDR IS NULL
           THEN NULL
           ELSE BILL_TO_FIRST_LINE_ADDR 
       END
    || CASE WHEN BILL_TO_SCD_LINE_ADDR IS NULL
           THEN NULL
           ELSE ' ' || BILL_TO_SCD_LINE_ADDR
       END
    || CASE WHEN BILL_TO_THIRD_LINE_ADDR IS NULL
           THEN NULL
           ELSE ' ' || BILL_TO_THIRD_LINE_ADDR
       END
    || CASE WHEN BILL_TO_FRTH_LINE_ADDR IS NULL
           THEN NULL
           ELSE ' ' || BILL_TO_FRTH_LINE_ADDR
       END
    || CHR(13) || CHR(10)
    || CASE WHEN (BILL_TO_CTY_ADDR || BILL_TO_ST_CD || BILL_TO_POST_CD) IS NULL 
           THEN NULL
           ELSE BILL_TO_CTY_ADDR || ', ' || BILL_TO_ST_CD || ', ' || BILL_TO_POST_CD  || CHR(13) || CHR(10)
       END   AS BILL_TO_ADDR,
SVC_PRC_RNW_DESC_TXT,
DS_CONTR_NUM,
SER_NUM,
MDL_NM,
SVC_PRC_RNW_DESC_LINE_TXT,
OLD_BASE_PRC_DEAL_AMT_TXT,
MTR_COV_COPY_QTY_DPLY_TXT,
OLD_XS_MTR_AMT_TXT,
NVL(BASE_BLLG_CYCLE_DESC_TXT, OLD_USG_BLLG_CYCLE_DESC_TXT) AS OLD_USG_BLLG_CYCLE_DESC_TXT,
SHIP_TO_FIRST_LINE_ADDR,
BASE_PRC_DEAL_AMT_TXT,
XS_MTR_AMT_TXT,
SVC_PRC_RNW_LTR_TXT,
CASE WHEN TRIM(SER_NUM) IS NULL THEN NULL ELSE ' (SerNumLineTop)' END SER_NUM_LINE_TOP
FROM
SVC_PRC_RNW_LTR_WRK A,
BILL_TO_CUST B,
SELL_TO_CUST C
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.DS_CONTR_PK = ${DS_CONTR_PK}
AND A.BIZ_APP_ID  = ${BIZ_APP_ID}
AND A.RPT_ID      = ${RPT_ID}
AND (   (A.OLD_XS_MTR_AMT_TXT IS NOT NULL OR  A.OLD_BASE_PRC_DEAL_AMT_TXT IS NOT NULL)
     OR (A.OLD_XS_MTR_AMT_TXT IS     NULL AND A.OLD_BASE_PRC_DEAL_AMT_TXT IS     NULL)
    )
AND A.GLBL_CMPY_CD    = B.GLBL_CMPY_CD
AND A.BILL_TO_CUST_CD = B.BILL_TO_CUST_CD
AND B.EZCANCELFLAG = '0'
AND B.GLBL_CMPY_CD    = C.GLBL_CMPY_CD
AND B.SELL_TO_CUST_CD = C.SELL_TO_CUST_CD
AND C.EZCANCELFLAG = '0'
ORDER BY DS_CONTR_DTL_SORT_NUM
"/>


<variable name="sql04" type="sql" value="
SELECT count(*) item_count
FROM SVC_PRC_RNW_LTR_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.DS_CONTR_PK = ${DS_CONTR_PK}
AND A.BIZ_APP_ID  = ${BIZ_APP_ID}
AND A.RPT_ID      = ${RPT_ID}
AND (   (A.XS_MTR_AMT_TXT IS NOT NULL OR A.BASE_PRC_DEAL_AMT_TXT IS NOT NULL) 
     OR (A.XS_MTR_AMT_TXT IS     NULL OR A.BASE_PRC_DEAL_AMT_TXT IS     NULL) 
    )
"/>

<variable name="sql4" type="sql" value="
SELECT
SLS_DT_DESC_TXT,
BILL_TO_LOC_NM,
CASE WHEN C.DBA_NM IS NULL
    THEN NULL
    ELSE C.DBA_NM ||  CHR(13) || CHR(10)
END
    || CASE WHEN BILL_TO_FIRST_LINE_ADDR IS NULL
           THEN NULL
           ELSE BILL_TO_FIRST_LINE_ADDR 
       END
    || CASE WHEN BILL_TO_SCD_LINE_ADDR IS NULL
           THEN NULL
           ELSE ' ' || BILL_TO_SCD_LINE_ADDR
       END
    || CASE WHEN BILL_TO_THIRD_LINE_ADDR IS NULL
           THEN NULL
           ELSE ' ' || BILL_TO_THIRD_LINE_ADDR
       END
    || CASE WHEN BILL_TO_FRTH_LINE_ADDR IS NULL
           THEN NULL
           ELSE ' ' || BILL_TO_FRTH_LINE_ADDR
       END
    || CHR(13) || CHR(10)
    || CASE WHEN (BILL_TO_CTY_ADDR || BILL_TO_ST_CD || BILL_TO_POST_CD) IS NULL 
           THEN NULL
           ELSE BILL_TO_CTY_ADDR || ', ' || BILL_TO_ST_CD || ', ' || BILL_TO_POST_CD  || CHR(13) || CHR(10)
       END   AS BILL_TO_ADDR,
SVC_PRC_RNW_DESC_TXT,
DS_CONTR_NUM,
SER_NUM,
MDL_NM,
SVC_PRC_RNW_DESC_LINE_TXT,
OLD_BASE_PRC_DEAL_AMT_TXT,
XS_MTR_COV_COPY_QTY_TXT,
OLD_XS_MTR_AMT_TXT,
NVL(BASE_BLLG_CYCLE_DESC_TXT, USG_BLLG_CYCLE_DESC_TXT) AS BASE_BLLG_CYCLE_DESC_TXT,
SHIP_TO_FIRST_LINE_ADDR,
BASE_PRC_DEAL_AMT_TXT,
XS_MTR_AMT_TXT,
SVC_PRC_RNW_LTR_TXT,
CASE WHEN TRIM(SER_NUM) IS NULL THEN NULL ELSE ' (SerNumLineTop)' END SER_NUM_LINE_TOP
FROM
SVC_PRC_RNW_LTR_WRK A,
BILL_TO_CUST B,
SELL_TO_CUST C
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.DS_CONTR_PK = ${DS_CONTR_PK}
AND A.BIZ_APP_ID  = ${BIZ_APP_ID}
AND A.RPT_ID      = ${RPT_ID}
AND (   (A.XS_MTR_AMT_TXT IS NOT NULL OR A.BASE_PRC_DEAL_AMT_TXT IS NOT NULL) 
     OR (A.XS_MTR_AMT_TXT IS     NULL OR A.BASE_PRC_DEAL_AMT_TXT IS     NULL) 
    )
AND A.GLBL_CMPY_CD    = B.GLBL_CMPY_CD
AND A.BILL_TO_CUST_CD = B.BILL_TO_CUST_CD
AND B.EZCANCELFLAG = '0'
AND B.GLBL_CMPY_CD    = C.GLBL_CMPY_CD
AND B.SELL_TO_CUST_CD = C.SELL_TO_CUST_CD
AND C.EZCANCELFLAG = '0'
ORDER BY DS_CONTR_DTL_SORT_NUM
"/>

<!-- START  [QC#30586,ADD] -->
<!-- 10.Get VAR_CHAR_CONST Data -->
<variable name="sql5" type="sql" value="
	SELECT 
	    'sql5'              sqlid
	    ,VAR_CHAR_CONST_VAL TICKMARK_FLG
	FROM VAR_CHAR_CONST
	WHERE 
	    EZCANCELFLAG = '0'
	AND GLBL_CMPY_CD = ${GLBL_CMPY_CD}
	AND VAR_CHAR_CONST_NM='RENEWAL_TICKMARK_FLG'
"/>
<!-- END  [QC#30586,ADD] -->

<doc encoding="UTF-8">
<condition test="${sql00.item_count}" value="0" operator="equal">
 <error message="no data in Parameter DB(sql00)"/>
</condition>

<for variable="sql0">
    <condition test="${sql0.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
        <assign variable="GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
    </condition>
    <condition test="${sql0.RPT_PRM_NM}" value="DS_CONTR_PK" operator="equal">
        <assign variable="DS_CONTR_PK" value="${sql0.RPT_PRM_VAL_TXT}"/>
    </condition>
    <condition test="${sql0.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
        <assign variable="INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
    </condition>
    <condition test="${sql0.RPT_PRM_NM}" value="BIZ_APP_ID" operator="equal">
        <assign variable="BIZ_APP_ID" value="${sql0.RPT_PRM_VAL_TXT}"/>
    </condition>
    <condition test="${sql0.RPT_PRM_NM}" value="RPT_ID" operator="equal">
        <assign variable="RPT_ID" value="${sql0.RPT_PRM_VAL_TXT}"/>
    </condition>
</for>

<condition test="${sql01.item_count}" value="0" operator="equal">
 <error message="no data in Language DB(sql01)"/>
</condition>

<for variable="sql1">


    <condition test="${sql1.LANG_KEY_CD}" value="23190" operator="equal"><assign variable="C23190" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="2087" operator="equal"><assign variable="C2087" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23219" operator="equal"><assign variable="C23219" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23191" operator="equal"><assign variable="C23191" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="22189" operator="equal"><assign variable="C22189" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="22997" operator="equal"><assign variable="C22997" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="6166" operator="equal"><assign variable="C6166" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23192" operator="equal"><assign variable="C23192" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="22999" operator="equal"><assign variable="C22999" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="22573" operator="equal"><assign variable="C22573" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23193" operator="equal"><assign variable="C23193" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="22531" operator="equal"><assign variable="C22531" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23220" operator="equal"><assign variable="C23220" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23195" operator="equal"><assign variable="C23195" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="6742" operator="equal"><assign variable="C6742" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="6743" operator="equal"><assign variable="C6743" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="4246" operator="equal"><assign variable="C4246" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="6811" operator="equal"><assign variable="C6811" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="1496" operator="equal"><assign variable="C1496" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="5400" operator="equal"><assign variable="C5400" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23204" operator="equal"><assign variable="C23204" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23205" operator="equal"><assign variable="C23205" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23206" operator="equal"><assign variable="C23206" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="2476" operator="equal"><assign variable="C2476" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23207" operator="equal"><assign variable="C23207" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23208" operator="equal"><assign variable="C23208" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23209" operator="equal"><assign variable="C23209" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23210" operator="equal"><assign variable="C23210" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="m" operator="equal"><assign variable="Cm" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="p" operator="equal"><assign variable="Cp" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23211" operator="equal"><assign variable="C23211" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23212" operator="equal"><assign variable="C23212" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23213" operator="equal"><assign variable="C23213" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23214" operator="equal"><assign variable="C23214" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <!-- For Attach Sheet -->
    <condition test="${sql1.LANG_KEY_CD}" value="23017" operator="equal"><assign variable="C23017" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23018" operator="equal"><assign variable="C23018" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="1359" operator="equal"><assign variable="C1359" value="${sql1.LANGUAGE_LABEL}"/></condition>
    <condition test="${sql1.LANG_KEY_CD}" value="23015" operator="equal"><assign variable="C23015" value="${sql1.LANGUAGE_LABEL}"/></condition>
</for>

<condition test="${sql02.item_count}" value="0" operator="equal">
 <error message="no data in Transaction DB(sql02)"/>
</condition>

<condition test="${sql04.item_count}" value="0" operator="equal">
 <error message="no data in Transaction DB(sql04)"/>
</condition>

 <section name="Control Section">
  <textln>VERSION=8.1</textln>
 </section>
 <section name="Form Section">
  <textln>FORM=..\..\forms\NSAF0030.fcx</textln>
 </section>

<!-- [Table Data Section] output to dat file -->
<section name="Table Data Section">
    <!-- From Table Data Output -->
    <assign variable="count" value="1" />
    <for variable="sql2">
        <!-- Header Area -->
        <text>"${C23190}${SPS}${C2087}",</text>
        <text>"${C23219}",</text>
        <text>"${C23191}${SPS}${C22189}${SPS}${C22997}",</text>
        <text>"${C6166}${SPS}${C23192}",</text>
        <text>"${C22999}",</text>
        <text>"${Cm}",</text>
        <text>"${Cp}",</text>
        <text>"${C22573}",</text>
        <text>"${sql2.SLS_DT_DESC_TXT}",</text>
        <text>"${sql2.BILL_TO_LOC_NM}",</text>
        <text>"${sql2.BILL_TO_ADDR}",</text>
        <text>"${sql5.TICKMARK_FLG}",</text>
        <text>"${C23193}${SPS}${C22531}${SPS}${sql2.SVC_PRC_RNW_DESC_TXT}${SPS}${C23220}",</text>
        <text>"${C23195}",</text>
        <text>"${sql2.SVC_PRC_RNW_LTR_TXT}",</text>
        <text>"${C23213}${SPS}${sql2.SVC_PRC_RNW_DESC_TXT}${SPS}${C23214}${SPS}${sql2.DS_CONTR_NUM}",</text>
        <!-- From Table Area -->
        <condition test="${count}" value="1" operator="equal">
        <text>"${C6742}",</text>
        <text>"${C4246}",</text>
        <text>"${C6811}",</text>
        <text>"${C1496}",</text>
        <text>"${C5400}",</text>
        <text>"${C23204}",</text>
        <text>"${C23205}",</text>
        <text>"${C23206}",</text>
        <text>"${C2476}",</text>
        </condition>
        <condition test="${count}" value="1" operator="not equal">
        <text>"",</text>  <!-- C6742 -->
        <text>"",</text>  <!-- C4246 -->
        <text>"",</text>  <!-- C6811 -->
        <text>"",</text>  <!-- C1496 -->
        <text>"",</text>  <!-- C5400 -->
        <text>"",</text>  <!-- C23204 -->
        <text>"",</text>  <!-- C23205 -->
        <text>"",</text>  <!-- C23206 -->
        <text>"",</text>  <!-- C2476 -->
        </condition>
        <text>"${sql2.SER_NUM}",</text>
        <text>"${sql2.MDL_NM}",</text>
        <text>"${sql2.SVC_PRC_RNW_DESC_LINE_TXT}",</text>
        <text>"${sql2.OLD_BASE_PRC_DEAL_AMT_TXT}",</text>
        <text>"${sql2.MTR_COV_COPY_QTY_DPLY_TXT}",</text>
        <text>"${sql2.OLD_XS_MTR_AMT_TXT}",</text>
        <text>"${sql2.OLD_USG_BLLG_CYCLE_DESC_TXT}",</text>
        <text>"${sql2.SHIP_TO_FIRST_LINE_ADDR}",</text>
        <!-- From Line Control -->
        <text>"${sql2.SER_NUM_LINE_TOP}",</text>
        <condition test="${count}" value="${sql02.item_count}" operator="not equal">
        <text>"",</text>
        </condition>
        <condition test="${count}" value="${sql02.item_count}" operator="equal">
        <text>" (LastRecord)",</text>
        </condition>
        <!-- To Table Area -->
        <text>"",</text>  <!-- C6743 -->
        <text>"",</text>  <!-- C4246_2 -->
        <text>"",</text>  <!-- C6811_2 -->
        <text>"",</text>  <!-- C1496_2 -->
        <text>"",</text>  <!-- C5400_2 -->
        <text>"",</text>  <!-- C23204_2 -->
        <text>"",</text>  <!-- C23205_2 -->
        <text>"",</text>  <!-- C23206_2 -->
        <text>"",</text>  <!-- C2476_2 -->
        <text>"",</text>  <!-- SER_NUM_2 -->
        <text>"",</text>  <!-- MDL_NM_2 -->
        <text>"",</text>  <!-- SVC_PRC_RNW_DESC_LINE_TXT_2 -->
        <text>"",</text>  <!-- BASE_PRC_DEAL_AMT_TXT -->
        <text>"",</text>  <!-- XS_MTR_COV_COPY_QTY_TXT_2 -->
        <text>"",</text>  <!-- XS_MTR_AMT_TXT -->
        <text>"",</text>  <!-- BASE_BLLG_CYCLE_DESC_TXT_2 -->
        <text>"",</text>  <!-- SHIP_TO_FIRST_LINE_ADDR -->
        <!-- To Line Control -->
        <text>"",</text>  <!-- SerNumLineTop(To) -->
        <text>"",</text>  <!-- LastRecord(To) -->
        <!-- Footer Area -->
        <text>"${C23207}${SPS}${sql2.SVC_PRC_RNW_DESC_TXT}${SPS}${C23208}${SPS}${sql2.SVC_PRC_RNW_DESC_TXT}${SPS}${C23209}",</text>
        <textln>"${C23210}"</textln>
        <assign variable="count" value="${count} + 1"/>
    </for>    

    <!-- To Table Data Output -->
    <assign variable="count" value="1" />
    <for variable="sql4">
        <!-- Header Area -->
        <text>"${C23190}${SPS}${C2087}",</text>
        <text>"${C23219}",</text>
        <text>"${C23191}${SPS}${C22189}${SPS}${C22997}",</text>
        <text>"${C6166}${SPS}${C23192}",</text>
        <text>"${C22999}",</text>
        <text>"${Cm}",</text>
        <text>"${Cp}",</text>
        <text>"${C22573}",</text>
        <text>"${sql4.SLS_DT_DESC_TXT}",</text>
        <text>"${sql4.BILL_TO_LOC_NM}",</text>
        <text>"${sql4.BILL_TO_ADDR}",</text>
        <text>"${sql5.TICKMARK_FLG}",</text>
        <text>"${C23193}${SPS}${C22531}${SPS}${sql4.SVC_PRC_RNW_DESC_TXT}${SPS}${C23220}",</text>
        <text>"${C23195}",</text>
        <text>"${sql4.SVC_PRC_RNW_LTR_TXT}",</text>
        <text>"${C23213}${SPS}${sql4.SVC_PRC_RNW_DESC_TXT}${SPS}${C23214}${SPS}${sql4.DS_CONTR_NUM}",</text>
        <!-- From Table Area -->
        <text>"",</text>  <!-- C6742 -->
        <text>"",</text>  <!-- C4246 -->
        <text>"",</text>  <!-- C6811 -->
        <text>"",</text>  <!-- C1496 -->
        <text>"",</text>  <!-- C5400 -->
        <text>"",</text>  <!-- C23204 -->
        <text>"",</text>  <!-- C23205 -->
        <text>"",</text>  <!-- C23206 -->
        <text>"",</text>  <!-- C2476 -->
        <text>"",</text>  <!-- SER_NUM -->
        <text>"",</text>  <!-- MDL_NM -->
        <text>"",</text>  <!-- SVC_PRC_RNW_DESC_LINE_TXT -->
        <text>"",</text>  <!-- OLD_BASE_PRC_DEAL_AMT_TXT -->
        <text>"",</text>  <!-- XS_MTR_COV_COPY_QTY_TXT -->
        <text>"",</text>  <!-- OLD_XS_MTR_AMT_TXT -->
        <text>"",</text>  <!-- BASE_BLLG_CYCLE_DESC_TXT -->
        <text>"",</text>  <!-- SHIP_TO_FIRST_LINE_ADDR -->
        <!-- From Line Control -->
        <text>"",</text>  <!-- SerNumLineTop(From) -->
        <text>"",</text>  <!-- LastRecord(From) -->
        <!-- To Table Area -->
        <condition test="${count}" value="1" operator="equal">
        <text>"${C6743}",</text>  <!-- C6743 -->
        <text>"${C4246}",</text>  <!-- C4246_2 -->
        <text>"${C6811}",</text>  <!-- C6811_2 -->
        <text>"${C1496}",</text>  <!-- C1496_2 -->
        <text>"${C5400}",</text>  <!-- C5400_2 -->
        <text>"${C23204}",</text>  <!-- C23204_2 -->
        <text>"${C23205}",</text>  <!-- C23205_2 -->
        <text>"${C23206}",</text>  <!-- C23206_2 -->
        <text>"${C2476}",</text>  <!-- C2476_2 -->
        </condition>
        <condition test="${count}" value="1" operator="not equal">
        <text>"",</text>  <!-- C6743 -->
        <text>"",</text>  <!-- C4246_2 -->
        <text>"",</text>  <!-- C6811_2 -->
        <text>"",</text>  <!-- C1496_2 -->
        <text>"",</text>  <!-- C5400_2 -->
        <text>"",</text>  <!-- C23204_2 -->
        <text>"",</text>  <!-- C23205_2 -->
        <text>"",</text>  <!-- C23206_2 -->
        <text>"",</text>  <!-- C2476_2 -->
        </condition>
        <text>"${sql4.SER_NUM}",</text>  <!-- SER_NUM_2 -->
        <text>"${sql4.MDL_NM}",</text>  <!-- MDL_NM_2 -->
        <text>"${sql4.SVC_PRC_RNW_DESC_LINE_TXT}",</text>  <!-- SVC_PRC_RNW_DESC_LINE_TXT_2 -->
        <text>"${sql4.BASE_PRC_DEAL_AMT_TXT}",</text>
        <text>"${sql4.XS_MTR_COV_COPY_QTY_TXT}",</text>  <!-- XS_MTR_COV_COPY_QTY_TXT_2 -->
        <text>"${sql4.XS_MTR_AMT_TXT}",</text>
        <text>"${sql4.BASE_BLLG_CYCLE_DESC_TXT}",</text>  <!-- BASE_BLLG_CYCLE_DESC_TXT_2 -->
        <text>"${sql4.SHIP_TO_FIRST_LINE_ADDR}",</text>  <!-- SHIP_TO_FIRST_LINE_ADDR -->
        <!-- To Line Control -->
        <text>"${sql4.SER_NUM_LINE_TOP}",</text>
        <condition test="${count}" value="${sql04.item_count}" operator="not equal">
        <text>"",</text>
        </condition>
        <condition test="${count}" value="${sql04.item_count}" operator="equal">
        <text>" (LastRecord)",</text>
        </condition>
        <!-- Footer Area -->
        <text>"${C23207}${SPS}${sql4.SVC_PRC_RNW_DESC_TXT}${SPS}${C23208}${SPS}${sql4.SVC_PRC_RNW_DESC_TXT}${SPS}${C23209}",</text>
        <textln>"${C23210}"</textln>
        <assign variable="count" value="${count} + 1"/>
    </for>
</section>

</doc>
<mdatas>
  <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>