<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00" type="sql" value="
	select  count(*) item_count
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'RPT_PRINT_RQST_SQ'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql0" type="sql" value="
	select  RPT_PRM_NM,RPT_PRM_VAL_TXT
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'RPT_PRINT_RQST_SQ'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<variable name="GLBL_CMPY_CD" type="string" value=""/>
<variable name="RPT_PRINT_RQST_SQ" type="string" value=""/>
<variable name="INTL_LANG_VAL_COL_NM" type="string" value=""/>

<variable name="C23138" type="string" value=""/>
<variable name="C11436" type="string" value=""/>
<variable name="C23139" type="string" value=""/>
<variable name="Cp" type="string" value=""/>
<variable name="C23140" type="string" value=""/>
<variable name="C23141" type="string" value=""/>
<variable name="C23142" type="string" value=""/>
<variable name="C23143" type="string" value=""/>
<variable name="C23144" type="string" value=""/>
<variable name="C23145" type="string" value=""/>
<variable name="C23146" type="string" value=""/>
<variable name="C23147" type="string" value=""/>
<variable name="C23148" type="string" value=""/>
<variable name="C23149" type="string" value=""/>
<variable name="C23150" type="string" value=""/>
<variable name="C23151" type="string" value=""/>
<variable name="C23152" type="string" value=""/>
<variable name="C23153" type="string" value=""/>
<variable name="C23154" type="string" value=""/>
<variable name="C22492" type="string" value=""/>
<variable name="C2274" type="string" value=""/>
<variable name="C23155" type="string" value=""/>
<variable name="C5826" type="string" value=""/>
<variable name="C4928" type="string" value=""/>
<variable name="C4633" type="string" value=""/>
<variable name="C3584" type="string" value=""/>
<variable name="C1068" type="string" value=""/>
<variable name="C320" type="string" value=""/>
<variable name="C5018" type="string" value=""/>
<variable name="C3198" type="string" value=""/>
<variable name="C23156" type="string" value=""/>



 <variable name="sql01" type="sql" value="
SELECT count(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('23138','11436','23139','p','23140','23141','23142','23143','23144','23145','23146','23147','23148','23149','23150','23151','23152','23153','23154','22492','2274','23155','5826','4928','4633','3584','1068','320','5018','3198','23156')
"/>

 <variable name="sql1" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('23138','11436','23139','p','23140','23141','23142','23143','23144','23145','23146','23147','23148','23149','23150','23151','23152','23153','23154','22492','2274','23155','5826','4928','4633','3584','1068','320','5018','3198','23156')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>

 <variable name="sql02" type="sql" value="
SELECT count(*) item_count
FROM
TECH_PI_RSLT_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.RPT_PRINT_RQST_SQ = ${RPT_PRINT_RQST_SQ}
AND ROWNUM = 1
"/>

 <variable name="sql2" type="sql" value="
SELECT
A.GLBL_CMPY_CD
, A.TECH_PI_RSLT_RPT_WRK_PK
, A.RPT_PRINT_DT_TXT
, A.TECH_TOC_CD
, A.PHYS_INVTY_CTRL_NM
, A.TOT_SYS_VAL_TXT
, A.TOT_CNT_VAL_TXT
, A.TOT_ADJ_VAL_TXT
, A.NO_CHNG_VAL_IDX_TXT
, A.NO_CHNG_VAL_TXT
, A.SVC_ORG_NM_DPLY_TXT
, A.ADJ_DT_TXT
, A.TOT_CNT_LINE_TXT
, A.VAR_LINE_TXT
, A.UNCH_LINE_TXT
, A.ADJ_GRS_TXT
, A.ADJ_NET_TXT
, A.MDSE_CD
, A.MDSE_DESC_SHORT_TXT
, A.WH_CD
, A.PKG_UOM_CD
, A.SYS_QTY_DPLY_TXT
, A.CNT_QTY_DPLY_TXT
, A.ADJ_QTY_DPLY_TXT
, A.SYS_VAL_TXT
, A.CNT_VAL_TXT
, A.ADJ_VAL_TXT
, A.ADJ_PCT_DPLY_TXT
, A.RPT_PRINT_RQST_SQ
, A.TECH_PI_RSLT_RPT_PG_NUM
FROM
TECH_PI_RSLT_RPT_WRK A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.RPT_PRINT_RQST_SQ = ${RPT_PRINT_RQST_SQ}
ORDER BY A.TECH_PI_RSLT_RPT_PG_NUM,A.MDSE_CD
"/>

<doc encoding="UTF-8">
<condition test="${sql00.item_count}" value="0" operator="equal">
 <error message="no data in Parameter DB"/>
</condition>

<for variable="sql0">
	<condition test="${sql0.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
		<assign variable="GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="RPT_PRINT_RQST_SQ" operator="equal">
		<assign variable="RPT_PRINT_RQST_SQ" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
		<assign variable="INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
</for>

<!-- <condition test="${sql01.item_count}" value="0" operator="equal">  -->
<!--  <error message="no data in Language DB"/>  -->
<!-- </condition>  -->

<for variable="sql1">
	<condition test="${sql1.LANG_KEY_CD}" value="23138" operator="equal"><assign variable="C23138" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="11436" operator="equal"><assign variable="C11436" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23139" operator="equal"><assign variable="C23139" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="p" operator="equal"><assign variable="Cp" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23140" operator="equal"><assign variable="C23140" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23141" operator="equal"><assign variable="C23141" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23142" operator="equal"><assign variable="C23142" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23143" operator="equal"><assign variable="C23143" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23144" operator="equal"><assign variable="C23144" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23145" operator="equal"><assign variable="C23145" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23146" operator="equal"><assign variable="C23146" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23147" operator="equal"><assign variable="C23147" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23148" operator="equal"><assign variable="C23148" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23149" operator="equal"><assign variable="C23149" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23150" operator="equal"><assign variable="C23150" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23151" operator="equal"><assign variable="C23151" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23152" operator="equal"><assign variable="C23152" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23153" operator="equal"><assign variable="C23153" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23154" operator="equal"><assign variable="C23154" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22492" operator="equal"><assign variable="C22492" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2274" operator="equal"><assign variable="C2274" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23155" operator="equal"><assign variable="C23155" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="5826" operator="equal"><assign variable="C5826" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4928" operator="equal"><assign variable="C4928" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4633" operator="equal"><assign variable="C4633" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3584" operator="equal"><assign variable="C3584" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1068" operator="equal"><assign variable="C1068" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="320" operator="equal"><assign variable="C320" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="5018" operator="equal"><assign variable="C5018" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="3198" operator="equal"><assign variable="C3198" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23156" operator="equal"><assign variable="C23156" value="${sql1.LANGUAGE_LABEL}"/></condition>
</for>

 <section name="Control Section">
  <textln>VERSION=8.1</textln>
 </section>
 <section name="Form Section">
  <textln>FORM=..\..\forms\NLCF0020.fcp</textln>
 </section>

<!-- [Table Data Section] output to dat file -->
   <section name="Table Data Section">
	<for variable="sql2">
	  <text>"${sql2.RPT_PRINT_DT_TXT}",</text>
	  <text>"${sql2.TECH_TOC_CD}",</text>
	  <text>"${sql2.PHYS_INVTY_CTRL_NM}",</text>
	  <text>"${sql2.TOT_SYS_VAL_TXT}",</text>
	  <text>"${sql2.TOT_CNT_VAL_TXT}",</text>
	  <text>"${sql2.TOT_ADJ_VAL_TXT}",</text>
	  <text>"${sql2.NO_CHNG_VAL_IDX_TXT}",</text>
	  <text>"${sql2.NO_CHNG_VAL_TXT}",</text>
	  <text>"${sql2.SVC_ORG_NM_DPLY_TXT}",</text>
	  <text>"${sql2.ADJ_DT_TXT}",</text>
	  <text>"${sql2.TOT_CNT_LINE_TXT}",</text>
	  <text>"${sql2.VAR_LINE_TXT}",</text>
	  <text>"${sql2.UNCH_LINE_TXT}",</text>
	  <text>"${sql2.ADJ_GRS_TXT}",</text>
	  <text>"${sql2.ADJ_NET_TXT}",</text>
	  <text>"${sql2.MDSE_CD}",</text>
	  <text>"${sql2.MDSE_DESC_SHORT_TXT}",</text>
	  <text>"${sql2.WH_CD}",</text>
	  <text>"${sql2.PKG_UOM_CD}",</text>
	  <text>"${sql2.SYS_QTY_DPLY_TXT}",</text>
	  <text>"${sql2.CNT_QTY_DPLY_TXT}",</text>
	  <text>"${sql2.ADJ_QTY_DPLY_TXT}",</text>
	  <text>"${sql2.SYS_VAL_TXT}",</text>
	  <text>"${sql2.CNT_VAL_TXT}",</text>
	  <text>"${sql2.ADJ_VAL_TXT}",</text>
	  <text>"${sql2.ADJ_PCT_DPLY_TXT}",</text>
	  <text>"${sql2.RPT_PRINT_RQST_SQ}",</text>
	  <text>"${sql2.TECH_PI_RSLT_RPT_PG_NUM}",</text>
	  <text>"${C23138}",</text>
	  <text>"${C11436}",</text>
	  <text>"${C23139}",</text>
	  <text>"${Cp}",</text>
	  <text>"${C23140}",</text>
	  <text>"${C23141}",</text>
	  <text>"${C23142}",</text>
	  <text>"${C23143}",</text>
	  <text>"${C23144}",</text>
	  <text>"${C23145}",</text>
	  <text>"${C23146}",</text>
	  <text>"${C23147}",</text>
	  <text>"${C23148}",</text>
	  <text>"${C23149}",</text>
	  <text>"${C23150}",</text>
	  <text>"${C23151}",</text>
	  <text>"${C23152}",</text>
	  <text>"${C23153}",</text>
	  <text>"${C23154}",</text>
	  <text>"${C22492}",</text>
	  <text>"${C2274}",</text>
	  <text>"${C23155}",</text>
	  <text>"${C5826}",</text>
	  <text>"${C4928}",</text>
	  <text>"${C4633}",</text>
	  <text>"${C3584}",</text>
	  <text>"${C1068}",</text>
	  <text>"${C320}",</text>
	  <text>"${C5018}",</text>
	  <text>"${C3198}",</text>
	  <text>"${C23156}",</text>
	  <textln>"${sql2.TECH_PI_RSLT_RPT_WRK_PK}"</textln>
	</for>
	</section>

</doc>
<mdatas>
  <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>
