<template>

<!-- Version: 1.0.0 $Date::                           $ -->

<!-- 0.Data Check -->
  <variable name="sql00" type="sql" value="
	select  count(*) item_count
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'EZCANCELFLAG'
            or RPT_PRM_NM = 'BILL_TO_CUST_CD'
            or RPT_PRM_NM = 'INV_PAST_DUE_FLG'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<!-- 1.Get 2 Parameters for inv_num -->
  <variable name="sql0" type="sql" value="
	select  RPT_PRM_NM,RPT_PRM_VAL_TXT
	from EIP_RPT_INP_PRM
	where
	    EIP_RPT_RQST_PK=${_VA_EIP_RPT_RQST_PK}
	    and RPT_RQST_SUB_ID=${_VA_RPT_RQST_SUB_ID}
	    and (RPT_PRM_NM = 'GLBL_CMPY_CD'
            or RPT_PRM_NM = 'EZCANCELFLAG'
            or RPT_PRM_NM = 'BILL_TO_CUST_CD'
            or RPT_PRM_NM = 'INV_PAST_DUE_FLG'
            or RPT_PRM_NM = 'INTL_LANG_VAL_COL_NM')
"/>

<variable name="GLBL_CMPY_CD" type="string" value=""/>
<variable name="EZCANCELFLAG" type="string" value=""/>
<variable name="BILL_TO_CUST_CD" type="string" value=""/>
<variable name="INV_PAST_DUE_FLG" type="string" value=""/>
<variable name="INTL_LANG_VAL_COL_NM" type="string" value=""/>

<variable name="C22933" type="string" value=""/>
<variable name="C22945" type="string" value=""/>
<variable name="C22934" type="string" value=""/>
<variable name="C22935" type="string" value=""/>
<variable name="C21059" type="string" value=""/>
<variable name="C22936" type="string" value=""/>
<variable name="C23462" type="string" value=""/>
<variable name="C23463" type="string" value=""/>
<variable name="C23464" type="string" value=""/>
<variable name="C23465" type="string" value=""/>
<variable name="C23481" type="string" value=""/>
<variable name="C23467" type="string" value=""/>
<variable name="C23469" type="string" value=""/>
<variable name="C2205" type="string" value=""/>
<variable name="C1613" type="string" value=""/>
<variable name="C4889" type="string" value=""/>
<variable name="C559" type="string" value=""/>
<variable name="C22634" type="string" value=""/>
<variable name="C22635" type="string" value=""/>
<variable name="C6756" type="string" value=""/>
<variable name="C22636" type="string" value=""/>
<variable name="C23470" type="string" value=""/>
<variable name="C22542" type="string" value=""/>
<variable name="C23471" type="string" value=""/>
<variable name="C23211" type="string" value=""/>
<variable name="C22640" type="string" value=""/>
<variable name="C6947" type="string" value=""/>
<variable name="C1359" type="string" value=""/>
<variable name="C22641" type="string" value=""/>
<variable name="C22644" type="string" value=""/>
<variable name="C22971" type="string" value=""/>
<variable name="C5674" type="string" value=""/>
<variable name="C22968" type="string" value=""/>
<variable name="C22950" type="string" value=""/>
<variable name="C22951" type="string" value=""/>
<variable name="C22952" type="string" value=""/>
<variable name="C22953" type="string" value=""/>
<variable name="C22954" type="string" value=""/>
<variable name="C22553" type="string" value=""/>
<variable name="C22955" type="string" value=""/>
<variable name="C23482" type="string" value=""/>
<variable name="Cm" type="string" value=""/>
<variable name="Cp" type="string" value=""/>
<variable name="SPS" type="string" value=" "/>

<variable name="sql01" type="sql" value="
SELECT count(*) item_count
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('22933','22945','22934','22935','21059','22936','23462','23463','23464','23465','23481','23467','23469','2205','1613','4889','559','22634','22635','6756','22636','23470','22542','23471','23211','22640','6947','1359','22641','22644','22971','5674','22968','22950','22951','22952','22953','22954','22553','22955','23482','m','p')
"/>

<variable name="sql1" type="sql" value="
SELECT LANG_KEY_CD, ${INTL_LANG_VAL_COL_NM} LANGUAGE_LABEL
FROM 
    INTL_LANG_VAL
WHERE
LANG_KEY_CD in ('22933','22945','22934','22935','21059','22936','23462','23463','23464','23465','23481','23467','23469','2205','1613','4889','559','22634','22635','6756','22636','23470','22542','23471','23211','22640','6947','1359','22641','22644','22971','5674','22968','22950','22951','22952','22953','22954','22553','22955','23482','m','p')
"
nonescaped="${INTL_LANG_VAL_COL_NM}"/>

<variable name="sql02" type="sql" value="
SELECT count(*) item_count
FROM CLT_DUN_LTR_WRK_FIRST_V A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.EZCANCELFLAG = ${EZCANCELFLAG}
AND A.BILL_TO_CUST_CD = ${BILL_TO_CUST_CD}
AND A.INV_PAST_DUE_FLG = ${INV_PAST_DUE_FLG}
"/>

<variable name="sql2" type="sql" value="
SELECT
HDR_CMPY_NM
,HDR_OFC_FIRST_LINE_ADDR
,HDR_OFC_SCD_LINE_ADDR
,HDR_OFC_THIRD_LINE_ADDR
,HDR_OFC_TEL_NUM
,HDR_CMPY_URL
,HDR_DS_ACCT_NUM
,HDR_BILL_TO_CUST_CD
,REPLACE(REPLACE(HDR_DUN_ISS_DT_TXT, '  ', ' '), ',2', ', 2')  AS HDR_DUN_ISS_DT_TXT
,HDR_REM_CMPY_NM
,HDR_FIRST_REM_TO_LOC_NM
,HDR_SCD_REM_TO_LOC_NM
,HDR_CUST_NM
,HDR_ADDL_LOC_NM
,HDR_CUST_FIRST_LINE_ADDR
,HDR_CUST_SCD_LINE_ADDR
,DTL_INV_NUM
,INV_DUE_DT_TXT
,DTL_INV_CATG_TXT
,DTL_DEAL_CCY_SGN_TXT
,CASE WHEN DTL_INV_AMT_TXT IS NULL 
     THEN NULL
     ELSE TRIM(TO_CHAR(DTL_INV_AMT_TXT, '9999,9999,990.00'))
 END DTL_INV_AMT_TXT
,DTL_REF_ORD_NUM
,DTL_BLLG_PER_FROM_DT_TXT
,DTL_BLLG_PER_TO_DT_TXT
,DTL_CUST_ISS_PO_NUM_TXT
,DTL_LATE_DAYS_TXT
,FTR_RPY_TO_TEL_NUM
,FTR_RPY_TO_EML_ADDR
,FTR_RPY_TO_CLT_PSN_NM
FROM CLT_DUN_LTR_WRK_FIRST_V A
WHERE
A.GLBL_CMPY_CD = ${GLBL_CMPY_CD}
AND A.EZCANCELFLAG = ${EZCANCELFLAG}
AND A.BILL_TO_CUST_CD = ${BILL_TO_CUST_CD}
AND A.INV_PAST_DUE_FLG = ${INV_PAST_DUE_FLG}
ORDER BY HDR_CUST_NM,DTL_INV_NUM
"/>


<doc encoding="UTF-8">
<condition test="${sql00.item_count}" value="0" operator="equal">
 <error message="no data in Parameter DB"/>
</condition>

<for variable="sql0">
	<condition test="${sql0.RPT_PRM_NM}" value="GLBL_CMPY_CD" operator="equal">
		<assign variable="GLBL_CMPY_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="EZCANCELFLAG" operator="equal">
		<assign variable="EZCANCELFLAG" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="BILL_TO_CUST_CD" operator="equal">
		<assign variable="BILL_TO_CUST_CD" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="INV_PAST_DUE_FLG" operator="equal">
		<assign variable="INV_PAST_DUE_FLG" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
	<condition test="${sql0.RPT_PRM_NM}" value="INTL_LANG_VAL_COL_NM" operator="equal">
		<assign variable="INTL_LANG_VAL_COL_NM" value="${sql0.RPT_PRM_VAL_TXT}"/>
	</condition>
</for>

<condition test="${sql01.item_count}" value="0" operator="equal">
 <error message="no data in Language DB"/>
</condition>

<for variable="sql1">
	<condition test="${sql1.LANG_KEY_CD}" value="22933" operator="equal"><assign variable="C22933" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22945" operator="equal"><assign variable="C22945" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22934" operator="equal"><assign variable="C22934" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22935" operator="equal"><assign variable="C22935" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="21059" operator="equal"><assign variable="C21059" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22936" operator="equal"><assign variable="C22936" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23462" operator="equal"><assign variable="C23462" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23463" operator="equal"><assign variable="C23463" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23464" operator="equal"><assign variable="C23464" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23465" operator="equal"><assign variable="C23465" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23481" operator="equal"><assign variable="C23481" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23467" operator="equal"><assign variable="C23467" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23469" operator="equal"><assign variable="C23469" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="2205" operator="equal"><assign variable="C2205" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1613" operator="equal"><assign variable="C1613" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="4889" operator="equal"><assign variable="C4889" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="559" operator="equal"><assign variable="C559" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22634" operator="equal"><assign variable="C22634" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22635" operator="equal"><assign variable="C22635" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="6756" operator="equal"><assign variable="C6756" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22636" operator="equal"><assign variable="C22636" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23470" operator="equal"><assign variable="C23470" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22542" operator="equal"><assign variable="C22542" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23471" operator="equal"><assign variable="C23471" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23211" operator="equal"><assign variable="C23211" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22640" operator="equal"><assign variable="C22640" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="6947" operator="equal"><assign variable="C6947" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="1359" operator="equal"><assign variable="C1359" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22641" operator="equal"><assign variable="C22641" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22644" operator="equal"><assign variable="C22644" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22971" operator="equal"><assign variable="C22971" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="5674" operator="equal"><assign variable="C5674" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22968" operator="equal"><assign variable="C22968" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22950" operator="equal"><assign variable="C22950" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22951" operator="equal"><assign variable="C22951" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22952" operator="equal"><assign variable="C22952" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22953" operator="equal"><assign variable="C22953" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22954" operator="equal"><assign variable="C22954" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22553" operator="equal"><assign variable="C22553" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="22955" operator="equal"><assign variable="C22955" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="23482" operator="equal"><assign variable="C23482" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="m" operator="equal"><assign variable="Cm" value="${sql1.LANGUAGE_LABEL}"/></condition>
	<condition test="${sql1.LANG_KEY_CD}" value="p" operator="equal"><assign variable="Cp" value="${sql1.LANGUAGE_LABEL}"/></condition>
</for>

<condition test="${sql02.item_count}" value="0" operator="equal">
 <error message="no data in Transaction DB"/>
</condition>

 <section name="Control Section">
  <textln>VERSION=8.1</textln>
 </section>
 <section name="Form Section">
  <textln>FORM=..\..\forms\NFDF0010.fcp</textln>
 </section>

<!-- [Table Data Section] output to dat file -->
   <section name="Table Data Section">
       <for variable="sql2">
	  <text>"${sql2.HDR_CMPY_NM}",</text>
	  <text>"${sql2.HDR_OFC_FIRST_LINE_ADDR}",</text>
	  <text>"${sql2.HDR_OFC_SCD_LINE_ADDR}",</text>
	  <text>"${sql2.HDR_OFC_TEL_NUM}",</text>
	  <text>"${sql2.HDR_CMPY_URL}",</text>
	  <text>"${C22933}",</text>
	  <text>"${sql2.HDR_DS_ACCT_NUM}${SPS}${C22945}${SPS}${sql2.HDR_BILL_TO_CUST_CD}",</text>
	  <text>"",</text>
	  <text>"",</text>
	  <text>"${C22934}",</text>
	  <text>"${sql2.HDR_DUN_ISS_DT_TXT}",</text>
	  <text>"${C22935}",</text>
	  <text>"${sql2.HDR_REM_CMPY_NM}",</text>
	  <text>"${sql2.HDR_FIRST_REM_TO_LOC_NM}",</text>
	  <text>"${sql2.HDR_SCD_REM_TO_LOC_NM}",</text>
	  <text>"${C21059}",</text>
	  <text>"${sql2.HDR_CUST_NM}",</text>
	  <text>"${C22936}",</text>
	  <text>"${sql2.HDR_ADDL_LOC_NM}",</text>
	  <text>"${sql2.HDR_CUST_FIRST_LINE_ADDR}",</text>
	  <text>"${sql2.HDR_CUST_SCD_LINE_ADDR}",</text>
	  <text>"${C23462}",</text>
	  <text>"${C23463}",</text>
	  <text>"${C23464}",</text>
	  <text>"${C23465}",</text>
	  <text>"${C23481}",</text>
	  <text>"${C23467}",</text>
	  <text>"${C23469}",</text>
	  <text>"${C2205}",</text>
	  <text>"${C1613}",</text>
	  <text>"${C4889}",</text>
	  <text>"${C559}",</text>
	  <text>"${C22634}",</text>
	  <text>"${C22635}",</text>
	  <text>"${C6756}",</text>
	  <text>"${C22636}",</text>
	  <text>"${sql2.DTL_INV_NUM}",</text>
	  <text>"${sql2.INV_DUE_DT_TXT}",</text>
	  <text>"${sql2.DTL_INV_CATG_TXT}",</text>
	  <text>"${sql2.DTL_DEAL_CCY_SGN_TXT}",</text>
	  <text>"${sql2.DTL_INV_AMT_TXT}",</text>
	  <text>"${sql2.DTL_REF_ORD_NUM}",</text>
	  <text>"${sql2.DTL_BLLG_PER_FROM_DT_TXT}",</text>
	  <text>"${sql2.DTL_BLLG_PER_TO_DT_TXT}",</text>
	  <text>"${sql2.DTL_CUST_ISS_PO_NUM_TXT}",</text>
	  <text>"${sql2.DTL_LATE_DAYS_TXT}",</text>
	  <text>"${C23470}${SPS}${sql2.FTR_RPY_TO_CLT_PSN_NM}${SPS}${C22542}${SPS}${sql2.FTR_RPY_TO_TEL_NUM}${SPS}${C23471}${SPS}${sql2.FTR_RPY_TO_EML_ADDR}${C23211}",</text>
	  <text>"${C22640}",</text>
	  <text>"${C6947}",</text>
	  <text>"${C1359}",</text>
	  <text>"${C22641}",</text>
	  <text>"${C22644}",</text>
	  <text>"${C22971}",</text>
	  <text>"${C5674}",</text>
	  <text>"${C22968}",</text>
	  <text>"${C22950}",</text>
	  <text>"${C22951}",</text>
	  <text>"${C22952}",</text>
	  <text>"${C22953}",</text>
	  <text>"${C22954}",</text>
	  <text>"${C22553}",</text>
	  <text>"${C22955}",</text>
	  <text>"${C23482}",</text>
	  <text>"${Cm}",</text>
	  <text>"${Cp}",</text>
	  <textln>"${SPS}"</textln>
	</for>    
     </section>

</doc>
<mdatas>
  <mdata key="xcCommonExAttrText1" value="version1.0"/>
</mdatas>
</template>