<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>CodeMaintenanceWeb</display-name>

    <!-- Return Menu URL -->
    <context-param>
        <param-name>returnMenuUrl</param-name>
        <param-value>/dvlppc/main.jsp</param-value>
    </context-param>

    <!-- Security Test Env -->
    <filter>
        <filter-name>testCmAuthFilter</filter-name>
        <filter-class>
            com.canon.cusa.s21.framework.codetable.ap.S21CMTestAuthFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>testCmAuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Security Env -->
    <filter>
        <filter-name>integrationFilter</filter-name>
        <filter-class>com.canon.cusa.s21.framework.security.web.S21SessionIntegrationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>integrationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>S21NEServlet</servlet-name>
        <servlet-class>com.canon.cusa.s21.framework.codetable.fw.S21NEServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S21NEUploadServlet</servlet-name>
        <servlet-class>com.canon.cusa.s21.framework.codetable.fw.S21NEUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CodeMaintenanceTest</servlet-name>
        <jsp-file>/CodeMaintenanceTest.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>S21NEServlet</servlet-name>
        <url-pattern>/S21NEServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S21NEUploadServlet</servlet-name>
        <url-pattern>/S21NEUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CodeMaintenanceTest</servlet-name>
        <url-pattern>/CodeMaintenanceTest</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>